[2020-09-29 23:52] peacekeeper commented on #421
I always felt uncomfortable about allowing the `id` to contain anything other than the original DID that was resolved, so I'm in favor of changing it back.

An alternative to `prefer(r)edDid` in the DID document could also be to use a DID resolution metadata property, as I mentioned here https://github.com/w3c/did-core/pull/376#issuecomment-680286809, but the above also seems reasonable and perhap

[2020-09-30 00:15] csuwildcat commented on #421
Proposal for a definition of the `preferredDid` property:

The `preferredDid` property MAY be present in a DID Document, and if present its value MUST be a DID URI string specified by the DID Method as the equivalent canonical DID which SHOULD be used by the resolving party going forward.

[2020-09-30 00:43] tplooker commented on #421
+1 to @kdenhartog suggested revision to the definition for `id`.

+1 to @peacekeeper suggestion around spelling preferred right to :)

w.r.t whether the property should exist in the resolution meta-data or the actual did document, I can see an argument being made either way but am personally leaning towards it being a property of the did document.

[2020-09-30 01:08] csuwildcat commented on #421
My argument for it being in the DID Doc is primarily based on two key points:
1. Given this property represents the singular, logical DID in the target system, and is issuing an important directive about the DID in the `id` property, it doesn't feel like some sort of addendum/note about the resolution, thus I think metadata isn't the best place for it
2. Given `alsoKnownAs` is already a property i

[2020-09-30 01:50] OR13 commented on #421
agree with the proposal, not a big fan of the term `preferedDid`, bikeshedding the property:

consider the triples:

- `did:example:123` `betterKnownAs` `did:example:456`
- `did:example:123` `preferredToBeKnownAs` `did:example:456` <- my favorite so far.
- `did:example:123` `preferredId` `did:example:456`
- `did:example:123` `preferred` `did:example:456`
- `did:example:123` `canonical` `did:exampl

[2020-09-30 02:01] tplooker commented on #421
Since we are picking colours for the bikeshed :)

- `did:example:123 canonicalId did:example:456`
- `did:example:123 canonicalDid did:example:456`

[2020-09-30 02:56] csuwildcat commented on #421
Of the options, my first preference is `canonicalId`, but some folks have said they don't think canonical is a good term (despite it being the common term in URL referenced resources since the birth of the web). My other preferred options are `recommendedId` and `preferredId`.

[2020-09-30 07:52] peacekeeper commented on #421
I think the value should be allowed to be any URI, not just DID, to be consistent with `alsoKnownAs` (although we may want to add a note/warning about the consequences of using a non-DID URI).

[2020-09-30 11:11] troyronda commented on #421
+1 to @csuwildcat - the property belongs in the DID document.

[2020-09-30 12:20] OR13 commented on #421
I'm a fan of `canonicalId` or `preferredId` or `recommendedId`.

[2020-09-30 12:52] OR13 commented on #417
On the call, I heard that "production" happens in `resolveRepresentation` / `resolveStream`, and is implemented by the did method, and that anything that happens after that, like conversion yaml or "other representations", is not "production" its "translation"... I think this is a helpful distinction to draw...

I wonder, where does consumption happen? I assume that any software library can implem

[2020-09-30 13:06] OR13 commented on #417
we can define:

(only did method): production = (adm, content-type) -> representation
(any software): consumption = (representation, accept) -> adm
(any software): translation = (representation, fromContentType, toContentType) -> consumption -> production

note that "translation" operates on "representations", whereas "production" operates on "adm instances".

[2020-09-30 14:21] OR13 commented on #417
A DID Method produces representations by directly leveraging the VDR / did method code.

A DID Library "produces" representations by consuming a serialization and then producing another one.

DID Libraries are not the "authoritative source" for what a DID Document for a given did method is... In KERI, Sidetree, DID Peer, HyperLedger Indy... all these systems have code that currently processes inte

[2020-09-30 15:03] peacekeeper commented on #417
Yes there's a difference, but to me that difference has to do with trust and verifiability, not with the ADM, representations, production, and consumption.

1. If you process a KERI event log and produce a JSON DID document -> that's "production".
2. If you run `curl -H 'Accept: application/did+ld+json' 'https://dev.uniresolver.io/1.0/identifiers/did:key:z6Mkfriq1MqLBoPWecGoDLjguo1sB9brj6wT3qZ5Bxk

[2020-09-30 19:07] csuwildcat commented on #421
@dlongley can you chime in to make sure we've settled on the right terminology? I chatted with Manu, Drummond, and others and they were good with this (sans whatever property name we choose)

[2020-09-30 19:49] dlongley commented on #421
First, I'd like there to be a solution to the problem here. I'm onboard for helping where I can to find a good one.

Second, however, I'm not sure this won't be trading one problem for another. Can someone explain how this will work when resolving the shortform version? If I see a `"verificationMethod": "did:ion:test:<short-form-id>#key-1"` in a proof ... what will happen when I try to resolve tha

[2020-09-30 20:24] csuwildcat commented on #421
The spec text would be restored to state that you MUST always have the same DID in the `id` field that was resolved. This is about another property that is used to express an equivalent alias for the same logical ID in the system, and we would be breaking it out of the `id` prop, as `alsoKnownAs` is.

Not sure how - this is one DID, the DID you resolve, which includes within it a property for an e

[2020-09-30 20:27] dlongley commented on #421
@csuwildcat,

If I do `resolve("did:ion:test:<short-form-id>")` what comes back in the DID Document's `id` field?

[2020-09-30 20:31] csuwildcat commented on #421
Whatever ID you resolve would come back in the `id` field - in this case, that's the short-form, because that's the one you resolved. But if the Method determines there is an equivalent alias for the same logical ID in the system, that may be present in this field we're talking about splitting out (after we restore the previous spec text for the `id` property).

[2020-09-30 20:37] dlongley commented on #421
@csuwildcat,

Veres One solves the problem differently. It requires that the DID itself include the public key fingerprint for its capability invocation key (the same key used to perform an action to register with the ledger). The resolution rules still resolve a Veres One DID whether it's on ledger or not, but the DID never changes. The difference is that, only once it's on ledger can you make ed

[2020-09-30 20:43] dlongley commented on #421
@csuwildcat,

Ok, that's what I meant by having two different DID Documents. That's relevant because I'm trying to see if there's a way to generalize this so it could become a part of DID consuming software vs. special casing it for ion. Another use case would be someone just trying to cause people to migrate from using one DID to a different one (including with a possibly different DID method).

[2020-09-30 20:55] csuwildcat commented on #421
^ This is a good point, I wondered the same yesterday.

[2020-09-30 20:57] csuwildcat commented on #421
Yeah, this is the case, we want to allow people to have full DID Documents with all features at inception.

[2020-09-30 21:06] tplooker commented on #421
I'd like to explore this one more too

[2020-09-30 21:14] dlongley commented on #421
@csuwildcat,

This is somewhat related to whether or not the standard practice is for service endpoints to be in DID Documents or if they'd be found elsewhere ... because, if it were the latter, this would be a non-issue, right? Sidetree could take the same approach Veres One uses then. I don't want to bring the "service endpoint in DID Documents" issue into yet another thread, of course, but I do

[2020-09-30 21:48] tplooker commented on #421
@dlongley to an extent, however I would posit that there are other cases where we cannot get away with just one key at the inception for a DID document that does not involve service endpoints. Such as when I as the DID subject would like a DID that has features keys that support key agreement and those that support bound signatures like a BLS12-381G1 key in BBS+ signatures.

In general what I am s

[2020-09-30 22:05] troyronda commented on #421
We have a use case for a canonical network name along with aliases that can assist in discoverability.

We currently allow DIDs that contain a domain name with `.well-known` information about the network. This is useful as it allows the DID to also advertise the network discoverability properties.

`did:trustbloc:<discovery domain>:suffix`

With canonical DIDs (or "migration feature"), we can also

[2020-10-01 09:39] oed commented on #419
Closing this as I'm satisfied with the given answers.

[2020-10-01 09:39] #419 closed

[2020-10-01 13:39] OR13 commented on #417
@peacekeeper I don't like using the same term for 2 processes with varying security / trust implications, that feels unsafe to me.

we could augment the word production to be "did-method-production" and "did-library-production", and then define production as either....

But I still don't like the idea of putting "arbitrary third party software" on the same level as "did method software".

Can you

[2020-10-01 15:40] peacekeeper commented on #417
I think "DID library (something)" won't work very well because it sounds very implementation-specific. What if it's not a library, but a piece of hardware, or an operating system function, etc.

Maybe somehow use the word ["Read"](https://w3c.github.io/did-core/#read-verify) to describe the difference? "Read" is one of the four CRUD operations, and it's only ever used to obtain the DID document as

[2020-10-01 19:46] OR13 opened #423 "Add NOTE about Verification Method types and remove the redundant languages on key representations from DID Core"
https://github.com/w3c/did-core/pull/406#discussion_r498455863

I think we are wasting our time defining the same thing with slight differences 4 or 5 times in difference places.

We have the ADM, it defines supported key types (actually it doesn't but I am assuming it will, possibly by using the `type` property value.).

We have the did spec registries, it defines supported key types for all supp

[2020-10-01 21:01] OR13 commented on #417
hmm yes, i agree I think READ may help....

let my try with it:

Let "DID Document Production" be the process whereby a "[Read](https://w3c.github.io/did-core/#read-verify)" is used to obtain an ADM DID Document instance, and then `resolveRepresentation` is applied to the ADM DID Document to produce a concrete representation such as `application/did+json` or `application/did+cbor`.

Let "DID Docum

[2020-10-02 09:33] jandrieu commented on #386
One more note to figure out how we might adjust the specification.

I actually agree with @dhh1128 and @SmithSamuelM that we should be able to verify credentials signed by rotated keys while stopping verification of those with revoked keys.

I'm working on the use case document now and there are use cases in here that need this flexibility.

The problem is that the current definitions of verificat

[2020-10-02 11:33] dhh1128 commented on #386
I will raise a PR today that attempts the solution @jandrieu recommends.

[2020-10-02 13:06] brentzundel commented on #122
No comments since marked pending close, closing.

[2020-10-02 13:06] #122 closed

[2020-10-02 13:16] brentzundel commented on #203
No comments since marked pending close, closing.

[2020-10-02 13:16] #203 closed

[2020-10-02 13:17] brentzundel commented on #261
No comments since marked pending close, closing.

[2020-10-02 13:17] #261 closed

[2020-10-02 13:19] brentzundel commented on #405
No comments since marked pending close, closing.

[2020-10-02 13:19] #405 closed

[2020-10-02 13:28] brentzundel commented on #119
Chairs have reached out to the TAG and asked them to review the spec.

[2020-10-02 13:30] brentzundel commented on #104
Keeping this open until transition to CR.

[2020-10-02 13:31] brentzundel commented on #105
Leaving this issue open until CR

[2020-10-02 13:32] brentzundel commented on #94
DID Explainer has been written and reviewed.

[2020-10-02 13:32] #94 closed

[2020-10-02 14:55] dlongley commented on #386
I'm going to go ahead and make an assertion with more specific details on rotation/revocation to see if we can figure out what's missing here:

I don't think anything needs to be done if the following rotation/revocation rules are acceptable:

To rotate a key:

1. Generate a new keypair.
2. Add the new public key to your DID Document.
3. Change software that uses the old private key to use the new

[2020-10-02 15:09] SmithSamuelM commented on #386
@jandrieu

Prerotation does not help here directly, but the key event log does. Instead of a time stamp, the KERI key event log is a hash chained data structure where any issuance or revocation actions may be anchored to a given event in that log via a digest. This makes the log a "chain" clock where the relative times of any actions are determined by the location of their anchors in the log.

[2020-10-02 15:21] SmithSamuelM commented on #386
Given a chain clock time stamp in a VDR like a KERI key event log. One can then embed in a VC or a DID;doc the authorization rule as a modifier to any authorization action. The rule then tells a verifier how revocation happens.  As long as everything is verifiable back to the root control authority, then we have a verifiable chain-of-authorization. So root control authority authorizes an update to

[2020-10-02 15:25] SmithSamuelM commented on #386
Without a VDR such as a ledger or a key event log, authorizations become messy and you end up reverting to dynamic authorization verification as per the authorization token world (OIDC) using an effectively bipartite issuer-verifier model. This breaks the privacy preserving properties of a  tripartite issuer-holder-verifier model.
Effectively bipartite because the verifier must contact the issuer

[2020-10-02 16:02] dhh1128 commented on #386
I want to respond directly to @dlongley , because he's asking a really important question. The essence of my difference in perspective can be summed up by the tense you used on the "have" verb here:

You're using past perfect tense here; in other words, decisions are made based upon what is believed to have happened in the past. The guidance you suggest would escalate to revocation as soon as comp

[2020-10-02 16:16] dlongley commented on #386
You need proof of existence to make any of this work. I mentioned above that that is an option, but we need to acknowledge it as a requirement for the cases you mention. This is an independent from proofs generated with the keys. If a key is compromised, the attacker can put whatever (past) timestamp they want to on a VC.

[2020-10-02 16:21] SmithSamuelM commented on #386
@dlongley What your argument feels like, is a hammer looking for a nail. The hammer is the  OIDC or I call it the security token world model where authorizations are ephemeral and tightly bound to keys. When a key is rotated so are the authorizations. This model is very efficient and is well suited to a token based authorization system.  But this model is ill suited to many real world use cases of

[2020-10-02 18:24] dhh1128 commented on #386
I said:

Dave replied:

Right. It requires a VDR that supports a time-based view, as @SmithSamuelM clarified. But that's not the difference I was talking about. The difference in worldview is tied to two things where we appear to strongly disagree:

1. What "revocation" actually means.
2. Whether my view is a new feature.

My previous post got truncated, but I want to formally disagree with this s

[2020-10-02 21:06] dlongley commented on #386
@SmithSamuelM,

Yes, you're describing mechanisms to do the "proof of existence" I mentioned. I don't think we're in disagreement here -- at least I can't tell that we are if we are.

[2020-10-02 21:09] dlongley commented on #386
@dhh1128,

I'm confused -- because I asserted we already have what we need and you're talking about a feature we already have (`version*`) which is the same one I also mentioned being useful here. This is why I asked the question: if these features are insufficient, what else do we need? I look forward to the PR.

[2020-10-02 23:50] dhh1128 commented on #386
@dlongley : what we have is an inconsistently and inadequately described feature that doesn't make logical sense; if we adopt the rules you've proposed, I feel like the `version-*` stuff becomes useless and VCs can never be verified against a historical date. We can't hold anybody accountable for past statements, since they can undo them any time they want.

@jandrieu : I realized upon more carefu

[2020-10-03 00:33] SmithSamuelM commented on #386
@dlongley   I have to admit that I don’t understand your use of the term proof of existence in the context of this discussion. Proof of existence of what?

[2020-10-03 15:20] msporny commented on #382
Resolutions from https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-09-24-did-topic

Resolution 1: The ability for a controller to optionally state at least one service endpoint in the DID Document increases their control and agency

Resolution 2: Add concrete examples to the Privacy Considerations section to demonstrate how service endpoints might account for varying levels of privacy requireme

[2020-10-03 16:04] dhh1128 commented on #386
I woke up this morning with a brainstorm.

I think the thing that would resolve this for me is to create a new verification method. We have overloaded `authentication` to mean any operation that proves the controller's involvement. I feel constrained to use `authentication` for signing VCs, but the VCs I want to create have very different semantics from the ones that Dave, Manu, and Joe appear to

[2020-10-03 18:38] jandrieu opened #425 "DID Spec Registries needs to specify registration process wrt. restrictions."
In PR #410, @msporny wrote:

The real issue here is not this property, but that we have not codified any terminological restrictions on what may go into the DID registries. https://www.w3.org/TR/did-spec-registries/#the-registration-process

Despite aspirations for a completely open world, I guarantee we will have attempts to register properties that we will not be able to tolerate. We have alread

[2020-10-03 19:19] rhiaro commented on #384
In the spreadsheet, comment on 4.2 Representations statements was "Move this to a "Guidance for Authors of Representation Specifications" section." (I'm not sure by who - probably @kdenhartog? - and +1ed by @msporny). But if we move these out there's nothing left in that section any more. My take is that the normative language is fine, we just have to treat it like the DID methods normative langua

[2020-10-03 19:41] rhiaro commented on #384
### 5.3 Verification methods

Spreadsheet feedback from @kdenhartog:

I agree with your reading that the value of `verificationMethod` must be a list of objects, and can't be a list of strings (URIs) or a list containing a mix of URIs and objects. Whether this is _correct_ or not, I don't know. I think this isn't a 'refactoring' question but a substance question, and warrants a new issue.

I actua

[2020-10-04 21:17] dlongley commented on #386
@dhh1128,

I don't know if this is just nitpicking at your idea or more than that, but it's important to clarify here just in case. `authentication` is not a *verification method*, it is a *verification relationship*. Furthermore, the *verification relationship* used for signing VCs should be `assertionMethod` as this is what is expected to show up in a proof as its *purpose*. You use a VC and att

[2020-10-04 21:23] dlongley commented on #386
@SmithSamuelM,

That a VC with a signature from a certain key existed at a certain point in time. A VC that has been signed with a key that is no longer considered valid should not be accepted simply because it carries a timestamp that is within the accepted validity period for the key. The timestamp is set by the party that signed -- and the key could have been compromised. Therefore, the VC must

[2020-10-04 23:08] dhh1128 commented on #386
@dlongley : Thank you for correcting my terminology. You've had to do that at least once before, and you may have to again. I find it incredibly confusing that there's a "relationship" named "assertionMethod" that is NOT a method.

I think I want a different verification relationship, then, not just a different method. I believe you are claiming that `assertionMethod` is only useful for making ass

[2020-10-05 15:06] dlongley commented on #386
@dhh1128,

No, I am not making that claim. None of those restrictions are implied by the relationship at all and a new relationship is not necessary. The relationship is for expressing verification methods intended to verify proofs created as methods of assertion and a proofs created as methods of authentication (or as methods for invoking capabilities, etc.). These are all general intents and mak

[2020-10-05 15:38] peacekeeper commented on #417
I agree we should improve the alignment between the spec sections on the verifiable data registry, DID method, DID resolution and representations.

Maybe it helps to work on a few more diagrams..

![](https://user-images.githubusercontent.com/290941/95100215-2b872080-0731-11eb-943f-69d074cd8609.png)

[2020-10-05 17:37] TomCJones commented on #417
not sure i understand discussion. Mime types are handled by HTTP in application header. If not using HTTP where would the application/*** go? Is there a spec for DID absent HTTP?

[2020-10-05 17:45] OR13 commented on #417
@TomCJones  HTTP is NOT assumed, yet a lot of the interfaces we have defined look a lot like HTTP, and we know that they interfaces WILL be exposed over HTTP, so we are trying to get things lined up as best as possible.

https://w3c.github.io/did-core/#did-resolution-metadata-properties
https://w3c.github.io/did-core/#did-url-dereferencing-input-metadata-properties

[2020-10-05 20:19] csuwildcat commented on #421
How does the following spec text sound?

The `canonicalId` property MAY be present in a DID Document, and if present its value MUST be a DID URI string specified by the DID Method as the equivalent canonical DID. If the DID is resolvable, the resolving party MUST use it going forward, but if the DID is unresolvable the resolving party MUST continue using the DID present in the `id` property.

[2020-10-05 20:23] OR13 commented on #421
untestable, suggest deleting.

Suggest:

It is RECOMMENDED that any parties relying the DID Document use the `canonicalId`, and discontinue any use of the non-canonical identifier.

[2020-10-05 20:27] dlongley commented on #421
`canonicalId`, proposed, would be a property of the DID subject, set by the DID controller. It seems a little odd to say Cathy's canonical ID is xyz. I think we have a problem here where we are crossing trust boundaries; if this ID is meant to be a "canonical" representation for a DID, then it should be coming from the DID method and should therefore be meta data. If it is, instead, a feature wher

[2020-10-05 21:05] OR13 commented on #421
I agree with @dlongley ... but its not clear who is setting this property, and it is valid for a did controller to use the property... for example:

Alice may want to leave DID Method A, and use DID Method B.... `alsoKnownAs`, `sameAs` do not solve this problem, and it is a property that the did controller can set.

If A DID Method is ALWAYS setting this property, then its metadata, and doesn't be

[2020-10-06 00:12] csuwildcat commented on #421
@dlongley the intention was not for some random ID assertion to be possible, the intention was to address the case where a DID Method contains multiple DIDs/formulations of the same singular, logical entity/DID within the Method. This property was not supposed to be something a Subject can just set, with it potentially being false or inaccurate, it was supposed to be a deterministic, secure, relia

[2020-10-06 20:07] OR13 commented on #421
Seems like a method specific extension, if the did method is the only party that injects this property.

I see 2 options:

1. Use an extension (no changed to did core required)
2. Register a new DID Document property `cannonicalId` and specify that ONLY a DID Method may set this value.

[2020-10-06 20:57] csuwildcat commented on #421
Proposal for even more 'generic' `secureCanonicalId` property:

The `secureCanonicalId` property MAY be present in a DID Document, and if present its value MUST be a DID URI string that is a deterministically provable variant of the ID in the `id` property. If the DID URI value of the `secureCanonicalId` is resolvable, the resolving party MUST use it going forward, but if the DID is unresolvable t

[2020-10-06 21:05] OR13 commented on #421
+ 1 to `secureCanonicalId` there are lots of DID Methods that would use this, including KERI / Sidetree families.

[2020-10-07 12:37] agropper commented on #386
@dlongley

In our HIE of One healthcare use-case implementation, we supplement the doctor's SSI authentication, credential, and digital signature (their wallet) with a timestamp on a public blockchain. This adds huge complexity. The timestamp cost has to be charged to someone, the proof has to be stored somewhere, and merkelization is required to keep the cost in line. Like @dlongley, I don't thin

[2020-10-07 22:38] csuwildcat commented on #421
Two things dawned on me:

1. Canonical switching of IDs is not really what we are after here
2. There is a more general way to address the true need: expressing multiple deterministic variants of an ID

To that end, I believe a `deterministicSameAs` property (feel free to bikeshed the name) would do a much better job enabling the features/functions we need:

The `deterministicSameAs` property is a

[2020-10-07 22:47] timcappalli commented on #421
@csuwildcat makes sense to me!

[2020-10-08 00:11] troyronda commented on #421
@csuwildcat The DID method still has a preference for a certain form of the DID.

I think this proposal is leaving a gap in that respect which would effectively now need method specific mechanisms.

eg, A Sidetree based DID method VDR (client) implementation would need to decide to switch to short form after observing it has been published. The app using this VDR also needs to be aware that some D

[2020-10-08 01:00] csuwildcat commented on #421
@troyronda I agree that a separate canonical or redirection property is certainly a good idea, and would support an additional PR to express that distinct need.

[2020-10-08 13:37] OR13 commented on #33
I think this thread should be closed, but the same discussion has now restarted here: https://github.com/w3c/did-core/issues/421

[2020-10-08 13:38] OR13 commented on #368
related: https://github.com/w3c/did-core/issues/421

[2020-10-08 13:38] OR13 commented on #373
related https://github.com/w3c/did-core/issues/421

[2020-10-08 13:39] OR13 commented on #199
related https://github.com/w3c/did-core/issues/421

[2020-10-08 13:41] OR13 commented on #421
I assume this is now a request for 2 new did document properties?

- `deterministicSameAs`
- `canonicalId`

Both seem like they are more accurately described as DID Document Meta Data, rather than DID Document Properties.

It seems like hidden inside these proposals is the desire to require an RP to be able to switch on did document properties instead of did resolution meta data.

I think the stat

[2020-10-08 14:10] csuwildcat commented on #421
@OR13 the owl:sameAs is about two individuals sharing the same identity, not two identifiers being deterministically synonymous variants of the exact same logical ID:

"The built-in OWL property owl:sameAs links an individual to an individual. Such an owl:sameAs statement indicates that two URI references actually refer to the same thing: the individuals have the same identity".

Regardless of who

[2020-10-08 14:15] msporny commented on #421
Yes, if `owl:sameAs` is limited to the DID Method setting it and it's usage is within the same ledger (e.g., did:ion:1 sameAs did:ion:2), that's a safe usage of `owl:sameAs` because that is exactly what is being asserted -- pure semantic equivalence.

I'll also note that this is a super annoying burden on RPs. The DID Method is exposing its implementation beyond the DID Document and causing the re

[2020-10-08 14:34] csuwildcat commented on #421
Any lobbying against this will come from folks who don't have to deal with relativistic anchoring in decentralized systems, which is actually a fantastic litmus test that likely indicates they are not building truly decentralized DID Methods. There are many reasons IDs in a system can have exact deterministic synonyms/aliases, and the inability for a controller to present them securely to ensure e

[2020-10-08 14:53] csuwildcat commented on #368
Reopened, as it's still not resolved.

[2020-10-08 15:57] csuwildcat commented on #70
Reopening, as the direction/mechanics of parameters cannot fulfill the need.

[2020-10-08 15:59] csuwildcat commented on #421
@msporny if we can point to owl:sameAs and provide the same clarifying language for requirements/handling as I have added in the associated PR, I could live with that.

[2020-10-08 16:05] OR13 opened #432 "Restrictions on `@context` property values in DID Documents"
Per https://github.com/w3c/did-core/pull/408#pullrequestreview-504771602 Pulling this into an issue.

I will summarize here, but essentially, we are asking:

What additional restrictions on `@context` should DID Core introduce, beyond what JSON-LD allows.

[2020-10-08 19:26] OR13 commented on #432
My perspective is that the default should be "No additional restrictions" if we can't reach consensus on them.

I would agree with requiring the `@context` to always being an array.

and always having a first member `https://www.w3.org/ns/did/v1`.

[2020-10-08 19:26] OR13 commented on #432
ping @msporny @dlongley @rhiaro @peacekeeper @tplooker :)

[2020-10-08 19:38] msporny commented on #432
I'm fine w/ what you said above... but I'm guessing that's because it's not the point of contention that created this issue. :)

The real question is whether or not we should be suggesting that people utilize `@base` in JSON-LD in DID Core. I'd prefer that we stay silent on it. I suggest that using `@base` in `@context` is an anti-pattern for DID Documents because it won't map cleanly to JSON-only

[2020-10-08 19:52] dhh1128 commented on #432
I would vote exactly as Manu did on the 3 proposals above.

[2020-10-08 20:24] peacekeeper commented on #417
@OR13 I now tried to draw what you said, i.e. the client "translates" between representations (although I think a more realistic scenario would be "translation" by a hosted resolver service, rathat than a client, but I think that doesn't matter so much for the discussion).

![Screenshot from 2020-10-08 22-11-10](https://user-images.githubusercontent.com/290941/95509579-fc80e100-09b4-11eb-9c22-575f

[2020-10-08 20:28] peacekeeper commented on #417
Also, I've been thinking about your point that production during the initial "read" operation is different from translation. I'm not sure if I agree with that, but it makes me wonder if this initial "read" operation really works like this:

![Screenshot from 2020-10-08 22-14-31](https://user-images.githubusercontent.com/290941/95509992-8df05300-09b5-11eb-9db5-8cde1b2c9a4c.png)

Or like this:

![Sc

[2020-10-08 23:28] peacekeeper commented on #413
@rhiaro correct me if I am wrong, but I think in the ongoing discussion about the data model and representations, this would support the perspective that `@context` is NOT a "property"?

[2020-10-09 13:35] OR13 commented on #417
I think the first one is more accurate, or at least helpful, in the sense that it shows the difference between `READ`, `resolve` and `resolveRepresentation`.

In the case that a software system is simply "assembling json" it might look like the second scenario, but I think having the ADM and the language we have, precludes the second scenario from being true....

now regarding your picture which s

[2020-10-09 13:59] OR13 commented on #432
@dhh1128 have you used JSON-LD with relative URIs before? do you understand how `@base` is used?

Its absence requires you to configure your JSON-LD processor explicitly, in way that is only required when using relative URIs.

I believe peer did intend to use relative refs... if peer did also intends to support Linked Data Proofs you will need to either use `@base`... or add this code everywhere (

[2020-10-09 14:17] msporny commented on #432
Yes, you have to configure your software correctly for it to work. :)

This is how URL resolvers have worked for decades:

https://nodejs.org/api/url.html#url_new_url_input_base

You give them the Base IRI to resolve against.

We have this section in the spec already:

https://www.w3.org/TR/did-core/#relative-did-urls

We should have some tests that do relative URI resolution, so +1 to that, but I

[2020-10-09 14:23] OR13 commented on #421
@msporny completely agree with you, and to get the lobbying started... nobody should be using the "LongForm" specifically because of this issue, however... I can't stop it, Microsoft is committed to forcing this burden on RPs, and I would like to at least have the equivalence formally documented.... if it's not documented, they will just do it anyway.

@csuwildcat Let me rephrase your proposal in

[2020-10-09 17:21] OR13 commented on #423
We also want to be able to explain support for `secp256r1` aka P-256 and the other curves listed here:

https://www.iana.org/assignments/jose/jose.xhtml#web-key-elliptic-curve

I personally don't think its wise for us to repeat a version of this table in DID Core, and instead I advocate for relying on the Linked Data Suite to define the supported crypto and note that JsonWebSignature2020 was creat

[2020-10-11 15:33] veikkoeeva commented on #416
I pushed the repo to https://github.com/veikkoeeva/DotDecentralized in case someone wants to take a look. This is a draft in a temporary repo and I intend to move it around the end of month.

I have not looked if there are other .NET libraries in general nor if there are with this approach in particular. It looks like implementing the specification will not be awfully lot code if implementing JSON

[2020-10-12 05:09] peacekeeper commented on #417
Even if it was a valid key, or if you escape the `@` character somehow, the attempt to include a JSON-LD specific construct in XML makes to sense. Just like this YAML example makes no sense:

https://github.com/transmute-industries/did-core/blob/master/packages/did-representation-examples/jsonld/didDocument.yml

Why would someone want to add a JSON-LD specific construct to a YAML file? What does t

[2020-10-12 14:00] OR13 commented on #417
@peacekeeper  the answer is that "translation" is not equal to "production".... I can translate a book from english to latin... but its not the same a writing latin.

I agree that it doesn't make sense to include `$schema` in XML... unless you intend to later convert it back to JSON, and use it... which is why its relevant to translation and not production.

[2020-10-12 14:41] dhh1128 commented on #432
Responding to @OR13 's comments:

Yes, I'm pretty aware of what it means to processing code to not include an explicit `@base`. As Manu said, specifying the base in code is the price you pay, and all JSON-LD libraries should allow that parameter. I still would +1 and -1 stuff the way Manu did above.

I don't mind adding extra guidance about this topic in DID core, however, to improve clarity.

[2020-10-12 15:04] dlongley commented on #432
They aren't compliant with the spec if they don't: https://www.w3.org/TR/json-ld11-api/#dom-jsonldoptions

[2020-10-12 15:07] msporny commented on #432
I'd be supportive of more descriptive language. To be clear, @dlongley is correct, looks like the go-jsonld implementation is non-conformant. Taking a look at their implementation, I believe you could inject `@base` as `didDocument.id` right before you begin processing and still get the right outcome. It's the notion that a DID Method would define `@base` because of a broken JSON-LD implementation

[2020-10-12 15:09] dlongley commented on #432
I would also vote similarly to Manu on those proposals. My opinion is that any guidance we give on expressing DID Documents in JSON-LD should be such that they look as similar as possible to JSON documents because it makes things easier on implementers. There has been lots of discussion in the past in various groups around using absolute URLs when possible as well, again, because it's easier for e

[2020-10-12 15:09] peacekeeper commented on #417
@OR13 I think the book analogy supports my perspective more than yours :)

1. If I translate a book from English to Latin, then the translated version doesn't contain any English words. All the English words got "dropped".
2. A reader won't be able to tell if the book was translated from English from Latin, or if it was written in Latin in the first place.

[2020-10-12 15:51] OR13 commented on #432
People write software that works with other software... at some point, OpenSSL bugs become the spec.

I think its best not to force forever reliance on broken implementations... but its also good to not prevent interoperability with broken implementations.

I agree that `@base` should not be necessary, IF one understands and implements JSON-LD correctly... The problem is that I also believe that m

[2020-10-12 15:58] OR13 commented on #417
@peacekeeper interesting... have you tried using:

- https://www.npmjs.com/package/xml2js
- https://www.npmjs.com/package/json-to-pretty-yaml
- https://www.npmjs.com/package/cbor
-https://www.npmjs.com/package/protobuf-to-jsonschema

Can you imagine how absolutely terrible all "data model translation tooling" would be if it took your approach?

I agree with you, software is not spoke language... d

[2020-10-12 20:09] peacekeeper commented on #432
From a resolution/dereferencing standpoint, I also agree with @msporny and others that the Base IRI should be implicitly understood to be the DID that is being resolved/dereferenced. Therefore it should not be necessary (and could be problematic) to include `@base` in a DID document.

The Java JSON-LD library I am using supports this: https://github.com/filip26/titanium-json-ld/blob/master/src/mai

[2020-10-12 20:34] peacekeeper commented on #417
@OR13 the above tools implement 1-to-1 mappings between two formats. They don't have the concept of an abstract data model that supports multiple representations equally.

Let's assume you have a DID document like this (using a future `text/did+yml` representation; this is actually [your example](https://github.com/transmute-industries/did-core/blob/master/packages/did-representation-examples/json

[2020-10-12 22:31] OR13 commented on #417
@peacekeeper assuming todays spec language:

Assuming the did document original representation contained only registered properties:

1. call YAML_TO_JSON on [didDocument.yml](https://github.com/transmute-industries/did-core/blob/master/packages/did-representation-examples/json/didDocument.yml)

2. if `@context` is present you are done ( as shown in the related example ).

Remember consuming JSON,

[2020-10-12 23:27] OR13 commented on #432
hmm, I wrote some tests for this... and it seems like you guys are right.... https://github.com/transmute-industries/vc.js/pull/21

I think my confusion for this was entirely manufactured by https://json-ld.org/playground/

Try using: https://github.com/transmute-industries/vc.js/blob/master/packages/vc.js/src/__fixtures__/shortFormDidDoc.json

If you look at the N-Quads it produces... it assumes

[2020-10-13 00:52] msporny commented on #432
@OR13 wrote:

Huzzah! Progress!

Yes, and if they don't allow it, they're a non-conformant JSON-LD processor. If they do not have the capability to set the base IRI, you can still hack around it by injecting `@base` right before processing -- that is clearly a hack, but one that you can use while the JSON-LD processor fixes their mistake.

Fragment URIs w/o `@base` have been extensively tested in

[2020-10-13 02:04] mooreT1881 commented on #417
Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Ivan Herman <notifications@github.com>
Date: 9/25/20 8:46 AM (GMT-06:00)
To: w3c/did-core <did-core@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [w3c/did-core] How should resolvers handle the accept header? (#417)

Shouldn't we have a closure on the media type issue first (#208<http

[2020-10-13 02:04] jonnycrunch commented on #398
@OR13 This was very helpful and put last week's call into perspective.

[2020-10-13 02:21] jonnycrunch opened #435 "Lack of clarity regarding Numbers in the Abstract Data Model"
I've finally unraveled the problems regarding representing numbers in the Abstract Data Model and we will need to discuss this more.   While we currently don't have properties in the DID document that rely on numbers, we haven't yet gotten to consensus regarding how to unambiguously represent them in the abstract data model and this will lead to errors in implementations especially across core rep

[2020-10-13 09:00] peacekeeper commented on #417
@OR13 you didn't quite answer my question. With your rules, if you translate YML->JSON-LD->YML, you get something different than the original YML. You get a purely JSON-LD specific construct added into YML which makes no sense there.

You want to "preserve" the JSON-LD specific `@context` construct in all other representations.

Would you also "preserve" the XML specific `<?xml version="1.0"?>` co

[2020-10-13 13:30] OR13 commented on #417
@peacekeeper will you be asking all developers to be aware of all representation specific metadata associated with all did document representations for all time and to not include all of them?

how do you know that `version` isn't used in downstream did method related logic... if it was not important to keep, why did the did method include it?

You are arguing that you know better than the did met

[2020-10-13 13:41] OR13 commented on #432
I suggest we see a PR which removes that comment as the next step to close this issue.

[2020-10-13 13:58] rhiaro commented on #384
PRs in for the rest of these, except the CBOR section which has completely changed and needs re-review.

Question for method schemes as yet unresolved:

What is "as possible"? This isn't even human-testable really.  Does rephrasing to say something like "each additional method-specific-id  format MUST be justified in the Method spec" make sense?

[2020-10-13 16:56] OR13 commented on #384
are we required to test `RECOMMENDED` ?

[2020-10-13 17:03] peacekeeper commented on #417
@OR13 I think we have two competing objectives

- We want DID method authors to be able to return a DID document in a specific representation and have complete freedom to use that representation in whatever way they like. E.g. in JSON-LD you can have custom contexts, in JSON you can have arbitrary JSON structures, and in CBOR you can have integer keys.
- We don't want DID method authors to be requ

[2020-10-13 17:04] rhiaro commented on #384
Yes, RECOMMENDED is the same as SHOULD

[2020-10-13 18:04] OR13 commented on #384
Then I RECOMMEND removing this recommendation :)

[2020-10-13 19:06] msporny commented on #384
It depends on the WG... my experience is that many don't test SHOULD statements. Or they say, "We'll start with the MUST statements in the spec and then test the SHOULD statements if we have time"... and then 99% of all WGs run out of time testing the MUST statements and never get around to writing tests for SHOULD, even after the WG wraps up.

Sometimes, when you test SHOULD statements, certain m

[2020-10-13 19:09] msporny commented on #384
I agree that this doesn't create any sort of objective requirement and isn't human testable as a result. Attempting to enforce it will just result in arguments between the evaluator and the implementer. Evaluator: "You defined 15 method-specific-ids in your DID Spec, it doesn't conform."... Implementer: "But that's the minimum possible, we need all of those method-specific-ids!"

[2020-10-13 20:29] peacekeeper commented on #417
So for example in `did:key`, which doesn't have a built-in preference for any representation, and doesn't want to use any representation-specific features. It only uses a few of the Core Properties.

If someone invented a new representation such as `did+yml`, then that should just work out of the box, i.e. there doesn't have to be any new spec text or code that is method-specific. All that's neede

[2020-10-13 21:07] OR13 commented on #417
https://w3c-ccg.github.io/did-method-key/

it only supports JSON, and it always has an `@context`, and its always both valid JSON and JSON-LD.

I would not pretend that calling YAML_to_JSON  (or ADM magically translation) on a json object was the same as asking the did method for yaml representation.

It's easy to support YAML, conversion, for data formats that support conversion... but thats not

[2020-10-13 23:32] peacekeeper commented on #432
I also prefer 3.

[2020-10-14 00:45] OR13 opened #439 "application/did+json should be marked at risk"
Let's be honest, "The Abstract Data Model contains only properties about the DID Subject"... actually comes from believing the DID Document is about RDF Triples....

`DID Subject <propertyName> <propertyId>`

It's been many months since the disastrous face to face in Amsterdam, where we created 2 new representations and the did spec registries, and only CBOR has seen any significant contribution,

[2020-10-14 12:48] kdenhartog commented on #373
From reading through this, I'm thinking that the issue here is in the semantics of agency in the RDF triples.

In the examples that @talltree provides above they all share the common pattern that the RDF subject acts on behalf of the RDF object in some manor expected by the object. However, due to the varying nature of the entities that can be RDF objects the term "controller" doesn't fit because

[2020-10-14 13:17] OR13 commented on #373
-1 to changing the word controller, although I do agree that RDF is playing a critical role here, I am against changing terminology that is already used in the VC Data Model as well as Linked Data Proofs and many DID Methods.

[2020-10-15 21:00] kdenhartog commented on #318
Originally, I thought it would be beneficial to change the name on this because I expected it to be a conceptual name only for use in the spec, but I've seen variables that have started to use this where changing this name would cause breaking changes to code now. It's my preference at this time that we stick with what we have and live with it going forward. @OR13 and @csuwildcat would likely take

[2020-10-16 00:36] csuwildcat commented on #318
@dlongley folks in some Working Groups and projects are crafting their API, library, and inner-implementation strings to match DID Core's current property names under the belief that aligning every string they have in their APIs/libs is the right thing to do. I cannot say I agree with this approach/belief, but given I am being exposed to the issues that DID Core string changes would cause, it puts

[2020-10-16 00:44] kdenhartog commented on #373
I agree it's getting a bit late to change properties at this point. Just wanted to point out the reason the predicate feels incorrect is because it is incorrect.

[2020-10-16 04:11] dlongley commented on #318
@csuwildcat,

Yeah, I don't think it's advisable but it's also not unexpected. People are expecting some kind of stability because they are moving forward with implementations -- even if they shouldn't be. We're not even to CR yet, but we are getting very close. Once we're in CR that's a much better time to expect things not to change as that's when the call for implementations occurs and when the

[2020-10-16 10:02] csuwildcat commented on #318
@dlongley  I completely understand your response, and believe it's the normal, rational, practical, and obviously correct answer to the issue. Unfortunately, I'm dealing with a situation where other WG members are literally arguing that every string in every other API/spec they create must use some string in the DID Core spec, even if it's entirety non-normative, and that we should lock ourselves

[2020-10-16 12:39] OR13 commented on #318
@csuwildcat  on the thread you linked, I am not arguing for all strings to match did core terms.... and enum is a type which maps to strings.... in this case, I am suggesting the string values, map to the normative properties of a did subject, in order to clearly communicate which verification relationship key material will end up in.

Here is the current code that does this:

https://github.com/d

[2020-10-16 12:42] mprorock commented on #318
to echo @OR13 keeping consistent naming with did core is much better for us, especially as we are onboarding new developers.  consistency and interoperability is optimal in almost all cases.  there is no need to choose new string names here, especially when there is a normative precedent.

[2020-10-16 13:11] csuwildcat commented on #318
@mprorock there's a high likelihood that we're going to immutably lock-in some strings (many rather obtusely named) that only make sense if you read DID Core as of whatever day in the endlessly churning sea of DID Core term changes you decided to bind yourself to them, which later will change, leaving us with a set of strings in our code that look like random nonsense. The degree to which this lik

[2020-10-16 13:16] OR13 commented on #318
@csuwildcat instead of betting on things changing, why not work to stabilize them, and say you will object to changes to any of the current properties in https://w3c.github.io/did-core/#core-properties

that would be significantly more helpful than fear mongering about did core changing properties.

[2020-10-16 13:21] OR13 commented on #373
@kdenhartog what is incorrect?

`alice verificationMethod #key-0` vs `alice verificationMethods #key-0`

one of these reads much more correctly... objects was an option, see: https://w3c.github.io/wot-thing-description/#property-serialization-json

that ship has sailed.

[2020-10-16 13:27] csuwildcat commented on #318
Universal objection to string changes before CR ends and the review is triaged for changes isn't proper, normal, or helpful, it's being an obstinate punk for reasons one shouldn't. CR and this process is supposed to uncover issues, and those issues/comments may justly result in modifications to the spec - taking a 'strings need to be etched in stone now' stance simply isn't normal or rational.

[2020-10-16 13:32] OR13 commented on #318
@csuwildcat so you are saying you both fear changes and want them to happen?

regarding properties of the did subject like `service` perhaps we can remove it after all?

or are you saying we need to keep it but you want its name to change?

[2020-10-16 14:37] dlongley commented on #318
@OR13,

My read of what @csuwildcat is referring to is a blanket policy to object over *any* change as opposed to reasoning through each potential change individually.

There's a middle ground here where the group should be aware that people are proceeding with implementations and we should be careful not to change anything that we really don't need to. But the people doing the implementations sho

[2020-10-18 10:14] veikkoeeva commented on #416
I link a few more recent issues and comment from the perspective of using a JSON parser to implement the specification. I think you guys do a good job and the intention is not to demand work but more like write down some notes for myself and others who look from .NET implementation perspective.

https://github.com/w3c/did-core/issues/432
This would be nice to know. As for this quick library to ing

[2020-10-18 15:50] rhiaro commented on #384
To rectify this we can either change to

or something (human) testable along the lines of requiring each method-specific-id format to be explained and justified in the DID method spec. There's no bar to judge whether it's _good_ justification, but that some attempt being made seems worth enforcing? (And I expect is something DID method specs would actually want to do anyway? If not, it generally e

[2020-10-19 01:59] kdenhartog commented on #373
I don't mean object in the sense of a Map data type in javascript. I meant it in the sense of the terminology of object in RDF. In the case where we're referring to the controller property and the value of controller is a did. Do to the semantics of what a did represents (it's an identifier for the DID Subject) the semantics of `alice (did:example:123) controller bob (did:example456)` seems incorr

[2020-10-19 13:33] OR13 commented on #373
@kdenhartog the controller is  property of the verificationMethod... the verificationMethod is a property of the did subject.

IMO, its fine as is, and changing it would be harmful at this time.

Here is a clearer example with a couple properties:

[code]

not all the properties are about the did subject.... for example....

`service[0].type` is about `service[0].id`
`publicKey[0].type` is about `

[2020-10-19 13:42] OR13 commented on #416
I am trying to parse a question to answer out of this.

You don't need to use a JSON-LD parser to parse JSON... anything that passes `JSON.parse` is JSON.

[2020-10-19 15:03] veikkoeeva commented on #416
@OR13 You may not need to parse a question of that. Maybe it is better put so that it is notes about writing code to support the DID Core specification as written now and coming to GH issues to figure out more. It is certainly about thinking that

I maybe have misunderstood something. It might be I should ask something but I don't know it yet. This may be a wrong place to jot down such notes. I mi

[2020-10-19 15:18] dlongley commented on #416
@OR13, @veikkoeeva, I think this is related to the WG's current discussion around adding guidance for processing JSON-LD as JSON, whether that be guidance added to the JSON-LD representation and/or guidance added to the JSON representation (or guidance for a single unified representation). I'm very much in favor of providing rules for the simplest way to process the presence of `@context` in both/

[2020-10-19 15:42] veikkoeeva commented on #416
@dlongley Yes, those points and some thoughts about implementing the standard in general.

For this particular case I would say it does not matter if it is just `#key-1` as in the examples if it's clearly spelled out what is the base IRI in that case. Of it the base can changed using `@base`. If in the specification JSON-LD is assumed, a person like me either assumes that specification needs to be

[2020-10-19 18:21] OR13 commented on #416
@dlongley @veikkoeeva regarding relative URIs (fragment ids).... I deal with them all the time... and they are 100% more annoying that just forbidding them.... pretty much everywhere you need to make sure a `verificationMethod` is resolvable, you will be doing stuff like this:

https://github.com/transmute-industries/vc.js/blob/master/packages/vc.js/src/vc-ld/__tests__/vc-js.sanity.test.ts#L7
http

[2020-10-20 04:21] kdenhartog commented on #373
Taking into account our conversation about the sidetree work and other implementations that continue to move forward (even though they could be broken during CR feedback phase) I tend to agree that changing it at this point would likely be too late. Especially since this discussion really only popped up past feature freeze which makes it harder to defend without objection.

With that in mind, I st

[2020-10-20 14:02] OR13 commented on #373
The base controller property has always confused me... I have not seen any real examples of it....

It appears to actually be sorta like `alsoKnownAs`... where:

`alice controller bob` where alice and bob are both dids.... but this is just an assertion from alice, it may not be true....

[2020-10-20 16:03] veikkoeeva commented on #416
@OR13 It's not that bad, maybe. :) In spirit of syncing minds with people reading this,

I was thinking to handle it at https://github.com/veikkoeeva/DotDecentralized/blob/main/src/DotDecentralized.Core/DidDocument.cs#L352, hence it doesn't use [Uri](https://docs.microsoft.com/en-us/dotnet/api/system.uri). The plan is to wrap this there and make it transparent to end user either way. This does cau

[2020-10-23 15:44] OR13 commented on #432
Cross linking: https://github.com/decentralized-identity/sidetree/issues/842

[2020-10-24 15:03] rhiaro commented on #208
This is my first pass at a spec updating RFC 6838 to clarify multiple suffixes, per [discussion on media-types list](https://mailarchive.ietf.org/arch/msg/media-types/87Z8BKPlberBpgC0K6lmXaXc0I8/): https://datatracker.ietf.org/doc/html/draft-w3cdidwg-media-types-with-multiple-suffixes-00

@iherman if you have time I'd appreciate review! (Also if you know how to add the metadata to make it listed a

[2020-10-24 15:54] iherman commented on #208
@rhiaro, thanks.

The text

could be misunderstood. If I have `a+b+c+d`, then the definition says that `a` is the base subtype name, but I could think that the "ability to process any subset of the right-most suffix(s)" term allows me, for example, to use the `a+d` or `a+b+d` subsets (provided that those are all registered). But do we want that? I thought that the idea is to provide a left-right g

[2020-10-24 15:56] rhiaro commented on #208
I absolutely agree. I am really struggling with the right wording to make this clear, but figured if I get it posted other people can help..

[2020-10-25 11:21] rhiaro commented on #403
PR in the Registries for comment about context hashing: https://github.com/w3c/did-spec-registries/pull/146. Agreed we could have language about the JSON-LD consumer checking the hash, but only after it's a registration requirement.

[2020-10-25 12:00] rhiaro commented on #403
@peacekeeper Are multiple mime types valid? Will PR if so.

[2020-10-25 13:24] rhiaro commented on #435
This is a duplicate of https://github.com/w3c/did-core/issues/361 but adds important commentary. Can I suggest merging them?

[2020-10-26 13:38] msporny commented on #170
This issue will be closed in 7 days unless there are objections.

[2020-10-27 11:18] peacekeeper commented on #385
Quick note that @OR13 has worked on tests for the DID URL query and DID parameters: https://github.com/w3c/did-test-suite/blob/master/packages/did-core-test-server/src/services/scenarios/did-parameters/did-parameters-positive-tests.js

This seems to use the https://www.npmjs.com/package/querystring library for parsing the query.

I think this works well even though the ABNF doesn't mandate the key

[2020-10-27 13:04] rhiaro commented on #403
The [JSON parsing algorithm in INFRA](https://infra.spec.whatwg.org/#json) is specifically for JavaScript, so I don't think we can do a simple normative requirement to conform with it. We say "align with" which we could arguably normatively require but would massively increase the burden on the test suite to actually test that.

These were [added to fix an issue about lack of examples](https://git

[2020-10-27 13:32] iherman commented on #403
@rhiaro I believe I checked off all items that are handled (at least in #441). There are some items that are actively discussed elsewhere.

(From hindsight it might have been better to generate lots of small issues. This checklist may give us more headaches than necessary...)

Which PR should I check (among the many) to check #401? I have already checked off a number of those...

[2020-10-27 13:35] iherman commented on #403
@rhiaro,

on your specific comments:

- Usage of INFRA: I guess it is very much pending on the separate discussion on JSON vs. JSON-LD, what happens to `@context`, etc. Leave it as is now
- On §11.2 and §11.3: I keep to my opinion, but I will not lie down the road over this
- On general interest on concrete and abstract, then we may want to add some concrete examples in CBOR:-)
- I did not check o

[2020-10-27 18:26] rhiaro commented on #356
Looks like this is done and can be closed?

[2020-10-27 19:07] rhiaro opened #447 "Differentiate external properties in examples"
Suggested by @iherman in #401 and #403 - some examples necessarily use properties or types that aren't part of DID Core. It would be helpful to differentiate these, using different typography or to make a list in a note somewhere for avoidance of doubt by anyone new to the spec. For terms that aren't just made up examples, links to where they are defined should be provided.

I'll do this, later wh

[2020-10-27 19:25] rhiaro commented on #403
Re: key types and formats - I believe this is covered by https://github.com/w3c/did-core/issues/423 (and in general is definitely more than an editorial issue at the moment).

As the spec is currently written, the domain would not be the DID doc, but the DID subject, which (as written today) can be anything. So my understanding is there is no constraint with regard to type on the domain of the `ve

[2020-10-27 19:32] rhiaro commented on #403
I just meant, the things that are duplicated in or covered by another issue already, or that I commented I don't think will be addressed.. ticking them off doesn't seem right if they're not addressed, but some way of marking things as no longer outstanding so I don't have to keep reading the list over and over.. maybe I should make my own copy of the list :)

[2020-10-28 13:29] OR13 commented on #439
@talltree JSON-only is:

1. NOT Safer (encourages arbitrary properties, incompatibility with JSON-LD, worse type support than CBOR)
2. NOT Smaller (same size as CBOR and JSON-LD)
3. NOT Faster (parsing time longer than CBOR and same as JSON-LD)

We also discussed the need to support multiple representations that are created after the spec freezes, using the registries, yet we have seen only contri

[2020-10-28 14:06] OR13 commented on #356
agreed, this should be closed.

[2020-10-29 19:57] jonnycrunch opened #452 "Compound key is not clear and points to wikipedia not a normative definition"
In an attempt at solidifying concrete representations of key formats I found that `compound key` description of the `id` property in the [Verification Methods](https://www.w3.org/TR/did-core/#verification-methods) section lacking in substance.  In points to [Composite_key](  https://en.wikipedia.org/wiki/Composite_key) on wikipedia.  I need something more explicit and unambiguous to complete the C

[2020-10-29 20:00] jonnycrunch commented on #361
copied over from issue #435,

I've finally unraveled the problems regarding representing numbers in the Abstract Data Model and we will need to discuss this more. While we currently don't have properties in the DID document that rely on numbers, we haven't yet gotten to consensus regarding how to unambiguously represent them in the abstract data model and this will lead to errors in implementation

[2020-10-29 20:00] jonnycrunch commented on #435
move to #361

[2020-10-29 20:00] #435 closed

[2020-10-29 20:05] jonnycrunch commented on #398
After reading this again, I'm still in favor of CDDL for the Data Definition representation aspects of the ADM.    I think that the CDDL will help protect from malicious representations.

[2020-10-29 20:15] OR13 commented on #452
agree, perhaps we should just say a DID URL with a fragment.

[2020-10-30 20:26] jonnycrunch commented on #340
@OR13, yes. I had started a publicKeyMultiformat.cddl format, but this is blocked until we have resolution regarding other key formats and accepting CDDL to aid in the representations. I'm also on the fence about whether to allow for inline CIDs.

something like for linked items:
[code]

This will work fine for cbor, but not for JSON.
In line is much harder as I want to unambiguously represent all

[2020-11-01 21:58] msporny commented on #382
This issue can be resolved by writing a PR that addresses the resolutions raised by the group. This issue is waiting for an editorial PR to be written, thus is a low priority to get done before CR.

[2020-11-01 22:00] msporny commented on #70
This issue is related to #431 and will be resolved once that issue is resolved. This issue needs a special topic call. This is a high priority issue before CR as it could affect normative sections of the specification.

[2020-11-01 22:04] msporny commented on #386
We are getting ready to enter the Candidate Recommendation stage, which means the WG needs to decide whether to close this issue or if there is enough here to write something concrete in the specification. Note that feature freeze happened on July 15th 2020, so no new features can be proposed at this time.

We will need a concrete proposal with a concrete PR from this discussion thread or this iss

[2020-11-01 22:07] msporny commented on #373
This discussion needs to result in a concrete PR before we go into CR. If we don't see a PR before we go into CR, this issue will be closed or deferred until the next version of the specification.

[2020-11-01 22:09] msporny commented on #151
The issue has been split and is being tracked elsewhere, marking this as pending close. This issue will be closed in 7 days unless there are objections.

[2020-11-01 22:11] msporny commented on #199
Looks like this isn't going to make it into the specification because of concerns around privacy. Language will be added to the specification noting that clarifying what DID might identify can lead to privacy dangers. it will still be possible to do so, but the specification will take a stance that for individuals, it's dangerous. We have time scheduled during the upcoming F2F to discuss this topi

[2020-11-01 22:15] msporny commented on #208
PROPOSAL: Mark the IANA media types section as at risk noting that the WG will pick either application/did+ld+json OR application/did+jsonld depending on if https://datatracker.ietf.org/doc/html/draft-w3cdidwg-media-types-with-multiple-suffixes-00 is ready when DID Core goes to PR.

[2020-11-01 22:19] msporny commented on #417
Part of this issue will get resolved when we resolve the Abstract Data Model produce/consume issue. We have F2F time allocated to do this.

The original issue is a DID Resolver issue, not a DID Core issue, and the suggestion there is that it's out of scope for DID Core.

[2020-11-01 22:34] gkellogg commented on #208
Can you register application/did+jsonld if application/jsonld isn't registered?

As the JSON-LD WG is still active, it could potentially make such a registration.

[2020-11-01 22:48] msporny commented on #208
That's the backup plan (or rather, asking the JSON-LD WG to do that would be what we'd do). When we engaged IANA on this, they suggested that we resolve the long standing issue w/ structured media types (media types with multiple '+'s in them). Amy has written up a solution, and if it's approved, it'll solve this problem once and for all. :)

[2020-11-01 22:49] msporny commented on #417
PROPOSAL: Close this issue once the data model/conversion issues are resolved with the Abstract Data Model since the original issue is out of scope for this WG.

[2020-11-01 22:51] msporny commented on #33
Marking this thread as pending close. It has not resulted in a concrete PR and there are other issues, such as #421 that are duplicates.

[2020-11-02 02:25] msporny commented on #240
We seem to have consensus to do the following:

1. Specify that no private properties are expressed for any cryptographic key type.
2. Defer to the Linked Data Cryptosuites to further restrict keys.

We need PRs for both items above.

[2020-11-02 02:26] msporny commented on #205
This will be a topic of he upcoming virtual face-to-face meeting.

[2020-11-02 02:33] msporny commented on #404
I'm trying to figure out if there is anything that needs to be done here. Yes, it would help to have formal definitions of everything, but that said, it doesn't seem like people are having that hard of a time implementing the specification as it stands today. I suggest we make precise definitions a stretch goal and if we don't meet that stretch goal, that's fine. At present, everything is defined

[2020-11-02 02:38] msporny commented on #318
Seems like no one wants to change "verification relationships" to "authorization relationships" at this point. I'm marking this issue as pending close. This will be closed in 7 days unless there are objections.

[2020-11-02 02:40] msporny commented on #368
This is the topic of an upcoming virtual face-to-face meeting.

[2020-11-02 02:41] msporny commented on #332
In the meantime, Github has moved ahead and made this easy. I'll make the change before CR... this has been hanging out here for long enough.

[2020-11-02 02:43] msporny commented on #72
This issue hasn't moved forward in a month and we're approaching CR. This issue will be closed before we enter CR if a pull request isn't raised to add it into the specification.

[2020-11-02 02:51] msporny commented on #58
If this WG is going to be changed into a maintenance WG, then there is nothing to do. If this WG is going to hand over maintenance of the registry to the CCG (just like the VCWG did), then there is nothing to do. The DID Spec Registries document already outlines a process, it needs to be updated, and an issue should be raised over there if anything more needs to be done.

Marking this issue as pen

[2020-11-02 02:57] msporny commented on #249
There seems to be agreement that this issue shouldn't be addressed in the DID Core spec and should instead be addressed in the implementation guide or the DID Resolution specification. Marking this as pending close. This issue will be closed in 7 days unless there are objections.

[2020-11-02 03:08] msporny commented on #413
You express it by creating an outer object/graph and referencing the content in the DID Document in that way. This is out of scope for the DID Core specification but could be in scope for the DID resolution specification.

The questions raised by @peacekeeper will be a topic of discussion for the upcoming virtual face-to-face.

I'm going to mark this issue as pending close because 1) we're not goi

[2020-11-02 06:19] talltree commented on #373
@msporny I was working on that PR this weekend but then was informed by the Chairs that I needed to lead a 90 minute section on Privacy in the first day of the virtual F2F tomorrow, so I had to prioritize preparing content for that first. I plan to submit the PR later this week.

[2020-11-02 08:54] pukkamustard commented on #404
I would very much welcome a formal, machine-readable vocabulary as @iherman has proposed and drafted.

[2020-11-02 11:04] iherman commented on #404
I do not think we can jump to the conclusion. We do not have a comprehensive test suite that would include all the various constraints on the terms that we may or may not have, and we have no idea whether implementations arrived through the same conclusions based on a specification that does not make the term definitions, and its constraints, crystal clear. See my note at the end of my comment, b.

[2020-11-02 13:31] OR13 commented on #417
@msporny technically, resolveRepresentation takes the "accept" parameter... so although http headers are not in scope... figuring out how to handle a request for `application/did+yaml` when that representation is not supported IS in scope.

[2020-11-02 13:31] OR13 commented on #417
but agree, that we are making progress on this.

[2020-11-02 13:37] OR13 commented on #386
Not all DID Methods need to describe their internals the way that KERI does, and KERI event log can be projected into a DID Document in more than one way.

IMO this issue is about key identifiers.

The following will remain true:

1. public key bytes can change and the identifier can remain the same.
2. identifier can change but public key bytes can remain the same.
3. purpose / relationship can c

[2020-11-02 14:04] OR13 commented on #340
hmm, I can see the value of `publicKeyMulticodec` as a CID... but its also a DOS vector... one of my favorite things to do to IPFS systems is hand them valid but unresolvable CIDS....

I would prefer to split that case, so the that field is always by value , and some other field is by reference.... both have their uses.

[2020-11-02 14:59] brentzundel commented on #199
Since the `type` property has not gained consensus, I think the best option now would be to continue discussion on a `representation` property as a possible resolution to this issue.

[2020-11-02 15:17] selfissued commented on #170
Object to closing this issue, as it has not been resolved.

[2020-11-02 15:26] selfissued commented on #58
As I wrote in August:

We should make an affirmative decision to turn administration over to the W3C after the working group ends.  We should also go on record that the registries will not be turned over to any community group.

[2020-11-02 15:55] rxgrant commented on #199
The type idea was very dangerous to section 10.4, Herd Privacy.

  https://www.w3.org/TR/did-core/#herd-privacy

I think these representational issues don't belong in DID-core at all.
This spec is not trying to build a giant database of people and
things.  It's not meant to help a computer sort you out for easier
targeting.  There is no value (to users of DIDs themselves) in trying
to make a datab

[2020-11-02 16:21] brentzundel commented on #199
@rxgrant, I completely agree with your interpretation of what the spec is not supposed to be used for. With respect, this issue has nothing to do with identifying, sorting, or dereferencing people, and a solution for this issue which makes that possible or likely should not be pursued.
I share many of your concerns about possible misuse of DIDs, and feel strongly that properties which compromise t

[2020-11-02 16:32] agropper commented on #199
What's an information resource?

On Mon, Nov 2, 2020 at 11:21 AM Brent Zundel <notifications@github.com>
wrote:

[2020-11-02 17:09] brentzundel commented on #199
some examples of information resources this issue is concerned with: https://github.com/w3c/did-core/issues/199#issuecomment-589823251

[2020-11-02 18:42] msporny commented on #199
https://www.w3.org/2001/tag/doc/httpRange-14/2007-05-31/HttpRange-14#sec-information-resources

[2020-11-02 18:52] msporny commented on #170
Let me try to explain why there seems to be consensus in the group to close the issue:

The group has discussed this many, many times over the past year. Verification relationships point to verification methods in the specification. Verification methods have a `id` and `type`. We have consensus in the group on that point... there isn't a single implementer that we know of that is doing anything ot

[2020-11-02 18:55] agropper commented on #199
This might be a good thread to capture my suggestion: "Treat DIDs linked to
a VDR the way we treat Bitcoin addresses." on
https://docs.google.com/presentation/d/1RoE8E4y8S1j65EJaXZ8oihkduNbjTXXvdwtkzw961Xw/edit#slide=id.ga6aa7427ae_1_87

Based on this principle, a DID on a public VDR would say nothing more about
the result of dereferencing said DID than an address on that VDR does. In
both cases,

[2020-11-02 19:30] OR13 commented on #170
I agree with @msporny and having spent a lot of time integrating JWK and verificationMethods, I don't see any reason to leave this open... the spec contains examples which clearly demonstrate why this separation is needed.

See https://w3c.github.io/did-core/#example-35-did-document-with-many-different-verification-methods

Microsoft has already shipped support for this data structure in did:ion,

[2020-11-02 19:35] OR13 commented on #58
@selfissued who will manage pull requests, W3C Staff?

I think the amount of work that is necessary to safely support the registry is not comprehended by anyone in the working group.... We need to support:

1. registration of new did document properties
2. registration of new did parameters
3. registration of new did document representations (including production / consumption)
4. registration of

[2020-11-02 20:03] iherman commented on #58
There is no affirmative decision needed in my view. W3C owns the rights to the DID Core spec as well as the Registry document. The copyright statement is part of the header of all those documents.

When the Working Group charter runs out, it is up to the W3C membership to decide on what happens there, based on the _proposal_ of interested parties. As long as this decision is pending, W3C, as owner

[2020-11-02 20:07] msporny commented on #58
The proposal is to:

1. Raise an issue on DID Spec Registries about how the registry will be maintained after the WG shuts down.
2. Close this issue, because this is the issue tracker for DID Core, which shouldn't have a say on did-spec-registries.

I have done the first item here: https://github.com/w3c/did-spec-registries/issues/149

... which means the only thing left to do is close this issue.

[2020-11-03 00:12] dhh1128 commented on #386
@msporny What is my deadline for raising a PR?

[2020-11-03 01:54] msporny commented on #386
I expect that the PR needs to be in by the end of this month. I can't give you a firm date as the WG hasn't decided when it's entering CR... just that it's "really urgent that we do so as soon as possible". We expect to have the remaining major issues resolved this week, and with a few weeks of time for the Editors to get the spec into shape... I expect we'll start the process of closing/deferring

[2020-11-03 03:46] msporny commented on #375
Looks like the original issue submitter is ok with closing the issue and his last request for a response about "verification relationships" was granted. Closing in 7 days unless there are objections.

[2020-11-03 03:49] msporny commented on #324
We're getting ready to move into CR... which means this issue needs to result in proposed spec text and a PR very soon now, or it'll be deferred until a later specification. Someone needs to take an action to write a PR.

[2020-11-03 03:52] msporny commented on #361
Yes, what @jonnycrunch says above has always been the issue with Numbers (and is why INFRA struggles with putting anything specific in there).

All that said, we have serializations for Datetimes in the spec already, but they need to be pulled out into a Datetime that the entire spec can use. The same for Numbers. These are easy enough to do and I'll take an action to write the spec text that buil

[2020-11-03 03:54] msporny commented on #337
If we don't get a PR for this before we enter CR, this issue will be deferred to the next version of the specification. @csuwildcat, you have 30 days to generate a PR for this issue.

[2020-11-03 03:59] msporny commented on #356
Issue submitter agrees that the issue has been addressed. Closing.

[2020-11-03 03:59] #356 closed

[2020-11-03 04:04] msporny commented on #329
This issue needs to result in a concrete PR before we go into CR. If it doesn't, the issue will be deferred to the next version of the specification. A PR needs to be submitted in the next 30 days.

[2020-11-03 04:05] msporny commented on #370
This issue needs to result in a PR in the next 30 days or the issue will be deferred to the next version of the specification.

[2020-11-03 04:07] msporny commented on #380
This issue needs to result in a PR in the next 30 days or it will be closed/deferred to the next version of the specification.

[2020-11-03 04:16] msporny commented on #398
-1 to switching to CDDL at this point. We have a spec that is implementable now using INFRA... and we're only missing two core types for INFRA (Datetimes and Numbers, both of which are easy to add).

Let's see where the group lands tomorrow wrt. the Abstract Data Model and then see what we can do with this issue.

Without a concrete set of PRs for this issue, it will either be closed before CR or

[2020-11-03 04:17] msporny commented on #390
We need this issue to result in a concrete PR to the specification in the next 30 days. If that doesn't happen, this issue will be deferred to a future version of the specification.

[2020-11-03 04:19] msporny commented on #402
The PR has been merged into the main specification. This issue will be closed in 7 days unless there are objections.

[2020-11-03 04:21] jandrieu commented on #329
The term that has settled in a few different requirements conversations I've been in is "negotiatior". That is, the service endpoint of type "negotiator" provides a means for negotiating an appropriate service for interacting. It may be that

1. the DID Controller doesn't want to reveal anything and the negotiatior (after some back and forth of some kind) will return no additional information,
2.

[2020-11-03 04:21] msporny commented on #423
Agree on the proposal, this issue will need to result in a PR in the next 30 days or the spec text will remain as it is right now.

[2020-11-03 04:22] msporny commented on #400
What is the status of this issue, @OR13 ?

[2020-11-03 04:25] msporny commented on #439
I'm fine with marking it at risk, but I expect there will be multiple implementations. I don't think removing JSON-only will result in consensus, which is the proposal in the issue title.

Let's see where we land on the ADM tomorrow, but I expect that the result isn't going to be removing JSON-only from the spec.

[2020-11-03 04:30] msporny commented on #425
Agree that the DID Spec Registries needs to protect against the abuses the @jandrieu raises above. We need a PR to be submitted for that.

[2020-11-03 04:30] dhh1128 commented on #375
Confirming that I am okay to close.

[2020-11-03 05:25] talltree commented on #439
I too am fine with marking it at risk, but I will be very surprised if there are not multiple implementations. The two advantages of JSON-only is that it is simple and very widely used.

[2020-11-03 12:31] peacekeeper commented on #417
I agree with @msporny that this is out of scope. We defined `resolve()` and `resolveRepresentation()` as abstract functions with inputs and outputs, but we don't need to specify how exactly those inputs are processed (this can go into the DID Resolution spec).

[2020-11-03 12:32] peacekeeper commented on #151
+1 to closing, since the issue has been split up into smaller ones.

[2020-11-03 15:58] agropper commented on #370
Here's the view from outside: https://redecentralize.org/redigest/2020/10

On Mon, Nov 2, 2020 at 11:06 PM Manu Sporny <notifications@github.com>
wrote:

[2020-11-03 17:38] jandrieu commented on #425
Do we have anyone in the community who is familiar with the ICANN approach to trademarks? I think that's the clearest example of quality control in a system designed to be open and international.

I'm much less confident there are similar good examples for social suitability and privacy, but at the end of the day I expect we will need to empower some standing group to review and/or mediate. I'd li

[2020-11-04 14:43] OR13 commented on #417
https://w3c.github.io/did-core/#did-resolution-input-metadata-properties

I'm not sure we should define properties and then not provide even basic answers to questions like, what happens if the DID Method `resolveRepresentation` does not support the requested `accept` parameter.

Implementers won't produce consistent concrete implementations of `resolveRepresentation` based on the spec text that e

[2020-11-04 14:47] OR13 commented on #439
@talltree JSON-only is simple to use because its less secure (sees unknown properties as a feature) and not as small (same size as JSON-LD and CBOR).... from an engineering perspective it provides 0 value to strict implementers... It's like saying python is a "safer language" that rust...

The Abstract Data Model is also not capable of knowing what the intention of the "unregistered properties is"

[2020-11-04 14:49] OR13 commented on #400
@msporny I think I resolved it, but would like @iherman to confirm.

[2020-11-04 14:50] OR13 commented on #398
Im strongly in favor of switching to CDDL, I fear it if we don't we won't ever be able to define the ADM in a way that gathers consensus... which will hamstring all representations.

[2020-11-04 14:57] OR13 commented on #337
I worry that folks don't realize how this impacts Verifiable Credentials....

this means that when you resolve:

"did:example:123?version-id=1#key-0"

and you get back a did document with verificationMethod:

"did:example:123#key-0"

You will need to do the following:

for JWS, you can just "find the public key bytes and check the signature.... "

for linked data proofs, you will need to apply pos

[2020-11-04 16:44] msporny commented on #398
What does "switching to CDDL" mean?

[2020-11-04 16:50] msporny commented on #337
The second value... that is `did:example:123` -- what am I missing?

The signed VC can have a `verificationMethod` of `did:example:123?q1=1&q2=2` ... and that's what's signed over via the LD Signature... so when you dereference `did:example:123?q1=1&q2=2` you get a DID Document that contains something with that ID in there... or a fragment identifier.

Perhaps there is some algorithm somewhere in

[2020-11-04 16:53] OR13 commented on #337
@msporny its rather that there is no algorithm in ANY spec, that handles this properly... including the VC Data Model (does not elaborate on query parameters) and JWT/JWS (which does not understand dereferencing).

Best thing for developers would be a set of "Good" and "Bad" example using query params in the verification method and the vc data model.

[2020-11-04 16:58] OR13 commented on #398
I hope it means using CDDL to define the ADM in did core... because right now, I think we are handwaving at INFRA, and it's leading to no shared understanding about how the ADM actually works.

currently, the production / consumption rules are incomprehensible due to a lack of clearly defined ADM... for example, its not clear how to support new representations at all, and the domain of types and t

[2020-11-04 20:28] msporny commented on #337
I'd be supportive of this.

The right place to do that might be the Linked Data Security specs (which is really unfortunate, because they are not normative in any way). We could put an appendix in the DID Core spec on the topic, it would be a bit weird and out of place, but at least it would be there. We could put it in the implementation guide, but I expect that thing won't be done by REC.

I thi

[2020-11-04 20:40] OR13 commented on #337
I think this belongs in did core, since did core is defining dereferencing... we either define how paramters are or are not present in the resulting documents... or we stop trying to define dereferencing... the work needs to be done in did core, or its like saying we support HTTP GET, but don't define the response format.

[2020-11-04 22:02] peacekeeper commented on #337
The idea was that DID Core would define abstract functions with the inputs and outputs of resolving and dereferencing, and that DID Resolution would define algorithms that implement those abstract functions, answering questions such as:

- How are DID URL parameters processed (e.g. `version-id`), how do they influence the outputs.
- How are input metadata properties processed (e.g. `accept`), see

[2020-11-05 05:01] shigeya opened #453 "Updating architecture overview diagrams"
Every time I review this document, I feel the lack of arrows or a description in Figure 1.

As described in the following section, DID document (or data necessary to produce it) `recorded on` Verifiable Data Registry.

[2020-11-05 07:38] iherman commented on #400
I do:-)

As far as I am concerned, this can be closed.

[2020-11-05 09:09] peacekeeper commented on #398
I also support adding CDDL to DID Core to define the Core Properties in the ADM (minus the open question if representation-specific things like `@context` belong there or not).

[2020-11-05 14:12] msporny commented on #400
Thanks @iherman -- marking as pending close.

This issue will be closed in 7 days if there are no objections raised.

[2020-11-05 20:38] OR13 commented on #337
@peacekeeper regarding query paramters.... they are NOT allowed in the `id` field of a did document.

Are they allowed in the `id` field of a verificationMethod?

[2020-11-10 16:21] OR13 opened #456 "Data Model and Representations "Value and Lexical Space""
Prefer to see clear explanation of how the data model is:

"Value Space / Abstract"

representations are:

"Lexical Space / Testable", CDDL is useful at this level... constrained to mime-types.

I think we need some helpful informative statements regarding the relationship between these concepts, to avoid confusion.

[2020-11-10 17:24] OR13 commented on #456
I plan on trying to add a comment to this effect once the changes have been merged, no need to obstruct the current PRs.

[2020-11-11 00:46] kdenhartog commented on #375
Closing after 8 days pending with author of issuing saying its ok to do so.

[2020-11-11 00:46] #375 closed

[2020-11-11 01:07] kdenhartog commented on #413
No objections seen and 7 days have passed. Closing this issue.

[2020-11-11 01:07] #413 closed

[2020-11-11 01:08] kdenhartog commented on #402
No objections made and 7 days have passed. Closing this issue.

[2020-11-11 01:08] #402 closed

[2020-11-11 04:26] kdenhartog commented on #151
I've not seen any objections recorded and 7 days have now passed. Closing this.

[2020-11-11 04:26] #151 closed

[2020-11-11 04:37] kdenhartog commented on #58
I see this was marked pending close 9 days ago, but it appears @selfissued still believes differently. I'll leave this one open while we await response on the options presented by @msporny to go forward.

[2020-11-11 13:31] msporny commented on #58
Thanks @kdenhartog -- since @selfissued is disagreeing, we'll have to take it up in a call and get a formal resolution to close this.

[2020-11-11 15:30] OR13 commented on #58
@selfissued would you mind making a proposal in advance of the special topic call that addresses my concerns raised here: https://github.com/w3c/did-core/issues/58#issuecomment-72068113.

I think we can potentially resolve this on this thread if we can make clear proposals,

[2020-11-12 02:32] kdenhartog commented on #374
`publicKeyPem` is no longer defined in did-core spec and PR ^ removes from registries spec and context (Should I create a v2 context instead of just deleting?)

[2020-11-12 09:21] peacekeeper commented on #374
Even though personally I don't have a strong opinion here, I do want to mention that the WG had several dedicated calls that discussed key formats, and as far as I remember there was broad support for allowing `publicKeyPem` for RSA keys, in order to be compatible with OpenSSL and other widely used tools. This was then removed in https://github.com/w3c/did-core/pull/407, and I am not sure if every

[2020-11-12 13:46] msporny commented on #374
No need to create a v2 context -- v1 is still considered unstable.

This is correct. The thing that changed was the creation of the JsonWebSignature2020 cryptosuite, which allows the expression of PEM-encoded keys for RSA. publicKeyPem is therefore no longer needed... the RSA legacy key format is expected to be expressed using the JsonWebSignature2020 cryptosuite. publicKeyPem comes from a time /b

[2020-11-12 14:23] OR13 commented on #374
There are probably DIDs out there using MD5 and SHA1... I wouldn't recommend that continue...

The more key representations in the did core, the worse the spec, same thing for did document representations, its painful complexity, and requires lots of checking and conversion logic to retain interop.

Best case for did core v1 would be 1 representation, 1 key format.

Worst thing for did core v1 wou

[2020-11-12 20:08] kdenhartog commented on #374
I may be looking at this from a slightly different perspective, but because we've got a registry that allows the registration of any crypto suite and cryptosuites define which key representation is used, I'm not really sure that DID Core should be defining for similar reasons that @msporny alludes to in the comment above as well.

Ideally instead this should be left up to ld-proofs spec which will

[2020-11-12 21:10] kdenhartog commented on #174
pending close label has been on greater than 7 days without seeing any objections. Going to close this assuming that the PRs and commits referenced above have addressed this issue. Please reopen or file follow up issues if you're unsatisfied.

[2020-11-12 21:10] #174 closed

[2020-11-12 21:16] kdenhartog commented on #33
This has been around 11 days with no objections. Going to close this issue.

[2020-11-12 21:16] #33 closed

[2020-11-12 21:30] kdenhartog commented on #367
I've gone through them all and many of them look semi addressed at this point. I've left comments to get authors to respond if they still want to transfer the issues to did-core and if so I can do it @msporny (from the looks of it I can handle it with my permissions on the two repos)

[2020-11-12 22:23] peacekeeper commented on #374
Agree with explanations above about removing `publicKeyPem`, thanks.

I also agree that theoretically it would be nice to just reference LD proof and cryptosuite things, rather than (re-)defining them in DID Core, but not sure if that's achievable in the short term..

[2020-11-12 22:25] msporny commented on #367
@kdenhartog wrote:

Yes, please move them if you have permissions to do so @kdenhartog ... I am utterly failing to get to that item on my todo list. Thank you!

[2020-11-13 14:15] brentzundel commented on #249
No comments since marked pending close, closing

[2020-11-13 14:15] #249 closed

[2020-11-13 14:15] brentzundel commented on #318
No comments since marked pending close, closing

[2020-11-13 14:15] #318 closed

[2020-11-13 14:15] brentzundel commented on #400
No comments since marked pending close, closing

[2020-11-13 14:15] #400 closed

[2020-11-16 12:45] rhiaro commented on #384
I will re-generate a list of normative statements when PRs #454 and #455 are merged

[2020-11-16 12:46] rhiaro commented on #361
#455 cover this

[2020-11-16 12:47] rhiaro commented on #205
Addressed in #454

[2020-11-16 13:08] peacekeeper commented on #391
@awoie or anyone else.. Any interest in contributing a few sentences about topics such as private key security, entropy, hardware security, FIDO attestations? Based on your comment here I thought you may have some ideas: https://github.com/w3c/did-core/issues/151#issuecomment-577619416

Otherwise, we will close this issue soon.

[2020-11-16 13:13] rhiaro commented on #208
I've added PR for the at risk language for `did+ld+json`.

I would like to see something about using regular `ld+json` I think... seems odd that we'd say JSON-LD DID docs can't be recognised by consumers if they come in as `application/ld+json`. Plus generic JSON-LD systems that might find themselves handed a DID doc with `application/did+jsonld` are liable to ignore it as unrecognisable when it's

[2020-11-16 13:51] peacekeeper commented on #456
While exploring this in https://github.com/w3c/did-spec-registries/pull/136#issuecomment-697961819 and subsequent comments, we thought we could say that:

- we use the value space of XML Schema data types such as https://www.w3.org/TR/xmlschema-2/#dateTime in our abstract data model (PR https://github.com/w3c/did-core/pull/455 accomplishes this).
- we recommend that representations SHOULD use the

[2020-11-16 13:55] peacekeeper commented on #385
@wyc any more thoughts on this? Personally I believe there is no problem here. The test suite already shows that we can test a DID URL's query even though we don't enfore the key=value pattern in the DID URL ABNF anymore.

You also mentioned you would close this in 2 weeks if there are no objections. So I'll mark this as "pending close", but feel free to add more thoughts and/or propose how to imp

[2020-11-16 14:12] iherman commented on #208
I would suggest we had a separate topic call at some point to consider the media type issue and what our fallbacks are. I am not convinced about the `application/jsonld` route, for example.

@msporny @brentzundel @burnburn

[2020-11-16 14:17] peacekeeper commented on #417
When we added the sections on resolution and dereferencing, there was already a lot of discussion whether even that was in scope (several people thought it wasn't). The understanding was that we would only define abstract functions with their inputs and outputs, but we would not define how to implement those functions, or how the inputs are processed.

If we now start adding precise rules for proc

[2020-11-16 14:23] peacekeeper commented on #337
@OR13 yes the `id` of a verification method could be a DID URL such as `did:example:123?version-id=1#key-0`.

The spec currently says:

_The value of the id property for a verification method MUST be a URI._

Perhaps we should add the following?

_The value of the id property for a verification method MUST be a URI **and MAY be a DID URL.**_

Or even **SHOULD** be a DID URL?

[2020-11-16 14:25] rhiaro commented on #363
The Authorization section has now gone, and the whole Core Properties section has been reorganised and tidied up since this issue would raised. @Fak3 could you review [Verification Methods](https://w3c.github.io/did-core/#verification-methods) and [Verification Relationships](https://w3c.github.io/did-core/#verification-relationships) to see if the latest versions goes some way towards answering y

[2020-11-16 14:43] OR13 commented on #337
@dlongley @peacekeeper @msporny @dhh1128 @kdenhartog This is one of the most important parts of the whole specification.

It's the link between did core and all assertion formats that use identifiers, including JWT, VCs, ZKPs....

Its relevant too HTTP Signatures, DIDComm and many other areas....

Whatever rules we have here will shape how useful DIDs are in those other areas.

If we are saying th

[2020-11-16 14:51] OR13 commented on #417
@jricher  @peacekeeper https://w3c.github.io/did-core/#did-resolution-input-metadata-properties

We are already defining error codes, so the question is:

If I request  `application/did+json` from `resolveRepresentation`, and the DID Method was built to only support `application/did+cbor` what happens?

In the world of HTTP, when a client requests a format that is not supported by the server we ha

[2020-11-16 15:20] julio-cabdu commented on #439
Hey, there is a method in the registries that is JSON-only: www.tyronzil.com - and so far I don't see any strong reason to change that. So I am against removing JSON representation from DID Core, I believe it would harm innovation that use DID Core as a standard reference.

[2020-11-16 15:30] OR13 commented on #439
https://www.tyronzil.com/did-document/

`The contentType property in the resolver's metadata MUST be application/did+json`

@julio-cabdu care to way in on: https://github.com/w3c/did-core/issues/417

I assume tyronzil only supports JSON, what happens if someone requests another representation?

Since you are using Sidetree, I should mention that Sidetree supports both JSON and JSON-LD...

[2020-11-16 15:42] julio-cabdu commented on #439
Someone requesting another representation is not yet in the scope of tyron improvement proposals, but it will get assessed if it becomes relevant. Also, tyronZIL is no longer Sidetree-based since it evolved into smart-contract architecture - for details see [DID smart contract](https://www.tyronzil.com/smart-contracts/didc/).

[2020-11-16 16:31] dhh1128 commented on #337
I'm not feeling confident that I grasp all the implications here. I think the sentence that I most need to understand is this one from Orie:

I THINK I'm totally comfortable with that, but I may be missing something.

My own plans have always been that the `id` property of anything in a DID document is either a pure DID (as in the case of `didDocument.id`), or is a relative reference like `#key1`.

[2020-11-16 17:46] OR13 commented on #337
If you are using JSON-LD, the identifiers from the credential are expected to match the document returned by the resolver... JSON-LD has a whole section of the spec dedicated to handling "documentLoaders" of which DID resolvers are a cousin... for JWTs or other ZKP formats, there is not always an assumption of "documentLoaders" and getting to "public key bytes / verification method details" may no

[2020-11-16 17:51] OR13 commented on #337
cc @selfissued @csuwildcat this is also related to "DID / JOSE interoperability"... and the very poor usability of the "VC-JWT" format... since VC-JWT does not have "documentLoader" but also does not define a dereferencing algorithm for `kid -> publicKeyBytes`.

[2020-11-16 18:17] OR13 commented on #439
@julio-cabdu

You might want to use `publicKeyJwk` instead of `publicKeyBase58`

And replace "SchnorrSecp256k1VerificationKey2019" with "JsonWebKey2020", since "SchnorrSecp256k1VerificationKey2019" is actually a JSON-LD Verification Method defined here:

https://github.com/w3c/did-spec-registries/blob/master/contexts/did-v1.jsonld#L17

Here is a complete implementation of that verification method:

[2020-11-16 22:14] peacekeeper commented on #337
Is this maybe the same problem as the long form / short form thing in Sidetree?

Could you do this:

[code]

Then dereferencing `did:example:123?version=0#key-0` and `did:example:123#key-0` would both "work"?

Or could you have a `sameAs` property on the `verificationMethod` level instead of the top level?

[2020-11-16 22:28] OR13 commented on #337
@peacekeeper  yes, its related...

` "sameAs": "did:example:123?version=0",`

This would imply you can merge the graphs, which if you rotated compromised keys out... would be bad... also semantically, did subject at timestamp (-5 hours) and did subject at (now) are not really the "same thing" imo... raises questions on if the did subject can change, like did:example:123 => my dog, but then it dies

[2020-11-16 22:35] kdenhartog commented on #337
So from my understanding of this issue, we need to do two things.

1. update the language to adhere to @peacekeeper [suggestion](https://github.com/w3c/did-core/issues/337#issuecomment-728094006)
2. update implementations to explicitly use version parameter in the id fields of keys so that they can be properly identified without any semantic ambiguity.

Is that correct and all thats needed to clos

[2020-11-16 22:43] kdenhartog commented on #417
This gets very close to a rabbit hole that we ended up trying to avoid. I tend to agree with @peacekeeper that this should fall outside the scope of the abstract function and be defined concretely in the did-resolution specification. What if we move this issue over to that repo and discuss further there because it's a legitimate question that we should be addressing somewhere.

[2020-11-16 23:17] dhh1128 commented on #337
This is what I'm missing. I don't understand why. It seems to have something to do with embedding a `version` in a DID URL, and with some requirements of Linked Data Proofs that I don't know because I don't use them? Why would I ever want to reference a version of a DID doc from *inside* that same DID document? I see that as being useful only *outside* a DID document, to refer to things inside the

[2020-11-17 00:38] OR13 commented on #337
@dhh1128 consider, a JWS or a linked data proof using `kid` or verificationMethod `did:example:12#key-0`

### Valid

[code]

[code]

Now consider, a JWS or a linked data proof  using `kid` or vm `did:example:12?version=53#key-0`

### Valid

[code]

[code]

### Valid ?

[code]

In this example "version" query param is dropped or preserved... this issue asks the question, how and when should query p

[2020-11-17 01:13] OR13 commented on #417
@kdenhartog can we move `resolveRepresentation` there as well, along with the error codes and accept resolution parameter?

IMO, a safer line to draw would be to only define `resolve` as an abstract function which takes a DID and produces a DID Document in the ADM... but thats also going to not be super helpful for developers...

The second we start talking about how `resolveRepresentation` and `a

[2020-11-17 06:00] kdenhartog commented on #417
Ok I think that seems reasonable to add the DID Representation not supported error. From my understanding anyways, error codes can be extended through the registries (correct me if I miss understood - I'd assume you'd know better than I on that topic) and so while I'd prefer to see that error code added to the did-core spec, we could just as easily handle the problem via an "extension error code".

[2020-11-17 15:28] peacekeeper commented on #417
I can agree with that. Since we already introduced the "accept" input metadata property in DID Core, I think it would be justified to introduce a "representation-not-supported" error code.

That's my understanding as well. There are definitely several ideas out there already for additional error codes.

[2020-11-17 15:40] jonnycrunch opened #461 "Should CDDL replace INFRA as the language of the ADM is a question that needs to be resolved by the working group?"
Whether or not CDDL should replace INFRA as the language of the ADM is a question that needs to be resolved by the working group.

[2020-11-17 15:41] jonnycrunch commented on #461
see: https://github.com/w3c/did-core/pull/420#discussion_r513677066

[2020-11-17 16:09] OR13 commented on #417
Sounds like we might be ready for a PR now:

1. Add "representation-not-supported" to did core
2. Add "representation-not-supported" to did spec registries
3. Add sentence to DID Core regarding how "representation-not-supported" and "accept" are related.

[2020-11-17 16:54] jricher opened #462 "Representations need explicit type conversion rules"
@msporny has the right of it, but it also needs to clearly go both ways, to and from the data model data types and the representation's data types. So you need things like this strawman:

"If you see an Integer in the ADM it goes in a JSON Number"

As well as:

"If you see a JSON Number in the representation, and don't have an additional property definition, it is an ADM Float".

I'm ok with this

[2020-11-17 17:02] peacekeeper commented on #462
This is related to https://github.com/w3c/did-core/issues/456 (value space vs. lexical space).

[2020-11-17 17:11] peacekeeper commented on #417
@OR13 I agree, but regarding the third item:

I think this should be relatively high-level, e.g. this should only say something like

_this error code is returned if the representation requested via the "accept" input metadata property is not supported by the DID method and/or DID resolver implementation._

I don't think it should be more detailed than that, i.e. it should not define a concrete al

[2020-11-18 23:39] peacekeeper opened #463 "Naming classes of properties and syntax"
https://github.com/w3c/did-core/pull/455 introduced the concept of "representation properties". Per comments in that PR, we still wanted to discuss the exact terminology. I propose to distinguish properties and syntax according to 1. whether they are core, registered, or unregistered, and 2. whether they are representation-independent or representation-specific.

See this matrix:

![properties and

[2020-11-19 00:23] OR13 commented on #463
is there an example of "representation-independent syntax" ?

I think its probably safe to take a stab at a PR for this regardless.

[2020-11-19 09:43] peacekeeper commented on #463
No there is no such thing, that would be a contradiction.

Based on the above diagram, we would have:

- Core Properties (representation-independent): `id`, `alsoKnownAs`, `verificationMethod`, `service`, ...
- Registered Properties (repesentation-independent): includes Core Properties, and also: `ethereumAddress`, ...
- Unregistered Propertes (repesentation-independent): `foo`, ...

and:

- Core

[2020-11-19 20:23] peacekeeper commented on #368
My understanding is that this would be addressed by https://github.com/w3c/did-core/pull/431, so I'm marking this as "PR exists".

[2020-11-19 22:50] OR13 opened #464 "DID Core must define how to compute the digest to secure did spec registry entries contexts"
https://github.com/w3c/did-spec-registries/pull/146

This is pretty straightforward,  we need to explain how you use curl + SHA-256, to get a hash, and compare it with an expected value.

If we don't do this, folks will be registering multihashes, MD5, Blake2b, etc... and its won't be useful at all...

this is an option:

[code]

[2020-11-19 23:01] talltree commented on #463
@peacekeeper, you nailed it. Great diagram (as always), and I'm totally aligned with your proposed terminology.

One question: do you think we need to add these to the terminology section? My gut feeling is no, but that we should introduce them (and I would even vote to include your diagram) in the Abstract Data Model section.

[2020-11-20 03:07] wyc commented on #385
No objections, thank you for your follow-up. You have already noted what would've been my only concern, that the test acceptance is implied by the functionality of the `querystring` package, which is acceptable to me.

[2020-11-20 03:07] #385 closed

[2020-11-20 11:32] peacekeeper commented on #368
We discussed this issue during the [2020-11-19 DID WG Topic Call](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-11-19-did-topic).

[2020-11-21 20:22] peacekeeper commented on #461
I think in https://github.com/w3c/did-spec-registries/pull/138 we had some comments that CDDL may be representation-specific, i.e. it may not apply to some future representations, or..?

Also, I think merging https://github.com/w3c/did-core/pull/455 has brought a lot more clarity to how the abstract data model works.

[2020-11-23 13:52] rhiaro commented on #411
I think this was addressed by https://github.com/w3c/did-core/commit/58225f14c334c97e54e71c4a2b457db7509b5806 - okay to close @iherman ?

[2020-11-23 13:57] rhiaro commented on #361
#455 was merged, okay to close?

[2020-11-24 10:00] peacekeeper opened #468 "Should "deactivated" be an error code?"
Right now, in the [DID resolution metadata](https://w3c.github.io/did-core/#did-resolution-metadata-properties) section we have listed an error code `deactivated`. Some people have argued that perhaps "deactivated" should not be considered an error. Instead, we could e.g. introduce a "deactivated" property with a boolean value in the [DID document metadata](https://w3c.github.io/did-core/#did-docu

[2020-11-24 20:32] rhiaro commented on #384
Okie dokie, here are the normative statements as of 2020-11-24T19:35:00+00:00 (note, still some outstanding PRs so you may spot things in here you thought we'd agreed to change - you're probably right - but helpful to scan the list and see if anything jumps out as totally wrong please!)

## 1.4 Conformance

A conforming producer is any algorithm realized as software and/or hardware and conforms to

[2020-11-24 23:24] msporny commented on #70
This will be resolved once PR #431 is merged in.

[2020-11-24 23:25] msporny commented on #421
This issue will be resolved once PR #431 is merged.

[2020-11-24 23:26] msporny commented on #291
We need to have the Security Questionnaire done for this issue to be closed. We cannot close this issue until PING does a review on the specification.

[2020-11-24 23:30] msporny commented on #339
Largely waiting for PR #420 to be merged and "at risk" language to be added to that PR.

[2020-11-24 23:35] msporny commented on #119
We had a preliminary discussion with TAG. We offered to meet with them to go over the specification. TAG is waiting on security/privacy questionnaire from us.

[2020-11-24 23:35] msporny commented on #205
This issue will be closed when PR #454 is merged.

[2020-11-24 23:36] msporny commented on #368
This issue will be addressed by PR #431 and will be closed once that is merged.

[2020-11-24 23:38] msporny commented on #361
This will be addressed by PR #455, #469 (and similar PRs for each representation section). We can close this issue when all of those PRs have been merged.

[2020-11-24 23:38] jonnycrunch commented on #361
are we going to handle bigInt and bigFloat for numbers?

[2020-11-24 23:46] jonnycrunch commented on #361
are per my understanding from today's call, the answer is no, there aren't many use cases that require support for this.  In certain methods that use large EC numbers they are represented as base64 and would translate into a byte array in CBOR.

[2020-11-24 23:46] msporny commented on #199
There is a partial answer to this in #460. There isn't a specific solution to this yet.

[2020-11-24 23:50] msporny commented on #384
@OR13 would it be possible for you and the testers to go through this list and understand if what we are testing is appropriate?

[2020-11-25 00:01] OR13 commented on #291
I am adding myself to track contributing to the questionnaire.

[2020-11-25 00:03] brentzundel commented on #199
The specific solution will need to be raised in a PR. I will try to get one in.

[2020-11-25 12:16] iherman commented on #463
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-11-24-did#section3) on 2020-11-24)

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 3. PR 454 and 455...

_See github pull request [#454](https://github.com/w3c/did-core/pull/454), [#455](https://github.com/w3c/did-core/pull/455)._

**Brent Zundel:** status update?

[2020-11-26 10:37] shigeya commented on #425
I have some knowledge of the ICANN's process in this context since we at Keio did a research project jointly with Japanese Financial Services Agencies: "[A Study on Governance for Decentralized Finance Systems Using Blockchain Technologies](https://www.fsa.go.jp/policy/bgin/ResearchPaper_Keio_en.pdf)" in FY2019. I'm one of the authors of the report.

Now, we can write a spec text which describes l

[2020-11-26 15:03] shigeya commented on #291
I added a few changes. Reviewed until 2.16.

[2020-11-27 12:40] tahpot commented on #382
Wow, what a thread and subsequent meeting on 09/24. I learned a lot, so thanks to everyone for their great contributions and thoughtful discussion.

At risk of opening a can of worms that has seemingly been shut, I see value in introducing an optional `hiddenService` (or `unpublishedService`?) core property that defines a single service endpoint for external users to request access to a set of hid

[2020-11-27 12:59] agropper commented on #382
How would hiddenService be different from a GNAP-protected resource?

On Fri, Nov 27, 2020 at 6:40 AM tahpot <notifications@github.com> wrote:

[2020-11-27 13:24] tahpot commented on #382
As far as I understand GNAP, `hiddenService` could well be a GNAP-protected resource with the spec defining the structure of the returned resource.

[2020-11-29 22:23] kdenhartog commented on #291
We're getting closer on the security questionaire with sections covering all of the security parts (section 3), but it appears that section 4 needs to be added still. Also, who is currently handling editorship of this document so that we can get the comments merged/resolved? If no one has time to do this I'm happy to step in and carry this to the end, but I'll need editor rights to the document.

[2020-11-30 15:02] OR13 commented on #382
I don't see the value of `hiddenService` as a separate field... but I do see the value of a `service` `type` which accomplishes the same functionality, also, related to hidden services: https://github.com/BlockchainCommons/did-method-onion

[2020-11-30 18:11] OR13 commented on #468
I agree it's certainly a property of did document metadata.

I think a boolean is probably correct, but worth asking if an enum would be better:

`didDocumentState = ["active", "deactivated", ...]` ?

If we forsee more complicated states in the future with different semantics, this may be a better solution... assuming a did document can only be in a single state.

[2020-11-30 19:19] TelegramSam commented on #382
DIDComm supports the disclosure of supported protocols at the discretion of the DID owner for all the reasons stated above, without a separate `hiddenService` field. Given that disclosure is likely to be interactive in some way, specifying the method to do so in the spec seems limiting to the development of new and improved ways to accomplish that disclosure.

[2020-11-30 19:29] OR13 commented on #384
I would avoid sections 6,7,8 for now.... I am not sure how testable section 7 since its about requirements for another spec.

the earlier sections seem fairly safe to start tackling.

[2020-11-30 19:34] OR13 commented on #382
@TelegramSam agree, I would personally like to see a service type of `DIDComm` or something similar... so that you can start interrogating the service directly...

[2020-11-30 19:36] jandrieu commented on #382
@OR13 I thought DIDComm was transport agnostic. How would you know what transport to use? Or is there a standard http API that provides a DIDComm binding for URLs?

[2020-11-30 19:42] OR13 commented on #382
@jandrieu assuming the `serviceEndpoint=https://example.com/...` you would know its HTTP ready. AFAIK the did core spec has no examples other than HTTP, but I assume there might be `service` definitions that might express `type=DIDComm` `transport=bluetooth`... DID Core would be responsible for defining services sufficiently to support transport agnosticism.

[2020-11-30 19:56] jandrieu commented on #382
@OR13 Ok. That matches my expectation. The addition of  a transport property might do the trick, but I'll leave that to DIDComm folks.

[2020-11-30 20:05] dhh1128 commented on #382
Yes.

Or you could have...

* `type=DIDComm` and `endpoint=mailto:inboxes@agentsrus.com` OR
* `type=DIDComm` and `endpoint=kafka:kafka.agentsrus.com/DIDComm` OR
* `type=DIDComm` and `endpoint=bluetooth:mydeviceid` OR
* `type=DIDComm` and `endpoint=post:123+main+street+Anywhere+USA+12345` OR
* `type=DIDComm` and `endpoint=s3:bucketid` OR
* `type=DIDComm` and `endpoint=tor:foo.onion/xyz` ...etc

In

[2020-11-30 20:52] OR13 commented on #291
@kdenhartog I added some details, but IMO this needs an editorial merging session, and then we should focus on the weakest parts.

[2020-11-30 21:25] OR13 commented on #382
See also: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler

[2020-11-30 22:30] jonnycrunch commented on #339
CBOR section has been updated in PR #420 and in-line with language for CBOR <- ADM -> JSON.

[2020-11-30 22:30] #339 closed

[2020-12-01 00:18] kdenhartog commented on #374
I think this can be closed right away now that @OR13 has merged https://github.com/w3c/did-spec-registries/pull/155

however, just to be conservative I'll just label and this will be closed in 7 days.

[2020-12-01 02:59] kdenhartog commented on #384
Agree 1 through 5 are able to be implemented now from my read of them.

6 is going to be a bit tricky because knowing how another piece of software consumes a document seems a bit hard to test. Others might have suggestions about what to do for this.

7 is our set of manually tested statements for writing a DID Method and effectively act as what the DID Method Registries should be checking to have

[2020-12-01 15:19] peacekeeper commented on #468
I think I'd prefer a "deactivated" boolean property over a more generic state property, because then we would have to define somewhere what "DID document state" means....

[2020-12-01 16:23] dlongley commented on #199
@jandrieu may have comments related to this in #457.

[2020-12-01 16:37] msporny commented on #104
This is done, we're keeping this open until we make the request to go to CR.

[2020-12-01 16:37] OR13 commented on #240
editors to define `publicKeyJwk` and `publicKeyBase58` in did core (security vocab urls not to change), then remove definitions for `verificationMethod.type` and instead point to external examples.

[2020-12-01 16:37] msporny commented on #105
This is done, we're keeping this open until we make the request to go to CR.

[2020-12-01 16:38] msporny commented on #163
We will tag all terms right before going to CR.

[2020-12-01 16:40] msporny commented on #325
We should remove this language from the specification and defer to the LD Cryptosuite (JWK or Secp256r1) to define the encoding for the key.

[2020-12-01 16:45] msporny commented on #404
What we need is the following:

* Human readable definition in DID Core.
* RDF definition in some file TBD.
* JSON-LD definition in did-core/v1.
* CDDL/SHACL schema definition for specific serializations.

[2020-12-01 16:47] msporny commented on #401
Closing based on request by @iherman since many changes have been made based on this issue and another re-read will be required at this point to see if the original unresolved issues remain.

[2020-12-01 16:47] #401 closed

[2020-12-01 16:47] msporny commented on #403
Closing based on request by @iherman since many changes have been made based on this issue and another re-read will be required at this point to see if the original unresolved issues remain.

[2020-12-01 16:47] #403 closed

[2020-12-01 16:48] msporny commented on #329
Closing issue based on input from original issue submitter (@dlongley) -- if we need to define this, it will be done in the registries. No further action is required by the DID WG.

[2020-12-01 16:48] #329 closed

[2020-12-01 16:49] msporny commented on #423
This issue is related to issue #240 and will be closed when there is a PR for that issue (or this issue).

[2020-12-01 16:50] OR13 commented on #329
https://github.com/w3c/did-spec-registries/issues/157

^ i have opened this issue to remove the undefined term from the registry :)

[2020-12-01 16:51] msporny commented on #398
As soon as concrete Vanilla CBOR/JSON/JSON-LD CDDL definitions are in wrt. DID Spec Registries, this can be closed as resolved.

[2020-12-01 17:24] jandrieu commented on #199
@dlongley Not sure what you might have been trying to highlight. I believe my concerns have already been stated in the comments here: DIDs *can* identify anything, but IMO we shouldn't enshrine DID Documents as delivery vehicles for resources. If methods want a resolver to return *additional* resources along with a DID Document, that is an entirely appropriate use of meta-data.

So, what Brent is

[2020-12-01 21:29] rhiaro commented on #404
Does this mean w3.org/ns/did/v1 ?

The RDF definition file can be at w3.org/ns/did/v1 as well, with conneg. And I would propose the file itself lives in the DID spec registries repo (eg. with the JSON-LD context). _I don't think this needs to hold up CR._

I think the rest of this issue is about making sure there are no terms mentioned in the spec prose which aren't actually defined in the spec. T

[2020-12-02 10:01] iherman commented on #404
I am not sure that this navigational aid can be easily extended. To give you a specific example, the `id` term is defined for the subject in [§5.1.1.](https://w3c.github.io/did-core/#identifier-0) but, in fact, that very same term can be used for other purposes in a DID Doc, e.g., for a specific verification method. Of course, for this particular property and for a JSON-LD user this is natural bec

[2020-12-02 14:32] OR13 commented on #384
agree, 8 is testable.

[2020-12-02 22:15] peacekeeper commented on #390
I think this has been addressed by https://github.com/w3c/did-core/pull/466 and can be closed. @Oskar-van-Deventer do you agree?

[2020-12-03 21:33] brentzundel commented on #199
I began a PR to address this, but got stuck.

If I remember correctly, we've defined three buckets:
1. data about the DID Subject - this goes in the DID Document
1. data about the DID Document - this goes in the DID Document Metadata
1. data about DID Resolution - this goes in DID Resolution Metadata

@jandrieu I'm not opposed to using metadata to deliver content identified by the DID as part of t

[2020-12-03 21:54] peacekeeper commented on #199
-1 to option 2 (define a new metadata category).

I'm pretty sure content identified by the DID belongs in the DID document (option 1).

[2020-12-03 22:30] msporny commented on #464
This feels like a reasonable way to provide guidance for how developers should generate a hash.

[2020-12-04 00:11] jandrieu commented on #199
@peacekeeper I'm pretty sure that what is in the DID Document should be about how to interact securely with/on behalf of the DID Subject and not a transport mechanism for any resource(s) the DID might refer to.

Seems to me that if--in addition to the DID Document--a representation of the DID Subject is returned by the resolver, then that is resolution metadata. That is, the resolver needs to comm

[2020-12-04 01:04] kdenhartog commented on #199
Where you're going with this @jandrieu is something that I think I can get on board with. In the case of the DID Document for did:schema would this still be a valid in your eyes?

[code]

[2020-12-04 13:06] peacekeeper commented on #199
We have already defined both "resolving" and "dereferencing":

[code]

[code]

Keep in mind that every [DID](https://w3c.github.io/did-core/#did-syntax) is also a [DID URL](https://w3c.github.io/did-core/#did-url-syntax).

Dereferencing a DID URL can potentially return a representation of a resource that is not the DID document; I think this is consistent with what you're saying @jandrieu .

[2020-12-04 14:15] brentzundel commented on #411
Labelled `pending close` for over 7 days. No status change. Closing.

[2020-12-04 14:15] #411 closed

[2020-12-06 00:37] tahpot commented on #382
That makes sense, so the "feature discovery protocol" could be used via DIDComm to expose additional services.

However, the definition of those services would differ from the `serviceEndpoint` spec within DID Core. Is that inconsistency acceptable? Is the reliance on DIDComm for discovery of these additional services acceptable?

[2020-12-06 21:04] msporny commented on #421
PR #431 has been merged via PR #473; closing.

[2020-12-06 21:04] #421 closed

[2020-12-06 21:04] msporny commented on #368
PR #431 has been merged via PR #473; closing.

[2020-12-06 21:04] #368 closed

[2020-12-06 21:05] msporny commented on #205
PR #454 has been merged; closing.

[2020-12-06 21:05] #205 closed

[2020-12-06 21:08] msporny commented on #70
PR #431 has been merged via PR #473; closing.

[2020-12-06 21:08] #70 closed

[2020-12-06 21:18] msporny commented on #332
I have created a 'main' branch, but do not have repo update permissions.

@iherman, please give me the appropriate repo permissions to do the rest of the changes, or set `main` as the default branch (and default publication branch for docs).

[2020-12-07 08:13] iherman commented on #332
@brentzundel I'd need your nod to proceed.

[2020-12-07 08:20] iherman commented on #332
B.t.w., @msporny, what will happen with the PR-s out there? Is it possible to change the 'target' branch of a PR to 'main', or is it something happening automatically by virtue of 'main' becoming the default branch?

If we do that, we should also do it with the other repositories.

[2020-12-07 13:57] msporny commented on #332
The existing PRs will have to change to use `main`; it's an easy task... you go to the PR, click edit, and then click `main` as the target branch. I chose to do this now because we only had 3 outstanding PRs (I had held off for months because of the number of outstanding PRs).

Once `main` becomes the default branch, all future PRs will target `main` automatically.

Yes, agreed, but making this re

[2020-12-07 14:46] iherman commented on #332
Github (and git) has an infinite amount of tricks... :-)

As soon as @brentzundel  gives his thumbs up I will do this.

[2020-12-07 16:03] jandrieu commented on #199
@peacekeeper Yes. That's correct.

And so, if you put a representation in the DID Document, then you can no longer resolve a DID without also dereferencing it.

That is the layer violation, because you can no longer distinguish resolution from dereferencing.

[2020-12-07 21:39] dhh1128 commented on #382
I'm not sure. Could you say more about what inconsistency you're noticing?

Probably not for everyone. I wasn't arguing that everyone should adopt
DIDComm; I was just explaining why, if you assume DIDComm, you don't need a
solution for this additional challenge.

[2020-12-08 15:49] TallTed commented on #374
Given that the only reason to include specific discussion of *any* crypto suite is so that we can offer "practical examples of how the ld proofs suites integrate into a did document and to set some base patterns and structures that can be adhered to through any representation of a DID Document", I would actually suggest consideration of one _**known-terrible**_ crypto suite (e.g., MD5, SHA1) as th

[2020-12-08 15:53] iherman commented on #332
Just making a note here:

this is an extra admin step that I will have to do if we make the changes...

[2020-12-08 16:29] dlongley commented on #361
Do we need a distinction on datetimes that covers the level of time precision (for example, seconds vs. milliseconds)? It may be challenging/not possible to parse to the ADM and then produce a representation out of it without losing the ability to verify digital signatures if the precision isn't known. People will have to create workarounds for these cases or just avoid the ADM if it cannot lossle

[2020-12-08 16:30] brentzundel commented on #384
Addressing this issue requires tests to be written. Ideally we will have ample test coverage before CR.

[2020-12-08 16:48] brentzundel commented on #367
@kdenhartog can you update us on the status of this?

[2020-12-08 16:49] OR13 commented on #363
recommend closing, since the spec has drifted

[2020-12-08 16:50] OR13 commented on #439
waiting on "at risk" issue tags to be added to the spec

[2020-12-08 16:57] iherman commented on #425
@wseltzer I will send you an email on this, but pinging you here, too.

[2020-12-08 16:58] OR13 commented on #240
Still waiting on https://github.com/w3c/did-core/issues/240#issuecomment-720201925

[2020-12-08 17:03] OR13 commented on #439
btw, I'm ok closing this if JSON representation support can be sufficiently demonstrated to "not be at risk"... seems like we are not being fair about how we consider representations to be at risk or not.

I implemented support for JSON Representation in `did:key` and `did:elem` / `did:photon`... but these only became valid implementations of the JSON representation AFTER we made the recent change

[2020-12-08 17:15] OR13 commented on #439
here are at least 2 implementations I did that use `application/did+json` as it is currently defined...

- https://github.com/transmute-industries/sidetree.js
- https://github.com/transmute-industries/did-key.js

If pointing to these repos is enough to avoid being marked at risk, I am happy to close this issue

and add support for CBOR as well :)

[2020-12-08 17:21] iherman commented on #199
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-12-08-did#section3) on 2020-12-08)

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 3. Issue 199

_See github issue [#199](https://github.com/w3c/did-core/issues/199)._

**Brent Zundel:** Possibly last of the issues that need to be discussed — at this point there are

[2020-12-08 17:26] iherman commented on #439
In my view they are.

[2020-12-08 17:38] csuwildcat commented on #439
We also implement the ability to output DID Documents as either plain JSON or JSON-LD in ION: https://github.com/decentralized-identity/ion. (and you can for all Sidetree methods, if an implementation elects to use of that part of the reference code: https://github.com/decentralized-identity/sidetree)

[2020-12-08 17:44] selfissued commented on #439
Given that there are multiple implementations supporting JSON-only, I suggest that we now close this issue.  Thanks.

[2020-12-08 19:03] OR13 commented on #439
@brentzundel @msporny @talltree @burnburn @jonnycrunch Is this enough to remove the "feature at risk flag for JSON"

and if I add support for vanilla CBOR, would it be enough to remove the feature at risk flag from vanilla CBOR?

[2020-12-08 19:12] ChristopherA commented on #439
What is "vanilla CBOR" in this case?

I ask as I'm still uncomfortable with multihash in CBOR, as it is self-describing encoding format inside a self-describing encoding format.

[2020-12-08 19:14] OR13 commented on #439
@ChristopherA "vanilla CBOR" is what you get when you pass a `application/did+json` or `application/did+ld+json` to https://www.npmjs.com/package/cbor

essentially, any tooling that supports `json -> cbor`.

[2020-12-08 19:47] wseltzer commented on #425
Rather than ICANN's domain dispute resolution, I'd encourage looking toward the [IANA protocol registries](https://www.iana.org/protocols) and registration procedures.

As with IANA's expert review, I'd suggest you should describe the criteria for inclusion in the registry and who's the arbiter of whether a submission fits those criteria.

[2020-12-08 21:42] kdenhartog commented on #367
The only issue that was left has been moved: https://github.com/w3c/did-core/issues/478

The rest have either been addressed in a PR and closed/pending close or were no longer relevant and closed. I suggest declaring this issue complete and will label it pending close.

[2020-12-08 22:26] kdenhartog commented on #199
Just read through the comments on why we might want this functionality. One of the core ones that I've been thinking it would be useful for would be to publish a revocation object (from rl-status-2020) to a ledger such that it can be resolved later. An example of this would be:

If did:example:123 is resolved the returned "DID Document" (It's by definition a did document, but it definitely steps o

[2020-12-08 22:44] agropper commented on #199
This revocation issue goes back three or four years to the Healthcare
(Prescription) Use Case https://w3c.github.io/did-use-cases/#prescriptions
If the prescription is coded as a VC, it needs to be revocable by the
issuer (the doctor when they write another prescription) AND by the
pharmacist when they dispense the prescription. I guess the time has come
to deal with this.

On Tue, Dec 8, 2020 at

[2020-12-08 23:01] peacekeeper commented on #478
I believe that most implementers are now favoring a design that doesn't consider multiple instances of the same technology/network to be different DID methods, but actually use a single DID method with multiple colons in the method-specific-id (as described in https://github.com/w3c/did-core/pull/387).

So I think we should close this. But @talltree should also comment.

[2020-12-08 23:21] OR13 opened #479 "Provide better service.type examples"
we talk about service types, but we don't have a good list of examples, and we have not registered any service types in the did spec registries.

Some hypothetical service types we might want to add:

- DIDComm
- LinkedDomains
- GS1Resolver
- EncryptedDataVault
- ConfidentialStore

[2020-12-08 23:21] OR13 commented on #479
per your request @jandrieu

ping @philarcher @csuwildcat

[2020-12-08 23:29] ChristopherA commented on #479
I see that list and can’t help but wonder how many of them would be better served by a VC offering signed by that DID “this is my EncryptedDataVault”.

I can see having one service that the controller uses to negotiate with a holder that wants more info, but I don’t like all those endpoints being public in the DID document.

[2020-12-08 23:58] OR13 commented on #479
yes, this has been discussed extensively... many of them belong in VCs and not in the did doc imo.

[2020-12-09 00:12] selfissued commented on #332
The consequences of changing the name of the master branch are much bigger than just active PRs.  To do this without disrupting people's ability to work, we also need to publish simple, clear instructions on what to do to existing forks (such as https://github.com/selfissued/did-core) and to existing clones (such as the one I have at C:\Users\mbj\Documents\GitHub\w3c\did-core on my primary work la

[2020-12-09 00:17] agropper commented on #479
There needs to be some authorization demarcation point in the DID document.
VCs alone don't do that because of privacy and herd immunity
considerations.

On Tue, Dec 8, 2020 at 6:58 PM Orie Steele <notifications@github.com> wrote:

[2020-12-09 10:04] iherman commented on #332
https://github.com/github/renaming#later-this-year suggests that some of the extra chores will be automatized by GitHub. We may want to wait for that to make the change; that may also take care of the problems referred to by @selfissued

[2020-12-09 14:36] msporny commented on #332
-1 on waiting -- we've been waiting since this issue was opened six months ago. The changes are easy for the Editors and easy for people w/ existing clones. This is not difficult, let's just do it.

The only changes needed right now have been signalled to the current open PRs. People with active forks need only either 1) git pull and git checkout main, OR 2) change their upstream -- both of those

[2020-12-09 17:47] brentzundel commented on #332
@iherman +1 from me.
Special thanks to @msporny for getting this done.

[2020-12-09 18:31] selfissued commented on #332
@msporny - I'm sorry but you're assuming expertise in git that many people simply don't have.  You're using terms like "change their upstream" without saying how to do it or what the implications of doing so are.  I suspect most contributors have never done this, and so their chances of getting it right are small.  For instance, is that something I'd do at https://github.com/selfissued/did-core or

[2020-12-09 18:54] manicprogrammer opened #481 "Section 6.3.3.1 DAG CBOR spec link"
Part 6.3.3.1 addresses DAG-CBOR but there is no link to the specification. What is the link to the DAG-CBOR specification?
A quick google search returns this for me but I can't know if that is the definitive source or even the proper source for this document.
https://github.com/ipld/specs/blob/master/block-layer/codecs/dag-cbor.md

[2020-12-09 21:07] msporny commented on #332
Instructions for people working with the did-core repository follows, once the default branch is set to `main` (which will happen once this issue is closed):

If you don't have any active pull requests for did-core and clone the did-core repository (this repository) directly:

1. Delete your current repository.
2. Do a fresh git clone of the did-core repository. Instructions are here: https://docs

[2020-12-09 21:10] jonnycrunch commented on #481
DagCBOR extends "vanilla CBOR" with tag 42 in IANA.  See: https://www.iana.org/assignments/cbor-tags/cbor-tags.xhtml.

[2020-12-10 10:19] tahpot commented on #382
I think that's the heart of what I'm trying to say.

While it's technically possible to use DIDComm (or another type), we can't assume everyone is going to use DIDComm to communicate a "hidden serviceEndpoint".

As it seems very useful to support the concept of a hidden serviceEndpoint (or similar), I would prefer to see such capability explicitly defined in the spec.

[2020-12-10 13:36] agropper commented on #382
It’s a ‘chicken and egg’ type of problem for interoperability.
- Does the transport come first (to an inbox, for an authorization request)?
or
- Does the publication come first (to reveal a resource somewhere that you
may or may not be authorized to access)?

The chicken arrow goes in one direction and the egg arrow goes in the
other direction relative to the DID controller subject. That’s the “hu

[2020-12-10 13:38] oed opened #483 "Issue with using `version-id` and key revocation"
I've discovered a quite severe issue that can occur when you use the `version-id` (or the `version-time`) query parameters for DID documents.

## Problem
In the example below we use JWS and assume that kid in the header is set to `did?version-id<id>#fragment`. The same issue is however present if you use other signature systems, and if you use `version-time`.

Consider the following scenario:
[cod

[2020-12-10 14:11] peacekeeper commented on #483
@oed interesting, thanks for bringing this up and for the very good explanation and diagram!

If I understand correctly, the Issuer of `c2` is malicious, because they signed with a key that wasn't in their DID document anymore at the time `c2` was issued. Couldn't this be detected by a Verifier by dereferencing `did?version-id=t4#key1` instead of `did?version-id=t1#key1`, since the Verifier must k

[2020-12-10 14:33] oed commented on #483
Thanks for your reply @peacekeeper.

Yep, that's exactly right.

Well in the example the JWS contains the `kid` -> `did?version-id=t1#key1`. There isn't necessarily a way to know what the next `version-id` is, thus there is a need to have additional information in the **DID document metadata**.

As I understand it `created` tells you when the DID document was first created and `updated` tells you

[2020-12-10 14:59] OR13 commented on #483
+1 for better did document metadata for versions

[2020-12-10 15:27] manicprogrammer commented on #481
Thank you. Closing as answered.

[2020-12-10 15:27] #481 closed

[2020-12-10 15:47] peacekeeper commented on #483
The `updated` DID document metadata property tells you when the **resolved DID document** was last updated, not when the DID itself hat its most recent update, at least this has always been my understanding. So I think this is what you want. We could probably do a better job explaining this in the spec and adding some examples...

[2020-12-10 16:41] oed commented on #483
Great if that's the case @peacekeeper! I was just readong [8.1.3.2 updated ](https://w3c.github.io/did-core/#updated) which says:
[code]

So new suggestion is to add these properties to the DID Document Metadata:

- `version-id` - the version id of the document that was resolved
- `next-version-id` - the version-id of the next update of the document
- `next-update` - the time of the next update to

[2020-12-10 22:39] OR13 commented on #439
Feels like this issue should be closed, because the consumption production rules for JSON and JSON-LD are so close, that I would be surprised in `did+json` was marked at risk when `did+ld+json` is not.... given they can actually be identical.

[2020-12-11 10:20] iherman commented on #332
@msporny @brentzundel

I have flipped the default branch to 'main'.

- Interestingly, the PR 'targets' have been changed automatically to target the 'main' branch (unless one of you guys have done that; if so, exactly how?)
- I have made a manual copy of the branch protection rules, ie, the same restrictions/authorizations should be valid for 'main' as it used to be for 'master'
- I have changed t

[2020-12-11 10:46] awoie commented on #483
+1 (as well) for better did document metadata for versions

[2020-12-11 13:08] oed commented on #483
It might also make sense to include the following two properties:
- `hl` - hash link of the resolved document
- `next-hl` - the hash link of the next update of the document

Just like `version-id`, `hl` is a url param used to resolve a specific version of a document.

[2020-12-11 14:11] brentzundel commented on #374
No objections raised to closing since marked `pending close`, closing.

[2020-12-11 14:11] #374 closed

[2020-12-11 14:25] msporny commented on #332
There isn't, but then it would require people to delete their local master branch or remember to not use it... upstreams might still point to master, so people would get confused. I tried to give instructions that wouldn't lead to corner cases. :) -- for people that know how to use Git to work with branches and upstreams, none of this should be an issue... they'll know what to do.

[2020-12-11 14:27] iherman commented on #332
@msporny or @brentzundel I believe a mail to the WG about this would be in order. I guess this issue can be closed

[2020-12-11 14:29] msporny commented on #332
@iherman I've checked as much as I can... everything seems to be working. I have a backup of the master branch on my machine, so if something goes terribly wrong (at this point, I really, really doubt something bad will happen), we can always roll it back.

Please delete the `master` branch (it still has branch protection rules on it, so I can't do it). At that point, we'll really know if all the

[2020-12-11 14:32] iherman commented on #332
Master branch deleted. R.I.P. :-)

[2020-12-11 16:00] jricher commented on #468
I can see the argument for a deactivated state not being an "error", but a property of the document itself -- but only in the case that the document itself is returned as well. If you're not returning the document, and the reason you're not returning the document is that it's been "deactivated", then that is an error and the nature of the current error code response. But if you're going to return

[2020-12-11 17:52] OR13 commented on #468
AFAIK, everyone is always returning a DID Document even when its deactivated... would be good to know of anyone who is NOT returning a did document if the did is deactivated.

[2020-12-11 20:59] brentzundel commented on #332
Thank you @msporny and @iherman for getting this done. The fallback so far, even on the active PRs I've got in process, has been minimal. I'm also more than happy to help folks for whom this causes issues.

I also agree this is ready to close.

[2020-12-11 20:59] #332 closed

[2020-12-12 00:01] ChristopherA commented on #58
@jandrieu and I are currently assigned this issue, but are no longer CCG co-chairs.

You probably should make it clear/explicitly invite all three CCG co-chairs to this special meeting. Not all are members of DID-core.

[2020-12-12 18:18] OR13 commented on #462
@jricher @msporny @peacekeeper how can I take action on this issue?

feels like this is a duplicate of the concept of a "well defined" representation... if the representations production consumption rules don't solve this, how is it valid? if they do, why is this issue needed?

[2020-12-12 18:31] OR13 commented on #291
I think the first checkbox is done now?

[2020-12-12 18:33] OR13 commented on #398
This is done IMO, I'm closing since we have CDDL in the registries and better language regarding production / consumption in did core.

[2020-12-12 18:33] #398 closed

[2020-12-12 18:39] msporny commented on #462
It is, and I'm actively working on this issue right now -- and #361 -- the last thing that needs to be done is CBOR consumption rules (getting ready to write that PR in the next 30 minutes).

@OR13 I reassigned this to me, will notify in this thread when I have a PR finished for it.

In short, I expect issue #462 and issue #361 to be closed when PR #476 is merged.

[2020-12-12 18:48] OR13 commented on #439
I am closing this, as there is no action here

[2020-12-12 18:48] #439 closed

[2020-12-12 18:49] OR13 commented on #416
I don't know what too do with this issue, since we have examples for both normal and fragment identifiers i suggest we close this.

[2020-12-12 18:50] OR13 commented on #478
Agree this should be closed.

[2020-12-12 18:50] OR13 commented on #478
There is not action on this issue, its assigned to me, I am marking it pending close, since its a question asked and answered.

[2020-12-12 19:09] OR13 commented on #479
Of the list only `LinkedDomains` has a compatible defintion IMO

[2020-12-14 11:07] shigeya opened #491 "DID method name should be ASCII alphanumeric in lowercase"
In the DID Syntax description, the ABNF definition describes that `method-char` may include digits.
But the text prior to the ABNF refers to INFRA's ASCII lowercase string.

Unfortunately, INFRA currently does not have the definition for ASCII lower alphanumeric yet.
So the (incoming) proposed fix refers to ASCII lower alpha and ASCII digit definitions.

[2020-12-14 11:15] shigeya commented on #491
I think INFRA should have an `ASCII lower alphanumeric` definition.

[2020-12-14 11:38] peacekeeper commented on #491
Thank you, I agree this seems to be a mistake! We have several DID method names that include digits (e.g. `did:v1`, `did:erc725`).

[2020-12-14 14:04] shigeya opened #494 "Discussion on "localized rules for handling properties" not described anywhere"
In Sec. 6. Representation,

There is no discussion on "localized rules," not only in sec. 4.1, but also anywhere in the doc.

[2020-12-14 14:22] shigeya opened #495 "`updated` property's initial value is not defined clearly"
In Sec. 8.1.3:

It seems necessary to define the case when there is no update to a DID Document since its initial creation. Two options:

- set `updated` = `created` on creation
- set `updated` to an undefined value.

[2020-12-14 14:35] shigeya opened #496 "Inconsistent definition/name of DID Document (or abstract data model?)"
There are several places describing what DID document is. There are inconsistencies among them, which need to be resolved. The relationship between DID Document and Abstract Data Model is unclear.

Followings are part of major inconsistencies:

- 1 Introduction
    - "on the metadata associated with a DID (called the DID document)."

- 1.1 A Simple Example
   -  "A DID document contains informatio

[2020-12-14 16:01] msporny commented on #361
Yes, the other thing that's missing is forcing that GMT is used in serializations via 'Z' trailer. I suggest we DO NOT serialize datetimes with millisecond precision by default (but do not block other parameters that want to use millisecond precision). This should be raised in another issue.

[2020-12-14 16:03] msporny opened #498 "Datetime data type missing timezone and precision"
The current `datetime` data type in the specification does not mention timezone or second vs. millisecond precision. This is important for representations to specify. We need a PR to address these shortcomings in the current data model.

[2020-12-14 16:03] msporny commented on #361
@dlongley's concern now being tracker in issue #498.

[2020-12-14 16:06] msporny opened #499 "Metadata properties don't define data model and serialization format"
The current metadata properties in the specification don't define data model and serialization formats for all metadata properties. This should be fairly straightforward to fix by defining this sort of stuff in the definitions for each metadata property.

[2020-12-14 16:08] msporny commented on #361
PRs #455 and #469 have been merged, we are more clear on how representations should serialize and deserialize all properties in the data model now. Closing.

[2020-12-14 16:08] #361 closed

[2020-12-14 16:21] msporny commented on #462
PR #476 has been merged, closing this issue.

[2020-12-14 16:21] #462 closed

[2020-12-14 16:22] msporny commented on #464
This issue will be closed once #485 is merged.

[2020-12-14 16:26] msporny commented on #325
PR #490 addresses this issue by removing the specifics around secp256r1 key formats and deferring the definition of those to the cryptosuites. This issue will be closed once PR #490 is merged.

[2020-12-14 16:32] msporny commented on #432
This issue will be closed once PR #488 is merged.

[2020-12-14 16:34] msporny commented on #456
This issue will be closed once PR #486 is merged.

[2020-12-14 23:03] shigeya opened #500 "Representation property or representation-specific property ?"
In Sec. 4 Data Model, the last statement of the second paragraph:

I think `representation properties` does not correctly express its property.

I propose adding `-specific` like `representation -specific properties`.

[2020-12-14 23:15] shigeya opened #502 "`Decentralized extension` is not discussed"
In Sec. 4.1 Extensibility,

There is no discussion on what "decentralized extensions" is anywhere in the doc.

[2020-12-15 00:57] shigeya opened #504 "Issues in "Note on Persistence" in DID Syntax section"
Regarding the 3.1 DID Syntax Section, there is a note on persistence.
I observe two issues.

- Terminology `UUID` is mentioned only once in the entire document. Do we need to have the UUID terminology entry just for this description?
- I think this note does not belong to the "DID Syntax" section

I propose eliminating UUID terminology entry and adding a reference to UUID since mentioning UUID its

[2020-12-15 01:05] shigeya opened #505 "The definition of "the top-level" of the abstract data model is unclear"
There are several places using the expression "the top level of DID Document" or alike.

The "top-level" of "abstract data model", without defining the structure seems unclear.

I think we assumed the abstract data model has a hierarchical structure.
I propose to mention it in the definition of DID documents.

[2020-12-15 02:06] csuwildcat opened #506 "Correct the serviceEndpoint property to allow for a string or array of strings"
The current text in the spec says that the `serviceEndpoint` property in Service Endpoint entries must be either a string or an object. Apparently this is not what it should have been (per @msporny), so it should be corrected to allow an array.

See this earlier Issue for history on this: https://github.com/w3c/did-core/issues/359

[2020-12-15 02:36] kdenhartog commented on #504
Related to this work is currently being revised as well by @talltree in https://github.com/w3c/did-core/pull/457

I think we can incorporate this feedback into that PR and close once #457 is merged.

[2020-12-15 03:06] shigeya commented on #504
@kdenhartog I see. I will check #457

[2020-12-15 15:14] peacekeeper commented on #500
Our understanding after the TPAC Virtual F2F meeting was that we would not call them properties at all, but rather "representation-specific syntax". This terminology should be discussed in https://github.com/w3c/did-core/issues/463.

[2020-12-15 16:46] selfissued commented on #404
Creating another parallel normative representation of the spec in RDF is an unnecessary large body of work and will almost certainly result in inconsistencies between the actual spec and the RDF.  Therefore, we should decide not to do any RDF work.

If the spec text is unclear in particular ways, we should absolutely make clarifications in the normative text.  Trying to do this work by creating a

[2020-12-15 16:48] OR13 commented on #404
@selfissued should we use any kind of security tooling, like CDDL, JSON Schema, SHACL or should we go out of our way not to define the shape of the ADM in anything other than INFRA and hand crafted normative statements?

I don't care about RDF... I do care about relying on english language interpretation for security.

[2020-12-15 16:54] selfissued commented on #404
As stated in https://w3c.github.io/did-core/#conformance , "As well as sections marked as non-normative, all authoring guidelines, diagrams, examples, and notes in this specification are non-normative. **Everything else in this specification is normative.**"  Therefore, there are many many normative statements in the spec that do not use RFC 2119 language.  Our tests should therefore test importan

[2020-12-15 16:55] OR13 commented on #404
@selfissued sure, my point is that writing tests for english language sucks, and writing tests for JSON Schema, CDDL, or SHACL is a much better solution! :)

[2020-12-15 16:58] iherman commented on #404
We define the DID document serialization in, among others, JSON-LD. JSON-LD stands for Linked Data, and JSON-LD is, in fact, a JSON based syntax for RDF. We are already there.

What we are discussing (beyond the issue of properly representing constraints, _which is to be done regardless of RDF_) is to do the work properly, ie, if we use RDF then the vocabulary should be described in a format that

[2020-12-15 17:08] selfissued commented on #384
As stated in https://w3c.github.io/did-core/#conformance , "As well as sections marked as non-normative, all authoring guidelines, diagrams, examples, and notes in this specification are non-normative. **Everything else in this specification is normative.**" Therefore, there are many many normative statements in the spec that do not use RFC 2119 language. Our tests should therefore test important

[2020-12-15 17:08] selfissued commented on #404
Oops - my last comment was meant to be in #384.  See https://github.com/w3c/did-core/issues/384#issuecomment-745431508 .

[2020-12-15 18:30] rhiaro commented on #384
In order that such normative statements are easily detectable, I propose we switch them to use RFC2119 language. If anyone spots statements they believe to be normative which do not use RFC2119 language, please note them in this issue. (This will also help with notifying people who are writing tests, otherwise we can't guarantee we're going to get them all.)

[2020-12-15 19:53] kdenhartog commented on #502
From my understanding the purpose of this statement is to allude to the idea that representations that support the ability to extend through the representation, (e.g. JSON-LD with additional contexts) then the representation can utilize these mechanisms without registering all of the extension properties as long as they can be losslessly converted to other forms.

I'm thinking this may be better w

[2020-12-15 20:07] kdenhartog commented on #500
@shigeya are you alright if I move your comment onto #463 and close this in an effort to consolidate common issues?

[2020-12-15 22:49] shigeya commented on #500
@kdenhartog I'm fine to move to #463 and close. thanks:)

[2020-12-15 23:07] kdenhartog commented on #463
@shigeya added this point over in #500

I'm moving here so #500 can be closed and the discussion is consolidated

[2020-12-15 23:08] kdenhartog commented on #500
Thanks, I copied the point raised here into that (I couldn't find a way to transfer the comment directly) and am closing this with a reference back in the comment as well. Thanks for the review!

[2020-12-15 23:08] #500 closed

[2020-12-16 01:24] shigeya commented on #453
It might be useful to express relationships among the abstract data model, DID Document, serialization, and representations. Possible relationship with #496.

[2020-12-16 05:46] iherman commented on #404
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-12-15-did#section2) on 2020-12-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 2. DID Core vocab

_See github issue [#404](https://github.com/w3c/did-core/issues/404)._

**Brent Zundel:** this was raised by ivan, folks have commented.
… we have 10 minutes or so t

[2020-12-16 08:12] peacekeeper commented on #453
I've used several diagrams while we were discussing the abstract data model and representations (e.g. see [this session](https://docs.google.com/presentation/d/1RoE8E4y8S1j65EJaXZ8oihkduNbjTXXvdwtkzw961Xw/edit#slide=id.p25) from the TPAC Virtual F2F). I'm working on updating them and doing a PR to add them soon.

[2020-12-16 14:12] shigeya commented on #498
The current specification states that all three representations (JSON, JSON-LD, and CBOR) treat `datetime` data type as a string.

I propose the following logic: If the parser keeps a deserialized `datetime` typed string as-is internally and uses the string for serialization, there will be no loss, no issues from a digital signing point of view. If some internal logic next to the abstract data mod

[2020-12-16 19:32] brentzundel commented on #291
PING has been contacted for review.
Leaving this issue open to track horizontal review efforts.

[2020-12-16 19:35] brentzundel commented on #119
[The TAG issue](https://github.com/w3ctag/design-reviews/issues/556#issuecomment-746868177) we opened to request review from them has been updated with a link to the Security and Privacy Questionnaire

[2020-12-16 19:39] brentzundel commented on #58
@wyc and @kimdhamilton are assigned to this issue and have been since June, when @jandrieu and @ChristopherA were unassigned.

This issue will be the topic of discussion during a special DID WG call Thursday, December 17, 2020.

[2020-12-16 20:58] wyc commented on #58
Hi @brentzundel, I plan to attend tomorrow. Basically we need to group to decide what is acceptable for the administration of registries, and we are happy to support any work items if it is agreed that CCG is the right place.

[2020-12-17 15:00] msporny commented on #502
@kdenhartog is correct, but it was really a WG consensus decision to allow representations to provide additional extensibility mechanisms. Some some minor wordsmithing to his suggestion:

The only change is from a "MUST" to a "SHOULD" -- remember that when developers add properties in JSON that they do not have to register them and they can make those properties do things that might not losslessly

[2020-12-17 15:31] msporny commented on #498
CBOR-LD does not do this, and instead stores the value as seconds since the Unix epoch (if it can), or a string otherwise.

I'm having a hard time understanding how to translate your proposal into spec text -- @shigeya, could you please provide concrete specification text we could use?

[2020-12-17 15:50] shigeya commented on #498
Okay, now I understand the actual pain point.

I think the spec may have a reasonable constraint to the `datetime` data type string to avoid the issue.  Staying with a similar spec as CBOR-LD seems reasonable, at this moment.

I see. I will write an actual spec text after I understand the issue with timezone in a similar way.

[2020-12-18 06:06] iherman commented on #58
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-12-17-did-topic#section1) on 2020-12-17

List of resolutions:

- ***[Resolution No. 1](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-12-17-did-topic#resolution1):  The DID Working Group will maintain the DID Spec Registries until the end of its charter. The DID Working Group plans to request the mana

[2020-12-18 06:06] iherman commented on #425
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-12-17-did-topic#section2) on 2020-12-17

List of resolutions:

- ***[Resolution No. 2](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-12-17-did-topic#resolution2):  The DID Spec Registries maintenance process will be documented in the DID Spec Registries document..***
- ***[Resolution No. 3](https://w

[2020-12-18 14:19] brentzundel commented on #367
No objections raised since marked pending close, closing.

[2020-12-18 14:19] #367 closed

[2020-12-20 18:10] msporny commented on #464
PR #485 has been merged, closing.

[2020-12-20 18:10] #464 closed

[2020-12-20 18:11] msporny commented on #325
PR #490 has been merged, closing.

[2020-12-20 18:11] #325 closed

[2020-12-20 18:11] msporny commented on #240
PR #490 addresses this and has been merged. Closing.

[2020-12-20 18:12] #240 closed

[2020-12-20 18:21] msporny commented on #170
The following specification text achieved consensus as in the specification now:

As far as two of the Editors of DID Core and DID Specification Registries are concerned, the existing specification text addresses this issue. I am putting the `pending close` label back on this issue.

@selfissued, if you would like this issue to remain open you will have to propose some concrete specification text

[2020-12-20 18:27] msporny commented on #423
Issue #240 was closed via PR #490, which removed redundant language regarding key representations from DID Core and has been merged. Closing.

[2020-12-20 18:27] #423 closed

[2020-12-20 18:29] msporny commented on #456
PR #486 has been merged, closing.

[2020-12-20 18:29] #456 closed

[2020-12-20 18:30] msporny commented on #416
No objections to closing issue from @veikkoeeva or WG members. Closing.

[2020-12-20 18:33] #416 closed

[2020-12-20 18:35] msporny commented on #491
This was fixed in PR #492, which has been merged, closing.

[2020-12-20 18:35] #491 closed

[2020-12-20 18:35] msporny commented on #494
This is addressed by PR #507 and will be closed when that PR is merged.

[2020-12-20 19:27] msporny commented on #498
This issue will be closed once PR #509 is merged.

[2020-12-20 19:28] msporny commented on #478
It has been 8 days since this issue was marked pending close... there have been no objections, closing.

[2020-12-20 19:28] #478 closed

[2020-12-20 19:34] msporny commented on #496
Agreed, working on an editorial commit to address this issue.

[2020-12-20 20:09] #496 closed

[2020-12-20 20:14] msporny commented on #496
Commit 24b049f45284d852e2da6796c96de87abcf94ef9 attempts to address the terminology misalignment by doing the following:

* It changes all instances of "DID Document Data Model", "DID Document model", "abstract data model", "Abstract DID Document Model" to "data model" (and links to the data model section).
* It refers to the DID Document containing "information related to the DID Subject" through

[2020-12-20 20:44] msporny commented on #505
Committed 6434f17 to unify the language around "top level", "highest level", and "top-most" to just use "topmost" everywhere.

[2020-12-20 20:44] msporny commented on #505
I believe this is addressed now, closing. Please re-open if you disagree @shigeya.

[2020-12-20 20:44] #505 closed

[2020-12-20 21:32] msporny commented on #506
@csuwildcat I've created PR #510 to address this issue. Please review.

This issue will be closed once that PR is merged.

[2020-12-20 23:04] msporny commented on #382
I have authored PR #511 to address the resolutions the WG made here: https://github.com/w3c/did-core/issues/382#issuecomment-703119593

This issue can be closed once PR #511 is merged.

[2020-12-21 00:00] agropper commented on #382
Made suggested changes to https://github.com/w3c/did-core/pull/511#pullrequestreview-556071256 that I believe are consistent with the four resolutions.

[2020-12-21 00:29] peacekeeper commented on #499
Section ["Metadata Structure"](https://w3c.github.io/did-core/#metadata-structure) says:

I think you're correct that some metadata properties such as `created` define the data type of their value, whereas this is currently missing for others such as `accept`.

[2020-12-21 00:41] peacekeeper commented on #502
I agree with the above, the idea has always been that representations can "extend" the data model in a representation-specific way, without necessarily requiring the use of the registry. If the registry is not used, then lossless conversion is not guaranteed, but you are free to use any representation-specific feature you like. This approach was taken in part to allow the open world model of JSON-

[2020-12-21 00:45] kdenhartog commented on #502
+1 I'm good with that @peacekeeper. It addresses the original concern more precisely than my original proposed text and aligns with the normative examples that are current. Seeing as we made the normative change already, this seems largely editorial at this point as well.

[2020-12-21 02:42] kdenhartog commented on #384
Should we also update the conformance portion of the specification to state only usage of RFC2119 language should be considered a normative statement as well?

[2020-12-21 11:15] shigeya commented on #502
I'm good with the change by @peacekeeper. thanks.

[2020-12-21 12:52] shigeya commented on #496
Besides the comment in the commit 24b049f, it looks good to me.

[2020-12-21 12:56] shigeya commented on #505
looks good to me.

[2020-12-22 00:53] shigeya commented on #504
@kdenhartog Read thorough #457.  Looks like it already became beyond just a note and it needs relocation. I will comment in #457.

[2020-12-22 04:14] TallTed commented on #72
It would be better if there were reference to at least one example law/regulation other than GDPR, in addition to GDPR. I don't think there's a strong parallel in the USA. Does anyone know of such a thing, in any other nation/region/alliance?

[2020-12-22 06:16] talltree commented on #72
@TallTed Yes, there are several strong parallels to GDPR around the world. Two that I frequently cite are the the Canadian Personal Information Protection and Electronic Documents Act (PIPEDA), and the California Consumer Privacy Act (CCPA). California also just passed the California Privacy Rights Act (CPRA).

I agree that citing several examples of these privacy regulations would be best.

[2020-12-22 08:59] dhh1128 commented on #382
I turned Adrian's latest suggestions into PR #515, which is an alternative embodiment of the resolutions made [here](https://github.com/w3c/did-core/issues/382#issuecomment-703119593). If accepted, this would supersede PR #511.

[2020-12-22 19:48] TallTed commented on #373
@talltree - Just checking on status of this (draft) PR...

[2020-12-22 20:37] peacekeeper commented on #495
Thanks for bringing this up @shigeya ! In my opinion, the existing language in the specification is sufficient. If there has been no update to a DID document since its initial creation, then by definition there has never been an Update operation, and therefore there is no `updated` property (i.e. it is missing). I guess we could add a sentence to clarify this if you like?

Setting `updated` = `cre

[2020-12-22 22:13] shigeya commented on #495
Thanks for your comment.

If I read the spec text carefully, I can read as you said. Also, I agree that the second option is way wrong.

But in the reality, there is some database framework implementation that does this style of update timestamp management.  Ruby on Rails is one of them. [Section 2.2 Schema Conventions in Active Record Basics of Rails Guide](https://guides.rubyonrails.org/active_r

[2020-12-22 22:18] peacekeeper commented on #495
+1, I agree. Perhaps you could raise a PR to add such clarification? Or would you like me to propose something?

[2020-12-22 22:22] shigeya commented on #495
Thanks. I will create a PR later today.

[2020-12-22 23:41] jricher commented on #384
Please see new IETF normative doc: https://tools.ietf.org/html/rfc8174

[2020-12-22 23:50] jricher commented on #58
As of 2020-12-22, deadline for objecting to resolutions has been extended to 2021-01-05 (tuesday).

[2020-12-23 00:32] msporny commented on #384
Yes, and the DID Core specification has followed RFC8174 guidance (and uses the suggested text) for a while now, see second paragraph in the section on Conformance here:

https://w3c.github.io/did-core/#conformance

Unless I'm missing something, @rhiaro @kdenhartog @jricher -- I think we're good?

[2020-12-23 03:55] kdenhartog commented on #384
That's good enough for me

[2020-12-23 14:38] shigeya commented on #495
I've been thinking of the relationship between the spec text of this topic and the sameness of two timestamps without having sub-second precision, related to #498 (PR #509). I will find good wording soon.

[2020-12-23 15:56] TallTed commented on #386
@dhh1128 -- you said in https://github.com/w3c/did-core/issues/386#issuecomment-685756249 (Yes, that was a while ago.)

I think you meant "letting a *borrower* off the hook".  Rather different meaning.

I think it's worth correcting that comment, because whether a PR goes in for this Issue now/soon or this Issue gets tabled until the next spec that branches from DID-Core (or until one or more sepa

[2020-12-23 15:58] dhh1128 commented on #386
@TallTed : Thank you for the catch. You're correct that my fingers moved faster than my brain when I typed that comment. :-) I've now fixed it.

[2020-12-27 18:14] msporny commented on #463
The term "syntax" is misleading because it's being used in a vague manner... here are valid examples of syntax in JSON:

[code]

These lexical tokens are also valid syntax (and we call them properties in the specification) -- "foo", "bar", "`@context`", etc...

It's only once you get into the semantics of the tokens where you can start differentiating... language syntax is typically composed of at

[2020-12-27 18:18] msporny commented on #463
Thinking about this a bit more... even this is a bit misleading -- `@context` can be used in JSON-only to trigger a JSON Schema check... so it's not only useful in JSON-LD, but is also useful in JSON (and CBOR-LD)... so it's not even representation-specific (which is why it was just a `property` before). That said, I don't think the distinction matters as much as just naming it using a single subc

[2020-12-27 18:19] #494 closed

[2020-12-27 18:24] #498 closed

[2020-12-27 18:39] msporny commented on #208
This issue continues to be moved forward and discussed here:

https://mailarchive.ietf.org/arch/msg/media-types/CdoZdUVL_RMTYICkiJ7dcis2D8k/
https://mailarchive.ietf.org/arch/msg/media-types/W3T6OlQzMrjTUr1Q_qLrSN0iUjc/
https://mailarchive.ietf.org/arch/msg/media-types/Twhf5ni_UQdyol1FdUxVpst6Hsk/

[2020-12-27 18:43] msporny commented on #208
@iherman wrote:

Agreed... I think it might be useful to get two things sorted:

1) Consensus on the WG on the only sane path that we can commit to.
2) Opinion from W3C Director on what we can do if the timing doesn't line up.

That is to say, the only sane path forward is to register "application/did+ld+json" for the JSON-LD representation. The only thing that seems like it would be a challenge a

[2020-12-27 18:49] msporny commented on #417
PR #487 has been raised by the original issue submitter (@OR13) and merged, which addresses this issue, closing.

[2020-12-27 18:49] #417 closed

[2020-12-27 18:50] msporny commented on #432
PR #488 has been merged. Closing.

[2020-12-27 18:50] #432 closed

[2020-12-27 18:52] msporny commented on #479
The `LinkedDomains` example has been merged. Can we close this @OR13, or were you expecting more changes to be made to the specification based on this issue?

[2020-12-27 18:53] msporny commented on #479
Marked this issue as pending close. The issue will be closed in 7 days if there are no objections.

[2020-12-27 18:55] msporny commented on #483
PR #508 has been merged. Closing.

[2020-12-27 18:56] #483 closed

[2020-12-27 18:57] msporny commented on #502
PR #514 addresses this issue, which will be closed once that PR is merged.

[2020-12-27 18:59] msporny commented on #506
PR #510 has been merged. Closing.

[2020-12-27 18:59] #506 closed

[2020-12-27 21:15] msporny commented on #499
PR #516 addresses this issue. This issue will be closed when PR #516 is merged.

[2020-12-28 08:16] iherman commented on #208
While I fully agree that `application/did+ld+json` is the sane way to go, I admire your optimism :-)

Once we have a consensus on the approach I will have to ask our IETF experts within the team; I am certainly not one of them!

[2020-12-28 18:19] rhiaro commented on #208
I've updated [the draft](https://rhiaro.github.io/draft-w3cdidwg-media-types-with-multiple-suffixes/) again based on feedback on the ietf mailing list.

If we can't get `application/did+ld+json`, I think just using `application/ld+json` is more sensible and less confusing/disruptive than `application/did+jsonld`. JSON-LD consumers that are looking for DID docs in particular can soon figure out it'

[2020-12-28 20:21] msporny commented on #208
Agree.

Also agree, and that you know it's JSON-LD, `@context` and `type` can get you the rest of the way to knowing exactly what type of data you're dealing with. There was a certain sub-group of standards folks that were up in arms about this notion years ago in the JSON-LD 1.0 days... I can't remember what their argument was at the time.

[2020-12-29 04:10] TallTed commented on #208
@rhiaro --

Your multiple-suffix draft RFC looks _great._ I have one suggestion, which may be contradict feedback you've already received, in which case my suggestion should probably be ignored.

That suggestion is to reverse the order of the subtypes and media types listed in [2.1](https://rhiaro.github.io/draft-w3cdidwg-media-types-with-multiple-suffixes/#processing), such that the most-refined

[2020-12-29 08:29] iherman commented on #208
Fully agree.

Just an additional data point that we should not forget about: the JSON-LD WG discussed this issue back in the days, but that WG did not have the time, nor really the possibility to introduce a radical change. However, the [JSON-LD 1.1. IANA Considerations section](https://www.w3.org/TR/json-ld11/#iana-considerations) already includes a series of predefined `profile` parameters for J

[2020-12-29 12:56] iherman opened #518 "Minor editorial issue: discrepancy between alsoKnownAs and others"
At present, `alsoKnownAs` is defined as

In all other, similar occurrences of URI-s, like e.g. for controllers, the definition is of the sort:

(Emphasis is mine). Any reason why using lists for one and ordered sets for the others? This is actually the only place where lists are used for the core property definition.

B.t.w., the only other place in the document where lists are used is for `equiva

[2020-12-29 12:57] rhiaro commented on #208
by "first" do you mean left-most? If so I think what you're asking is already the case. If you mean "first" from right to left, then I think it's too late to change that given `ld+json` is already registered.

I like the "most/least-preferred" language though. I'll see if I can work that in.

[2020-12-29 16:16] csuwildcat commented on #518
Honestly wasn't aware of the discrepancy until now - is there any practical effect? If not, I don't care personally.

[2020-12-29 18:17] TallTed commented on #208
@rhiaro - By "reverse the order", I mean, change this presentation --
[code]
-- to this --
[code]
-- and change this presentation --
[code]
-- to this --
[code]

In other words, not to change any of the specific texts (not changing anything about left-most vs right-most); just to change the vertical presentation order of the three items in each of these lists.  Top is most refined media type and m

[2020-12-29 19:17] rhiaro commented on #208
ohhh sure, that works for me!

[2020-12-29 19:29] TallTed commented on #518
Defining something as an "ordered set" (or an ordered list) implies that there is some importance, some meaning, to that order.

If (as I believe) there is no importance to the ordering of some, any, or all of these, then I suggest that those definitions be changed to say "unordered" (or to have no mention of order).

I have no immediate opinion about "set" vs "list" or "collection" or other group

[2020-12-30 08:29] iherman commented on #518
@TallTed,

while I agree with your general comments, we have to rely here on the Infra](https://infra.spec.whatwg.org) standard, because that is what we refer to.

As far as I could see, the available data structures in [Infra](https://infra.spec.whatwg.org) are lists, stacks, queues, ordered sets, maps, and structs.  Strangely enough, there are no explicit _unordered_ sets, and the document says,

[2020-12-30 22:01] csuwildcat commented on #518
@iherman afaik, there's no case in which an equivalence value would ever be repeated under the same property, so I think your assumption holds and we could go with ordered sets.

[2020-12-31 05:24] TallTed commented on #337
To my mind...

The underlying assumption is that query arguments impact the data which is returned when dereferencing any URL, including DIDs and DID URLs.  Therefore, if a DID method, and hence any DID or DID URL based on that method, uses query arguments -- be those arguments `&version` or `&q1` or `&version-id` or anything else -- then those query arguments are essential elements of the DIDs an

[2020-12-31 05:59] TallTed commented on #208
I *think* all of the above means that, regardless of IANA/IETF, we need to change the current "at risk" declarations ([1](https://github.com/w3c/did-core/blob/9605a1e018dbb6b124c0b869243fe29cadd263e9/index.html#L2677), [2](https://github.com/w3c/did-core/blob/9605a1e018dbb6b124c0b869243fe29cadd263e9/index.html#L5324)), which speak of the undesirable for several reasons `application/did+jsonld` as

[2021-01-02 03:26] bshambaugh opened #520 "missing comma in example 37"
I am a part of the CG, not the working group, but I am trying to put this here to avoid cluttering the list.
Example 37 , in https://www.w3.org/TR/did-core/ may be missing a comma after "EC"

 { "id": "did:example:123#_TKzHv2jFIyvdTGF1Dsgwngfdg3SH6TpDv0Ta1aOEkw", "type": "JsonWebKey2020", "controller": "did:example:123", "publicKeyJwk": { "kty": "EC" "crv": "P-256", "x": "38M1FDts7Oea7urmseiugGW7t

[2021-01-02 10:17] iherman commented on #518
Minor change on my [proposal](https://github.com/w3c/did-core/issues/518#issuecomment-752373455): there is already a note in §5 stating that orders are irrelevant. No need to add anything.

[2021-01-02 10:36] iherman commented on #518
Added PR #522 to speed up processing in case we agree with the conclusions here.

[2021-01-02 12:04] rhiaro commented on #518
+1 for consistent use of INFRA ordered sets instead of INFRA [implicitly ordered] lists

[2021-01-02 12:52] rhiaro commented on #453
I'm failing to understand what is missing here. Figure 1 has arrows with labels, and corresponding alt text for each node and edge in the diagram, including "DIDs -- recorded on --> VDR". Is it a direct relationship between DID Document and the VDR that you would prefer to see in the diagram? (As opposed to the indirection relationship where DID Doc and VDR are linked via the DID?)

[2021-01-03 15:50] TallTed commented on #425
This and https://github.com/w3c/did-spec-registries/issues/156 should be retitled with correct spelling for `terminolgical` (should be `terminological`).

(Noted in both issues.)

[2021-01-03 16:11] TallTed opened #523 "should indicate what the CBOR integers are counting since Unix epoch"
https://github.com/w3c/did-core/blob/9605a1e018dbb6b124c0b869243fe29cadd263e9/index.html#L2340-L2341

e.g.

[code]

It seems likely to be appropriate to include a link to the specific section of the [CBOR RFC](https://tools.ietf.org/html/rfc8949#section-3.4.2) or the (poorly, i.e., much too subtly labeled as DRAFT, and desperately crying out for the recently implemented EDITOR'S DRAFT watermark) [

[2021-01-03 16:36] #502 closed

[2021-01-03 17:02] msporny commented on #499
PR #516 has been merged, closing.

[2021-01-03 17:02] #499 closed

[2021-01-03 17:05] msporny commented on #479
No objections to closing this issue. Closing.

[2021-01-03 17:05] #479 closed

[2021-01-03 17:33] msporny commented on #208
Raised https://github.com/w3c/did-core/pull/524 to modify the at risk text and @iherman's updated alternative.

[2021-01-03 18:15] msporny commented on #363
PR #525 has been raised to address this issue. This issue will be closed once PR #525 is merged. @Fak3, please let us know if this addresses the concerns you raised above.

[2021-01-03 18:33] msporny commented on #520
Thank you @bshambaugh -- editorial and merged PR #521 to fix this issue. Closing issue.

[2021-01-03 18:33] #520 closed

[2021-01-03 18:42] msporny commented on #523
Applied your suggestion in 10744a0c4e098d7241cf20d26ceea15d22716ee4.

As the Editor of the CBOR-LD spec, I hesitate to link to it w/o a more permanent home for the spec. The JSON-LD CG seems to be dragging it's heels on adopting it as a work item -- there were some unresolved objections for taking on the work... perhaps it should live in the CCG (although, that would be strange). In any case, don'

[2021-01-03 18:48] msporny commented on #382
This issue will be closed once PR #515 is merged.

[2021-01-03 20:23] msporny commented on #384
PR #526 has been raised to deal with this issue. When that PR is merged, this issue will be closed.

[2021-01-04 01:30] TallTed commented on #523
@msporny - Presuming that CBOR-LD simply inherits this typedef from CBOR (which seems likely as there's no mention of epoch in the draft CBOR-LD spec), I'd change the example either to --

* be about CBOR instead of CBOR-LD
* explicitly state that the CBOR-LD typedef is inherited from CBOR

-- and link to the CBOR RFC.  The first option is cleaner, but will not encourage LD, probably among other d

[2021-01-04 02:27] TallTed commented on #505
@msporny

Direct commits should be avoided as much as possible.

They don't offer a way to ignore white-space changes during review, nor to make suggestions before merge... and making a PR to adjust a tiny piece of a direct commit is a much heavier lift since it's a PR against the whole document(s) involved in that direct commit.

Also, comments made on that commit don't have the same impact as co

[2021-01-04 02:32] TallTed opened #527 "one more `the Data Model` needs to be linked"
(creating issue to track this to completion)

@msporny

Direct commits should be avoided as much as possible.

They don't offer a way to ignore white-space changes during review, nor to make suggestions before merge... and making a PR to adjust a tiny piece of a direct commit is a much heavier lift since it's a PR against the whole document(s) involved in that direct commit.

Also, comments made o

[2021-01-04 06:46] Fak3 commented on #363
Thank you. PR looks good to me

[2021-01-04 18:49] OR13 commented on #337
@TallTed thanks for commenting on this!

I think I agree with your proposal.

consider the verificationMethod in a proof, with value:

`did:example:123?version=53#key-0`

This must be de-referencable to:

[code]

note that `id` and `controller` DO NOT have `path` and `query`, but `verificationMethod.id` does.

[2021-01-04 23:07] TallTed commented on #337
@OR13 -

(I think you meant [emphasis mine], _"note that `id` and **`verificationMethod.controller`** DO NOT have `path` and `query`, but `verificationMethod.id` does."_)

-----

First, it's important to remember that `did:example:123?version=53#key-0` means _"the fragment identified by `key-0` in the DID Document that results from dereferencing the `did:example:123?version=53` DID URL"_.

Also, t

[2021-01-04 23:16] TallTed commented on #337
Missed one thing...

I said that "`verificationMethod.id` MUST contain DID URL `path` and `query` if they are present in the original DID URL" ... and "relativeRefs SHOULD NOT contain `path` nor `query`"

It appears that I should have also said that "`verificationMethod.id` SHOULD NOT be a relativeRef if `path` and/or `query` are present in the original DID URL", which I thought was implied by the

[2021-01-05 01:50] msporny commented on #505
@TallTed wrote:

Yes, agreed. The only time I do them is to address fairly straight forward editorial issues/changes (like this one), everything else that needs feedback goes through a PR.

As a general rule, people shouldn't comment on commits as no one is notified of those, AFAIK... but I can't fix Github's interface.

[2021-01-05 08:06] iherman opened #529 "Requirement of MUST for `id` in Verfication Methods and Service Endpoints?"
At the moment the spec _REQUIRES_ the presence of an `id` attribute for verification methods and service endpoints (see [§5.3](https://w3c.github.io/did-core/#verification-methods) and [§5.5](https://w3c.github.io/did-core/#service-endpoints)). Is this _MUST_ necessary? Isn't it enough to use a _SHOULD_?

The only case where it is (obviously) a must is when the verification method is re-used. But

[2021-01-05 09:56] peacekeeper commented on #529
I originally raised the same question back in the CCG (https://github.com/w3c-ccg/did-spec/issues/247, then continued in https://github.com/w3c/did-core/issues/47), and we indeed changed _MUST_ to _SHOULD_ in https://github.com/w3c/did-core/pull/66.

Then after further discussion in https://github.com/w3c/did-core/issues/134, it was changed back to _MUST_ in https://github.com/w3c/did-core/pull/22

[2021-01-05 10:33] iherman commented on #529
Thanks @peacekeeper I did not remember issue #134. However, in that issue the only technical argument for making it mandatory is https://github.com/w3c/did-core/issues/134#issuecomment-594886651 (by @OR13), the rest of the issue was more a matter of a discrepancy in the spec of the time. I am not an implementer, and I cannot really judge the strength of the arguments in https://github.com/w3c/did-

[2021-01-05 11:16] shigeya commented on #505
I didn't know the general rule. Now I understand that.. ok. will not use comment on commits.

[2021-01-05 11:36] shigeya commented on #453
I have no preference either for a direct or indirect relationship as far as the relationship is visible on the diagram.

[2021-01-05 13:51] peacekeeper commented on #463
If we're now again calling `@context` or `xmlns` or `%YAML` "properties", then we're basically ignoring much of the ADM discussion of the TPAC F2F last November. The compromise was that those could be preserved across representations, but they would be called "syntax", not "properties". The diagram above reflects that.

E.g. see this resolution here: https://www.w3.org/2019/did-wg/Meetings/Minutes

[2021-01-05 13:52] peacekeeper commented on #495
@shigeya are you still planning to raise a PR to add some clarification around this?

[2021-01-05 14:06] peacekeeper commented on #468
I thought about this a bit more, and I think the problem with returning a deactivated DID document is that you're not supposed to use a deactivated DID (document) anymore. Wouldn't there be a security risk if developers for some reason fail to check a "deactivated" flag and use the deactivated DID document in their application?

At an earlier point in time, we used to call the operation "Delete" i

[2021-01-05 15:34] shigeya commented on #495
@peacekeeper Yes, I do. I will have a proposal soon.

[2021-01-05 15:53] jonnycrunch commented on #523
Mmm. Is CBOR-LD a thing?  And isn't this spec locked from new `features` creeping in?

[2021-01-05 16:06] OR13 commented on #529
I prefer MUST, because it simplifies consuming logic, callers can rely on the presence of the field instead of checking for it in every did document they encounter.

[2021-01-05 16:08] OR13 commented on #468
@peacekeeper my original thoughts are:

1. deactivation does not destroy the identifier, so the identifier's use should not return an error.
2. deactivation is meant to prevent future changes, so if authoritative keys for the did are in the did document, I would expect them to be removed when deactivation occurs (this is logically equivalent to transferring crypto to a null address / key pair you

[2021-01-05 16:15] rhiaro commented on #453
From my perspective, there is already an indirect relationship between the DID Document and the VDR in the diagram (via the DID itself). Is that different from how you understand it?

[2021-01-05 16:21] msporny commented on #199
This PR is waiting on PR #460 to be merged and this issue will be closed after that PR has been merged.

[2021-01-05 16:23] jonnycrunch opened #530 "Decentralized Identifiers Improvement Proposal (DIIPs)"
Similar to the [Ethereum Improvement Proposals](https://github.com/hyperledger/aries-rfcs) and the [Aries-RFCs](https://github.com/hyperledger/aries-rfcs), I like to proposal a framework for updating the DID core and DID-spec registries.

[2021-01-05 16:24] OR13 commented on #530
I think this is necessary, so we have a place to collaborate on improvements, before we see concrete PRs.

[2021-01-05 16:26] peacekeeper commented on #468
@OR13 I'd be fine with that too. I think I'd slightly prefer not returning a DID document, but returning one that's (almost?) empty also sounds reasonable to me.

[2021-01-05 16:31] msporny commented on #170
The spec was updated as a result of this issue and currently says this:

[2021-01-05 16:32] brentzundel commented on #518
Merging #522 will close this issue

[2021-01-05 16:33] iherman commented on #58
Resolution 1 on the call on [2021-01-05](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-05-did#resolution1] charts a way forward for registry handling once the current WG is closed. Closing issue.

[2021-01-05 16:33] #58 closed

[2021-01-05 16:54] jonnycrunch commented on #208
I'm curious as to why this work is prioritizing only one representation, i.e. `json` and not `did` in general?

[2021-01-05 16:56] iherman commented on #404
As discussed on the call on 2021-01-05, current actions are:

- see if #528 is a way forward and, possibly, merge it. That closes the essential of this issue
- we should create non-normative vocabulary related specifications for the various serializations: SHACL and RDFS for JSON-LD, JSON schema for the pure JSON, and CDDL for CBOR

[2021-01-05 17:11] rhiaro commented on #208
@jonnycrunch the IETF spec I drafted solves the general problem of media types with more than one suffix (aka more than one + sign). We don't have this problem for did+json or did+cbor because they have only one + so are a normal case. There is no "did in general" because `did` must always be attached to another suffix for a specific representation. This work would simultaneously solve `did+ld+jso

[2021-01-05 17:40] OR13 commented on #468
@peacekeeper the reason I suggest returning a document with only an `id` is that the type signature is the same... otherwise the type signature for resolve will be `DIDDocument | undefined`.

and everyone will be checking:

[code]

This way, the use of the did document will error in the same way for deactivation as removed keys, etc.... and if folks want to handle deactivation specifically they ca

[2021-01-05 18:27] OR13 commented on #463
The problem here is folks are conflating what an Object and a DID Document have inside them.

I suggest a special topic call dedicated to reviewing:

1. object properties
2. object members
3. object attributes
4. object predicates

See also:
-  https://stackoverflow.com/questions/1235013/what-is-a-member-vs-a-property
- https://plato.stanford.edu/entries/properties/
- https://en.wikipedia.org/wiki

[2021-01-05 18:45] msporny commented on #523
There is a primer:
https://docs.google.com/presentation/d/1ksh-gUdjJJwDpdleasvs9aRXEmeRvqhkVWqeitx5ZAE/edit

There is a specification:
https://digitalbazaar.github.io/cbor-ld-spec/

There is an implementation:
https://github.com/digitalbazaar/cborld

I don't know whether or not that meets your definition of "a thing".

What new feature do you think is creeping in?

To be clear, there is no intent

[2021-01-05 18:47] OR13 commented on #337
@TallTed thank you so much more this... we have really been lacking this kind of discussion.

I am pinging a bunch of folks who need to review this: @msporny @jandrieu @dlongley @tplooker @kdenhartog @awoie @oed @dhh1128 @philarcher @selfissued @csuwildcat @talltree @peacekeeper

welcome to the thread folks!

1. we need examples in did core that use `path` and `query`
2. we need examples that use

[2021-01-05 21:05] peacekeeper commented on #530
Hmm has anyone ever done this for something that is specified/maintained by a W3C WG? When would you create a DIIP vs. raising an issue on a spec repo?

[2021-01-05 21:20] OR13 commented on #468
here is an example of a did resolution response object:

[code]

[2021-01-05 21:35] peacekeeper commented on #337
I think the last few comments mix up the following two topics (even though certain issues may apply to both):

- [Relative DID URLs](https://w3c.github.io/did-core/#relative-did-urls). This is about having relative URIs as values in the DID document, e.g. using `#key-0` for `verificationMethod.id`. I think the comments in this thread are mostly about this.
- [The `relative-ref` DID Parameter](http

[2021-01-05 21:37] peacekeeper commented on #337
Note that recently a DID document metadata property called [`version-id`](https://w3c.github.io/did-core/#version-id) was added, which can indicate in the metadata the version of the the returned DID document (if the DID method supports it). Maybe this solves some of the challenges discussed in this issue?

[2021-01-05 21:43] peacekeeper commented on #468
@OR13 I think in your example `didDocumentMetadata` and `didResolutionMetadata` should be swapped, or..?

[2021-01-05 23:03] OR13 commented on #468
@peacekeeper I think you are right, I updated it

[2021-01-05 23:16] OR13 commented on #337
@peacekeeper sorry I mean for the examples to be relative and not relative and use query

I think having examples which use `version` and `server` with relative and absolute `id` values solves the  "useful query examples" part, but no the `path` part... we still don't have a good example of how `path` should be used....

[2021-01-06 08:51] peacekeeper commented on #337
I am aware of one use case where the use of `path` is at least being considered (not decided yet). In the `did:indy` method (which is currently being designed as a replacement for `did:sov`) it's possible that DID URLs with `path` will be used for identifying objects on a ledger such as credential definitions. An example could be `did:indy:sovrin:CYQLsccvwhMTowprMjGjQ6/creddefs/4`.

The original i

[2021-01-06 10:31] zhanb opened #532 "Some Question About DID"
Hi, I've been following did for a long time. At present, I'd like to ask some questions about DIDs:
1. In addition to the @content, ID, pubkey and so on mentioned in the did core, can different did methods  specification add new fields? If so, is there a limit on the number of fields, or is there a limit on the size of the whole did document? And how can other people resolve and distinguish the ne

[2021-01-06 14:26] philarcher commented on #337
Much as I wish it were otherwise, I don't have the expertise to comment on the detailed discussion around some of this. However,  I worry about sentences like

In HTTP at least, that assumption is unsafe. If I look up https://philarcher.org or https://philarcher.org?foo=bar I get exactly the same thing because there's nothing there to respond to the query. In other cases of course it does indeed c

[2021-01-06 14:32] OR13 commented on #532
@zhanb

different did methods may add fields, but the fields that can be added are limited by the representation.

for example, json cannot have integer keys, but cbor can, xml cannot have `@` in key names, etc...

Its also not a good idea to add fields that might be used to decrease the anonymity set of the did subject (reduce privacy).

If you want to add new fields to JSON, JSON-LD and CBOR and

[2021-01-06 17:43] dlongley commented on #337
So I think much of the difficulty here is that the DID spec, quite intentionally, says this (emphasis mine):

I also think there's a mistake in the spec that says this (again, emphasis mine):

https://www.w3.org/TR/did-core/#fragment

That last bit is probably something we've failed to clean up and is inaccurate. If you want a fragment to be a reference to something in an external resource, it mus

[2021-01-07 02:46] TallTed commented on #505
omg, really?  I've left a bunch in recent years...  I wonder if there's a way to query github for them, so I can review and re-address whatever issues those were‽

[2021-01-07 03:19] TallTed commented on #523
And that's our cue to change the example from CBOR-LD (which is still ephemeral, even with the draft spec and PoC implementation) to CBOR (which is solidly spec'ed in RFC and normatively referenceable).

[2021-01-07 14:55] TallTed commented on #208
@rhiaro -- It appears that updating the draft from `00` to `01` (or maybe `02`) [awaits some confirmation action on your part](https://datatracker.ietf.org/doc/draft-w3cdidwg-media-types-with-multiple-suffixes/history/) --

Date | Rev. | By | Action
-- | -- | -- | --
2020-12-29 | 01 | (System) | Request for posting confirmation emailed to previous authors: Amy Guy <rhiaro@digitalbazaar.com>
2020-1