[2020-08-04 14:20] dlongley commented on #185
@OR13,

The Web Crypto API `deriveKey` method should never be used with ECDH -- it's a mistake and unsafe. See: https://github.com/w3c/webcrypto/issues/193#issuecomment-396075911 (and the rest of the thread if you want)

I agree that we should have APIs that simplify all of this for users so they can't get burned. I am also pointing out that the *lower level* primitives still need to be there so t

[2020-08-04 15:09] OR13 commented on #185
@dlongley

yes, I am proposing the following:

X25519KeyPair (maps to X25519KeyAgreementKey2019), should support the following interfaces:

- deriveSecret ( takes a private key and and a public key, and returns a result equivalent to web crypto `deriveBits`)
- encrypt / decrypt (takes a set of arguments TBD, supports interoperability with off the shelf JOSE libraries)

P384KeyPair (maps to JsonWeb

[2020-08-04 15:16] Baha-sk commented on #185
Speaking from Golang perspective, we currently have full support for creating `ECDH-ES+A256KW` and also support `ECDH-1PU+A256KW` JWE envelopes. I've integrated these keys using Tink (by creating new Tink keys/primitives to support full JWE encryption/decryption). The ECDHES Tink primitive definition can be found [aries-framework-go](https://github.com/hyperledger/aries-framework-go/tree/master/pk

[2020-08-04 15:35] OR13 commented on #185
@Baha-sk for P-384... it will be a single `publicKey` that is listed under both `keyAgreement` and the other relationships... the key conversion stuff, is a special feature of ed25519... and in fact, you can get a key thats just for agreement for x25519... like so:

https://github.com/transmute-industries/did-key.js/blob/master/packages/x25519/src/__fixtures__/index.ts#L85

We could register GPG K

[2020-08-04 16:08] Baha-sk commented on #185
@OR13 last I heard, Tink does not have PGP keys support.

From KeyID perspective, we are planning to use the JWK thumbprint of the public key (base64URL encoded) to represent a JsonWebKey2020 kid. I guess this still requires multicodec encoding in `did:key`, right?

So a list of `RecipientKeys` in DIDComm can have a value of `did:key` representing either a verification key or an encryption key? Th

[2020-08-04 16:29] dlongley commented on #185
@Baha-sk,

Leaving these empty may lead to security vulnerabilities, see https://github.com/digitalbazaar/minimal-cipher/issues/24#issuecomment-668263680. More specifically, the identities of the public keys need to be included in the KDF process.

For more information, see this discussion:

https://mailarchive.ietf.org/arch/msg/jose/bTMpS2KNJyrE1fN9uRkKmLX0tUA/

For example:

non-null.  It seems

[2020-08-04 16:42] Baha-sk commented on #185
@dlongley , if we must populate them, then they will need to be added in the JWE recipient's headers as well as in the [spec](https://tools.ietf.org/html/rfc7518#appendix-C), here's the JWE recipient entry example from the spec (top of p.67):
[code]

Personally, if they appear in the recipients header, this means they're made public (anyone can get this info, I don't see this adding extra protecti

[2020-08-04 16:58] Baha-sk commented on #185
@dlongley I created Aries-framework-go [issue#2079](https://github.com/hyperledger/aries-framework-go/issues/2079) to use APU/APV from the recipient headers in order to be fully compliant with the spec.

[2020-08-04 17:50] llorllale commented on #185
@Baha-sk

DIDComm `recipientKeys` and `routingKeys` are there for key agreement for the encryption, not for signature verification.

[2020-08-04 19:38] Baha-sk commented on #185
@llorllale from the [DIDComm example](https://github.com/hyperledger/aries-rfcs/blob/master/features/0067-didcomm-diddoc-conventions/README.md#bobs-did-document-for-his-relationship-with-alice), `recipientKeys` are verification keys.

Not sure if these keys were meant to be used for encryption but the DIDComm example is clearly showing a list of VerificationKeys. My goal is to have a clear separat

[2020-08-04 21:25] OR13 commented on #185
@Baha-sk here is my exact proposal for JsonWebKey2020 and `did:key`...

https://key.did.ai/did/did:key:zUewNx6pAKABMemqTqcEWAEPVxht1ktr9ugLyXkoHiSAzhQBDNRdC2nLauoLKcwstytQCYeCazJ8m4rowp27ivJS4NmofDMAMjLqbqcn1tVKQTAk45d7wzcJZwJaZaAkSu78wFK

Sorry for confusing you regarding PGP Keys... my point was that PGP and JOSE are both systems which support a single representation for multiple key types... so

[2020-08-04 22:07] Baha-sk commented on #185
Thanks @OR13 here it is (pretty printed):
[code]

My only concern is this key should only be used either for signing or encryption, not both.

[2020-08-05 13:43] OR13 commented on #185
@Baha-sk this key ^  is meant to be used for both signing and encryption.... if you want to restrict it to 1 or the other remove:

`#gtZoQMOcycn67I20GIiWHnzFieHPbUtOEOvcqMKA7FA`

from `keyAgreement` (for encryption) and `assertionMethod` for verifiable credentials... and `authentication` for auth....

DID Core has more granularity than "signing"... you can think of this like.... not running everyt

[2020-08-06 07:54] mehranshakeri opened #366 "Verifiable credential creation flow implementation"
In [section 6.1 of VC use cases](https://www.w3.org/TR/vc-use-cases/#how-a-verifiable-credential-might-be-created) and afterwards in 6.2 for usage of VCs, no write transaction to a [registry](https://www.w3.org/TR/did-core/#dfn-verifiable-data-registry) is required.

Based on my understanding, only when the issuer needs to revoke a VC, there should be a transaction to the registry revoking that cr

[2020-08-06 09:56] peacekeeper commented on #366
Hello @mehranshakeri this is an interesting question.. Both revocation and credential issuance flows are areas where a lot of discussion and innovation is happening. However, this is the wrong place to raise this, since this repository is about the DID Core specification. Unless I am missing anything, I don't think your use case and issuance flow is directly relevant to the scope of the DID Core s

[2020-08-06 10:06] mehranshakeri commented on #366
Thank you @peacekeeper I will follow up with other two channels :)

[2020-08-07 13:22] brentzundel commented on #198
new issue created for continued conversation, closing this issue.

[2020-08-07 13:22] #198 closed

[2020-08-07 13:22] brentzundel commented on #328
No objections raised, closing issue.

[2020-08-07 13:22] #328 closed

[2020-08-07 13:23] brentzundel commented on #358
no objections raised, closing.

[2020-08-07 13:23] #358 closed

[2020-08-07 17:13] OR13 opened #367 "Move Issues from Spec Registries to DID Core"
Not getting enough contribution to the following spec registries issues: https://github.com/w3c/did-spec-registries/issues?q=is%3Aissue+is%3Aopen+label%3Amove-to-did-core

proposing we move them to did core.

[2020-08-07 19:59] csuwildcat commented on #359
@msporny @talltree @OR13 any reason this can't allow an array, given it already allows a string and an object?

[2020-08-07 20:00] csuwildcat commented on #359
If no one is opposed, can I do a PR to allow an array?

[2020-08-07 21:40] OR13 commented on #359
Looking at the current examples: https://w3c.github.io/did-core/#example-23-various-service-endpoints

It seems like there is no reason to allow an array.... because there is already support for objects.... the less type checking for string || array || object, the better for everyone (regardless of language).

@csuwildcat can you just make this work:

[code]

If the "instances are really all of th

[2020-08-07 23:31] csuwildcat commented on #359
@OR13 this means that many services will create their own object definitions for their types and all pick different property names just for the sole purpose of having multiple URIs. Some will pick `uri` others `endpoints`, still others `uris`, etc. How can this possibly be the right answer? Can we remove the string type altogether and say it has to be an object, then designate a property that has

[2020-08-07 23:45] OR13 commented on #359
@csuwildcat its the outer `type` that matters, and the object defintion of the `serviceEndpoint` which is controlled by it... for example... `type`: `JsonWebKey2020`... `publicKeyJwk`... (RSA / EC / OKP).... What we are doing here is no different.

and we have a registry for people to register the different types of services.

I see no reason to add more type complexity by saying that `serviceEndp

[2020-08-07 23:45] dlongley commented on #359
Some arguments against services in DID Documents:

First, it is difficult to get service endpoints in public DID documents right for privacy preserving use cases, i.e. any PII on a verifiable data registry is problematic, especially for registries that do not/cannot support deletion. Yes, there are cases for DIDs that refer to people's public personas (like social media identities or whatever), bu

[2020-08-07 23:56] csuwildcat commented on #359
Proposal 1: move from string-and-object as values for the property to array-and-object

Proposal 2: have just one value type, an object, but define within it a property which is an array for specifying one or more URIs.

@dlongley "Also, no one scans a verifiable data registry and picks a DID to do something with." - I'm literally doing exactly this to create a decentralized public package registr

[2020-08-07 23:56] OR13 commented on #359
@dlongley I think i understand....

what you are really saying is... no matter where you are in a protocol, you have an opportunity for the did controller to share an endpoint privately, and then continue on... without the need to disclose the endpoint publicly... ever.

If I'm doing OIDC SIOP, I an hand the RP an id_token which contains my preferred service endpoint.... If I'm doing CHAPI I can h

[2020-08-08 00:00] csuwildcat commented on #359
@dlongley: in your response, please don't suggest I should have to go register the DIDs with some centralized registry, because the goal is explicitly to have a decentralized registry, or that I should have to register with another decentralized registry in addition, which just forces creation of yet another registry that would do the exact same thing.

[2020-08-08 00:00] OR13 commented on #359
For the record, I have noted repeatedly that what @csuwildcat is doing is unsafe / not a good idea... you can read more about it here: https://github.com/decentralized-identity/ion/issues/77 ... its basically the equivalent of treating the bitcoin blockchain as a decentralized index for things... where anybody can lie, and anyone can update the index....

[2020-08-08 00:07] OR13 commented on #359
@csuwildcat so back to your original question... I don't think we should change the type of `serviceEndpoint` to be an array.

I would be in favor of making it only a string, or only an object.

[2020-08-08 00:10] csuwildcat commented on #359
Forcing DIDs to be registered in yet-another-decentralized-registry makes no sense, as it's literally the exact same thing, but doubles the effort and networks/code involved. Additionally, removing the service endpoint section would encourage either duplication of effort or registration with a centralized registry intermediary actor, and due to the possibility of the latter, I would move to oppose

[2020-08-08 00:28] csuwildcat commented on #359
@OR13 I'd be in favor of only an object...but with a standard property that allows for one or more URI strings 😂

[2020-08-08 01:06] dlongley commented on #359
@csuwildcat,

There are different requirements for storing service endpoints than for DIDs themselves and for verification methods. Different requirements imply that "it's literally the exact same thing" is not actually true. Sure, "any registry stores information" is true, but characteristics like "the type of information" or "how persistent the storage must be" are important differences here. Th

[2020-08-08 01:10] csuwildcat commented on #359
Proposal: Remove the string value and make the `serviceEndpoint` property take only an object, which MAY include a standard property named `uri`, the value of which is an array of one or more URI strings - for example:

[code]

[2020-08-08 01:13] agropper commented on #359
I've been obsessed with the idea of eliminating service endpoints for the
past three hours. It might simplify privacy engineering immensely and be a
generative move for SSI. I don't understand all of the points that have
been made above, but I can try to give my non-technical perspective.

Eliminating service endpoints from the DID Document would mean:
- DIDs are only useful for authentication and

[2020-08-08 01:13] csuwildcat commented on #359
@dlongley "It would certainly be better if people only registered packages in that registry so you didn't have to crawl all DIDs in existence to find the ones that happened to refer to packages." - if it's another decentralized registry, you'd still have to crawl all of the entries and do the exact same evals of off-registry credentials, because it's decentralized...surely you realize this?

[2020-08-08 01:25] csuwildcat commented on #359
@dlongley if a registry is decentralized, it means you can't evaluate and filter dynamic evidence on ingest, you have to do it after initial commitment and after any state changes. This means accomplishing the stated goals without service endpoints in the DID Doc would be a near identical duplication of code, systems, and effort, wherein I walk a DID over to some registry that is literally just a

[2020-08-08 01:25] dlongley commented on #359
@csuwildcat,

There are many legitimate uses for DIDs that are not packages. Let's call these sorts of DIDs "Set A". There are DIDs that legitimately refer to packages, let's call that "Set B". There are DIDs that masquerade as referring to packages but are not legitimately packages. Let's call that "Set C".

If Set A is quite large, it would be nice not to have to include it in your crawls, right

[2020-08-08 01:28] csuwildcat commented on #359
"If Set A is quite large, it would be nice not to have to include it in your crawls, right?" - absolutely, it would be great to skip resolution for the majority of DIDs that are claimed to represent other types of things...and luckily we added a 4 byte type flag to ION so that you can flag your DID as some type of non-human thing, such that you only need to scan for, resolve, and eval the subset y

[2020-08-08 01:33] csuwildcat commented on #359
I will note a few of the details about this type field we added:

1. It is exclusively for non-human types
2. It is immutable, and part of the inception event, bound into the DID forevermore
3. The type field is a method-specific convention that is not echoed out into the DID Document, and present at the fastest indexing layer within ION. (we did this after folks asked us to make it that way, not

[2020-08-08 05:33] OR13 commented on #359
you can't mandate what a decentralized indexing system is used for.... thats the whole point of censorship resistance... if tomorrow some baddies decide they will use that type field for tracking protestors, journalists or compromised hosts in their botnet.... you can't stop them... however, they can accomplish the same kind of thing with any DID Method, they just need to mine for a method specifi

[2020-08-08 05:48] OR13 commented on #359
So in other words, the indexing system will be resolving dids, using their service endpoint to ask them for proof they are a package, and the ones that can prove they are packages endorsed by Microsoft or others, will get a little green checkmarks next to them... as real packages, vs just claiming to be packages... and you can do the same thing for "verified twitter handles", or "doctors" or "citi

[2020-08-08 07:30] agropper commented on #359
What’s a “package”? Does it have anything to do with using a DID for
authentication? I’m concerned by the endorsement or attestation points that
@Orie is raising and I hope others can help explain it.

I saw this recent article about “attestation” related to authentication
standards (WebAuthn, FIDO)
https://macsecurity.net/view/391-safari-14-will-introduce-face-id-and-touch-id-for-the-web
It inclu

[2020-08-08 14:27] OR13 commented on #359
@agropper this is a package: https://www.npmjs.com/package/msrcrypto

in the future, it might be https://packages.ion-did.com.com/package/msrcrypto ...

When you visit that page it will have instructions like this:

[code]

Real world working example: https://did.actor/carol/did.json
https://github.com/OR13/dndx/blob/master/packages/did-dereferencer/mod.ts

^ in this case, the did document would h

[2020-08-08 14:31] OR13 commented on #359
My question for @csuwildcat is why are you trying to make the did document so nested... what is wrong with this:

[code]

^ IMO this is what you want to be doing....

[2020-08-08 15:48] csuwildcat commented on #359
@OR13 Let me try to address multiple things you asked, mentioned, etc.

1. Yes, I was hoping that `serviceEndpoint` property could take an array of URIs as you highlighted in your first example, because with Well-Known DID Configuration and the upcoming Hubs stuff, we already have two major types that will want to add multiple URIs. Your later example, though accurate in relation to today's spec l

[2020-08-08 16:52] dlongley commented on #359
@csuwildcat,

I'm not sure who you're talking about.

You argue for efficiency here. But, similarly, the arguments made above for removing service endpoints have to do with using more efficient solutions for non-crawling use cases (they also have other benefits like better security and privacy). To reiterate them a bit: if the requester is already in a channel where the information can be passed,

[2020-08-08 17:21] OR13 commented on #359
If you want to add a service endpoint to a did document, without publishing it to a registry, you can use this: https://github.com/decentralized-identity/did-spec-extensions/blob/master/parameters/signed-ietf-json-patch.md / or initial state... or something else....

If you want to publish service endpoints to a blockchain, nobody can stop you...

I remain convinced that the `serviceEndpoint` type

[2020-08-08 17:28] agropper commented on #359
Many thanks @OR13 !!
inline...

On Sat, Aug 8, 2020 at 10:28 AM Orie Steele <notifications@github.com>
wrote:

Ahhh. A package is code I can choose to install. Are PWA's a package?
Sperm?

 So npmjs.com and packages.ion-did.com.com are what we're calling a
"registry"?

The https:// implies that I want to trust the registry as well as the
package. In a zero-trust or content-addressed world, wouldn'

[2020-08-08 17:44] OR13 commented on #359
@agropper There is a lot in your comment... most of what I provided was in the category of "hypothetical example"... with some pointers... I think you interpreted most of it correctly... here are the parts I am a bit worried may have caused more confusion...

... Public Oracles on Centralized Registries vs Decentralized Indexes on Blockchains

did:example:123 is created 5 minutes ago, claims to be

[2020-08-08 17:49] OR13 commented on #359
I have opened the following DID Use Case Tickets:

- DIDComm and Service Endpoints https://github.com/w3c/did-use-cases/issues/97
- Package Manager and Service Endpoints https://github.com/w3c/did-use-cases/issues/98
- Services without publishing to a VDR https://github.com/w3c/did-use-cases/issues/99

[2020-08-08 19:43] agropper commented on #359
See https://github.com/w3c/did-use-cases/issues/99

[2020-08-10 15:19] csuwildcat opened #368 "Ability for DID in a Method to be known as more than one ID, with a canonical selection"
Is there an existing, standard mechanism that allows a DID Method to express that two DIDs in its system are provably, deterministically the same? For example: Say you have one representation of the DID that is 1000 characters long, and another that is the hash of that 1000 characters. These are provably the same in the target system, so is there a way to disclose the hashed version and the 1000 c

[2020-08-10 15:54] OR13 commented on #368
@talltree @dmitrizagidulin @msporny I suppose this a variation on the question of `sameSubject` vs `alsoKnownAs`....

the short answer for me is that `sameAs` was created to do exactly this....

https://github.com/w3c/did-core/issues/33
https://github.com/w3c-ccg/security-vocab/pull/45
https://github.com/w3c/did-spec-registries/issues/80

Knowing your use case.... I don't see any reason why anyone

[2020-08-10 16:09] peacekeeper commented on #368
I agree with @OR13 that this would probably be done with the new "same" property (whatever its name will be in the end).

Some DID methods will allow the controller to put these "same" properties into the DID document however they want. Other DID methods such as the one proposed here will have this property "built-into" their DID documents.

[2020-08-10 16:16] csuwildcat commented on #368
@peacekeeper I am having a hard time with the 'same' definition, because what I am really seeking is a way to express "If a canonical property/value is not present, use the version of the identifier you used to resolve this document, but if the canonical property/value is present, you SHOULD use that identifier instead from here forward." Same seems to indicate that they are interchangeable, but w

[2020-08-10 16:23] OR13 commented on #368
@csuwildcat sounds like you are looking for https://www.w3.org/OWL/#:~:text=The%20W3C%20Web%20Ontology%20Language,things%2C%20and%20relations%20between%20things.

Want to describe how things are related using an international standard.... and not reinvent the wheel?

`sameAs` is one OWL relation.... there are others.

[2020-08-10 16:45] csuwildcat commented on #368
@OR13 admittedly, I could be more familiar with OWL, but to fast forward to the right answer, can someone on this thread link me to an existing spec or property we can use that means the thing I am saying: a unidirectional canonical pointer to a preferred form of an equivalent ID?

[2020-08-10 16:53] OR13 commented on #368
https://www.w3.org/TR/owl-ref/#sameAs-def

`thing1 sameAs thing2`

QED. :)

You tell me if that defintion doesn't work for you, the burden is now on you to provide a stronger normative definition.... or you can invent a new one...

[2020-08-10 18:20] OR13 commented on #368
Possibly better solution:

https://www.iana.org/assignments/link-relations/link-relations.xhtml

relCannonical

https://tools.ietf.org/html/rfc6596

[2020-08-10 18:31] dhh1128 commented on #359
One use of a service endpoint array might be to present multiple endpoints that are semantically equivalent but that represent alternatives with different connectivity profiles (e.g., an endpoint in Europe, an endpoint in North America, an endpoint in Asia; pick the one you like best). If we allowed this, we'd have to clarify whether the endpoint sequence is a true array (ordered) or matches the d

[2020-08-10 18:51] csuwildcat commented on #359
@dhh1128 you make a really good point - if we say the recommended way to do this is creating entirely new entries in the top-level service array for each URI of the same service, service types that need to express ordering and other things based on position of their descriptors in relation to others becomes a really gross problem. This is a great reason to make sure we provide the right affordance

[2020-08-10 19:05] agropper commented on #291
https://www.eff.org/document/2020-08-04-letter-eff-and-aclu-opposing-ab-2004
seems related.

On Tue, Jul 14, 2020 at 11:44 AM wyc <notifications@github.com> wrote:

[2020-08-10 19:26] OR13 commented on #359
I'd be in favor of using an object to manage the complexity associated with geography / redundancy / ordering... same thing for preferences for protocols... objects are generally better at managing complexity than arrays. and you can use types to ensure that the objects capabilities / expressive properties are all documented fully.

[2020-08-11 01:34] agropper opened #370 "Consider EFF / ACLU objections by distinguaishing accountable vs. voluntary DIDs"
On August 4, EFF and ACLU again [objected to a CA law](https://www.eff.org/document/2020-08-04-letter-eff-and-aclu-opposing-ab-2004) about digital verifiable credentials. Although it's about VCs, the objection raises significant issues around DIDs that we could try to mitigate in DID Core. There are 4 reasons for their objection _[my summary]_:

- 1 The bill would take us a step towards national d

[2020-08-11 07:37] #366 closed

[2020-08-11 07:39] peacekeeper commented on #368
The ongoing discussion around `sameAs`, `alsoKnownAs`, `sameSubject` carries only semantics of equivalence, but those properties don't express that one identifier is "canonical" or "preferred" over the others, which is what @csuwildcat wants here.

Based on what @OR13 found above, it seems we could "RDFize" the `canonical` link relation, e.g. we could add the following to our [JSON-LD context](htt

[2020-08-11 23:48] talltree opened #373 "Proposed Appendices on DID Identification Architecture"
Several current issues including #355 and #348 (and [W3C CCG Security Vocab issue 45](https://github.com/w3c-ccg/security-vocab/pull/45)) depend on understanding how DID identification architecture works from a graph and semantic model standpoint. This is not currently explained anywhere in the spec. However it has been argued that this content is needed someplace in the spec in order to support a

[2020-08-12 00:06] talltree commented on #373
The proposed **Appendix A: What Does a DID Identify?** includes this statement:

@burnburn made this comment in response:

In the Google doc I responded as follows:

@peacekeeper  and I started down that path to resolve the non-information resource URI dilemma (the whole subject of the W3C TAB's 2007 [Cool URIs for the Semantic Web](https://www.w3.org/TR/cooluris/) document) but ran into numerous

[2020-08-12 00:10] talltree commented on #373
A second statement included in Appendix A (right below the first one referenced above) is:

@brentzundel made this comment in response:

To which I posted this response:

The DID doc describes attributes of you (the keys) and methods of interacting with you (the service endpoints). This is especially clear when you look at the JSON-LD version of a DID document—it is an RDF (Resource **Description*

[2020-08-12 01:21] agropper commented on #373
Nice work!

I seek clarification on the situation where the DID enables a
non-repudiable signature by the DID Subject. If the DID Subject is the sole
DID Controller (Appendix B Set 1), no problem. However, if the DID is
controlled by other or others (as in B Set 2 or Appendix C #1 or #3) then
the DID Subject can repudiate their signature. Partial Aggregate Control
(C#3) is a valuable feature for a

[2020-08-12 05:47] kdenhartog commented on #373
@talltree amazing writeup! While I'm sure there's parts of this that could be contentious in general I appreciate the effort you spent in writing and it seems to further clarify what I intuited about DIDs. Thanks for putting it all into clean document!

One of the stickier questions I've come across which I can't seem too wrap my head around is best put like this:

Similarly, I think this model fu

[2020-08-12 13:38] iherman commented on #373
@talltree I have put some comments into the document, also echoing what @burnburn commented, on the section titled "How DID architecture addresses this challenge". Instead of putting a longer set of comment into the document, I jot down my thoughts... What about replacing the bullet items there by

1. A **DID identifies the subject**, which is **always** considered as a non-informational resource.

[2020-08-12 15:28] talltree commented on #373
@iherman Thank you!! This is **exactly** the discussion I was hoping this draft of the appendices would produce. I am very open to each of your suggestions—ironically, what you suggest was the way I wrote the first and second drafts before @peacekeeper pointed out the RFC 3986 problem and we decided to treat the DID document as an information resource.

@peacekeeper, what do you think?

I invite o

[2020-08-12 16:01] iherman commented on #373
I planned to be there

[2020-08-12 17:52] wyc commented on #291
@agropper @jonnycrunch due to the time passed, would you like to reconvene later this week or early next week and prepare a working item for comments? hopefully there has been some progress on the service endpoint discussions

[2020-08-12 19:09] jonnycrunch commented on #291
yep, how is Monday again?  I'll send an invite.

[2020-08-12 19:27] wyc commented on #291
+1, probably a good idea to inform the public did wg list after we figure out where/when.

We can use the CCG Jitsi instance here: https://meet.w3c-ccg.org/DIDSecurityPrivacyReview

[2020-08-12 19:28] agropper commented on #291
+1 for 2PM EST?

On Wed, Aug 12, 2020 at 3:27 PM wyc <notifications@github.com> wrote:

[2020-08-13 09:42] iherman commented on #373
I wanted to elaborate a bit on what I wrote at the end of my https://github.com/w3c/did-core/issues/373#issuecomment-672876140. I realize what I say here may be impossible to consider by now because it would force most implementations to change, but I think we should still consider this as a possibility. Here is what I meant:

1. A **DID** is a URI that **identifies a non-information resource** an

[2020-08-13 13:42] OR13 commented on #368
ping @philarcher @msporny @dlongley how do you feel about canonical?

[2020-08-13 13:47] peacekeeper commented on #373
@iherman said:

@burnburn said:

I don't think we can be RFC3986 compliant if the DID document is not an information resource with its own URL, since RFC3986 says:

**_The semantics of a fragment identifier are defined by the set of representations that might result from a retrieval action on the primary resource._**

Therefore, the DID document must be considered an information resource, and it m

[2020-08-13 14:04] peacekeeper commented on #373
While working on the DID chapter for the Manning SSI book (see [preview](https://livebook.manning.com/book/self-sovereign-identity/chapter-8/v-5/209)), @talltree and I discussed what a URL for the DID document could look like.

We considered adding a single fragment (e.g. `did:example:123456#`) which is interestingly also mentioned by @iherman in https://github.com/w3c/did-core/issues/373#issuecom

[2020-08-13 14:10] msporny commented on #368
It kinda fails the "plain english" test --

https://www.merriam-webster.com/dictionary/canonical

https://www.dictionary.com/browse/canonical

https://dictionary.cambridge.org/us/dictionary/english/canonical

Most people reading "canonical" will be confused... we're maybe meaning it in the mathematical sense, but even there, it's wrong. The identifier isn't a canonical mathematical form... it's a

[2020-08-13 14:14] philarcher commented on #368
This thread is conflating two separate issues. Any given subject can have any number of identifiers and they may well be related by owl:sameAs or some other relationship. That's not the same as "if I can choose between 2 IDs for the same thing, which one is 'best'? The origin of the canonical URL is in search engines looking for the one URL they should index given n possibilities since things like

[2020-08-13 15:53] msporny commented on #373
Ooof, this statement has incredibly far reaching implications... it's highly problematic for a number of reasons. I'm just going to point out a few below...

@burnburn wrote:

@iherman wrote:

Agree with Dan and Ivan, everything was good right up to this point, and then it goes off of the rails. The issue is with the TAG finding... it presumes a lack of context when interpreting an identifier. It

[2020-08-13 15:59] OR13 commented on #368
agreed...

@msporny I think you forgot to use wikipedia (the one true source of information) :)

https://en.wikipedia.org/wiki/Canonical_link_element

`preferredId ` or `canonical ` are NOT the same as `sameAs`.... let's not conflate them.

I think it would be valuable for DID Core to define normatively some terms with roughly the following definitions:

#### Term1 (sameAs)

Term1 MUST be an URI o

[2020-08-13 20:44] talltree commented on #373
First, thanks for all the excellent feedback and suggestions. The DID WG had a very good special topic call about this today. In this post I'll first **summarize my key takeaways** and then **provide a link to a revised proposal** ([here in this Google doc](https://docs.google.com/document/d/1zxZZscEGitA0qRkbvTkumt3OLy9I90FdCXNE9H3owPw/edit?usp=sharing) for the impatient ;-).

My key takeaways fro

[2020-08-13 21:02] talltree commented on #373
Per my last comment, @iherman has [proposed in this thread](https://github.com/w3c/did-core/issues/373#issuecomment-673376848)—and we discussed on today's special topic call—that the ideal solution is one where, for any DID, there are **two variants**, one that identifies the DID subject as a non-information resource and another that identifies the DID document as an information resource. This is

[2020-08-13 22:03] csuwildcat commented on #368
The most familiar definition for the word `canonical` that devs will be familiar with is the one from the HTML spec, as it pertains to link relationship types: "canonical - Preferred URL for the current document" (https://html.spec.whatwg.org/multipage/links.html#linkTypes). For this reason, I feel it is the best choice for this property name.

[2020-08-14 12:48] iherman commented on #373
To avoid any misunderstandings: I acknowledge that. Personally, I still believe that this approach _should have been_ the clean approach back when DIDs and DID URLs were conceived (I do not think that the implementation complications are that high) but this particular ship has probably sailed, and we do not want to force all method implementations to change on this issue.

---

For the three solut

[2020-08-14 14:34] iherman commented on #373
(This comment is on the [revised Appendix A proposal](https://docs.google.com/document/d/1zxZZscEGitA0qRkbvTkumt3OLy9I90FdCXNE9H3owPw/edit#).)

First of all, I like the approach and, personally, I believe this is a direction to go. My comments are on details an not a criticism of the document as a whole.

---

I am a bit bothered by the differentiation of `seeOther` and `seeAlso`. While the former

[2020-08-14 14:44] msporny commented on #373
@iherman wrote:

Agreed with @iherman here. I also don't think the media type is required, you typically content negotiate for that. So, that would make the solution look like this:

[code]

... and really, it should be this:

[code]
... and really, that is a massive GDPR violation if placed on a Verifiable Data Registry. What you should be doing instead is publishing "url", "seeAlso", and "image"

[2020-08-14 18:15] brentzundel commented on #94
DID Explainer now exists!
https://github.com/w3c/did-wg/blob/master/did-explainer.md

[2020-08-14 18:19] OR13 commented on #339
Related conversation here, about RDF / IPLD compatibility:

https://github.com/multiformats/multicodec/issues/180#issuecomment-674200886

[2020-08-17 10:48] iherman commented on #94
Comments on the [explainer draft](https://github.com/w3c/did-wg/blob/master/did-explainer.md). I hope they are helpful.

## “Introduction” section

* [ ] “such as a distributed ledger or blockchain”: for most laypersons (like me) these two term are interchangeable on a higher level. (There may be some subtle differences, maybe the second is an implementation approach to the former, but that detail

[2020-08-18 14:47] wyc commented on #364
@peacekeeper how does your work found in the CCG relate to this section?
https://w3c-ccg.github.io/did-resolution/

I have been reviewing https://github.com/w3c/did-core/pull/253

[2020-08-18 15:29] OR13 commented on #23
Suggest closing, we have this in the spec registries.

[2020-08-18 15:30] OR13 commented on #171
We had special topic call, we now just need to make sure that the verification method section of did core contains a couple JWK examples.

[2020-08-18 15:33] msporny commented on #281
We should close this, but we might want to raise a new one about publicKeyPem... really, this is out of scope for the group (based on the special topic call).

[2020-08-18 15:33] OR13 commented on #23
recommend opening a new issue remove 'publicKeyPem`.

[2020-08-18 15:35] OR13 commented on #170
recommend closing, we have discussed this many times. we need both `id` and `type` and `publicKeyJwk` / `publicKeyBase58`...

[2020-08-18 15:36] msporny commented on #171
Pending discussion around naming, this will happen in next couple of weeks... we will get JWK examples into the spec.

[2020-08-18 15:39] OR13 commented on #170
`type` is describing a "VerificationMethod"... JWKs are only one part of that... and its the responsibility of the suite author to define if they are related, and how.

[2020-08-18 15:40] OR13 commented on #170
for example: https://github.com/w3c-ccg/lds-jws2020#supported-jose-algorithms

[2020-08-18 15:42] dlongley commented on #318
A call would be helpful to discuss this issue.

[2020-08-18 15:43] brentzundel commented on #199
This issue is related to the representation property #348, the proposed appendices #373, and #355 the alsoKnownAs and sameAs properties.
We plan to discuss this today on a special topic call (relational link types).

[2020-08-18 15:43] burnburn commented on #151
@peacekeeper can you follow up here on next steps?

[2020-08-18 15:44] OR13 commented on #281
recommend closing.

[2020-08-18 15:47] OR13 commented on #8
We don't need to rely on RFC7518, we need to rely on suite authors to define the relationship between suite "type" and external registries. DID Core does not require us to import a registry.

[2020-08-18 15:51] OR13 commented on #8
@msporny noted on call... the discussion we had on the special topic call, and naming... the group said the job was someone else job... we are discussing naming, and what those specs say... we believe thats outside the scope of the DID WG... its up to the crypto suites to link to JWK, and we are doing that elsewhere....the group has decided that this is (now) not in our purview... and i think it w

[2020-08-18 15:51] selfissued commented on #8
To the extent that we have PublicKeyJwk key representations, we should include algorithms registered in the IANA JOSE Algorithms registry as "alg" values in the JWKs.

[2020-08-18 15:54] OR13 commented on #8
why, JWK alg values are registered here: https://www.iana.org/assignments/jose/jose.xhtml#web-signature-encryption-algorithms

suites that support them are responsible for saying so....
DID Core does not define suite, and per our last special topic call, has no opinion regarding their names....

Case in point:

- https://github.com/w3c-ccg/lds-jws2020#supported-jose-algorithms=
- https://w3c-ccg.g

[2020-08-18 15:56] selfissued commented on #8
DID Core doesn't define crypto suites but does define key representations, which use crypto suites.

[2020-08-18 15:56] dlongley commented on #294
@kdenhartog could you propose closing and create a PR for the text you'd like to see or something along those lines?

[2020-08-18 16:00] selfissued commented on #170
I understand that the group has decided to duplicate the key type for JWKs by including both "type" and "kty" - albeit, using different strings that effectively mean the same thing.  The question that hasn't been answered is whether a JWK should/MUST include a "kid" and if so, what its value should/MUST be.

[2020-08-18 21:59] peacekeeper commented on #36
I'm planning to work on a PR for this in the next few days.

[2020-08-19 13:09] OR13 commented on #170
`publicKeyJwk` is json, and `kid` is optional per https://tools.ietf.org/html/rfc7517#section-4.5 its optional, however, I suggest we recommend that `kid` not be present in `publicKeyJwk`, and rely on the outer `id` property.... although there could be reasons why you might want to have 2 identifiers for the same verification material.

Here are some recommendations to working with JOSE and DIDs:

[2020-08-19 13:31] OR13 commented on #8
@selfissued  DID Core does not define JWK, which links those 2 things in one way, how they are linked in other ways would require controlling those suites... In the last special topic call, you and @jricher  made it clear you did not care how that linkage was defined for Linked Data.

I wish we could have done that work here, because there are opinions about binding of the linkage between the conc

[2020-08-19 13:46] OR13 opened #374 "Remove publicKeyPem from did core and did spec tests"

[2020-08-19 13:47] OR13 commented on #281
Raised https://github.com/w3c/did-core/issues/374 for removing publicKeyPem... suggest closing.

[2020-08-19 14:13] msporny commented on #281
This issue has been marked pending close as the specification now defines publicKeyJwk, publcKeyPem, and publicKeyBase58. Additionally issue #374 exists to remove publicKeyPem and use publicKeyJwk instead.

This issue will be closed in 7 days unless there are objections.

[2020-08-19 16:41] dhh1128 opened #375 "constraints on assertionMethod? Or a different verification purpose?"
I *think* (could be wrong) I would like to be able to declare a block inside `assertionMethod` that contains constraints -- essentially, I want to be able to say, "This DID or key can make assertions on behalf of this DID, but with the following restrictions: ___" The restrictions could be schema-based ("only if the assertions conform to one of these schemas"), and/or time-based ("between July 1 a

[2020-08-19 17:04] dhh1128 commented on #375
Pinging @dlongley and @OR13 and @peacekeeper , as I think they might have opinions about this. Dave, does this do too much violence to the simplicity you were hoping to achieve with verification purpose sections of a DID doc corresponding to simple RDF triples? If so, what alternative do you like best?

[2020-08-19 17:10] selfissued commented on #8
@OR13 - this is the second time that you've asserted that @jricher and I don't care about naming, where at least for me, that is far from true.  There must have been some misunderstanding on the special topic call that you're referring to.  We should try to get to the bottom of it and correct it.

I would certainly prefer that we go with the simpler algorithm naming scheme that you cite:

What do

[2020-08-19 22:10] OR13 commented on #375
You can certainly create an extension which defines "verification method constraints"... and suites that MUST care above them....I would worry about what happens when the properties are ignored, as they w

I would personally rather not see this in a verification method... I would prefer to discover this information via a service endpoint... or see it displayed in a serviceEndpoint object defintion

[2020-08-19 22:12] selfissued commented on #8
I spoke with @OR13 about the details of this and I now believe that since we have `JsonWebKey2020` registered in the DID Core Registries, that de-facto means that people can use algorithms from the IANA JSON Web Signature and Encryption Algorithms registry https://www.iana.org/assignments/jose/jose.xhtml#web-signature-encryption-algorithms with DIDs, which was the point of this issue.

I'm willing

[2020-08-19 22:25] dhh1128 commented on #375
@OR13 : I'm not surprised that my suggestion feels odd -- but I *am* surprised by the counter suggestion. How would this have anything to do with a service? Are you saying that the delegator should run a service where the world can talk to it to discover what it's delegated?

[2020-08-20 01:28] tplooker commented on #375
This is territory I've always felt gets murky w.r.t did documents. The impression I have always had is that there needs to be support for a core set of authoritative statements in a did document that delegates some aspects of authority (e.g what we have now), however how rich and granular this should get w.r.t its definition in did-core is still blurry to me. I agree with @OR13 that catering for t

[2020-08-20 01:50] tplooker commented on #294
I'm satisfied that based on #304 the specific verificationRelationships defined in did core effectively addresses the expression I was after without having to reflect this via nesting in the resulting data structure. Therefore I'm happy to close this issue if there are no objections. I like the sentiment that @dlongley summarized above [here](https://github.com/w3c/did-core/issues/294#issuecomment

[2020-08-20 02:33] #260 closed

[2020-08-20 14:57] dlongley commented on #375
So, you can create a verification method that expresses whatever constraints in it you'd like. However, this sort of information sounds like it belongs somewhere other than a DID Document. Ideally, it would be expressed somewhere that comes into contact with the system that performs the signing vs. the one that performs the verifying. Verification relationships help verifiers prevent proofs that h

[2020-08-20 17:26] selfissued commented on #171
This will be fixed by #377

[2020-08-20 22:33] agropper commented on #375
I worry that I can't follow any of this and I really think I should try
because there are privacy and adoption implications.

This is a delegation use case. A does not need to be a hospital. A could
just as well be Alice giving Dr. B a capability to do something on her
account. Dr. B's signature needs to be non-repudiable. Dr. B then has to
delegate their capability to some other entity. That dele

[2020-08-21 01:40] kdenhartog commented on #374
I'm a +1 to removing PEM format.

[2020-08-21 01:43] kdenhartog commented on #294
Yup, I'm aligned with Tobias here as well that we've covered these details via other PRs and this topic is sufficiently covered in the spec now. Marked pending closed now as well.

[2020-08-21 01:46] kdenhartog commented on #170
Even though it's optional in the JWK spec, might it be helpful to us to further constrain the representation in the did document? I'd think we'd still want to do this with a SHOULD though so we're not forcing duplication of the DID URL in VDRs where space is a concern.

[2020-08-24 01:29] #176 closed

[2020-08-24 14:06] OR13 commented on #170
@kdenhartog agreed, if we say anything its probably a SHOULD here.... however the DIF JOSE-DID Spec can be bossier if we get agreement that its helpful.

[2020-08-24 20:42] brentzundel commented on #332
It looks like they're still working on tooling to make this easier: https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositories-
but these should be in place by the end of the year.

[2020-08-25 12:23] peacekeeper commented on #364
@wyc the idea is that DID Core will only contain definitions of abstract functions with their inputs and outputs.  The `resolve()` function has already been added in https://w3c.github.io/did-core/#did-resolution. This issue is now about adding the `dereference()` function in a similar way.

DID Core however would leave out implementation details such as resolver architectures, protocols, metadata

[2020-08-25 22:35] msporny commented on #325
Suggestion is no change... waiting for an objection.

[2020-08-25 22:36] dlongley commented on #329
This can be discussed in a service endpoints special call.

[2020-08-25 22:36] msporny commented on #240
I think we have agreement that the LD Cryptosuite will do the restriction, not the DID Core spec.... does anyone object to that?

[2020-08-25 22:37] msporny commented on #208
This is still waiting on me (or preferably someone else) to write a spec.

[2020-08-25 22:40] peacekeeper commented on #85
We added a section on metadata properties in https://github.com/w3c/did-core/pull/347, and we added some concrete metadata properties (`created`, `updated`) in https://github.com/w3c/did-core/pull/365.

What still remains to be done to address this issue?

[2020-08-25 22:42] msporny commented on #58
We need to clearly document the process of how the registry is updated. This issue will be closed when we can point to a clearly documented process in the CCG.

[2020-08-25 22:44] dmitrizagidulin commented on #33
Status update: There is ongoing work (Aug 25 2020 special topic call on Link Relations, and the subsequent call on Service Endpoints), that will resolve this issue. (Also see #368)

[2020-08-25 22:49] kdenhartog commented on #269
The PR exists for this issue, but I'm in favor of closing it and the PR #352 once the appendix work being discussed in #373 ends up in the spec or as an additional side document. Either would satisfy my question for this issue.

[2020-08-25 22:50] OR13 commented on #240
on the special topic call, we agree to add language regarding not putting private key stuff in a did document, but we have also agreed that the type of `publicKeyJwk` is `@json`.

[2020-08-25 22:50] OR13 commented on #240
leave this open until language is added.

[2020-08-25 22:51] OR13 commented on #356
We need to add guidance that you cannot include multiple key representations in the same verification method. needs pr.

[2020-08-25 22:52] OR13 commented on #337
Needs PR to add explicit warning about how DID params are dropped from the did document and may be present in resolver meta data.... needs PR.

[2020-08-25 22:53] csuwildcat commented on #337
Assign me.

[2020-08-25 22:58] peacekeeper commented on #261
@marceljay do you have any further thoughts on this and about my last comment? I'd be happy to try write a PR to address this issue.

[2020-08-25 23:04] peacekeeper commented on #137
On today's DID WG call, there was a proposal to address this issue by marking `hl` as non-normative, and to potentially remove that comment again at a future time when we are able to make a normative reference to Hashlink.

[2020-08-26 02:23] selfissued commented on #58
We had agreement in issue #169 to replace dependencies on registries administered by community groups to registries administered by this working group.  Therefore, I consider it a strange proposed regression that we're even talking about "a clearly documented process in the CCG".  We should instead be talking about "a clearly documented process described in a DID working group specification".

[2020-08-26 13:28] peacekeeper commented on #344
@wyc I think you could close this issue now that https://github.com/w3c/did-core/pull/360 has been merged, do you agree? Thanks again for your work on this!

[2020-08-26 13:42] msporny commented on #58
At some point, this WG will end and the question of who will maintain the registry then will need to be answered. This was answered in the W3C VCWG by delegating the day-to-day management to the W3C CCG. This group will most likely take the same path... a DID Maintenance WG will be set up where consensus decisions are made in the CCG and then elevated to the DID Maintenance WG for a thumbs up/ thu

[2020-08-26 13:59] peacekeeper opened #379 "Specify date and time format of version-time DID parameter value"
The spec currently says about the `version-time` DID parameter that its _value MUST be an ASCII string_. We should be more specific and e.g. say that the value MUST be an ISO 8601 date and time.

The DID Spec Registries already have an example for this: https://w3c.github.io/did-spec-registries/#version-time-param

This was brought up by @iherman in https://github.com/w3c/did-core/pull/378.

[2020-08-26 14:52] wyc opened #380 "Why DID Document streaming (`resolveStream`)?"
Hi, I've been working on the DID URL Dereferencing section as per https://github.com/w3c/did-core/issues/364 and was also reviewing the [DID Resolution](https://w3c.github.io/did-core/#did-resolution) section for consistency. I noticed that there were two functions, `resolve` and `resolveStream`. To me, streaming is closer to an implementation detail, and I'm not sure that it's within our purview

[2020-08-26 15:06] peacekeeper commented on #380
@wyc there has been numerous issues, PRs, and special topic calls in the WG that have led to this design, e.g. see:

- https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-05-21-did-topic
- https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-05-28-did-topic
- https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-06-11-did-topic
- https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-06-18-did-topic

[2020-08-26 15:15] wyc commented on #380
Thank you for diligently adding the context @peacekeeper, I'm so glad we take notes. Will review the above.

[2020-08-26 15:56] peacekeeper commented on #203
We added a section on metadata properties in https://github.com/w3c/did-core/pull/347, and we added some concrete metadata properties (e.g. `created`, `updated` in https://github.com/w3c/did-core/pull/365).

Can we close this issue?

[2020-08-26 16:28] sammotic commented on #325
Why no change? Without the other byte there wouldn't be enough space for the raw public key value.

[2020-08-26 17:03] msporny commented on #325
The reference that @selfissued is probably talking about is this:

https://tools.ietf.org/html/rfc7518#section-6.2.1.2

Which says this:

[code]

which points to here (Section 2.3.5):

http://www.secg.org/sec1-v2.pdf

... that's how JOSE does it, per the spec, which uses the uncompressed form and an independent X and Y value.

If we want to use the compressed form, which we probably do, for base58

[2020-08-26 17:47] OR13 commented on #325
Implications for https://github.com/multiformats/multicodec/pull/190

I agree that the linked data specs are the correct place to define these details... we don't have this problem when we use `publicKeyJwk`, and when I create an agile linked data suite for all Multicodec key representations, I could define specifically which format I would support....

When I implemented support for P-384, I hand

[2020-08-26 21:28] selfissued commented on #58
I disagree that this working group will delegate administration of its registries to any community group or other working group.  All of those will eventually end.  Rather, as discussed during the face-to-face working group meeting in January 2020, the W3C is developing procedures to operate registries itself.  We should turn administration of the registries over the W3C when the working group ter

[2020-08-26 23:13] brentzundel commented on #291
@agropper @wyc @jonathan-consensysHealth what is the status of the security and privacy questionnaire?

[2020-08-26 23:20] wyc commented on #291
@brentzundel and those following, the latest response is here:
https://docs.google.com/document/d/13qLCZcks3OAb2V7GHcrSs8s9drA5OaqEPYPI1knmodc/edit#

My apologies, I think I was supposed to write an update to the list and forgot. We are preparing to begin work on sections 3 and 4, but we there were 2 major concerns around scope that would impact the models in those sections significantly:
- DID me

[2020-08-27 01:24] msporny commented on #58
Yes, I've participated in those discussions. Here was the latest attempt at the process:

https://w3c.github.io/w3process/registries/#registries

The work item has been deferred to next years W3C Process. We are aligned with the latest thinking wrt. registries. That is the process that is defined in the DID Spec registries, we haven't named a maintainer yet, the W3C CCG is a natural maintainer for

[2020-08-27 05:26] iherman commented on #58
I am afraid there is nothing new to report on this subject, @selfissued; as @msporny said, the issue will be picked up in the process discussions in 2021.

Just some comments on what has been said so far:

- Yes, the current approach is to transform a WG that has finished its work into a "maintenance" WG. Such a WG is there to make minor changes to its published Recommendations but will not engage

[2020-08-27 16:38] selfissued commented on #72
We should remove references to specific laws, including the GDPR reference in the Privacy Considerations section.  At most, we should say that implementers and deployers should be aware of locally applicable regulations and comply with them.

Also, Wikipedia links are not authoritative references.  I found two of them when investigating this issue.  We should remove all of them and/or replace them

[2020-08-27 16:43] iherman commented on #72
@selfissued, the PC section is non-normative, meaning that I do not think a wikipedia link is necessarily a problem. Similarly, a reference to GDPR _as an example_ should be o.k. (although it is probably better to make it clear that this is just an example for a well-known regulation).

[2020-08-27 17:03] rhiaro commented on #72
it might be a good idea to see if we can link to a specific snapshot of the page history though, as it can be edited out from under us to say something completely different any time

[2020-08-27 21:35] wyc commented on #344
Great, thanks for all the input.

[2020-08-27 21:35] #344 closed

[2020-08-28 13:07] brentzundel commented on #281
No objections raised since marked pending close. Closing.

[2020-08-28 13:07] #281 closed

[2020-08-28 13:08] brentzundel commented on #294
No objections raised since marked pending close. Closing.

[2020-08-28 13:08] #294 closed

[2020-08-28 13:41] wyc commented on #370
Additional solution proposal: use multi-sig or similar to add friction to the right places, such as requiring an additional PIV smart card that ad-hoc required for presenting a certain strong credential, such as a passport--maybe it is required to decrypt the data. This way, if you left your passport PIV smart card at home, just like leaving your passport at home, you can then no longer present it

[2020-08-28 15:08] wyc commented on #380
I largely agree with @jricher's points [here](https://www.w3.org/2019/did-wg/Meetings/Minutes/2020-06-25-did-topic), in that `resolve` and `resolveStream` should exist as two separate sections:

I am willing to open an issue and do the work here, pending merge of #381.

Two follow-ups:
- Is there a specification for the "abstract function" formats we use, or is that introduced in this spec? As in

[2020-08-28 15:30] agropper commented on #370
Here’s an attempt at a unified theory for protocol design based on privacy engineering.

Let’s stipulate encrypted storage and call it EDV. **EDVs wil have two kinds of customers** depending on whether the “client” is controlled by the data subject or the EDV customer, for example a college, laboratory, or imaging center.

Let’s stipulate the client for EDV is a policy decision point (PDP). The PD

[2020-08-28 16:38] msporny opened #382 "Service Endpoints in the DID Doc might be an anti-pattern"
TL;DR: We don't need service endpoints in the DID Document... it's an overly-complicated anti-pattern that has a lot of downsides when we already have patterns that are implemented today that would work for all use cases.

It has been asserted that Service Endpoints in the DID Document might be an anti-pattern because, at worst, they can be used to express PII in DID Documents, and in every use ca

[2020-08-28 17:00] OR13 commented on #382
Add a serviceEndpoint just in time, without updating the verifiable data registry using [signed-ietf-json-patch](https://github.com/decentralized-identity/did-spec-extensions/blob/master/parameters/signed-ietf-json-patch.md).

However ^ this solution still requires us to define a data model.... and I would argue that so does "getting service endpoints" in credentials... unless you want every vendo

[2020-08-28 17:03] mwklein commented on #382
Only using DID Documents on-ledger for well-known public identities, and using private off-ledger peer-wise DIDs for all personal identifiers mitigates the described issue as well. Personal service end-points would be shared only via the peer-wise connection, and public service endpoints are by definition meant to be public.

[2020-08-28 17:21] csuwildcat commented on #382
No centralized intermediaries should be required for everyone on the planet to read my decentralized profile/gravatar object, my resume object, my decentralized tweet objects, my blog post objects, my code repo objects, or any number of other things I want everyone to be able to locate without engaging in a contorted, centralization-injecting dance external to the DID Document. Anyone who disagree

[2020-08-28 18:42] dhh1128 commented on #382
I think a comparison will help explain why this argument falls flat for me.

The reason we need DIDs isn't because use cases aren't addressable, exactly -- it's because the nature of a use case's guarantees and semantics changes if we don't root them in DIDs. We could do VCs with SSH keys instead of DIDs, but we don't, because SSH keys don't have the same properties (decentralization, discovery, r

[2020-08-28 18:53] agropper commented on #370
Here’s an attempt at a unified theory for protocol design based on privacy engineering.

Let’s stipulate encrypted storage and call it EDV. **EDVs wil have two kinds of customers** depending on whether the “client” is controlled by the data subject or the EDV customer, for example a college, laboratory, or imaging center.

Let’s stipulate the client for EDV is a policy decision point (PDP). The PD

[2020-08-28 18:57] wyc commented on #382
I agree that service endpoints certainly will reduce privacy in their (mis)use, and this is an important consideration to make.

However, I think that if we excluded them from the DID spec then the far newer risk we incur is one related to standards adoption--the standards will become far less useful without an ascribed way to do service discovery. +1 to @dhh1128's points about "what makes DIDs di

[2020-08-28 19:00] agropper commented on #382
I propose a compromise solution based on my privacy-inspired perspective in https://github.com/w3c/did-core/issues/370#issuecomment-683075977

Relative to yesterday's pending resolutions:

Treat the PDP serviceEndpoint as normative, if present.

Define an abstract data model for the PDP serviceEndpoint based on standard UMA2 and pending GNAP practices.

Yes.

[2020-08-28 20:00] peacekeeper commented on #382
I have some sympathies for this view; it seems to align with what Sam Smith has been trying to tell us since the Amsterdam F2F, which is that DID documents should only be about establishing control authority over the identifier, and that everything else (including service endpoints) should happen on a different layer.

But as others have pointed out in this thread, I also believe that alternatives

[2020-08-28 20:38] agropper commented on #382
Building on @Markus' "fundamental constructs that enable trustable
interaction associated with the subject", consider private keys and
authorization policies as the two things I should never be asked to put on
the wire. Relative to my private keys, all anyone ever sees is a useful
derivation. Relative to my policies, all anyone ever sees are a capability
derived from my policies. These are the two

[2020-08-28 21:51] jonnycrunch commented on #382
I have a procedural objection to this approach.  The proposals that we agreed to were an attempt to communicate consensus among the participates in a special topic call and as such are non-binding.  As Ivan @iherman pointed out in the minutes these "resolutions" would be brought back to the rest of the group for broader discussion.  Placing a 7 day window doesn't seem fair to such an important top

[2020-08-29 15:01] msporny commented on #382
The 7 day window is for the RESOLUTIONs we made, not for the topic at hand. This 7 day window is the process the group agreed to for the special topic calls. It provides an opportunity for people to object on the main topic call while ensuring that there is closure to resolutions so the group can build upon them.

/cc @brentzundel @burnburn -- we may want to remind the group of this process during

[2020-08-29 17:24] dlongley commented on #382
@csuwildcat,

This may actually be more likely to happen as a result of exposing service endpoints in DID Documents. Especially if herd privacy is desirable -- it may result in a limited number of centralized parties providing service endpoint routers that can adequately provide that feature. You may end up having to choose from this limited selection in the same way we have to choose to "login wi

[2020-08-29 17:47] csuwildcat commented on #382
I don't buy this argument at all - a Service Endpoint can point to a decentralized protocol via a URI into that system.

The owner of the DID determines this, not the DID ledger (nor should it, I would argue), so I don't find this line of argument persuasive.

A ledger is not the place where adjudication of purported types is resolved, that is always going to be in a less resource constrained syst

[2020-08-29 18:15] dhh1128 commented on #382
@dlongley : providing a link is a bit challenging, because knowledge about the question exactly as you framed it is scattered through numerous documents. The best single doc I can offer is [here](https://github.com/decentralized-identity/didcomm-messaging/blob/55527f684a835035136b55d777ba3a642072e8bc/routing.md). This covers about 70% of your question. I will attempt a summary here that is partly

[2020-08-29 18:20] dhh1128 commented on #382
I would like to point out a fundamental misalignment that permeates this thread. @msporny is approaching service endpoints from the standpoint that the goal of putting them into a DID document is to communicate a place to talk. I don't agree that this is an accurate summary of the goal. I would say that the goal of putting them into a DID document is to communicate a place to talk **such that the

[2020-08-29 19:02] agropper commented on #382
@dhh1128, is your "such that" framing for a optional but normative notification serviceEndpoint type the same idea as what I proposed above https://github.com/w3c/did-core/issues/382#issuecomment-683085862 except we substitute "notification" where I had "PDP" for the type and substitute "DIDComm" where I had "UMA2 and pending GNAP practices" for the data model?

As for @csuwildcat Use Case:

I'm c

[2020-08-29 19:14] dlongley commented on #382
@csuwildcat,

Which one? Which one(s) will the VDR permit? Will there be a centralized allow list for the ones that are permitted? How will the URI handle herd privacy? After all of these questions are answered, could it be that you should have just asked that other decentralized network directly for a VC signed by one of the DID's keys?

Then you don't understand the core problem I'm trying to hi

[2020-08-29 19:32] dlongley commented on #382
@dhh1128,

Thank you for your response, there's a lot of good information in it. I'm going to try and focus down to the specific problem with expressing information on an immutable VDR.

I think my question was unclear because it was interpreted to be talking about whether or not the service *behind* the endpoint itself was GDPR-compliant. Rather, I'm looking for a way to know whether or not the s

[2020-08-29 22:04] dhh1128 commented on #382
Ah. Yes, you're right; I misinterpreted the question.

I know of no way to inspect a raw URL and conclude with certainty that it does or doesn't contain PII.

You seem to be poking at whether putting into a DID doc a service endpoint with PII in it alters the GDPR analysis, as if the service endpoint is the locus of the risk. I don't think this implication is correct, because a DID value *on its o

[2020-08-30 00:35] dhh1128 commented on #382
@agropper :

I'm not sure. I don't think DIDComm is a "notification" service endpoint type; I think it's a service endpoint type all its own. It can be used for anything that DIDComm can be used for, which is any message-based interaction (protocol) that wants to inherit DIDComm's security and privacy guarantees and processing model. I also don't know enough about UMA2 and GNAP to feel confident a

[2020-08-30 15:43] dlongley commented on #382
@dhh1128,

A DID on its own does not necessarily identify a person. This depends on its use outside of the VDR. However, a URL that includes a person's full name identifies a person, all on its own.

[2020-08-30 15:51] dlongley commented on #382
@csuwildcat -- Please take a look at @dhh1128's [comment](https://github.com/w3c/did-core/issues/382#issuecomment-683346718). He covers Sovrin's view of putting PII onto a VDR and all of the problems there. This is the sort of thing I've been trying to highlight as a problem for the case you want supported.

[2020-08-30 15:56] dhh1128 commented on #382
A DID that has as its subject a person is PII, according to legal experts who've studied PII+GDPR+SSI carefully. The fact that some DIDs have subjects that aren't individuals is irrelevant. Putting a DID that identifies a person onto a public ledger is putting PII onto that ledger, even if it is not obvious to an outside observer that the DID in question has an individual as its subject. Obviousne

[2020-08-30 15:57] dlongley commented on #382
@csuwildcat,

I'm pretty sure @dhh1128 is mostly advocating in this issue for service endpoints in did:peer DID Documents, which is a separate case from putting service endpoints directly on a VDR -- which, I believe, is what you want.

[2020-08-30 15:58] dhh1128 commented on #382
True.

[2020-08-30 16:12] dlongley commented on #382
@dhh1128,

I understand that this is your position. It's not settled yet -- and until it is, there are possible interpretations that split the information into two separate classes. There are also a number of [exceptions](https://gdpr-info.eu/art-17-gdpr/) to the "right to be forgotten" for which this difference might be important either on its own or in conjunction with the function of or governa

[2020-08-30 16:18] dlongley commented on #382
@dhh1128,

Yes, but this approach is what @csuwildcat is railing against as being insufficient for his use case (which we still need to get more concrete about).

[2020-08-30 16:42] csuwildcat commented on #382
Guys, please reread this and consider how it is explicitly failing to solve for the needs I have. To help, I will restate the comment above in the scope of the use case: "Dan, you can create decentralized social networks, decentralized secondhand sales networks, decentralized gig economy exchanges, etc. that don't require centralized intermediary services, like Twitter, Craigslist, and Uber, by cr

[2020-08-30 16:49] csuwildcat commented on #382
To me: "The way you eliminate centralized platforms as the bottleneck for censorship, interdiction, and gatekeepery is by making it so people still have to crawl, index, and triangulate intended-public DIDs and intended-public data through those same centralized bottlenecks of censorship, interdiction, and gatekeepery"

Me:

![external-content duckduckgo](https://user-images.githubusercontent.com/

[2020-08-30 17:32] agropper commented on #382
GDPR aside, putting a DID that refers to a person on a public registry is
problematic for the same reason putting their Social Security Number or
their facial biometric on a public registry is problematic. In all three
cases, "rotating" the identifier is difficult, or in the case of
biometrics, impossible. That means that we need to consider how DIDs, SSN,
and biometrics are used rather than just

[2020-08-30 17:34] dhh1128 commented on #382
@csuwildcat : I don't think your sarcastic memes are appropriate for this community.

My comment that a DID *could* be published on Twitter or Facebook is quite different from saying that DIDs *must* be published on those platforms. It goes without saying that what can be published on social media can also be published in any other convenient way: by putting it on slides at a conference, by attach

[2020-08-30 20:38] csuwildcat commented on #382
Without a decentralized substrate for globally iterable ID/routing info that can be assembled without third-party reliance, you cannot deterministically locate all entities who wish to be included in exchanges without requiring specialized setups, third-party interdiction points, or ad hoc out-of-band coordination. I have no issue with entities who want to rely on centralized parties or resign the

[2020-08-31 02:31] agropper commented on #382
@csuwildcat I may have missed it, but could you respond to this question about your use-case? https://github.com/w3c/did-core/issues/382#issuecomment-683330079

[2020-08-31 03:13] dhh1128 commented on #382
@csuwildcat :

I agree with this statement, but:

1. I disagree that perfect enumeration is a requirement of the people who have public IDs. They are fine with ad hoc coordination, because it's easy to get their data visible to the parties they want to connect with (just as it's easy to publicize your email address if you want to). The problem arises when external data consumers want to index/craw

[2020-08-31 03:28] csuwildcat commented on #382
I honestly feel like we need a special topic call just to go over the decentralized app concepts in general, because I feel like this recurring question is a symptom folks who may not yet see past the 1% of identity that is credentials. But if we can't do that, here is the 'use case' (aka: entire world of use cases it represents): We need a system capable of decentralizing the vast majority of app

[2020-08-31 11:12] agropper commented on #382
Thanks. So, based on the example you give, what is the nature, if any, of
access control to this public information?

In the same vein, what prevents centralized actors from collecting all of
the public information they can get and then adding even more information,
leaked under the common exemptions for supposedly de-identified personal
data that we find in HIPAA, CCPA and pretty much every other

[2020-08-31 16:13] csuwildcat commented on #382
Anyone can access a public dataset that the entities are intentionally putting out to the world. This question is like asking "What prevents Google, DuckDuckGo, RSS feed viewers, web browsers, etc. from collecting/rendering your openly published blog posts to anyone who happens to hit a URL?" - because that's entire the point of some data: to be broadcast openly as widely as humanly possible, and

[2020-08-31 16:19] csuwildcat commented on #382
The DID substrate is a decentralized, interdiction-resistant, tamper-evasive secure routing system that allows peers to connect to whatever semantic information broadcasts an entity wants them to see - it's a world engine for decentralized information networks that can power a new class of decentralized apps and services.

Few Understand This™

[2020-08-31 16:38] agropper commented on #382
@csuwildcat and everyone in this discussion would do well to read https://blog.apnic.net/2020/08/31/rfc-8890-the-internet-is-for-end-users/ and consider the consequences of giving even more access to surveillance capitalists. What we need is technology that forces more transparency and control over personal data flows, not less.

[2020-08-31 16:56] csuwildcat commented on #382
@agropper I continue to be baffled that people are arguing I should not publicly, openly post blog entries, tweets, resumes, etc. to anyone who may want to read them. These use cases are fundamentally ones where you want *anyone* to be able to openly access the content, and do so as freely as possible, without interrogation or gatekeeping, but you're suggesting this is is wrong, which defeats the

[2020-08-31 17:04] agropper commented on #382
@csuwildcat What I'm proposing is illustrated by the quandary public website operators face with Google Analytics. As a publisher, I want to know as much as possible about who is interested and, if I could, why. A few privacy-resepecting website operators pay good money to avoid Google Analytics. Others just publish blind rather than expose the "requesting parties" to surveillance.

So, yes, as an

[2020-08-31 17:13] rhiaro opened #384 "Normative statements review"
I used a respec extension to pull out all the normative statements from the spec. They are listed here, with a note about their testability (if empty, assume it's automatically testable afaik), and proposals for changes to some.

Changes are to remove redundancy (it's not good to have more than one normative statement for the same feature, especially in different sections of the spec, and especial

[2020-08-31 17:44] csuwildcat commented on #382
@agropper I was just able to access your public posts and tweets (http://healthurl.com/www/Blogs_+.html, https://twitter.com/agropper) without any authorization required. These appear to be publicly available resources you want anyone to be able to openly view, is that correct?

[2020-08-31 17:47] dhh1128 commented on #382
@csuwildcat : I feel like I can see both your perspective and that of @agropper . I get that people want to publish stuff and operate publicly. But the other fundamental requirement is that people also want to be able to change their minds. You were operating publicly when you posted a cranky meme in a comment above; you later deleted that meme when I complained about it. This was possible because

[2020-08-31 18:25] csuwildcat commented on #382
Why on folks trying to tell me about how blockchains are immutable and you can't delete things, while websites have edit features to delete things from databases? Are folks somehow getting confused and thinking I am saying this data should/will be present on a blockchain or within some immutable infra layer in a DID Method? If so, I am not doing that at all, and I am struggling to see how I can ma

[2020-08-31 18:34] agropper commented on #382
@dhh1128 nails it when proposing that individuals should control where our public information is indexed. In the secure data stores context, I advocate for indexes to be treated like any other data resource and kept separate from the documents and streaming interfaces who's metadata is being aggregated and indexed. I would treat both indexes and storage as policy enforcement points (PEP) to be tol

[2020-08-31 18:35] csuwildcat commented on #382
We absolutely must have a topic call on this, because what I thought was a relatively straightforward thing has not been understood as I thought it would. It's clear that the vast majority of folks on it are focused on the 1% of identity that is core ID/credential type data/claims - which is fine, while others are looking to tackle things outside of that. I don't particularly care what folks work

[2020-08-31 18:37] csuwildcat commented on #382
None of this makes any sense. You can run your personal datastore wherever you want, and I am not sure why you would install a tracker on your own PDS. You seem to be talking about something that does not apply to the service endpoint routing layer.

[2020-08-31 18:47] agropper commented on #382
@csuwildcat It's not about my PDS. It's about my ability to decide on access to any data store, even public ones, like LinkedIn 2.0 where, along with my user authentication, I could register my PDP, so that LinkedIn MUST refer you or anyone else that wants to see my posts, would first have to visit my UMA or GNAP Authorization Server and get an authorization token. Right now, I have to depend on L

[2020-08-31 18:51] csuwildcat commented on #382
You encrypt data and set PDS permissions to accomplish exactly this, and you don't need to contact another server, you just get permission/encrypted access to things from the owner of the PDS themselves. I feel like I am in the Twilight Zone right now.

[2020-08-31 18:55] agropper commented on #382
@csuwildcat How would this work with LinkedIn without damaging any of its current significant value propositions? Can you explain the steps that LinkedIn and I would implement?

[2020-08-31 19:04] dhh1128 commented on #382
The URI of your personal datastore, if PII (e.g., `https://mydatastore.com/csuwildcat`), cannot be erased from the immutable ledger. What it exposes can be changed -- but if the ledger stores that URI and supports a historical view, there is no way to delete that identifier for you. It is like carving your phone number in granite; sure, what you say on that phone line can change, but the number it

[2020-08-31 19:05] csuwildcat commented on #382
@agropper apps like LinkedIn can be designed to crawl for resumes and other public info people/companies intentionally expose to the world, and present that information in whatever UI they believe people will like to use. They could also build features in to 'follow' the DIDs of people/companies you are specifically interested in, which, inside the app, would just mean that the app goes to check t

[2020-08-31 19:21] csuwildcat commented on #382
First off, I never said the endpoints need to include identity data or human-friendly info, so I regard the first part about `csuwildcat` in the URL as a strawman that I will leave to whomever was arguing for that - because it certainly wasn't me. No personal info goes on the ledger, we all agree on this, and I really hope we don't have to constantly rehash this every time we talk about the 99% of

[2020-08-31 19:45] mwklein commented on #382
The phone number == a subject when the element of time is included (it is not possible for a phone number to be allocated to more than one person at a single time). For the period of 2018-2019, the phone did represent you and this is something that cannot be undone. While in 2020 the phone number may no longer represent you, it does not change the fact that the phone number DID represent you and c

[2020-08-31 19:50] csuwildcat commented on #382
The Subject the 'phone number' (DID) represents at any point is something that cannot be determined by the ledger/DID Method, it's a claim that another party makes about an interaction they took part in. This is a complete goalpost move of what this entire thread is about, because the fact remains that the DID Document, service endpoints or not, is not the think that is going contain actual data a

[2020-08-31 20:11] jonnycrunch commented on #382
@msporny as you point out I did not formally object to the resolutions. I voted neutral (0) and simply emphasized that more discussion is needed.  Given the amount of discussion documented in this thread, I don't seem to be far off base.  I defer to the Chairs regarding how resolutions in special topic calls are handled and brought to the larger group for discussion.  My understanding was these "r

[2020-08-31 21:10] bumblefudge commented on #382
**[The DIF Glossary Group](https://identity.foundation/open-groups/glossary.html) would like to report out on some directly-relevant recent work.** As the endpoint olympics were just warming up, the WG sent out a survey via various community channels about the nature of endpoints, their relative value, and their standardization. [These](https://docs.google.com/spreadsheets/d/1jNpWDEMvjtgom5O-EDCXf

[2020-08-31 23:48] dlongley commented on #382
@dhh1128,

Yes, thank you. This.

@csuwildcat,

I tried to make the problem clear above. This isn't about whether you're arguing for a human-meaningful URL -- that's great that you're not. It's about whether or not the immutable VDR **can tell the difference** between a human-meaningful URL and one that is not. *Because the VDR needs to prevent the human-meaningful ones from being recorded*. **Ple

[2020-09-01 00:33] csuwildcat commented on #382
The use cases themselves demand the convergence of what you may view as competing requirements (I don't), thus moving the endpoints doesn't change anything for me. There are also a host of game theoretical issues with doing this, but I don't think it will profit us to go into them on this thread.

No, it means I reject the assertion that this is what a DID Method must do and I reject the assertion

[2020-09-01 13:08] peacekeeper commented on #249
@cstoecker Since you raised this issue, would you agree that this could go into a different document, i.e. either the [DID Resolution spec](https://github.com/w3c-ccg/did-resolution) in the CCG, or the [Implementation Guide](https://github.com/w3c/did-imp-guide) in the WG. If so, can we close the issue here and follow up in the other repos?

Or do you have a suggestion what we could add to DID Cor

[2020-09-01 13:09] peacekeeper commented on #65
@dmitrizagidulin based on the last few comments, can we close this issue?

[2020-09-01 14:41] OR13 commented on #382
- https://cointelegraph.com/news/ciphertrace-develops-monero-tracing-tool-to-aid-us-dhs-investigations
- https://en.wikipedia.org/wiki/T-closeness

There will always be another registry... the question is, how much information in a decentralized public registry should be usable to correlate with private ones....

The more stuff we put in a VDR that is not public key material and deterministic tran

[2020-09-01 15:33] msporny commented on #266
Waiting on @DurandA for feedback.

[2020-09-01 15:33] msporny commented on #208
Still waiting on me (or someone else) to write a spec.

[2020-09-01 15:36] OR13 commented on #205
I think we need to address this via `content-type` and default parser behavior...

[2020-09-01 15:37] msporny commented on #363
Agreed, we need to rewrite how Authorization is described in the spec and the Editors will need to do that in a rewrite.

[2020-09-01 15:37] jricher commented on #205
This needs a PR to address this: the group needs to decide whether things get ignored, passed through, handled as errors, or whatever -- as long as it's consistent across representations.

[2020-09-01 15:38] OR13 commented on #205
I can take a stab and improving this, in did core... I tend to agree that we should allow unknown properties to be ignored... and the JSON do that... and that if someone asks specifically for JSON-LD... that maybe that means that unknown properties are dropped... that seems fine... I would never ask for JSON-LD if that were the case :)

[2020-09-01 15:38] selfissued commented on #205
I believe that we should move the statement that properties that are not understood from the JSON section to the abstract data model section, so that it applies across reprepresentations.

[2020-09-01 15:39] agropper commented on #324
See also #370 and #382

[2020-09-01 15:39] dlongley commented on #202
I will look into resolving the conflicts and looking at the comments on #362.

[2020-09-01 15:41] jonnycrunch commented on #205
+1 to @OR13 that this would be handled separately depending on `content-type`,    Do we have a full list of `content-type` ?
if content-type == JSON-LD {
    ....
} else if content-type == jwt {
   ....
} else if content-type == json {
  ....
} else if content-type == cbor {
 ...
} default {
  .... but I'm  not sure what default handle unknown should look like .
}

[2020-09-01 15:43] msporny commented on #266
The WG discussed this on the 2020-09-01 call, we won't be taking an action on this since it is up to the key expression mechanism to support fingerprint (that is done outside of this WG - in the W3C CCG for Linked Data Security Cryptosuites), we have waited a month for feedback with no feedback. Therefore, we will close this in 7 days unless there is an objection.

[2020-09-01 15:44] OR13 commented on #205
so far we have seen `application/did+json` and `application/did+ld+json`... I would expect unknown properties to be forwarded without  tampering when asking for  `application/did+json`.... when asking for `application/did+ld+json` I would expect one of 2 things...

1. An error is returned when the did document contains unknown properties.
2. unknown properties are dropped.

The end result of this

[2020-09-01 15:48] msporny commented on #341
We discussed this in the WG call today - there doesn't seem to be any interest from the rest of the group on this particular item (CRC32 CBOR Tag), especially without more details. This issue is on track to be closed without more specificity since there are other CBOR issues being tracked by the WG: https://github.com/w3c/did-core/labels/CBOR.

[2020-09-01 15:49] OR13 commented on #338
+1 to closing this.

[2020-09-01 15:49] #338 closed

[2020-09-01 15:50] selfissued commented on #341
The IANA registration policy for CBOR tags for most ranges is Specification Required or First Come First Served - meaning that any specification can register tags.  While if specific proposals are made to the working group, we can and should review them, actually registering the tags is dependent only only having concrete specifications for them, and not working group actions.

[2020-09-01 15:51] jonnycrunch commented on #340
I was waiting to get feedback before submitting PR and to make sure the example is a well formatted COSE with int as keys.

[2020-09-01 15:52] rhiaro commented on #122
This will be closed when PR #371 is merged, which contains further discussion and is just about ready.

[2020-09-01 15:52] OR13 commented on #185
Suggest we close this, verification method types are responsible for defining supported algorithms. DID Core does not need to do anything but support registration of verification method types.

[2020-09-01 15:53] msporny commented on #367
This is waiting on me to move things over.

[2020-09-01 15:55] msporny commented on #359
Array of objects... that's where most of these discussions ended in the VC spec.

[2020-09-01 15:56] OR13 commented on #359
hmm isn't services already an array of objects... why do we need to allow `serviceEndpoint` to be of any type other than `string` or `object`.

[2020-09-01 15:57] csuwildcat commented on #368
Resolved by latest PR for `id` prop usage clarification.

[2020-09-01 15:59] csuwildcat commented on #359
@msporny I am in favor of simply leaving this as is, with a string or object, given the alternatives haven't leaned in the direction I was hoping (either all three types, or just an object). Can I close this with no additional action required?

[2020-09-01 15:59] msporny commented on #339
We seem to have consensus around having a CBOR section in the spec... without calling out specific sub-versions of CBOR-specific encodings.

[2020-09-01 16:02] msporny commented on #359
Fine by me.

[2020-09-01 16:52] #359 closed

[2020-09-01 16:58] jandrieu commented on #382
I've taken some time to read through this. I was hoping there might be some movement towards a consensus--and I don't think I'm in the larger consensus on what I'm about to say--but I don't see one emerging. So, apologies for taking this even further afield...

First, I agree with Manu that service endpoints in the DID Doc are an anti-pattern. I have raised my privacy concerns before, with limited

[2020-09-01 17:03] jonnycrunch commented on #205
To be clear, I'm still not sure what is meant by `unknown`.  Is it not in the JSON-LD context, is the JSON-LD not resolvable at the given time of validation/verification, are the terms/attributes not in the DID-spec-registry, are they not in a registered IETF/IANA registry like published algorithms for JWT, JOSE or COSE, (i.e. [ES256k-R](https://github.com/decentralized-identity/did-jwt/issues/62)

[2020-09-01 17:49] dhh1128 commented on #382
@jandrieu That is a really helpful comment. Thank you. It has stimulated some neurons in my brain, I think.

I have been arguing that correctly implemented service endpoints are necessary because they allow cryptographic control of the DID to extend to control over metadata about that DID. Essentially, I want it to be possible to perform the rough equivalent of a database transaction, where keys a

[2020-09-01 17:51] dhh1128 commented on #382
tagging @SmithSamuelM and @kdenhartog and @peacekeeper re. the comment above. ^^

[2020-09-01 18:10] agropper commented on #382
I really appreciate @jandrieu review and maybe I understand @dhh1128. I would be happy to converge on a single, optional serviceEndpoint that points to a policy decision point. That way, when I use a DID to authenticate using my private keys I am also able to provide a place for the requesting party RqP to try and continue the "first contact".

In no way should this one service endpoint be a direc

[2020-09-01 18:14] SmithSamuelM commented on #382
For me the privacy question comes down to how you are disclosing PII.  If I am using KERI and I want to disclose PII in a private way then I would never use a Public Mechanism to do so.  If a DID is resolvable through a public DID resolver and that provides a DID:DOC then I am hosed. I already made my private information unprivate. Its too late.

If on the other hand I am using public infrastructu

[2020-09-01 19:10] dlongley commented on #382
@dhh1128,

If this wasn't clear before, the assertion was to use VCs to express any information (such as service endpoints) beyond the DID itself, verification methods, and verification relationships. So we already have a mechanism to do what you discuss thereafter -- and we don't have to change anything, I don't think. All we need to do is encourage people to express service endpoints using VCs -

[2020-09-01 19:41] dhh1128 commented on #382
That does not magically resolve my concern Dave. The issue is that I don't
believe individuals as issuers is a good idea from a privacy perspective
with any of the solutions we have today. So we have a loss of functionality.

On Tue, Sep 1, 2020, 1:11 PM Dave Longley <notifications@github.com> wrote:

[2020-09-01 19:47] dlongley commented on #382
@dhh1128,

I don't understand how using a VC that states the DID as the issuer and includes only the service endpoint is meaningfully different from publishing a service endpoint in a DID document directly -- from a privacy perspective. Other than that the VC doesn't have to be on the immutable VDR, of course. What are the privacy concerns?

[2020-09-01 19:48] dhh1128 commented on #382
I might be able to get around my concern if every single interaction where
an individual wants to give such a VC is a new VC, rather than reused. But
I think in some ways that's exactly the same privacy Temptation that
disclosing PII on a ledger constitutes. I think people are likely to do it
wrong. Setting aside the Privacy question I feel funny about creating a
technical dependency where it is r

[2020-09-01 19:53] #202 closed

[2020-09-01 19:54] dlongley commented on #382
@dhh1128,

VCs do not depend on DIDs.

I would expect this to be common in a lot of cases, actually, to turn over a brand new, short-lived VC through a communication channel that has been established to transfer the DID itself as well. If the VC is going to be longer lived, then that's the sort of VC that would live on these decoupled registries that have been discussed in this thread anyway. It w

[2020-09-01 21:31] jandrieu commented on #382
@SmithSamuelM I'm not sure I understand this assertion:

If I can use the DID Document to verify the authenticity of a affirmative statement about endpoints (e.g., through signature or encryption), wouldn't that make the security independent of the transport? And hence it is perfectly reasonable to assert that "service endpoints can be had by other means"?

I share that goal of securely bootstrapp

[2020-09-01 23:06] OR13 commented on #384
On the special topic call, we discussed how we might start breaking these down into assertions, inputs, outputs, etc...

I think the next major action items are as follows:

Merge https://github.com/OR13/did-core-tests
Into https://github.com/w3c/did-test-suite

Setup CI, add some more realistic scenarios.

[2020-09-01 23:19] dhh1128 commented on #382
@dlongley :

I agree that this is technically true, as the VC spec allows identifiers for issuers (required) and holders (optional) to be URIs or identifiers having the same properties as DIDs. But AFAIK, that distinction only exists in theory, not in practice. How many members of this group have built VC handling stacks that are DID-free? My concern is practical.

DIDs are low-level plumbing, onl

[2020-09-01 23:30] wyc opened #385 "Are we okay with not testing DID URL's query?"
As we move towards progressing the test suite in https://github.com/w3c/did-test-suite, we have some final considerations around DID URL.

1. We use URI's [query definition](https://tools.ietf.org/html/rfc3986#section-3.4), which does not have a definitive stance on its content and interpretability, only its form of `query = *( pchar / "/" / "?" )`. It also hints that `query components are often u

[2020-09-02 00:10] agropper commented on #382
I'm lost.
- I want to invite contact by "appropriate" requesting parties. (e.g. I
have depression and am worried)
- I want to keep the policies for what is appropriate secret, just like I
keep my private keys secret. (e.g. I will only respond to males in my ZIP
code)
- I want to decide how I'm discovered by entities that may or may not have
any idea of my policies. (e.g. I choose three dating serv

[2020-09-02 00:34] wyc commented on #382
Drawing some examples to further this line of reasoning from @dhh1128

For discussion purposes only, _not_ a recommendation from me at this time.

DID Control Document
[code]

DID Service Document
[code]

### Pros
- DID Method impls should be able to recycle much of DID Control Doc Resolution for DID Service Doc Resolution, therefore have theoretically the same immutability guarantees.
- Can segre

[2020-09-02 00:36] dhh1128 commented on #382
One is repudiability. VCs are not repudiable (unless you use ZKPs, and even then, it's only an option, not the default). Unsigned DID docs (e.g., as shared with peer DIDs in DIDComm) are. What this means, in practical terms, is that when Alice receives Bob's DID doc, she can't prove to Carol with the DID doc itself that it's truly Bob's DID doc; unauthorized sharing loses assurance unless Alice ar

[2020-09-02 02:30] jandrieu commented on #382
@dhh1128 you say

Why do you say this? As in, is there spec text I missed that actually states or implies this?

To my understanding if I get a VC from an Issuer (using a DID), signed by something that does not have a matching entry in that Issuer's CURRENT DID Document, it will fail verification.

My expectation is exactly the opposite of what you said. Did I misunderstand what you meant?

[2020-09-02 04:14] talltree commented on #382
Whew! What a thread. I just read the whole thing because on this morning's DID WG call this issue was pointed to as "the outcome of the special topic call on service endpoints". I had no idea it had grown to this length.

I will keep this short. I hate to say it, but so far the content in this thread almost completely misses the two main reasons for keeping service endpoints in the spec **provided

[2020-09-02 05:35] csuwildcat commented on #382
@talltree:

![ezgif-7-09a6b9b3daf1](https://user-images.githubusercontent.com/131786/91935842-71b91200-eca3-11ea-9d2f-c078de364313.gif)

[2020-09-02 10:27] peacekeeper commented on #385
@wyc thanks for bringing this up. Based on your earlier insights regarding DID URL syntax, we merged https://github.com/w3c/did-core/pull/360 a few weeks ago, and we now simply use the RFC3986 `query` rule instead of enforcing a name=value pattern. I think this change was correct.

I don't think this means that we can't test the name=value pattern in DID URLs. After all, we're saying the following

[2020-09-02 11:04] SmithSamuelM commented on #382
@jandrieu

But those other means must be defined as part of some standard for interop sakes not merely hypothetically referenced. That’s my point about punting.

I agree but the DID spec is useless for DIDs if we don’t do that someplace.  Indeed in other places I have suggested the tension with DID Docs is that instead of a one place fits all model we should be using a layered approach.

Layer 0:

[2020-09-02 11:38] SmithSamuelM commented on #382
@jandrieu  @dhh1128

This is a very revealing comment. If the DID Doc spec is so ambiguous that there is not a clear understanding of how authoritative statements work wrt to rotating keys then we have messed up big time.

One of the reasons I wrote KERI was to precisely define control establishment in rigorous way. Control establishment must include key rotation and what that means in terms of co

[2020-09-02 12:39] SmithSamuelM commented on #382
+1.    GDPR considers cryptographic hashes and identifiers PII when they are correlated to PII.  This is severe problem for all ledgers that use DIDs.   to arbitrarily consider service endpoints as potential PII but ignore that fact that the DIDs themselves are potential PII is a problematic view.

[2020-09-02 12:59] peacekeeper commented on #380
I don't think so, we made that up ourselves. We briefly considered using [WebIDL](https://heycam.github.io/webidl/), but that is for concrete browser APIs rather than abstract function definitions.

The way I see it, this depends on how concrete DID methods and resolver implementations are architected. I could see potential dependencies between the two functions both ways:

1. Let's say you want t

[2020-09-02 13:15] dhh1128 opened #386 "need to clarify revocation vs. rotation"
Creating a new issue to track a tangent to #382.

There appears to be a misalignment in the community about the semantics of changing a key associated with `assertionMethod` in a DID doc. The relevant comments from #382:

https://github.com/w3c/did-core/issues/382#issuecomment-685248497
https://github.com/w3c/did-core/issues/382#issuecomment-685629401

Tagging @jandrieu and @SmithSamuelM who have

[2020-09-02 13:52] SmithSamuelM commented on #382
Key rotation versus signed statement revocation.  The authority of a signed statement is imbued to it by its signature and the keys used to create the signature. Is a signed statement authoritative/authorized after the keys used to sign it have been rotated? If not then the statement is effectively  revoked as not longer being an authoritative/authorized statement.  If the statement is still autho

[2020-09-02 13:59] dhh1128 commented on #386
@SmithSamuelM already commented on this, but I want to directly answer @jandrieu's question.

The whole point of digital signatures is that they are non-repudiable; they commit the signer to a historical action in a way that they can't deny. This is the basis for holding a party accountable. It's the non-repudiation that makes them useful.

If I use `assertionMethod` to sign a mortgage, I cannot s

[2020-09-02 14:03] dhh1128 commented on #382
For anyone reading this thread who becomes interested in the side-topic of rotation vs. revocation (what I, Joe, and Sam mentioned), I created a separate issue to move the discussion into its own context: https://github.com/w3c/did-core/issues/386

[2020-09-02 14:13] SmithSamuelM commented on #386
Yes the term revocation is used in two completely different ways in the identity space.   In the key management world one may speak of revoking keys.  In the statement issuance, authorization issuance or credential issuance world one may speak of revoking an authorization or a credential.

This becomes confusing when revoking keys also implicitly revokes authorizations.

KERI terminology avoids th

[2020-09-02 14:16] SmithSamuelM commented on #386
@dhh1128
Key rotation versus signed statement revocation. The authority of a signed statement is imbued to it by its signature and the keys used to create the signature. Is a signed statement authoritative/authorized after the keys used to sign it have been rotated? If not then the statement is effectively revoked as not longer being an authoritative/authorized statement. If the statement is still

[2020-09-02 15:29] agropper commented on #386
This makes sense to me. I always try to map these discussions into the [healthcare use case](https://w3c.github.io/did-use-cases/#prescriptions) where the physician is licensed by the DEA IFF they can be held accountable for signing a (controlled substance) prescription in a non-repudiable manner and also the prescription can be revoked when dispensed or "lost".

Under the DEA rules, the physician

[2020-09-02 16:04] dlongley commented on #382
@SmithSamuelM,

Emphasis mine. I agree with your statement here, but the distinction written about above is not arbitrary.

[2020-09-02 20:34] tplooker commented on #185
Agree with @OR13 sentiment we will leave it to individual verification methods to define

[2020-09-02 20:34] #185 closed

[2020-09-03 17:12] OR13 commented on #205
yes, this was why I attempted to import sufficient language regarding did core into the registries in this PR:

https://github.com/w3c/did-spec-registries/pull/115

In essence:

- `application/did+json` documents have no "unknown" properties.... they have known ones, which are in the registries.
- `application/did+ld+json` documents have "unknown" properties... you can get a list of them, by apply

[2020-09-03 20:37] peacekeeper commented on #382
I created an issue in the did-spec-registries which argues that there should not be a centralized registry of services types, I think that's loosely related to this issue here: https://github.com/w3c/did-spec-registries/issues/125

[2020-09-04 07:06] iherman commented on #208
I am flagging this issue (and added Brent and Dan on the assignee list) because it begins to bite us. I do not think we should go to CR without the media type issue solved (applications may have to look at the media type to differentiate between vanilla JSON and JSON-LD); on the other hand, I see zero chance for being able to register application/did+ld+json with the required 1-2 months. We may be

[2020-09-04 07:19] iherman commented on #205
I must admit I am not sure what you mean by "forwarding" in this case. However, per https://github.com/w3c/did-core/issues/205#issuecomment-589865739 (see also the [playground example](https://json-ld.org/playground/#startTab=tab-expanded&json-ld=%7B%22%40context%22%3A%7B%22known_prop%22%3A%22https%3A%2F%2Fwww.example.org%2Fprop%22%7D%2C%22known_prop%22%3A%22something%22%2C%22unknown_prop%22%3A%22

[2020-09-04 13:12] brentzundel commented on #325
Given the comments, I am removing the `pending close` tab

[2020-09-04 13:13] brentzundel commented on #8
No comments since marked pending close, closing.

[2020-09-04 13:13] #8 closed

[2020-09-04 13:16] OR13 commented on #205
@iherman

By this I mean the result of the following:

https://github.com/gjgd/jsonld-checker/blob/master/packages/lib/src/check.ts#L18

https://json-ld.org/spec/latest/json-ld-api/#dom-jsonldprocessor-expand
https://json-ld.org/spec/latest/json-ld-api/#dom-jsonldprocessor-compact

By doing this, all properties absent from the `@context` are dropped.

It is possible that a JSON-LD Producer might r

[2020-09-07 19:13] peacekeeper commented on #36
I believe this can be closed now that https://github.com/w3c/did-core/pull/378 has been merged, @talltree and others do you agree?

[2020-09-07 19:13] peacekeeper commented on #137
I believe this can be closed now that https://github.com/w3c/did-core/pull/378 has been merged, @iherman do you agree?

[2020-09-08 04:57] iherman commented on #137
Yes.

[2020-09-08 10:27] peacekeeper opened #390 "Section "Authentication and Verifiable Claims": Add language about legal identity"
Issue https://github.com/w3c/did-core/issues/151 was created a while ago in DID Core to consider mentioning of the E.U.'s [eIDAS framework](https://en.wikipedia.org/wiki/EIDAS). While in DID Core we probably don't want to go into details about eIDAS specifically, it could be useful to add some considerations about legal identity in general.

Section ["Authentication and Verifiable Claims"](https:/

[2020-09-08 10:27] peacekeeper opened #391 "Section "Authentication and Verifiable Claims": Add subsection about key security"
Issue https://github.com/w3c/did-core/issues/151 was created a while ago in DID Core to consider mentioning of the E.U.'s [eIDAS framework](https://en.wikipedia.org/wiki/EIDAS). While in DID Core we probably don't want to go into details about eIDAS specifically, it could be useful to add some considerations about the security of private keys and other secrets.

Section ["Security Considerations"]

[2020-09-08 10:33] peacekeeper commented on #151
Based on the proposal https://github.com/w3c/did-core/issues/151#issuecomment-603932879 earlier in this thread, I created four issues to split up the topic, and I will ping people in those respective issues who I think may be interested in addressing them. Of course anyone feel free to work on any of them:

- https://github.com/w3c/did-core/issues/390
- https://github.com/w3c/did-core/issues/391
-

[2020-09-08 10:37] peacekeeper commented on #391
@awoie would you be interested in adding some content related to the security of keys, FIDO assertions, LoAs?

[2020-09-08 10:40] peacekeeper commented on #390
@Oskar-van-Deventer and/or others, would you be interested in adding some language about bindings DIDs to a legal identity? I can also work on this.

[2020-09-08 10:40] peacekeeper commented on #390
@Oskar-van-Deventer and/or others, would you be interested in adding some language about binding DIDs to a legal identity? I can also work on this.

[2020-09-08 10:43] peacekeeper commented on #261
@marceljay any further thoughts on this? Otherwise I will try to write a PR to replace or clarify the term "client" throughout the document.

[2020-09-08 14:11] marceljay commented on #261
Sorry, I am working on a different project and haven't had looked into the spec ever since.

 I think your suggestions are very beneficial. I would add that in those cases where the spec refers to actual software, I would make that clear, just as you suggested.
e.g. `client-application` or `client-implementation`could work well too.

[2020-09-08 15:42] dlongley commented on #329
This issue depends on the discussion in #382.

[2020-09-08 15:45] #23 closed

[2020-09-08 15:45] OR13 commented on #23
closing, opened https://github.com/w3c/did-spec-registries/issues/126

[2020-09-08 15:46] dlongley commented on #318
Still waiting on some space during a special call where this could be discussed.

[2020-09-08 15:48] OR13 commented on #171
Recommend closing.

[2020-09-08 15:49] msporny commented on #374
+1 to close.

[2020-09-08 15:51] OR13 commented on #170
I suggest we close this issue, we need `id` and `type` not everyone uses JOSE / JWK.

[2020-09-08 15:53] msporny commented on #332
This is supported now, so change should be easy.

[2020-09-08 15:53] OR13 commented on #374
https://github.com/w3c/did-spec-registries/issues/126

We can't close this until `publicKeyPem` from did core and did spec registries.

[2020-09-08 15:58] iherman commented on #361
This is also related to #379

[2020-09-08 16:00] peacekeeper commented on #174
@selfissued following up on my previous comment, I think this can be closed. Do you agree?

[2020-09-08 16:00] brentzundel commented on #85
I recommend closing.
@selfissued Is there more to be done to address this issue?

[2020-09-08 16:03] jonnycrunch commented on #361
similar concern for ordered map that I brought up before.  https://infra.spec.whatwg.org/#maps defines ordered map, but doesn't specify HOW it is ordered to make it deterministic.  I, myself, like the option with json<-->dagCBOR that is in https://tools.ietf.org/html/rfc7049.

[2020-09-08 16:03] brentzundel commented on #199
We had a special topic call to discuss this. The steps to move forward are to introduce a `type` property that will allow a user to specify the type of the document e.g., so that a DID document can be both a DID Document and a schema.
also waiting on `alsoKnownAs`

[2020-09-08 16:05] brentzundel commented on #332
If I understand correctly, it is the possibility of breaking some of the W3C tooling that has fueled much of the pushback on this.
@iherman does the W3C tooling assume the existence of a master branch and can that be changed?

[2020-09-08 16:10] iherman commented on #332
I do not think the issue is whether the tooling relies on the name "master"; it probably does not. The issue is whether it is prepared for a change of a repository that has already entered the system, so to say.

I add @deniak here, maybe he knows, and he also knows whether other repos have already gone through such a change.

[2020-09-08 17:05] deniak commented on #332
I'm not aware of any specification repositories that have renamed the branch. @plehegar is actually coordinating the switch. He should have more details.

[2020-09-08 22:38] kdenhartog commented on #269
This issue is going to be closed and the discussion will become part of the work that's done for #373

[2020-09-08 22:38] #269 closed

[2020-09-10 23:18] SmithSamuelM commented on #386
@or13   You are confirming that in token based security systems verification of a token is against the current set of signing keys not the keys that were authoritative when the token was issued. That is they use Rule 2).  This is in direct opposition to what the normal use case for VCs which is verification is against the keys used to issue the VC not the current set of keys. That is rule 1).  Hen

[2020-09-10 23:18] SmithSamuelM commented on #386
Here is a related Issue in DIF for KERI use case for key rotation in IoT.

https://github.com/decentralized-identity/keri/issues/53

[2020-09-10 23:32] SmithSamuelM commented on #386
I think the ambiguity here is that how to interpret DID:Docs. Does a DID:Doc act like an OIDC authorization token which uses rule 2) or a verifiable credential which uses rule 1).

I suppose it depends on the DID method. This is one of the security problems of having role your own DID methods. There is no good expectation of behavior.

[2020-09-11 03:35] jandrieu commented on #386
I agree that this is an under estimated issue. I brought up at the face-to-face in Amsterdam (and in a related issue #168) that we currently have no way to record in the DID Document anything about a key that is NOT currently valid.

I believe *ALL* spec-text in both DID and VC work discusses that the validity of the VC is checked against the current DID Document.

The notion that you need a "vers

[2020-09-11 13:35] brentzundel commented on #266
No comments since marked pending close, closing.

[2020-09-11 13:35] #266 closed

[2020-09-11 18:07] OR13 commented on #386
@SmithSamuelM

This is not correct.

https://w3c.github.io/vc-data-model/#proofs-signatures-0

There is **no difference** between verifying a JWS with `kid` `did:example:123#kid` for a VC and...

an `id_token` with `iss` `https://issuer.example.com` and `kid`....

The logic the verifier performs is the same. dereference the `kid` to public key bytes and check the JWS.

If dereferencing fails the t

[2020-09-11 19:17] dhh1128 commented on #386
I strongly disagree. Verifying *now* has to be a question of whether the assertion was valid *then* (where "then" is the moment the assertion was made). All legal precedent is based on this kind of analysis. We're in court, arguing about whether Alice should be held accountable for transferring a million dollars to Bob's account. Alice says, "I now consider Bob a shyster, and I don't like what he'

[2020-09-11 19:24] dhh1128 commented on #386
BTW, the need to have some kind of unwinding of assertions is the reason why we need a VC revocation feature. If an issuer knows in advance that they may have reasons for withdrawing their support from an assertion, they can publish to the world their intention to support revocation with respect to the VCs in question. For example, a driver's license bureau can say, "We're making our driver's lice

[2020-09-11 20:50] SmithSamuelM commented on #386
I copied this discussion to the DIF KERI repo because it had relevance to KERI but realized that new comments by Orie that I responded to were there not here.

These are relevant.  https://github.com/decentralized-identity/keri/issues/52#issuecomment-691249959

[2020-09-11 20:56] SmithSamuelM commented on #386
The conflict is the verification model or rules. As I pointed out above, authorization tokens use a different rule than what most VCs use. The rule for authorization tokens is automatic revocation of the token if keys are rotated. So in this sense @OR13 is right that a log of when an authorization happened is merely forensic since a key rotation revokes all tokens issued prior. One may call this a

[2020-09-11 20:58] SmithSamuelM commented on #386
There seems to be some strong cognitive dissonance on verification models. This is why I detailed the three choices of rules. 1) 2) and 3).  So one can pick which set of rules one uses but that selection determines how you build your system.  There are all valid choice but not simultaneously valid in the same system. One has to pick.

[2020-09-11 21:00] SmithSamuelM commented on #386
This is one reason why "token" security models are not necessarily a good fit for VCs. They use an ephemeral model of authorization and VCs use a persistent model. They are not the same and should not be confused.

[2020-09-11 21:03] SmithSamuelM commented on #386
What that means is that tooling designed for the ephemeral model is of little use in a persistent model. Trying to leverage tooling from one model for the other will be an exercise in frustration.

[2020-09-11 21:05] SmithSamuelM commented on #386
Using an ephemeral model for DID:Docs and a persistent model for VC based on those DID:Docs will also be an exercise in frustration.

[2020-09-11 21:15] SmithSamuelM commented on #386
AFIK most implementations of Object capabilities also use an ephemeral authorization model, although there is nothing in the object capability concept that requires it. An implementation could use a persistent authorization model.  But clearly credentials are much more than authorization tokens and that means IMHO that a persistent authorization model works best for them. As the uses cases for bot

[2020-09-11 21:18] SmithSamuelM commented on #386
VCs are the new kid on the block. There were designed without expressing conceptually what their authorization model looks like. But revocation registries clearly indicate that its a persistent one. This becomes glaringly obvious when you answer the question. Does key rotation of the issuing DID require that all issued VCs must be re-issued? If the answer is no then your have a persistent authoriz

[2020-09-11 21:19] SmithSamuelM commented on #386
So we can ask the same question of a DID:Doc.   If I use a persistent authorization model for a DID:Doc then I have just made it possible to use a VC as an ersatz DID:Doc.

[2020-09-11 21:22] SmithSamuelM commented on #386
If DID resolution meta data returns a proof of control authority (BTCR, KERI, Sovrin State proof) then I don't need a Did:Doc to use a DID. I can just use the DID resolution meta data to establish authoritative signing keys and then issue a VC that contains everything is wanted to put in the DID:Doc.  The DID Spec gets really simplified.

[2020-09-11 21:50] jonnycrunch commented on #240
So I think this still needs to be discussed on a special topic call.   I'm still very much confused regarding the overlap of LD signature WG and our WG and who is on point to do what.  We have painted ourselves into a corner with the necessity to support JWS and yet their is conflicting solutions on how to represent this in other formats such as CBOR/COSE.  as @OR13 pointed out above we agreed tha

[2020-09-11 22:08] jandrieu commented on #386
@dhh1128 I agree with your basic argument, that the use case for checking a signature would benefit from being able to check if the signature was legitimate at the point of signing.

However, can you point to any spec text in VCs or DIDs that describes verifying anything in that manner?

I think we have quite a bit of work to do to adjust the language and existing consensus to support how you have

[2020-09-11 22:13] SmithSamuelM commented on #386
@jandrieu I would be very surprised if the spec text mentioned such a requirement. As I pointed out above it has now become glaringly obvious that the authorization model has been an "unexpressed but assumed one" and as this issue points out. One that is assumed differently by different practitioners.  Its only recently that security models has had more than a smattering of discussion in the DID s

[2020-09-11 22:16] TelegramSam commented on #386
Small note to indicate that I think the persistent model is required for DID Docs, and I support the separation of concerns between revoking keys and revoking credentials. Let's revoke credentials independently.

[2020-09-11 22:49] SmithSamuelM commented on #386
@jandrieu   "My attempts to address this exact point (in issue #168) were roundly rebuffed by multiple, competent members of this community. So, we have some work to do to get support for what you want."   It think there is a nuance between what we are discussing here and issue #168.    Unfortunately, its an issue that quickly gets muddled.  In the KERI concept of a Self Certifying Identifier (SCI

[2020-09-11 22:52] jonnycrunch commented on #340
Having discussed this in more depth, I am understanding the challenges.  In essence, in order to express that a verification method has a public key in COSE encoding we will need to either specify an attribute in the DID document or DID spec registries (as @OR13 suggested `publicKeyCOSE` ? ) and echoing @selfissued who stated in the IETF documents that specifying the COSE key is application specif

[2020-09-11 23:45] jandrieu commented on #386
So, @SmithSamuelM, that suggests we need to be clear about the reality that one cannot rotate the "root keys" that control a DID Document, you can only revoke them?

And as such, the current design for root authority works for you? Namely, that if a root authority is not present in the CURRENT DID Document, then it cannot be used for verifying a VC as current?

The consequence of that is that--eve

[2020-09-12 00:28] jandrieu commented on #382
@SmithSamuelM said:

This is exactly why we should NOT discuss DIDs as identifying particular subjects. Every framing that does so risks compliance complications. Because DIDs do their magic without anyone needing to know the actual subject in any other context (we don't need to know the physical or legal person it refers to). When we think about and advocate DID uses that persistently permanently

[2020-09-12 17:41] dlongley commented on #382
@jandrieu -- Could you put together a PR with some concrete text changes to the section of the spec you quoted to address the above issue? I think it would be helpful for the group to debate concrete changes to the particular problem you raised in a PR as you have raised good points. It would be good for us to try and separate that concern off from the rest of what is happening here, we may be abl

[2020-09-12 18:39] SmithSamuelM commented on #386
@jandrieu  I guess I wasn't clear. The root authority is transferable to a new set of keys via a rotation. That is what KERI does is provide a key rotation methodology for the root authority.

[2020-09-13 18:38] jandrieu commented on #386
@SmithSamuelM I thought we were talking about DIDs. Are you saying then that the current DID and VC specs don't support KERI, but that they should?

Or are you arguing that KERI provides a proof mechanism that allows using information outside the DID Document as part of verification? Without any changes to the spec?

I expect I'm simply misunderstanding how you think KERI allows a conformant verif

[2020-09-13 19:16] SmithSamuelM commented on #386
@jandrieu

I know its a lot to ask but reading the KERI WhitePaper is the best way to answer your questions.
https://github.com/SmithSamuelM/Papers/blob/master/whitepapers/KERI_WP_2.x.web.pdf

But here is a short answer. KERI is namespace agnostic. A DID is a namespacing syntax. All KERI cares about is the cryptographic identifier prefix in the namespace which in the DID case is the Cryptographic

[2020-09-13 19:56] SmithSamuelM commented on #386
So in addition to the lineage of root authoritative keys, the KEL allows one to anchor hashes or Merkle roots of external data.
You can then put whatever authorization your want in this external data and anchor it at a point in the lineage. The anchor point then determines what the authoritative keys were at the point of the anchor.   So one could for example anchor a version of a did doc or a VC

[2020-09-13 20:13] SmithSamuelM commented on #386
To bootstrap KERI one needs a discovery mechanism. The mechanism could be a DHT. IPFS for example or a KERI specific one or a A DID resolver network. Proof of control authority is what one needs to get from discovery. Once one has that then anything else one chooses to discover can be verified as authoritative relative to the event log. A discovery mechanism could cache the event log or it could p

[2020-09-13 21:29] jandrieu commented on #386
Ok. KERI is on my reading list, but I'm still not understanding what your point is relative to DIDs.

Are you arguing for a particular change to the DID or VC spec?

Because *today* I don't believe you can do what you are requesting with DIDs and VCs as specified.

If what you are saying is that "Yes, you can do it, if you use KERI on top of DIDs", then that's one conversation to have. And I'd lik

[2020-09-13 23:13] agropper commented on #386
Looking at https://w3c.github.io/did-core/#architecture-overview Figure 1,
I might say that the KERI Log for that DID is the VDR. Whomever can write
to the KERI Log is the DID Controller. The writing to the KERI Log is
method dependent. The DID Document may or may not matter (as in DID:Key, it
doesn't). VCs probably don't come into it at all.

How'm I doing?

- Adrian

On Sun, Sep 13, 2020 at 5:29

[2020-09-14 13:24] SmithSamuelM commented on #386
@agropper.    Good except for one thing. I would say instead.   The writing to the KERI log is method independent.  It’s locked down by KERI itself. The only entity that can write to the KERI log is the DID controller as defined by the KERI events.

[2020-09-14 13:49] agropper commented on #386
Yes, of course. Thank you!

On Mon, Sep 14, 2020 at 9:25 AM Samuel Smith <notifications@github.com>
wrote:

[2020-09-14 17:33] OR13 commented on #386
If its not possible to produce a key identifier that is the same for 2 keys which are different, then the security issue I noted above wrt did documents and rotation is resolved... any did method that lets you identify public key bytes differently, supports "key rotation" at the key identifier level.... same identifier, different key bytes....

signature 1 with public key 1 => passes
signature 1 w

[2020-09-14 17:47] SmithSamuelM commented on #386
@OR13   This is good. As which rule you use. Determines how your authorization system works.  You are clearly coming down on the side of the security token OIDC rules.  I don't have a disagreement with that. My concern was that no one was clearly specifying what set of rules they were using.

Just so someone can better understand I am copying the rules here as they are originally way up in another

[2020-09-14 18:16] SmithSamuelM commented on #386
@OR13

So if I understand correctly, you are advocating a policy that requires one to reissue all verifiable credentials issued against an identifier whenever you rotate the keys in a DID:Doc.

If I understand, you are making the authoritative root-of-trust your DID document version. This means that the delivery mechanism for DID:Docs by version must be secure. Its not merely an auditing issue. Bu

[2020-09-14 18:29] OR13 commented on #386
I'm sure my preferences won't map to 100% of did methods.

### DPKI

Layer 0 - Immutable Ordered Events, linked and signed.
Layer 1 - "ReadModel" CQRS style eventually consistent set of "keys"
Layer 2 - "ReadModel Versions" can ask for a version for the read model as of a moment in time / set of event)... but thats not the current set of authoritative keys...

### Credential / Tokens / Assertions

[2020-09-14 18:37] SmithSamuelM commented on #386
@or13   The control authority of the DID controller must be end verifiable always or the DID controller becomes just a euphemism for trusted entity.

[2020-09-14 18:39] agropper commented on #386
It's a philosophical issue as to whether an identity is tied to
authentication or authorization. I tend to think of that as a false
dichotomy - it's always both and we should design DID security and privacy
from that perspective.

- Adrian

On Mon, Sep 14, 2020 at 2:37 PM Samuel Smith <notifications@github.com>
wrote:

[2020-09-14 18:40] OR13 commented on #386
I assume you will audit 100% of the assembly code produced by your rust compiler for KERI. Once you have don that, I invite you to repeat the process for your OS that runs they assembly....

The did controller is a trusted entity... in that you trust them not to have trash opsec... a KERI identifier for a dude who tweets private keys remains untrustworthy....

[2020-09-14 18:47] OR13 commented on #340
[code]

[code]

I think you need to define a new publicKey type...

`publicKeyIpld`: `<base32><cidv1><ed25519-pub-multicodec><ED25519_PUBLIC_KEY_BYTES>`

@jonnycrunch

[2020-09-14 19:10] SmithSamuelM commented on #386
@OR13

Thats an interesting comment. I just spend a lot of time recently in a discussion with someone form the TEE/Trusted Computing Group community whose position is that  one MUST use TEEs for all implementations of any signature verification instances.  The answer to this question is that yes one definitely may benefit from such an approach for the reason you just cited.  But the better answer

[2020-09-14 19:48] SmithSamuelM commented on #386
To further elaborate.

If I use an end-verifiable infrastructure then I can take advantage of the continuing advances in light weight TEE technology.  For example the DICE standard from the TCG

TCG, “Implicit Identity Based Device Attestation,” Trusted Computing Group, vol. Version 1.0, 2018/03/05
	https://trustedcomputinggroup.org/wp-content/uploads/TCG-DICE-Arch-Implicit-Identity-Based-Device-A

[2020-09-14 19:52] SmithSamuelM commented on #386
We are not going to replace the internet's security model all at once. It will happen gradually. But in order to fully replace it we have to have a complete security model that allows us to fully replace it.

[2020-09-14 19:56] OR13 commented on #386
Agreed,

1. key rotation is a good thing.
2. key revocation is a good thing.
3. establishing that the key material is crypto graphically linked to the key identifier is a MUST for secure systems.
4. its really good idea to have a full audit log
5. "verification" is not just does the signatures match.... its what is the trust context for this... how old is this, how good is the opsec of the issuer,

[2020-09-15 20:12] peacekeeper commented on #137
Closing since the problems mentioned in this issue have been fixed.

[2020-09-15 20:12] #137 closed

[2020-09-17 01:55] wolfmcnally commented on #341
As it turns out we're not using this tag in the latest version of the UR spec/reference code, our need for it isn't pressing either, so I'm fine with closing this.

[2020-09-17 12:35] msporny commented on #341
Thanks @wolfmcnally -- I have marked this particular issue as "pending close". It'll be closed in 7 days unless there are objections.

[2020-09-17 13:53] OR13 opened #398 "Abstract data model is not secure"
It's not clear what types it can represent, which then prevents us from understanding what representations it can support.

Given that its "abstract", I assume given enough effort from the community it could eventually be as expressive as Haskell / INFRA... and that in theory... the abstract data model can represent any type....

In practice, I find handwaving about type support to be unhelpful fo

[2020-09-17 14:51] iherman opened #399 "DID Fragment semantics cleanup needed"
(This may or may not be an editorial issue, depending on the alternatives below)

The definition of Fragments in [§3.2.4](https://w3c.github.io/did-core/#fragment) looks incomplete to me.

In an HTTP setting the HTTP protocol means first returning the (complete) resource to a client which then, as a second step, takes a portion of that resource using the fragment ID. If my understanding is correct

[2020-09-17 15:01] iherman opened #400 "Incompatibilities in the fragment definitions"
If, as said in #399, the resource whose fragment ID is to be taken into account, is a DID document, then the spec should say what that means. Per the current spec, the media type is `application/did+json`, `application/did+ld+json`, or `application/did+cbor`. The meaning of the fragment id is defined as follows:

1. [§B1 `application/did+json`](https://w3c.github.io/did-core/#application-did-json)

[2020-09-17 15:19] peacekeeper commented on #399
@iherman yes the answer is 1., i.e. the `dereference()` function returns the final resource identified by the DID URL (including fragment). BTW, in your text above you probably meant to say [DID URL Dereferencer](https://w3c.github.io/did-core/#dfn-did-url-dereferencers) rather than [DID resolver](https://w3c.github.io/did-core/#dfn-did-resolvers) (both terms exist in the terminology).

[2020-09-17 15:50] OR13 commented on #400
IMO, the service endpoint use case means that the 1st section is not correct.... consider:

`did:example:123?service=agent&relativeRef=/credential-manifest#citizenship-credential`

I think in pure JSON, we want this ^ to identify a resource that is NOT in the did document.

[2020-09-17 16:08] iherman commented on #399
Oops, sorry.

I believe something should be said without getting into the details. The specification should be readable by itself.

[2020-09-17 16:24] iherman opened #401 "DID Core editorial review (1)"
I spent some time today on thoroughly re-reading the core spec. I did not complete the whole document, only up to §5.3.1, but I thought I would dump my issues here, and continue on another day with the rest.

There are lots of mini issues, and many (most?) of them are minor editorial issues. Some are more complex, but still editorial I believe.

## Abstract

* [x] "DIDs are URLs": Strictly speakin

[2020-09-17 16:30] clehner opened #402 "Handling additional errors in resolution/dereferencing"
Three error codes are defined for DID resolution and DID URL Dereferencing:
- `invalid-did`
- `unauthorized`
- `not-found`

Source:
- [§ 8.1.2 DID Resolution Metadata Properties](https://w3c.github.io/did-core/#did-resolution-metadata-properties)
- [§ 8.2.2 DID URL Dereferencing Metadata Properties](https://w3c.github.io/did-core/#did-url-dereferencing-metadata-properties)
- [did-spec-registries §

[2020-09-17 19:55] peacekeeper commented on #402
@clehner Good question, I actually wanted to raise a similar issue myself. When we added the DID Resolution and DID URL Dereferencing sections, we said at some point that we would still have to decide on the exact error values.

My answer would be that we should only define a minimal set of error values in the DID Core spec, and that additional error values can be defined in other places, such as

[2020-09-17 19:58] peacekeeper commented on #364
This was addressed by https://github.com/w3c/did-core/pull/381. Closing.

[2020-09-17 19:58] #364 closed

[2020-09-18 13:11] brentzundel commented on #36
No comments since marked pending close, closing

[2020-09-18 13:11] #36 closed

[2020-09-18 13:12] brentzundel commented on #65
No comments since marked pending close, closing.

[2020-09-18 13:12] #65 closed

[2020-09-18 13:12] brentzundel commented on #85
No comments since marked pending close, closing.

[2020-09-18 13:12] #85 closed

[2020-09-18 13:13] brentzundel commented on #171
No comments since marked pending close, closing.

[2020-09-18 13:13] #171 closed

[2020-09-18 16:41] iherman opened #403 "DID Core editorial review (2)"
Here is the second (and last) part of my editorial review.

* [x] (Generic comment) maybe we should remove the references to closed issues from the document (e.g., Issue  204, referred to from §6.1.1)

## 5. Core properties

* [x] If, as a reader, I have to find the normative definition of the properties, I would look at the table of content to find that. But there is a bunch of inconsistencies:

[2020-09-18 16:44] iherman commented on #403
I realize that the first comment on §5, though does not change the core specification and, in this respect, is not a substantial change, is way more than "just" an editorial issue. I let @msporny, @peacekeeper, or @talltree decide whether this should be spun into a separate issue and/or a PR.

At this point, I am not sure whether I can find the time to contribute such a PR (ie, to create a spec-te

[2020-09-19 10:59] iherman opened #404 "Precise specification of the DID Core Vocabulary"
(I decided to spin-off this issue from #403, because it becomes a bit intricate and having it as a separate issue may be helpful.)

At the moment the Core spec contains property specifications (`authentication`, `alsoKnownAs`, etc) in English prose. These are scattered all over the place, and that is confusing. There is no one place where all the terms, classes, and constraints are properly define

[2020-09-19 11:01] iherman commented on #403
I decided to move the comment on §5 into a separate issue (#404). I have not removed that comment from the current issue, but I have checked the relevant checkbox.

My apologies for the confusion, I should have put that one into a separate issue in the first place.

[2020-09-19 15:08] agropper commented on #382
(Trying out the anti-statement strategy that seems to be working in the SDS authorization discussion).

PROPOSED: A DID is just for authentication and related control and security issues. A DID SHOULD not raise privacy issues.

The SHOULD means that if there is any way to avoid Service Endpoints in the DID Document we should do that. We know from the Glossary group work that there are at least a f

[2020-09-19 15:16] msporny commented on #382
Yes, this is what some in the thread are arguing -- it is reasonable and will solve a variety of privacy issues and will help adoption of SSI.

[2020-09-19 19:21] agropper commented on #382
I'm warming up to the idea.

Based on my proposed [Alice Rents a Car use-case](https://github.com/w3c/did-use-cases/issues/101), Alice's agent might have a DID of its own. Her service providers (in this context, defined as anyone that has agreed to let her authenticate with a DID), would then post publicly what agent protocol they support (e.g. OAuth3 / GNAP) and allow Alice to either:
a) register

[2020-09-20 04:47] talltree commented on #373
After a long hiatus to consolidate all the feedback, I have produce a new version of these Appendices. Appendix A was rewritten completely to reflect the consensus of the DID WG. The only changes needed in Appendices B and C were tweaks to the diagrams to align with the revisions in Appendix A.

These are still Google docs until we have one more round of review from WG members, then I will turn th

[2020-09-20 07:56] iherman opened #405 "Is this a misspelling? 32 vs. 33 bit for publicKeyBase58"
(This may reflect my ignorance in crypto...)

The [Table on key types](https://www.w3.org/TR/did-core/#key-types-and-formats) includes a reference to the `publicKeyBase58` key. The text always says:

_except_ for `secp256k1-koblitz` where it refers to 33-byte instead of 32. Is that intentional?

Also, while I am at it: the example below the table includes an example referring to the `JwsVerificati

[2020-09-20 14:48] OR13 commented on #405
`JwsVerificationKey2020` is a VM type... it is in the did spec registries as `JsonWebKey2020` I will correct the type.

IMO, almost all of the key representation stuff in did core should be removed, did method authors can represent keys however they want.... we created the did spec registries to show them how to have representations that are interoperable.

[2020-09-20 15:06] msporny commented on #373
Don't quote directly, link to the section of the specification and summarize.

Again, quoting is problematic as guidance has changed throughout the years -- we should link to the text.

This text should be in the section on `type`.

Should be capital 'P' -- https://schema.org/Person

This is a bit strange... it's correct, but may be viewed as jumping the shark as they could just express that home

[2020-09-20 15:17] msporny commented on #373
I wouldn't start out by suggesting that it's confusing... it's not really, reword to summarize the section in the introduction.

Don't bring OWL into this... let's try to avoid it entirely, you don't need it to talk about the concept... talk about the concept in a more general sense without binding it to OWL Semantics.

[2020-09-20 15:24] msporny commented on #373
Hmm, just noticed something about the arcs -- the actual arcs for `Controls` go from the DID Document to the DID Controller node, not the way it's drawn in the document now. I don't know how important/pedantic we want to be about that is... but it could trip people up, because we do have a `controller` property in the DID Document.

Change to "A cryptographic algorithm that requires multiple digit

[2020-09-20 15:29] msporny commented on #373
Overall, great work @talltree -- just minor nitpicks, almost all editorial, feels like it's ready for a PR. Have you considered moving this into a separate document? I'm on the fence about it. It adds a significant amount of content to the core specification... making it longer and feel more heavyweight... on the other hand, these are some core concepts that folks have been getting tripped up on f

[2020-09-20 15:49] OR13 commented on #405
33 is not a typo here is an example:

[code]

[2020-09-20 20:11] agropper commented on #382
Here's a [sequence diagram](https://www.websequencediagrams.com/?lz=dGl0bGUgU2VwYXJhdGluZyBBdXRoZW50aWNhdGlvbiBmcm9tAA8Fb3JpegAOBQoKcGFydGljaXBhbnQgQWxpY2UgYXMgQQAKDUJhbmsAAw5vYidzIFJlbnRcbmEgQ2FyIGFzIEIAORInc1xuQWdlbnQATwVBCgoKAF0FLT5CYW5rOiBSZWdpc3RlcnMgZGlkOmtleToxLi4uMwpub3RlIG92ZXIAgQsGLAB8BTogTGF0ZXIsAIEeB2dldHMgYW4gYWdlbnQASQ5TaWduLWluIGEASBBCYW5rLT4AgWAFOiBjaGFsbGVuZ2UAgQYOc2lnbmVkIHdpdGgA

[2020-09-20 20:43] peacekeeper commented on #261
I think this was addressed by https://github.com/w3c/did-core/pull/393 and we should be able to close this issue.. Any objections?

[2020-09-20 20:44] peacekeeper commented on #379
This was addressed by https://github.com/w3c/did-core/pull/392 and we should be able to close this.

[2020-09-20 20:46] peacekeeper commented on #203
It seems this issue has been addressed by PRs, so we will close it soon unless there are objections.

[2020-09-21 04:28] kdenhartog commented on #240
Wouldn't a `publicKeyJwk` just be treated like any other JSON object that exists in a DID Document? I'm not sure I understand the conflict that you're seeing. I'm guessing it's because I'm making assumptions that you haven't though.

[2020-09-21 07:03] iherman commented on #405
Ok, so 33 bits is o.k. Thanks for checking

[2020-09-21 07:07] iherman commented on #405
That is an altogether different question and is one of the questions I asked in https://github.com/w3c/did-core/issues/403 on §5.3.1. To avoid confusion, and based on https://github.com/w3c/did-core/issues/405#issuecomment-695802241 I propose to close this issue.

[2020-09-21 09:48] iherman commented on #373
## Appendix A, In bullets after A1.1,

it says:

This actually raises a major modeling issue.

In the current setting we have (I put it in Turtle, because I find it cleaner from a modeling point of view):

[code]

this is in line with what you write, and it is a translation to the RDF model of all the examples we have in the document. This is because we use the `id` property to identify the subjec

[2020-09-21 09:58] iherman commented on #373
B.t.w., just an additional comment to the previous, inspired by the text in Appendix B. If I take the current:

[code]

This translates, in Turtle, to:

[code]

in English it would mean something like the controller controls the subject. This is not what want to say, do we? Instead, if we have (adding an ID to the DID document just to make it clearer):

[code]

we get:

[code]

which says that the

[2020-09-21 10:00] iherman commented on #373
+1 to that...

[2020-09-21 10:18] jandrieu commented on #373
I posit that there is no English sentence using the controller property that sounds correct.

To push back on @msporny's response to @iherman, the Controller has nothing to do with the "controller" property.
@msporny said

The "controller" property isn't about the controller at all.

It isn't about who controls the subject. Nor is it about who controls the DID. It is about where else a requesting

[2020-09-21 10:44] iherman opened #411 "Ordered set of links for controllers?"
There is a difference between the way controllers and `alsoKnownAs` values are defined:

as opposed to

Two issues there:

1. Why are the values of a controller property _ordered_? What does the order mean (there is no word of it in the spec)?
2. The two properties are very much alike (although the semantics are different), meaning that it would be worth harmonizing their definition. E.g., at pres

[2020-09-21 13:57] jandrieu commented on #373
Perhaps more salient, this "type" description that Ivan quoted seems to be a conflation of layers and should be removed:

First, on privacy grounds, the DID Document should never describe anything about the subject other than how to interact securely with parties acting on its behalf. The type value at the root level should NEVER attempt to say anything other than specify that the Subject is a DID

[2020-09-21 15:07] iherman commented on #404
To put my money where my mouth is...

I have created an initial draft for a [DID Core Vocabulary](https://github.com/w3c/did-core/wiki/Draft-DID-Core-Vocabulary) and for a [DID Core SHACL Shape](https://github.com/w3c/did-core/wiki/Draft-DID-Core-Vocabulary-Shape). Both are based on _my_ understanding of the vocabulary reading the spec; I may have also misunderstood it here and there. (Based on my

[2020-09-21 15:12] burnburn opened #413 "DID Document vs. DID Subject"
From Melvin Carvalho (@melvincarvalho) to the CCG mailing list when we asked for reviews:

[2020-09-21 15:22] rhiaro commented on #413
The DID document is just the name for a set of properties about the DID subject. The DID subject is whatever the DID identifies. The DID document is what is produced by the DID resolution process, and isn't actually 'a thing', just a shorthand to refer to the resulting set of properties. All of these properties have the DID subject as their subject (in RDF triple terms) unless they are ["DID docum

[2020-09-21 15:34] rhiaro commented on #373
@iherman Now I'm confused! I thought we'd got past this, and there is consensus that the DID identifies the DID subject; the DID subject is always the subject in RDF triple terms. The DID document is an abstract concept for describing the set of properties that result from the DID resolution process, but it's not a thing in itself.

[2020-09-21 15:36] OR13 commented on #404
Is DID Core SHACL compatible with the JSON-only representation?... I think they are fundamentally incompatible because JSON only supports arbitrary properties that are not included in the registries.

[2020-09-21 15:51] iherman commented on #373
Well..., I got into issues with that. If we continue to use `id` as identifying the subject, then, from an RDF point of view, we end up making a bunch of statements (like the controller) on that subject and not on the did document (abstract concept or not). As i said in https://github.com/w3c/did-core/issues/373#issuecomment-696016837, in fact, the statement reads as if the controller controls the

[2020-09-21 15:54] iherman commented on #404
I have to think it over, but I am not sure. SHACL is a bit like JSON schema (actually, it would be interesting to create a JSON Schema from the SHACL). It puts constraints on properties that are in use, but it is silent on other properties. Isn't it similar to JSON?

Putting another way: if we have a JSON file for a DID Document, we can turn it into JSON-LD in a trivial manner, we can check it wit

[2020-09-21 16:10] dhh1128 commented on #382
@agropper and @msporny :

Here is where I diverge. I believe this statement of Adrian's makes a logical leap that is unwarranted. Yes, we should avoid privacy problems with DIDs. But it does not therefore follow that we should take Service Endpoints out of the DID document. Rather, it follows that we should: A) describe service endpoints in a way that preserves privacy, OR B) we should take them o

[2020-09-21 16:27] jandrieu commented on #373
The semantics are slippery. And this slips right into http range 14.

The id is intended to refer to a Subject. The problems are
1. It's an anti-pattern to put arbitrary statements about the subject in the DID Document.

2. The semantics of many of the properties are not described in a way that rigorously distinguishes between the Subject and the meta-data for interacting on behalf of that subject

[2020-09-21 16:31] OR13 commented on #382
I agree with @dhh1128 ... I think that if we don't describe branch A, DID Method Authors will just make up their own way of doing it, which will not be standard, and might not address the security concerns raised by the group.

But I also agree with the SHOULD.... if you don't need an `insert arbitrary property` in a did document... it SHOULD NOT be there.

[2020-09-21 16:34] agropper commented on #382
@dhh1128 I totally agree with you. That's why I suggested that proponents of removing them "should" fill out the [sequence diagram](https://www.websequencediagrams.com/?lz=dGl0bGUgU2VwYXJhdGluZyBBdXRoZW50aWNhdGlvbiBmcm9tAA8Fb3JpegAOBQoKcGFydGljaXBhbnQgQWxpY2UgYXMgQQAKDUJhbmsAAw5vYidzIFJlbnRcbmEgQ2FyIGFzIEIAORInc1xuQWdlbnQATwVBCgoKAF0FLT5CYW5rOiBSZWdpc3RlcnMgZGlkOmtleToxLi4uMwpub3RlIG92ZXIAgQsGLAB8

[2020-09-21 16:35] dlongley commented on #382
@dhh1128,

You seem to be suggesting that if some information `X` is not atomically bound with a particular key state via the DID Document then there is an insurmountable system security problem.

I've intentionally called this information `X` here instead of "service endpoint" to highlight that what you're arguing is that all `X`s must be in the DID Document. I disagree -- and I think, instead, t

[2020-09-21 16:36] dlongley commented on #382
It's also worth noting that the identity behind a particular DID is inexorably partitioned from the DID itself already.

[2020-09-21 16:51] OR13 commented on #404
this is not true today, and a number of open PRs are seeking to make it even less true tomorrow.

one of the major features for JSON-only is that is has no reliance on "schemas / registries"... I suspect a lot of the JSON-only representations would be incompatible with RDF triples, because if thats a thing people cared about, they would probably have just used JSON-LD.

I think members of this WG,

[2020-09-21 16:53] dlongley commented on #382
@agropper,

For example, send someone this VC:

[code]

You can also send them a zCap to access the service endpoint at the same time:

[code]

[2020-09-21 16:59] OR13 commented on #382
@dlongley thats nice, but I want to be able to crawl all the DIDs in the VDR and build a database correlating them to other websites, people, devices and data sets.... so your use of did:key and privacy preserving approach to this problem gets in the way of my business model... can't we just mandate my ability to make money selling correlation data?

/s

[2020-09-21 17:05] dlongley commented on #382
Yes, this is a fun joke -- but I also don't want people to think we're being dismissive of their concerns (or lumping them into a group/use case where they don't belong or that they don't support). We're all listening here and trying to find the best way forward (including @OR13 who is an excellent collaborator).

[2020-09-21 17:53] jandrieu commented on #382
@agropper wrote:

You simply sign a VC that states the endpoints and make that VC available to those you wish to use those endpoints.

There is no sequence diagram necessary.

From what I can tell, it seems like some of us have a hidden requirement to automatically be able to do all sorts of magic with DIDs, whether that's a directory service or a resource delivery mechanism. These efforts tend to

[2020-09-21 18:01] SmithSamuelM commented on #382
@jandrieu There is an assumption being made that any DID Doc is by default discoverable. Its only discoverable if the DID method makes it discoverable. A perfectly good way to "tell" someone when they ask about one's data is to deliver to them a DID:Doc.  Did Resolvers do not have any way of discovering a DID:doc unless the controller of the DID:doc publishes to the DID resolver or the DID method

[2020-09-21 18:07] SmithSamuelM commented on #382
This is a case where the right to be forgotten would be enforceable against someone hosting a DID resolver. The verifiable controller of a did doc could request a did resolver that inadvertently or maliciously cached a did doc without consent would be liable for not deleting it upon request.

[2020-09-21 18:17] SmithSamuelM commented on #382
@jandrieu  But I do agree that given resolver meta data provides proof of control authority, a did doc could be replaced by a verifiable credential to provide the same information.

[2020-09-21 18:21] jandrieu commented on #382
The assumption isn't that it is discoverable, but that it is resolvable (either directly from the DID itself, from a registry, or directly from a peer).

I would argue a different distinction than your comment suggests.

The DID Document SHOULD only be that which provides proof of control authority. And the current, authoritative DID Document is only attainable through the means defined in the DID

[2020-09-21 18:22] SmithSamuelM commented on #382
@dhh1128 @jandrieu   I think Daniel Hardman should respond as I believe your proposed rule would be a problem for did:peer

[2020-09-21 18:48] jandrieu commented on #382
As long as did:peer provides a way to definitively get the authoritative DID Document from the peer, we're good. Because did:peer is useless outside that peer relationship, whatever the current document, as provide by the peer, is, I believe, definitive.

Of course, that begs the question about caching... but at least did:peer avoids the complication of different DID Documents existing that could

[2020-09-21 18:51] agropper commented on #382
@dlongley and @jandrieu - I would hope to avoid using VCs at this level, it
just seems too heavy as compared to zCap or GNAP but I could be wrong.

The sequence diagram is a huge help to my understanding what's going on as
we cross from authentication with did:key to authorization in a specific
use-case. Could you please fill out the flow steps using the zCap
consistent with the precedent authoriz

[2020-09-21 19:21] melvincarvalho commented on #413
So what is the subject of the `created` predicate, in this instance?

[2020-09-21 19:33] rhiaro commented on #413
The DID, as in the identifier, on the [verifiable data registry](https://w3c.github.io/did-core/#dfn-verifiable-data-registry). The DID document is generated as a result of the resolution process, rather than created per se. This is my interpretation anyway; there's some contention about having the `created` and `updated` properties at all, it's not required, and different DID methods may handle t

[2020-09-21 23:17] jandrieu commented on #382
@gropper I looked at your sequence diagrams, but I'm not understanding why you have an agent in the loop. Or, for that matter, what any of this has to do with a DID Document and service endpoints as did:keys don't have service endpoints and the DID Document isn't present in your flow.

That said, I put together a [flow](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgU2VwYXJhdGluZyBBd

[2020-09-22 02:31] agropper commented on #382
@jandrieu Thank you for engaging and for framing the discussion in terms of
zCaps.

If I understand your proposed flow, Alice uses two did:key to interact with
the Bank, did:key:1...3 to authenticate and did:key:xyz to control zCap
(A). Alice uses some other DID to authenticate to Bob's Rent a Car and
Bob's creates did:key:def in order to control their ability to cash in zCap
(A) at the Bank.

In

[2020-09-22 04:54] talltree commented on #373
@iherman Just wanted to let you know that you raise some totally fascinating points. I need to fully grok this before responding. As you say, this affects [the proposed type property](https://github.com/w3c/did-core/pull/410) too.

[2020-09-22 07:51] iherman commented on #404
@OR13, I try to keep away from the general, slightly ideological discussions...

At the moment the DID Core document is based on (1) an abstract data model and (2) a manifestation of that data model in JSON-LD and JSON. (And possibly CBOR, let me put that aside for now, not being a CBOR expert at all.) Also, at the moment, the DID Core document is referring to terms like `controller` or `alsoKnown

[2020-09-22 13:48] Oskar-van-Deventer commented on #390
Markus @peacekeeper,
Within eSSIF-Lab, we have four partners that are all involved in binding SSI entities to legal identities (eIDAS).
-ComKYC - Commercio
-SSI4TDM - JoinYourBit SRL
-OBDID - OffBlocks
-SSI eIDAS Bridge - ValidatedId S.L.
Which of these four do you deem most competent on "Legally-Enabled Self-Sovereign Identity)"? Perhaps we should ask one of them to contribute here?
Oskar

[2020-09-22 13:59] melvincarvalho commented on #413
Perhaps I could ask the question differently

When we say X (something) was 'updated' at time Y

What was updated?  Was the DID document updated, or was the DID (Subject) updated?

On the assumption that they are different entities, which one was updated.

Consider for example a physical passport is a document containing claims.  Those claims can be updated, and the passport itself can be updated/

[2020-09-22 14:37] rhiaro commented on #411
1. My understanding is that all of the list-y data structures in INFRA are ordered, but for our cases the fact that it is ordered doesn't matter. [INFRA says](https://infra.spec.whatwg.org/#ordered-set):

2. Agreed we should have consistency with whether things are always lists even when there's only one or can sometimes be a single item. Mostly I think this is a preference.. when I'm processing J

[2020-09-22 14:55] rhiaro commented on #404
Just jumping in to say *whaaat?!?* I though the point of the DID spec registries was to support interop between JSON implementations, because they have no other way to talk to each other about the terms the use except through a centralized registry. My recollection is that people pushing for JSON-only support were the ones pushing for the registries in the first place.

Sorry for that slight tange

[2020-09-22 15:19] iherman commented on #411
@rhiaro

That is a Note. https://infra.spec.whatwg.org/#lists talks about 'lists' but with the definition:

There is no mention of ordering. Then it says

in [§5.1.3](https://infra.spec.whatwg.org/#ordered-set). It is a bit messy, but my interpretation is that a 'list', by default, is not ordered (in contrast to the usual meaning of the term) and has to be designated explicitly as an ordered set.

[2020-09-22 15:20] iherman commented on #404
I do not know. At this moment there is no trace of anything else but the security vocabulary.

[2020-09-22 15:27] rhiaro commented on #411
My reading of that is that lists are ordered. The difference between an INFRA list and an INFRA ordered set is that the latter cannot contain duplicates. But that they are the same with regards to ordering.

I don't think any of the DID Core properties need ordering. I don't think using INFRA definitions which include potentially non-deterministic ordering hurts, or affect any of the supported rep

[2020-09-22 15:29] iherman commented on #411
Yeah, maybe you are right per ordered set. But then _our_ specification should make it clear that ordering does _not_ count (it does now).

[2020-09-22 15:52] rhiaro commented on #401
Evergreen problem. The terms file gets pulled into other documents, like the use cases, where saying "defined in this specification" doesn't make sense. Not sure what the best approach is. Possibly when external documents get frozen this issue will go away and we can rephrase this in DID Core.

If you haven't already, I suspect you might want to spin this out into a separate issue..

Agreed. I thi

[2020-09-22 16:01] iherman commented on #401
Yes, this is now out in the open :-)

Exactly. We should not add non-Core properties, or make it clear when they are. A special case may be the JWK structures, where the terms may be defined elsewhere (where? Reference?)

[2020-09-22 16:10] rhiaro commented on #403
The section should be an easy to read list so that a method implementer can look down it and say "yes I do this", "no I don't do this", and then self-assert (and ideally point to the sections in their spec) for the purposes of say, passing the 'test suite' or being listed somewhere as a conformant implementation of a DID method spec. Similarly the list is there for the people who are checking addi

[2020-09-22 21:02] rhiaro commented on #401
I had a go at rewording to use passive language but it became increasingly dry and awkward, especially when trying to avoid terms that have been contentious in the past like "user" and "entity".

Struggling with this a bit because these are "goals" rather than stated as results. The DID infrastructure does not eliminate *the existence* of central authorities, but may eliminate the *requirement for

[2020-09-22 21:19] rhiaro commented on #403
Agreed... https://github.com/w3c/did-core/issues/281#issuecomment-676426193 says some of the terms are defined, but I don't see where. Will look into this in a separate PR from the editorial stuff.

[2020-09-22 21:55] OR13 commented on #404
I know... surprisingly some of the proponents of creating the registries and an abstract data model desire to enable did representation that do not use the registries or the absract data model, and that are not RDF-esque...

I am supportive of this, as long as we don't destroy JSON and JSON-LD common sense to achieve it.

[2020-09-22 22:51] msporny commented on #363
Still waiting on a PR.

[2020-09-22 22:51] msporny commented on #367
I have still not done this.

[2020-09-22 22:53] msporny commented on #208
Agree that this is an issue... still waiting on me (or someone else) to write a spec.

[2020-09-22 22:53] OR13 commented on #356
Needs a PR saying "don't out private material" in did documents.

[2020-09-22 22:54] csuwildcat commented on #337
Still need to generate PR for this, sorry for the delay :/

[2020-09-22 22:56] msporny commented on #325
This sort of specificity should probably be removed from the specification... feels like we're headed in that direction as a WG.

[2020-09-22 22:59] dhh1128 commented on #382
@dlongley

No. "Service endpoint" is not a stand-in for "any kind of data about the DID" in my thinking. I mean exactly and only service endpoints, not a generic `x`. Characterizing it generically turns my assertion into a straw man. Knowing where to talk to a DID controller (inbound: the endpoint) and knowing how to authenticate the DID controller (outbound: the keys) are the two pieces of info t

[2020-09-22 22:59] talltree commented on #72
This is excellent discussion. I have the action item to draft proposed text for this as soon as I am done with normative sections of DID Core.

[2020-09-22 23:01] talltree commented on #375
I was assigned this issue but it's really @dhh1128 driving this. So I will ping him to follow up and decide next steps.

[2020-09-22 23:04] peacekeeper commented on #72
I think @selfissued and @iherman make good points here. Perhaps GDPR should be mentioned as an example without going into details, and there should be language that there are also other privacy laws out there.

[2020-09-22 23:12] wyc commented on #58
Hi, the CCG is happy to facilitate involvement at whatever desired level as a work item, whether it's the work done in CCG and registry accepted in the DID WG, or any less or greater level of involvement. What do the contributors prefer?

[2020-09-22 23:18] dhh1128 commented on #382
@agropper said:

just seems too heavy as compared to zCap or GNAP but I could be wrong.

I believe this is similar to my other basic concern, which is that communicating a service endpoint by VC basically makes DIDs dependent on VCs, which in turn depend on DIDs. It's a circular dependency.

@dlongley replied by saying that VCs don't depend on DIDs. This is technically true but practically false.

[2020-09-22 23:41] dhh1128 commented on #375
Thank you for the thoughtful response, @dlongley. Good stuff.

Yes. But your answer tells me we may have a different, fascinating misalignment. I don't think of the phrase "verification relationship" as having anything except coincidence in common with the role of "verifier" in the VC trust triangle. Apparently you do? ("Verification relationships help verifiers prevent proofs that have already be

[2020-09-22 23:43] dhh1128 commented on #375
I am satisfied to close this issue. The pushback has given me some good thoughts. Not sure how I'll solve the problem, but I'll probably use some of the suggestions above.

I implicitly asked @dlongley a question about the definition of "verification relationships" in my comment above; I'll leave the ticket open for a day or two in case he wants to respond about that. However, the WG can close my

[2020-09-23 00:04] OR13 commented on #240
I suppose we need to create an INFRA structure that can be used to support the concept of JWK in order to close this issue.

[2020-09-23 00:27] dlongley commented on #375
"verifiers" there simply refers to verifiers of "proofs", it isn't VC-specific. You can certainly use verification relationships "during issuance" -- you can do whatever you want. But the main reason for expressing verification relationships is for verifiers (of proofs) to make use of them.

[2020-09-23 00:55] dhh1128 commented on #404
I mostly don't have a strong opinion about the question implied by the issue title, but I feel the need to comment on Orie's initial characterization of my thinking, since he mentioned me by github handle. He's not entirely wrong, but I want to nuance. :-)

I am not opposed to a DID document being interpretable as JSON-LD, if I don't have to list a finger to make this true. I *am* opposed to going

[2020-09-23 03:42] agropper commented on #382
I find @dhh1128 arguments for having essential service endpoints in the DID
Doc convincing.

I'm reminded of how we write contracts in general, not just mortgages. The
contract binds together the non-repudiable identities of the parties
(typically through a notary), the points of notification, the terms, and
the jurisdiction where the contract will be interpreted in case of dispute.
All four of th

[2020-09-23 04:26] iherman commented on #403
Yes, in any case. Something should be there reinforce this.

[2020-09-23 04:29] iherman commented on #240
This would also make the DID Core vocabulary specification more complete. At this point, that part is really missing.

[2020-09-23 05:14] csuwildcat commented on #382
I have found none of the comments arguing for removal of service endpoints compelling or sufficient to address the valid use cases that require them. While the conversation is interesting, what, at this point, is the intended outcome of this Issue in the absence of anything approaching consensus for removal of this feature?

[2020-09-23 06:59] iherman commented on #401
I have ticked off the items that are covered by #414

[2020-09-23 07:05] talltree commented on #382
I completely agree with @csuwildcat. I was amazed to see this thread had grown so long I had to invoke a search to find [the comment I posted 21 days ago](https://github.com/w3c/did-core/issues/382#issuecomment-685283132).

I was even more surprised to find that, after 3 more weeks of discussion, every point I made in that comment remains: a) **true** (it has six thumbs up), and b) **unaddressed**

[2020-09-23 07:11] iherman commented on #373
Note the question of @melvincarvalho in https://github.com/w3c/did-core/issues/413#issuecomment-696740868: I believe he has hit exactly the same questions/issues as I raised in https://github.com/w3c/did-core/issues/373#issuecomment-696012369.

We also have another source of confusion, namely that the concept of a _DID subject_ is _**not**_ the same as the concept of a _subject in an RDF triple_ (

[2020-09-23 07:11] iherman commented on #413
@melvincarvalho it is worth looking at #373 and the documents referred to from there. Thx.

[2020-09-23 07:50] melvincarvalho commented on #413
Thanks for pointing this out, that was very interesting

It's quite a long thread and I think it's asking a similar question to: do `did subject` and `did document` have different URIs?

Is there a consensus?

My main follow-up question: In the case that these two entities have different URIs.  Is there a term which links them together (in either direction).  For example in a web document you coul

[2020-09-23 08:07] melvincarvalho commented on #373
If the term you describe [above](https://github.com/w3c/did-core/issues/373#issuecomment-696012369) `:subject` exists, then I think that answers my question

[2020-09-23 08:14] rhiaro commented on #413
Consensus of the WG to date has been that the DID document doesn't have its own URI, only the DID subject has a URI (the DID).

The idea of the `subject` property is brand new as far as I know.

[2020-09-23 08:27] melvincarvalho commented on #413
@rhiaro thanks.  If `DID Document` has no URI then that answers my question

So that would mean that `updated` and `created` apply to the `DID Subject`

[2020-09-23 08:33] rhiaro commented on #413
As it says in the spec, they apply to the when Create and Update operations are performed by the DID method. The Create operation generally means when the DID was generated on the verifiable data registry. The Update operation generally means when some of the data about the DID subject - aka the properties represented by the DID document - has changed. Updated is underspecified just now, and I'm n

[2020-09-23 09:20] iherman commented on #373
It doesn't at the moment... it is a question to discuss.

[2020-09-23 10:42] agropper commented on #382
The scope of the abstract data model for a verification method allows a
controller to:
- authenticate somewhere
- sign something
- rotate or recover cryptographic materials
- assert a service endpoint(s)

What will be the scope for the abstract data model we’re defining for a
service endpoint?

On Wed, Sep 23, 2020 at 3:06 AM Drummond Reed <notifications@github.com>
wrote:

[2020-09-23 12:30] msporny commented on #240
No, we do not need to do this. The data model already supports anything you would want to express in JSON (modulo numbers, which we now have a resolution to fix).

Just because we *can* lots new datatypes doesn't mean we should -- that's the path to madness.

-1 to a JWK data type in the abstract data model, it's unnnecessary... the JWK structure can be expressed via an INFRA map and basic strings

[2020-09-23 12:44] msporny commented on #404
@dhh1128 wrote:

Haha, no way! The JSON-LD proponents were very much opposed to the registries -- they are unnecessary for JSON-LD. The registries were put in place by the JSON-only folks -- because they needed a place to specify terms so they could interop. JSON-LD doesn't need such a mechanism because it already has `@context`. I fear you're misinformed on how the registries came to be. They wer

[2020-09-23 12:51] msporny commented on #404
Oh no! :((((

The DID Spec Registires *is* the DID Core Vocabulary... if it's not, we're duplicating a ton of work.

We probably need to get a resolution on this quickly... don't want to generate a ton of unnecessary work for everyone... we need to converge on the concept above.

[2020-09-23 13:24] msporny commented on #382
You don't need to make that proposal... we already have that proposal agreed to via the initial resolutions we've made:

RESOLVED: Discuss in a non-normative appendix how one might model Service Endpoints that preserve privacy.
RESOLVED: Define an abstract data model for serviceEndpoints in normative text, like we have done with verification methods.
RESOLVED: Define how you do service endpoint ex

[2020-09-23 13:25] OR13 commented on #240
I don't understand. @jricher @talltree @peacekeeper

If we don't provide an example of every did core property in the abstract data model, how will people convert? If we don't need a JWK data type in the ADM.... why do we need any other data types (aside from number).

Do we need a data type for "cryptographic key" that can be converted to `publicKeyJwk` or `publicKeyBase58` ?

[2020-09-23 13:25] iherman commented on #240
I did not read the comment of @OR13 as a new data type. At least in my interpretation what is missing is a clear map with the JWK terms that we allow for the purpose of DID Documents. That seems to be missing right now.

[2020-09-23 13:30] iherman commented on #404
@msporny the Spec Registries document is

- an HTML document and not a machine readable format of the vocabulary (of the ontology, if we prefer a much more elegant word:_)
- it is a Note, and not a normative document, ie, it cannot be used as a normative reference from the Core for the (normative) terms of the core vocabulary

Hence, in my view, the need of a formal vocabulary; that is what I did

[2020-09-23 13:58] OR13 commented on #404
We've come full circle!

I fear I have wasted a tremendous amount of time trying to get the registries to work for multiple representations with mostly no help.... I seem frustrated with the abstract data model, this is why.

At this point, I don't understand why the registries were even created, they are not required for JSON or JSON-LD, and nobody contributes to them AND we appear to need to def

[2020-09-23 14:07] OR13 commented on #382
@msporny are you proposing we provide documentation for this term https://github.com/w3c/did-spec-registries/blob/master/contexts/did-v1.jsonld#L19

is the documentation essentially?:

"Use one or more proxies which strip HTTP headers, timing data, any fingerprinting vectors and provide denial of service mitigation in front of any service exposed via the did document".

"Recommend having a single

[2020-09-23 14:25] msporny commented on #404
This was done a while ago for every property in the DID Document. If there is a DID Core property that exists today that isn't defined in INFRA, that's a bug and should be fixed.

Can you please point to a DID Core property that is not defined in terms of INFRA?

[2020-09-23 14:31] msporny commented on #404
Not true, that keeps being asserted, but the DID Registries exist partly because of the desire to interop in JSON-only ecosystems. Granted, that's mostly theoretical at this point since everyone seems to be using JSON-LD... but the theory holds. You don't know if you can interop in a JSON-only world w/o a registry -- that's the path the JSON-only folks chose to follow for JSON-only interop. It als

[2020-09-23 14:42] msporny commented on #404
It's arguable that DID Core should specify those in INFRA, as those properties are really LD Security properties and should be defined over there. That said, if we want to define them in DID Core, it's easy enough to do in INFRA:

publicKeyJwk - If specified, the value of the property MUST be a single map(INFRA) containing allowed properties according to RFC7517(JWK). The properties MUST NOT inclu

[2020-09-23 14:47] iherman commented on #404
Just reacting on the distress call of @OR13 :-) I have raised this issue, i.e., I may be responsible for the mess. I guess it is up to me to try to settle the confusion.

TL;DR: I do not really think we have such a big problem as this may seem :-)

The way I see the various building blocks is as follows:

1. We do have the ADM. After all it is fairly simple: we are talking about an INFRA map, i.e.

[2020-09-23 14:50] msporny commented on #382
Yes, that is one set of rules we could suggest. We'd work which ones to include in the PR, probably starting with a small set and seeing how restrictive we can get. Just my $0.02 below:

Yep... as a SHOULD/RECOMMENDED.

I'm not quite sure what you mean by this one... need more information because I can express an opinion on it.

Yep.

Yep.

Yep.

Again, the smaller the SHOULD set we start with, th

[2020-09-23 14:52] iherman commented on #404
I think I disagree with you, @msporny, but only on the last sentence above. Having re-read the spec last week, it is fairly clear that both `publicKeyBase58` and `publicKeyJwk` play a fundamental role in our spec. They are at the basis of the core scaffolding provided by the core vocabulary, ie, it should be normatively defined. That means it should be part of the Core spec. It may be questionable

[2020-09-23 15:09] msporny commented on #404
Well, if we start defining those things in DID Core things become strange... because those are things that a Linked Data Security WG should be defining :). Our charter also, arguably, forbids us from working in this area:

https://www.w3.org/2019/09/did-wg-charter.html

Given that Microsoft fought to have that language added to the Charter, I was surprised when @selfissued suggested that we should

[2020-09-23 15:10] csuwildcat commented on #382
If you're asserting a feature that was added via consensus years ago, is use by implementers (in production-level implementations), and is relied on by other specs, gets removed by default because a subset of folks take issue with how it could be used in a subset of cases literally years afterward, I just don't agree with that on any level.

I was also under the impression we had decided on a past

[2020-09-23 15:14] msporny commented on #382
Then you disagree with the W3C Process, which is fine, but I can't do anything about that.

Please focus on putting forward concrete proposals that can achieve consensus. I've put one forward in https://github.com/w3c/did-core/issues/382#issuecomment-697362108 -- if you'd be ok with that, we can resolve this issue and move on.

[2020-09-23 15:19] msporny commented on #404
I don't disagree with you on that point (in general)... alright, well... you get to feed that baby dragon... it's yours, man. Let's just hope it doesn't grow up too quickly. :P

[2020-09-23 15:28] csuwildcat commented on #382
I cannot support the addition of ANY specific Service Endpoints in the spec that cast legal/political shadows on others by inference. We should not codify ANY techno-legal formulations of specific features and their applied external uses/impacts. This very bad idea I believe falls outside the bounds of what we should be doing as a technical specification body.

[2020-09-23 15:55] msporny commented on #382
Please put forward a proposal that will achieve consensus.

[2020-09-23 16:18] csuwildcat commented on #382
Proposal: Along with codification of the general data model/format of Service Endpoints, add to an appendix or usage guide the considerations one should take into account when constructing Service Endpoint entries that must account for varying levels of privacy, as illustrated through examples.

^ To clarify what I mean in the last part of the text above: some uses of Service Endpoints do not requ

[2020-09-23 16:35] msporny commented on #382
To break that proposal down:

We already resolved to do this a few weeks ago.

We did this a few weeks ago

It's arguable that we've resolved to already do this as well, but if we assume we didn't yet agree to do that: I'll take the only remaining part of your proposal that we haven't already agreed to as "PROPOSAL: Add concrete examples to demonstrate how service endpoints might account for varyi

[2020-09-23 17:18] agropper commented on #382
It would be best if an abstract data model for service endpoints did not dilute the privacy features of DIDs.

So, I ask the experts again https://github.com/w3c/did-core/issues/382#issuecomment-697283182.

[2020-09-23 17:53] dlongley commented on #382
@dhh1128,

I think there are multiple threats being conflated above. One is from an attacker that can prevent, delay, or reorder messages. Another is from an attacker that can sign with Alice's keys. These are very different threats. It's hard to analyze the entire scenario as written because it doesn't get down to the primitives and keep the threats clear. Either Alice signed that mortgage commit

[2020-09-23 20:44] melvincarvalho commented on #373
Got it!

I like the sound of `:subject` but completely understand if it doesnt make it into DID 1.0.  Or if it's consensus that a `DID Document` has no URI then it's not needed

Also we might not need an extra solution here, given that DID already uses schema.org.  Perhaps it's simply possible to use:

https://schema.org/mainEntity

Instead of `:subject`

However, if indeed `DID Documents` cannot

[2020-09-23 21:36] brentzundel commented on #386
This has been a long and fantastic conversation. My thanks to all participants.
My question to @dhh1128 (and to everyone else on the thread, if you have an opinion): Is there specific spec text that should be added (or removed) to better clarify the spec such that this issue might be resolved?

[2020-09-24 01:41] talltree commented on #382
@msporny Thanks for the clarifications above. I support this proposal. If we can see if there is consensus on this proposal at the start of tomorrow's special call on this topic, then we can spend the majority of the call agreeing on what a PR (or PRs) need to include—and who is going to do them. How's that sound?

[2020-09-24 02:02] dhh1128 commented on #382
Okay, Dave. This is fascinating. I think that another assumption might be getting in our way. Let me pare back all the cruft and see if I can expose it. And I apologize for adding another tome to this incredibly long thread, but this is important stuff to understand, even if we retain diverged perspectives when it's done.

In my worldview:

This is quite different from the mental model in classic

[2020-09-24 03:57] agropper commented on #382
The simplex - duplex perspective is useful. As a DID-controller, I control if and how my DID Doc will be discovered. I might send my DID to Bob or I might post my DID in a public directory along with metadata that, for instance might allow me to get targeted offers based on my Zip-code. Neither of these is a privacy problem in themselves because the intention is clear.

The next thing that happens

[2020-09-24 07:01] talltree commented on #413
@melvincarvalho You nailed the reason that `created` and `updated` were moved to [section 8.1.3](https://w3c.github.io/did-core/#did-document-metadata-properties) of the spec (DID Document Metadata Properties). They do not describe the DID subject; they only describe the DID document. The consensus has been, as @rhiaro said, that the DID document is a collection of properties describing the DID su

[2020-09-24 07:35] talltree commented on #373
@melvincarvalho Your comments amplifying those of @iherman are deeply appreciated—some of us on the DID WG have been discussing this semantic modeling question for many months (which is why I've actually written four different drafts of Appendix A).

What we ended out deciding was that the DID document did not have a separate URI because, as @rhiaro has pointed out in #413, the DID document is a c

[2020-09-24 10:07] iherman commented on #373
@talltree I am still a bit worried that, as @msporny put it in another comment, there may be lots of dragons out there even if we rename the controller property. Actually, I do not know whether just renaming would cut it: if I say

[code]

that still means that `<did:bar:9876>` _controls_ (o.k., in the DID sense) `<did:foo:1234>`. However, this is what the current spec says about the controller:

[2020-09-24 14:38] dlongley commented on #373
The controller property allows a DID controller to express other parties that may have verification methods (in their DID Documents) that SHOULD be accepted as authoritative, such that proofs that satisfy those verification methods are to be considered equivalent to proofs provided by the DID Subject. These other parties may therefore generate cryptographic proofs on behalf of the DID subject -- a

[2020-09-24 15:37] iherman commented on #373
@dlongley I do not have any problem with what you say. My discomfort comes from the way all this is expressed in RDF which seems to be odd in my view (see my examples above) which does not seem to be in line with the way it is specified in the spec either.

[2020-09-24 21:03] veikkoeeva opened #416 "JSON-LD context specific questions about DID Core specification"
My questions seem to be related to [DID Core editorial review (2)](https://github.com/w3c/did-core/issues/403) and [DID Core editorial review (1)](https://github.com/w3c/did-core/issues/401).

I wrote a small parser based on [DID Core Specification](https://www.w3.org/TR/did-core/#did-documents). It is based on [System.Text.Json](https://docs.microsoft.com/en-us/dotnet/api/system.text.json), which

[2020-09-24 23:04] talltree commented on #373
@iherman I thought about this further and IMHO the `controller` property (or whatever we ultimately decide to name it) expresses a relation to the DID subject much like any other relationship would be expressed. For example:

`<did:foo:1234> : mother <did:example:9876>`
`<did:foo:1234> : employer <did:example:abcd>`
`<did:foo:1234> : guardian <did:example:defg>`
`<did:foo:1234> : controller <did:e

[2020-09-25 07:26] iherman commented on #373
From an RDF point of view my only reservation is my last remark about the restriction on the URI used for a DID subject:

I do not see any ways to properly restrict the URI format used for a subject within the RDF world. In other words, this type of restriction is "out of bands", somehow. I am not sure how to handle that.

_If_ we go that way (and let us say we find a solution or we disregard the

[2020-09-25 13:03] brentzundel commented on #341
No comments since marked pending close, closing.

[2020-09-25 13:03] #341 closed

[2020-09-25 13:37] OR13 opened #417 "How should resolvers handle the accept header?"
https://github.com/decentralized-identity/universal-resolver/issues/150

^ the universal resolver is one example of a resolver, I would like to establish working group consensus for what should happen in the following cases:

1. `application/did+json` is requested but did method only supports `application/did+ld+json`.

2. `application/did+ld+json` is requested but did method only supports `applic

[2020-09-25 13:39] brentzundel commented on #33
Has this been addressed by #355 such that it can be closed?

[2020-09-25 13:46] iherman commented on #417
Shouldn't we have a closure on the media type issue first (#208)? `application/did+ld+json` may look very different in fact...

[2020-09-25 14:02] OR13 commented on #417
@iherman I completely agree, but since I'm reviewing PRs in the universal resolver that are assuming `application/did+ld+json`... I feel we need to start having this conversation now.

In many ways, this might be a better way to approach the questions about the ADM / Producer / Consumer issues for representations, its possible if I understood how we plan to handle this issue, I might not object to

[2020-09-25 14:45] peacekeeper commented on #417
I'd like to make one subtle meta-comment about this topic.. DID resolvers do not have a dependency on HTTP. Even though the Universal Resolver and some other implementations expose the DID resolution function at an HTTP endpoint, this isn't a requirement for resolvers.

The DID Resolution spec defines an [HTTP(S) Binding](https://w3c-ccg.github.io/did-resolution/#bindings-https), which maps the in

[2020-09-25 14:57] dlongley commented on #373
@iherman,

I think the "RDF subject value must be a DID" is a restriction that only applies to the DID Document, when you are talking about the DID subject. It is not an RDF vocabulary restriction and it is not specific to "controller". It is a statement to help producers of DID Documents create them properly without having to understand more details about RDF. You must use a DID in the subject po

[2020-09-25 14:57] msporny commented on #332
Github: "On October 1, 2020: newly-created repositories will default to main"

https://github.com/github/renaming

Github pages already supports publishing from branches other than `master`.

I will run a test to see how easy it is to use a non-master branch from now on.

[2020-09-25 15:16] iherman commented on #332
Yes, and I already use this in a Working Group that we have just started. My worry is the past (past references, previews, etc) as well as to secure that ECHIDNA would work properly...

[2020-09-25 15:24] msporny commented on #332
Only way to find out is to do it -- W3C staff is going to be dealing with this for many of its existing groups given that Github is going to allow a mass-rename feature by end of year.

I'm willing to put in the work to get this issue closed by working closely with @deniak and others if there are issues.

[2020-09-25 15:25] iherman commented on #373
@dlongley, we define an RDF vocabulary with terms like controller, authentication, etc. This means that somebody in the LD community may come up with the following RDF graph:

[code]

Whatever tool we use (OWL, SPARQL, SHACL, whatever) this graph will be a valid "DID graph", whether it is encoded in JSON-LD or not. What we say is that this is not a valid set of statement from a DID processing poin

[2020-09-25 15:38] peacekeeper commented on #417
@OR13 I feel uneasy about the language "did method only supports XXXXX". We shouldn't be thinking that representations such as JSON-LD, JSON, CBOR have to be explicitly supported by each DID method.

Can you give an example of a DID method that only supports a single representation?

[2020-09-25 18:42] OR13 commented on #417
@peacekeeper every single did method that I have worked on supports JSON and JSON-LD.

I assume that everyone agrees that modifying a did document after resolution is not the same as producing a did document...

did:github, did:elem, did:key, did:meme, they all produce JSON.

The JSON currently contains an `@context`, which according to todays spec, means they all ***only*** support JSON-LD.

My p

[2020-09-25 20:11] peacekeeper commented on #373
I have to say that semantically, `<did:foo:1234> :controller <did:bar:9876>` has always bothered me a bit.

We want to express that someone else controls my DID document or acts on my behalf, but I hope we don't want to say that e.g. one individual controls another individual.

Maybe "controller" should go into DID document metadata rather than the DID document.

[2020-09-26 04:57] iherman commented on #373
we should also remember that the term `controller` is used (at least in the examples, although it is not formally said in the spec!) for verification methods, too. For that second case it creates no discernable semantic problems. If the "main" usage moves to the DID document metadata, then the verification method case must be defined separately.

[2020-09-28 02:59] talltree commented on #373
@peacekeeper Did you see [my post earlier](https://github.com/w3c/did-core/issues/373#issuecomment-698770691) where I described that controller is just a type of relationship like any other relationship that might exist between two RDF subjects? For example, `: father`, `: employer`, `: guardian` ?

Let me give an even more specific example:

`<did:foo:1234> : power-of-attorney <did:example:jklm>`

[2020-09-28 06:06] deniak commented on #332
There shouldn't be any problem for Echidna as long as the travis configuration has the [right branch](https://github.com/w3c/did-core/blob/master/.travis.yml#L5). However, I'm checking with @plehegar to see if other tools may be affected by the switch.

[2020-09-28 09:36] oed opened #419 "Discoverability of `version-id`"
In section [3.2.1 DID Parameters](https://w3c.github.io/did-core/#did-parameters) the `version-id` query param is defined. This is a great way to refer to a specific version of a DID document, especially in content addressed systems (e.g. based on IPFS). However, right now it's impossible for someone that resolves a document to determine what the current `version-id` is.

This becomes a problem if

[2020-09-28 10:22] peacekeeper commented on #419
@oed We have some additional considerations about versioning in the DID Resolution spec (section [10.3 Versioning](https://w3c-ccg.github.io/did-resolution/#versioning)). Keep in mind that this is method-specific.

I don't really understand your message encryption use case, but the idea that a DID document could contain its current version ID has certainly been discussed before!

I think such a pr

[2020-09-28 11:20] oed commented on #419
Thanks @peacekeeper

From 10.3 as you linked. If this is the case that this should be all good. Not sure I get exactly how the DID Resolution spec relates to the DID-core spec though.

1. You have keyAgreement key `A` in your document
2. I encrypt message `m` to you using `A`
3. You update your document and now only have keyAgreement key `B`
4. You receive `m`, now do you decrypt using `A` or `B`?

[2020-09-28 18:25] OR13 commented on #419
@oed your example lacks key identifiers.

lets say A has id = `did:example:123#sha-256(JWK(A))`
lets say B has id = `did:example:123#sha-256(JWK(B))`

JWE has kid === `verificationMethod.id`

No need for version-id.

Now lets say you decided to id your keys (poorly).

lets say A has id = `did:example:123#primary`
lets say B has id = `did:example:123#primary`

now you need `version-id`.... but only

[2020-09-28 18:37] oed commented on #419
Yep, `kid` will need to use `version-id` when key identifiers are not based on a hash as they could be in some cases, but not all. Hence why the need to have a way to get the `version-id` from the DID document. It's also unclear if any given key has a deterministic id or not.

[2020-09-28 18:43] OR13 commented on #419
@oed well, some did methods don't let users pick `id` values... those methods are IMO more secure.

imo `version-id` does not belong in the did document, it belongs in metadata that is returned.... the did document is about the did subject... the version is about the "did document"... see https://en.wikipedia.org/wiki/HTTPRange-14

The WG has not done a great job of sorting this issue out, but it

[2020-09-28 18:52] oed commented on #419
@OR13 yeah seems like something like that could work! I also like the method you're suggesting above with `did:key`, where the id is the multicodec key itself. Might adopt that for 3ID but using multiple multicodec keys.

I think I also got things a little confused, because with JWS the `version-id` will definitely need to be specified in the `kid` in order to know if the signature was authored by

[2020-09-28 19:15] peacekeeper commented on #419
I agree with @OR13 's example (version-id should be in the DID document metadata, not DID document).

Except the example should say `dereference(...)` instead of `resolve()` since an entire DID URL (not just a DID) is passed.

[2020-09-28 19:58] brentzundel commented on #370
Some more context on EFF concerns around DIDs: https://www.eff.org/deeplinks/2020/08/digital-identification-must-be-designed-privacy-and-equity-10

[2020-09-29 03:02] agropper commented on #370
https://github.com/decentralized-identity/secure-data-store/issues/107#issuecomment-700395500

On Mon, Sep 28, 2020 at 3:58 PM Brent Zundel <notifications@github.com>
wrote:

[2020-09-29 12:02] peacekeeper commented on #417
If a DID method only uses Core Properties (which I think is the case for most of the methods we have today), then those DID methods support both JSON-LD and plain JSON.

If a resolver implementation is asked for an `application/did+json` DID document and it returns a JSON document with an `@context`, then that resolver didn't follow the JSON production rules correctly.

Your did:github, did:elem,

[2020-09-29 19:58] OR13 commented on #417
@peacekeeper consider the resolution function defined in did core today: https://w3c.github.io/did-core/#did-resolution

who implements the `resolveStream` method... ?

The functions are abstract, the did method implements them.

reading the spec today, I assume that, if I ask a concrete did method to `resolveStream` for `application/did+json` and I get back json with an `@context` I can conclude

[2020-09-29 21:14] peacekeeper commented on #417
I would argue that even if we merge your PR https://github.com/w3c/did-core/pull/396, such an implementation of `resolveStream` would still not conform to DID Core, since for some reason it added a `@context` even though that's not part of the `application/did+json` production process.

I see this differently. You consider it a hack to delete the `@context` after calling `resolveStream()`.

But in

[2020-09-29 21:17] peacekeeper commented on #379
Closing, since this issue has been addressed by a PR without objections.

[2020-09-29 21:17] #379 closed

[2020-09-29 21:41] OR13 commented on #417
`resolveStream` is an abstract function implemented by did methods, it is not actually referenced anywhere but did resolution... `resolveStream` is not in any way related to DID Document production or consumption....

IMO, it goes like this:

ADM -> DID Method Internal Representation -> Supported DID Core Representations -> resolveStream.

ADM -> DID Method Internal Representation -> Supported DID

[2020-09-29 21:59] dlongley commented on #417
There will be consumers of DID Documents that do not pass data through the ADM but instead work with the data in its native format or in some other abstract format (the result of `JSON.parse`, for example), without invoking additional code to parse it into the ADM. These consumers are also able to become producers without going through the ADM, return valid DID Documents results via `resolve`. We

[2020-09-29 22:02] OR13 commented on #417
I think this is the area of highest confusion.

I think of "what other people do with the result of a `resolve`/ `resolveStream` as orthogonal issue, that is 100% not related to "producer" / "consumer" statements, but I look forward to getting clearer on this.

[2020-09-29 22:02] peacekeeper commented on #417
I think `resolveStream` should be renamed to `resolveRepresentation`. (see https://github.com/w3c-ccg/did-resolution/issues/57)

[2020-09-29 22:03] dlongley commented on #417
@OR13,

Yes, I think the "producer"/"consumer" language is being interpreted differently by different people -- and it's creating some problems. It's becoming clearer to me that it should only be understood in the context of transformations.

[2020-09-29 23:20] tplooker opened #421 "Current language around equivalent canonical DIDs increases signature verification complexity"
**Problem**

As per [PR](https://github.com/w3c/did-core/pull/376) which introduced the note in [section 5.1](https://w3c.github.io/did-core/#did-subject) around intermediate representations now allowing the id to be populated with an equivalent canonical DID. This appears to have created some problematic cases that will increase the complexity around verifying digital signatures that involve DIDs

[2020-09-29 23:49] kdenhartog commented on #421
This aligns with some of the comments I saw during the normative statements review document. Making this change will be incredible beneficial to the uncertainty that was added to those normative statements. I'm in favor of changing the normative statement from:

to