[2021-06-08 16:03] iherman commented on #625
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-08-did#section5-4) on 2021-06-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.4. Diagrams need SVG and detailed description

_See github issue [#625](https://github.com/w3c/did-core/issues/625)._

**Brent Zundel:** the diagrams need descriptions

**Shigeya

[2021-06-08 16:03] iherman commented on #708
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-08-did#section4) on 2021-06-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 4. verification method IDs MUST contain a fragment (issue did-core#708)

_See github issue [#708](https://github.com/w3c/did-core/issues/708)._

_See github pull request [#764](https:/

[2021-06-08 16:03] iherman commented on #718
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-08-did#section5-1) on 2021-06-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. FAQ Question: Can the DID Subject of a DID Document be updated/changed after the DID Document has been registered?

_See github issue [#718](https://github.com/w3c/did-core/iss

[2021-06-08 16:03] iherman commented on #719
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-08-did#section5-5) on 2021-06-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.5. FAQ Question: Can the DID Controller of a DID Document be updated/changed after the DID Document has been registered?

_See github issue [#719](https://github.com/w3c/did-core/

[2021-06-08 16:03] iherman commented on #728
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-08-did#section5-2) on 2021-06-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.2. All appendix sections needs to be cleaned up

_See github issue [#728](https://github.com/w3c/did-core/issues/728)._

**Brent Zundel:** next 728

**Manu Sporny:** there are 4 r

[2021-06-08 16:03] iherman commented on #729
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-08-did#section5-3) on 2021-06-08

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.3. When is the DID URI getting constructed

_See github issue [#729](https://github.com/w3c/did-core/issues/729)._

**Manu Sporny:** still waiting on me, easy one I just havne't d

[2021-06-12 17:41] msporny commented on #729
PR #765 has been raised to address this issue. This issue will be closed once that PR is merged.

[2021-06-15 12:40] msporny opened #766 "Add link to DID use cases document."
We still don't have a link to the use cases document. As @philarcher has mentioned on numerous occasions, it might be a good idea to put that in the spec. :P

[2021-06-15 16:12] iherman commented on #625
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-15-did#section5-1) on 2021-06-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. Diagrams need SVG and detailed description

_See github issue [#625](https://github.com/w3c/did-core/issues/625)._

**Brent Zundel:** issue 625

**Markus Sabadello:** recommend

[2021-06-15 16:12] iherman commented on #766
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-15-did#section5-3) on 2021-06-15

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.3. Add link to DID use cases document

_See github issue [#766](https://github.com/w3c/did-core/issues/766)._

**Brent Zundel:** 766 add link to DID use-cases document

**Manu Spo

[2021-06-15 16:21] peacekeeper commented on #625
Need SVG versions:

- [ ] diagram-production-consumption.png
- [ ] diagram-resolve-resolverepresentation.png
- [ ] figure-a.1-did-and-did-document-graph.png
- [ ] figure-a.2-also-known-as-graph.png
- [ ] figure-b.1-controller-and-subject-equivalence.png
- [ ] figure-c.1-independent-did-controllers.png
- [ ] figure-c.2-group-did-controllers.png

Need to check detailed descriptions:

- [ ] parts-of-

[2021-06-15 16:30] peacekeeper commented on #625
@talltree it looks like you added 5 diagrams in PNG format for [Appendix C](https://www.w3.org/TR/did-core/#architectural-considerations) in https://github.com/w3c/did-core/commit/39877b1ec5699382e96d3e7f151dd43f5813e4fc.

Can you create SVG versions of those?

[2021-06-16 00:48] mnot opened #768 "External security / crypto review"
Seeing as this spec claims certain security and cryptographic properties, it should undergo external review.

If it has had such review, could someone please point to it?

If not, I'd recommend starting with the IETF Security Area for the former (they can do external reviews on request), and the IRTF CFRG for the latter.

[2021-06-27 18:33] msporny commented on #718
PR #755 has been merged.

@mwherman2000 can you please confirm that the PR raised to address your issue actually addressed your issue?

[2021-06-27 18:34] msporny commented on #719
Trying again...

PR #754 has been merged.

@mwherman2000 can you please confirm that the PR addressed your issue? We will close this issue in 7 days if we don't hear from you before then.

[2021-06-27 18:34] msporny commented on #728
This is finally done, all PRs to clean up the appendixes have been merged. Closing.

[2021-06-27 18:35] #728 closed

[2021-06-27 18:36] msporny commented on #729
PR #765 has been merged. I'm noting that @Kalanamith gave the PR a :heart: and a :+1: noting his explicit approval that we have addressed his issue. Closing.

[2021-06-27 18:57] msporny commented on #768
Hey @mnot, apologies for being delayed in getting to this, I missed it in my inbox.

The group has gone through the mandatory W3C horizontal review process including the W3C Technical Architecture Group (TAG), the W3C Privacy Interest Group (PING), a11y, i18n, done the mandatory Security and Privacy assessment, etc. The issues covering those reviews are here:

https://github.com/w3c/did-core/issue

[2021-06-27 19:05] msporny commented on #708
PR #764 has been raised to address this issue. This issue will be closed when PR #764 is merged. @mavarley @llorllale can you please confirm that PR #764 addresses your concern?

[2021-06-30 05:04] iherman commented on #768
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-06-29-did#section5-1) on 2021-06-29

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. External security / crypto review

_See github issue [#768](https://github.com/w3c/did-core/issues/768)._

**Manu Sporny:** the big one is from [mark from the http wg](https://

[2021-07-01 05:47] mnot commented on #768
For me, the most important thing here is to build confidence in the security properties of the solution. I'm sure the folks who have been involved are competent and expert, but that's not sufficient to create the trust necessary for critical infrastructure.

I mentioned the Security directorate and CFRG because they were obvious (to me) places to start; by all means engage with them if you're comf

[2021-07-01 05:49] mnot commented on #768
Oh, and regarding:

This may very well be; I'm neither a security expert nor deeply knowledgeable about the architecture here. It may be that the secdir tells you to come back at a different point.

[2021-07-01 13:04] msporny commented on #768
@mnot wrote:

Yes, strong agreement from me (and now the WG). As you may have seen [above](https://github.com/w3c/did-core/issues/768#issuecomment-871098132), the DID WG agrees with the notion of engaging secdir and CFRG. I have an action to write up an email for approval by the WG to send to secdir and CFRG. The transcription of the WG meeting doesn't quite capture what was said, so here are the

[2021-07-02 02:13] mnot commented on #768
Sounds good to me. It might be worth just initially talking to the secdir; reviewing non-IETF documents isn't typical for them, but IIRC they've done it before, and they'll be able to advise about whether to pull CFRG in.

[2021-07-02 04:24] selfissued commented on #768
@msporny 's statements notwithstanding, while the specification isn't normatively *defining* new key formats, it is normatively *referencing* new and non-standard key formats.  In particular, it references this individual draft not in a working group, which defines or references multiple new and non-standard key formats:
- https://datatracker.ietf.org/doc/html/draft-multiformats-multibase-03

Note

[2021-07-03 13:13] oed opened #773 "Why is versionTime at risk?"
Looks like there is a handful of implementations of the `versionTime` query param: https://github.com/w3c/did-test-suite/search?q=versionTime

Yet it's still has the "FEATURE AT RISK" note: https://w3c.github.io/did-core/#did-parameters

[2021-07-03 15:52] msporny commented on #773
versionTime is no longer at risk, it has achieved the minimum number of implementations to keep it in the spec: https://w3c.github.io/did-test-suite/#spec-statement-summary

Those at-risk issue markers were manually added and they need to be manually removed. I'm delaying doing that until the end of CR because of the heavy workload that I'm under... removing at risk markers often come with discuss

[2021-07-03 15:53] msporny commented on #773
I'm marking this as `pending close` -- as the issue is effectively resolved once we come out of CR (because there are enough implementations now).

[2021-07-03 16:01] msporny commented on #768
No, it's not normatively referencing new key formats -- it is **\*non-normatively\*** referencing new key formats while those key formats are allowed the time to become standardized. The specification does that because it's documenting reality -- those new key formats are used in the majority of implementations that have been submitted to the test suite. This approach (to document reality) was (an

[2021-07-03 16:10] msporny commented on #718
Issue submitter has been non-responsive. WG took action to address the issue by creating and merging a PR that speaks directly to the issue. Closing with implict assumption that the submitter's issue has been addressed.

[2021-07-03 16:10] #718 closed

[2021-07-03 16:10] msporny commented on #719
Issue submitter has been non-responsive. WG took action to address the issue by creating and merging a PR that speaks directly to the issue. Closing with implict assumption that the submitter's issue has been addressed.

[2021-07-03 16:11] #719 closed

[2021-07-10 20:32] #708 closed

[2021-07-11 18:06] msporny commented on #766
PR #774 has been raised to address this issue. This issue will be closed once that PR is merged.

[2021-07-11 18:08] msporny commented on #773
As of the latest implementation report, `versionTime` is no longer at risk: https://lists.w3.org/Archives/Public/public-did-wg/2021Jul/0004.html

[2021-07-11 19:51] msporny commented on #768
@mnot wrote:

Letter to IETF secdir has been prepared and is being reviewed by the DID WG: https://docs.google.com/document/d/1ZiSOhXJ3agevZ8uHX_N6zEi_mbso7jWxMHzsWYs6E28/edit

[2021-07-11 19:53] msporny commented on #773
PR #775 has been raised to address this issue. This issue will be closed once that PR has been merged.

[2021-07-13 23:45] peacekeeper commented on #625
https://github.com/w3c/did-core/pull/781 and https://github.com/w3c/did-core/pull/785 add detailed descriptions for the remaining diagrams. After those PRs are merged, all diagrams will have detailed descriptions. Assuming that we don't actually need SVG versions of all diagrams, I think we can then close this issue.

[2021-07-16 11:37] peacekeeper commented on #625
https://github.com/w3c/did-core/pull/786 replaces the last remaining PNG diagrams with SVG versions.

[2021-07-16 16:35] TallTed commented on #625
@peacekeeper -- Would you tick off [the relevant boxes](https://github.com/w3c/did-core/issues/625#issuecomment-861639733)?

[2021-07-17 20:37] msporny commented on #625
Done, and we're done here.

PRs #786, #781, #785, #767, and #771 address this issue. The issue was raised by @peacekeeper and resolved by @clehner and @peacekeeper. Closing with explicit agreement that the issue has been resolved.

[2021-07-17 20:37] #625 closed

[2021-07-17 20:40] msporny commented on #766
PR #774 has been merged with @philarcher agreeing that the issue is resolved in that PR. Closing.

[2021-07-17 20:40] #766 closed

[2021-07-17 20:41] msporny commented on #773
PR #775 has been merged, which addresses this issue (and @oed has confirmed that it addresses their concern). Closing.

[2021-07-17 20:41] #773 closed

[2021-07-17 21:22] msporny commented on #768
The message has been sent to IETF secdir:

https://mailarchive.ietf.org/arch/msg/secdir/ijoxNV3tjqYw1WOKI7T5O0JYts0/

I'm marking this issue as pending close given that we're transitioning to Proposed Recommendation this coming week and it will most likely take many weeks to months to achieve the end goal of what we have kicked off.

Folks should feel free to disagree with closing this issue if th

[2021-07-24 19:06] msporny commented on #768
No objections received to closing during 7 day wait period. Closing.

[2021-07-24 19:07] #768 closed

[2021-08-03 01:43] lithiphat opened #789 "อิทธิพัทธ์ ทิมสวาสดิ์"
กรณีมีการกระจายเงินให้โอนไปที่ธนาคารกรุงไทยสาขา รังสิต บัญชีออมทรัพย์เลขที่1200519868

[2021-08-03 01:49] brentzundel commented on #789
According to Google translate, the above comment is Thai for, "In the case of money distribution, transfer to Krung Thai Bank, Rangsit branch, savings account number 1200519868"

I do not believe this is actually an issue.

[2021-08-03 02:30] iherman commented on #789
Spam, to be closed...

[2021-08-03 02:33] #789 closed

[2021-08-06 10:47] mwherman2000 commented on #719
Looks good.  Trying to plow through my backlog of 3000 Github notifications :-)

[2021-08-06 10:50] mwherman2000 commented on #718
Looks good. Trying to plow through my backlog of 3000 Github notifications :-)

Also been busy writing some code: https://www.youtube.com/watch?v=FFv4WZ0p3aY

[2021-08-17 15:22] msporny opened #791 "Clearly mark Appendices as non-normative"
Some of the Appendices are currently not marked as non-normative, even though they are. We should make sure each section is clearly marked as non-normative.

[2021-08-26 17:26] travisleithead opened #836 "One foundational key representation please"

[2021-09-05 03:18] shujikamitsuna opened #794 "Possible typos"
Hi, This is KAMITSUNA Shuji from Japan.

Thank you for the great specification.

 I found some possible typos in the specification:

1) In the long description of Figure 9, "dotted blue arrow" might be "blue arrow". There seems to be no dotted arrow in the figure 9.

2) In the same long description, "the Describes rectangle" might be "the rectangle, labeled "DID Document",".

3) In the long descri

[2021-09-07 16:02] brentzundel commented on #794
Thank you for raising this issue, and for your detailed reading of the specification.
I have raised PR #795 to address this.

[2021-09-11 22:32] #794 closed

[2021-09-11 22:54] msporny commented on #791
PR #796 has been raised to address this issue. This issue will be closed once that PR has been merged.

[2021-09-13 16:39] rxgrant opened #797 "Formal objections need a separate response"
In [did-imp-guide pull/27](/w3c/did-imp-guide/pull/27) there is an attempt to address the formal objections with wording that cannot in detail meet the concerns of the objectors, and that - in its current vague disapproval of proof-of-work DID methods as shown by calling them out under special requirements - cannot gain consensus.

It is possible to meet some possible concerns of the formal object

[2021-09-13 18:37] csuwildcat commented on #797
@rxgrant I don't believe DID Core is the place for this, as it should remain completely neutral in its description of the DID data model and DID related functions. Additionally, as an implementer of one of the methods mentioned, it seems inappropriate to discuss any specific DID methods in DID Core, or their underlying technical choices, which should remain in the realm of market choice. The imple

[2021-09-13 18:56] OR13 commented on #797
The https://github.com/w3c/did-rubric is also a great place to discuss specific did methods.

The did core spec is a specification for a data model, and has nothing to do with implementations, other than the normative requirements it places on did method specifications.

[2021-09-13 19:21] rxgrant commented on #797
I agree that did-core is not the right place for this.  I intended to ask did-wg to consider whether to add a new non-normative note, and pasted the URL over in a late-night error.  I will close the issue.

[2021-09-13 19:22] #797 closed

[2021-09-30 11:30] JelleMillenaar opened #798 "DID Resolution section standardizes API instead of data format"
For the IOTA Identity framework, an implementation of the `iota` did method, we are currently [discussing](https://github.com/iotaledger/identity.rs/discussions/422) our resolution logic to be better in-line with the DID spec. In [Section 7.1](https://www.w3.org/TR/did-core/#did-resolution), the DID Resolution logic is defined in an API format that has a fixed set of functions with certain paramet

[2021-09-30 12:07] peacekeeper commented on #798
Hello @JelleMillenaar thanks for your feedback..!

The DID WG had long discussions if (and to what extent) DID Resolution should be defined in DID Core. The conclusion was that DID Core should define an abstract interface (an API), but not a concrete implementation of the protocol(s) or data format(s) of DID Resolution. The main reason for this is that DID Resolution can come in many forms; someti

[2021-10-23 15:35] chrisiba opened #800 ""id" property missing in examples"
In [Example 31](https://w3c.github.io/did-core/#example-did-document-with-many-different-key-types) and [Example 32](https://w3c.github.io/did-core/#example-did-document-with-different-verification-method-types) the `id` property in the root map as required for all DID Documents by the [DID Document properties](https://w3c.github.io/did-core/#did-document-properties) is missing.

[2021-10-27 22:20] ekr opened #802 "What are the semantics of "controller" in "authentication""
S 5.2. says

of the relationship is the DID document as when the subject of the
relationship is a verification method, such as a cryptographic public
key. Since a key can't control itself, and the key controller cannot
be inferred from the DID document, it is necessary to explicitly
express the identity of the controller of the key. The difference is
that the value of controller for a verification

[2021-10-27 22:31] ekr opened #803 "What is the relationship of didDocumentStream and didDocument?"
Reading 7.1, I don't see any requirement that didDocument and didDcoumentStream be semantically equivalent.

Do they have to be? If so, who is responsible for enforcing this? If not, what are the implications?

[2021-11-11 16:36] gribneau opened #804 "IANA file extension and mime type for JSON-LD represenation"
I couldn't help but notice that the file extension and mime type for the JSON-LD representation of a DID document reverse the order of "JSON" and "LD":

[code]
This can be seen in the [IANA Considerations](https://w3c.github.io/did-core/#iana-considerations) section.

Is it possible (and reasonable) to standardize the order between the file extension and the mime type?

[2021-11-12 21:05] TallTed commented on #804
This is one of those "no win" situations.

The file extension of JSON-LD is `jsonld`, and its media type, conforming to related RFCs, is `application/ld+json`.

The JSON-LD representations of DID documents are based on those, and we have found (after long effort!) no way to improve the media type beyond what we've done with `application/did+ld+json`.

It might make sense to change our file extensi

[2021-11-12 22:53] gribneau commented on #804
That's more or less what I anticipated.

Thanks. Closing.

[2021-11-12 22:53] #804 closed

[2021-12-03 12:26] RieksJ opened #805 "Add short semantic descriptions to improve readability of the spec"
I've recently put some time in getting reacquainted with the spec. While there are some nice improvements (e.g. using [INFRA]), I also find it unnecessarily hard to understand. The main problem I have is that the spec focuses on syntax without helping readers that are (also) looking for semantics, specifically where identical syntax is being used for semantically different stuff.

The 'controller'

[2021-12-03 23:30] kdenhartog commented on #805
Just to clarify my understanding of it:

The DID Controller is the one who controls the secret key material that authorizes them to make updates to the DID Document itself.

The Verification Method controller is the one who controls the secret key material to utilize the verification method in any way they choose. One example may be for the verification method to be used to update the DID Document

[2021-12-04 17:55] msporny commented on #798
This is delayed waiting on feedback by @JelleMillenaar. Please respond to @peacekeeper.

[2021-12-04 18:36] msporny commented on #802
Hey @ekr, apologies for the delay in response. The DID WG stopped regularly processing issues for DID Core when DID Core went to Proposed Recommendation. I'm just now seeing your question. I'll note during the next call that a few issues have been raised after we went to PR and see what our policy is on responding to these issues during a FO process.

The purpose of `controller` is to ensure that

[2021-12-06 08:02] RieksJ opened #806 "Properly define the semantics of all `controller` properties"
The semantics of the term 'DID controller' seems clear enough from the [spec](https://www.w3.org/TR/did-core/#did-controller). However, the semantics of the `controller` property in a [verification method](https://www.w3.org/TR/did-core/#verification-methods) is not defined. Some might imagine what it could be from reading the note that discusses Verification method controller(s) and DID controlle

[2021-12-06 08:21] RieksJ commented on #805
Seems like we're now having two issues:
1. the original one, i.e. the lacking of semantic descriptions with properties (which should be addressed here), and
2. the actual semantics of the various `controller` properties (which was just to illustrate that issue), but since it might be an issue in itself, I will split it.

[2021-12-06 09:46] RieksJ commented on #806
@kdenhartog phased [his understanding](https://github.com/w3c/did-core/issues/805#issuecomment-985909248) of 'controller' (issue #805) to be the entity that controls secret key material (that's not the same as controlling a section in a document that controls a verification method):

Why would I want to know the controller DID if I can already recognize that controller by having it show me he poss

[2021-12-06 10:22] kdenhartog commented on #806
Hmm this could be a bit odd to define the semantics here since the semantics are realistically being set by the verification method suite which could be done in a variety of different ways. For example, the semantics of the `controller` property for the verifiable conditions suite is likely to mean something different than the semantics of a traditional public key base verification method suite.

[2021-12-06 12:40] RieksJ commented on #806
I hope your are not saying: "this standard does not define semantics because every software suite that uses it chooses, and is at liberty to choose its own semantics"

[2021-12-06 22:01] kdenhartog commented on #806
A bit more nuanced than that. What I'm trying to say is DID-Core should define the abstract semantics (similar to if you were to define an interface in a program) and it's up to the verification method suite to define the semantics for their particular verification method (similar to if you were to define an implementation of that interface. It must adhere to the function signature, but the implem

[2021-12-07 07:30] RieksJ commented on #806
That makes sense to me, that is to say I interpret this as that DID-Core could define the abstract semantics of every of its properties by adding a single line that does so. Perhaps something like this for DID Document properties:

Property | Required | Syntax | Semantics
-- | -- | -- | --
| id | yes | A string that conforms to the rules in § 3.1 DID Syntax. | This string identifies both the DID d

[2021-12-09 06:59] ttloves2 opened #808 "W3c"

[2021-12-09 16:52] TallTed commented on #808
@ttloves2 -- Could you describe the issue?  Or close it, if creating it was accidental?

[2021-12-13 22:41] kdenhartog commented on #806
@RieksJ the didDocument.id property semantics you're proposing reintroduce the range 14 problem I believe. The DID only represents the subject as a URI not the DID Document resource. From the sounds of it you're saying that the URI represents the subject AND the DID Document resource which wouldn't be correct. If I am accurately representing the semantics included in [section B.1](https://w3c.gith

[2021-12-14 07:02] RieksJ commented on #806
I've updated my earlier comment to better reflect my understanding of the `id` property of the DID doc. I think it's now in line with how it is intended to be. Regardless, I wouldn't want to rekindle any earlier problems.

I've also seen the changes you made in your PR. Your updates of the text for the `id` property in `verificationMethod` say "This value represents either the  DID controller  or

[2021-12-14 07:03] RieksJ commented on #806
@kdenhartog I've updated my earlier comment to better reflect my understanding of the `id` property of the DID doc. I think it's now in line with how it is intended to be. Regardless, I wouldn't want to rekindle any earlier problems.

I've also seen the changes you made in your PR. Your updates of the text for the `id` property in `verificationMethod` say "This value represents either the  DID con

[2021-12-15 18:03] RieksJ commented on #806
I noticed that this also came up (sort of) in #697, where @msporny [stated](https://github.com/w3c/did-core/issues/697#issuecomment-784362326) that "If we didn't require the property, we open up a ton of potential attacks that we'd then have to figure out how to deal with". I'd love to see this documented in a place that people that are not heavily involved in authoring/contributing to the spec ca

[2021-12-16 00:26] kdenhartog commented on #806
FYI @dlongley I think you're going to have opinions on this so want to make sure you're aware this thread is ongoing.

The problem is that with your proposed text that doesn't align with the behavior of how most DID Methods are defining how updates work. It's the DID Document controller not the verification method controller who gets to update the verification method. Re-reading my text though I t

[2021-12-16 05:30] RieksJ commented on #806
@kdenhartog: Thanks for clarifying. At this point I'm primarily trying to understand how things are currently intended. This discussion, the issues I referred to and some private communications tell me such clarification is actually needed. And there's still #805, which basically calls for similar clarification texts for other properties.

A different thing is whether or not what is (then) specifi

[2021-12-16 17:05] OR13 opened #810 "Update github link to use TR instead of github.io"
![Screen Shot 2021-12-16 at 11 04 20 AM](https://user-images.githubusercontent.com/8295856/146416311-4b5225d0-83c3-42c4-b3c3-3476d04269a4.png)

Possibly holding off on this until W3C process has been refined further... though I personally would do it ASAP, given the better link is available and resolvable.

[2021-12-16 22:37] kdenhartog commented on #806
I'm fine with keeping that discussion in this issue as well or for it to happen on the open PR as suggested text changes.

[2021-12-17 05:05] iherman commented on #810
That was a bug. Changed.

[2021-12-17 05:05] #810 closed

[2021-12-18 01:31] codeglobally opened #811 "New verification material property supporting JWK sets by reference"
Presently, *publicKeyJwk* and *publicKeyMultibase* are the only verification material types supported for verification methods in the specification. This is limiting for enterprise adoption where security best practice dictates frequent key rolling and hygiene, along with the broad adoption of external key management capabilities such as Azure Key Vault or the Amazon Key Management Service.

Propo

[2021-12-18 04:47] OR13 commented on #811
see https://www.w3.org/TR/did-core/#verification-methods

Doing this without considering the larger standard would harm interoperability.

If you want to rotate keys frequently, you can use `service` endpoints.

See https://www.w3.org/TR/did-core/#services

For example:

[code]

Just beware that an attacker doesn't need to compromise your DID if they can simply compromise an ephemeral key server y

[2021-12-18 04:53] OR13 commented on #811
Another alternative would be to define a new verification method type, here are some examples:

- https://w3c-ccg.github.io/lds-jws2020/
- https://github.com/w3c-ccg/ldp-bbs2020
- https://w3c-ccg.github.io/lds-ed25519-2020/

But its not clear to me what "relationship" an "authorized KMS" would be acting under... see https://www.w3.org/TR/did-core/#verification-relationships ... "

Perhaps some exi

[2021-12-18 04:54] OR13 commented on #811
cc @selfissued since we have talked many times about "non standard" verification methods, what are your thoughts on this.

[2021-12-18 04:57] OR13 commented on #811
I do think committing a decentralized identifier to an external authentication service controlled by someone other than the did controller raises questions about decentralization and security... but they can probably be addressed.

[2021-12-18 05:05] OR13 commented on #811
Another solution would be to use a VC for this, and not publish a service endpoint or verification method associated with ephemeral keys to the did verifiable data registry at all... thats probably the better security approach.

[2021-12-18 05:12] OR13 commented on #811
Or it might be better to just use a did method like `did:web` where updates (key rotations) are cheap, and its already centralized so there is no real "loss of decentralization" to consider.

[2021-12-18 06:31] csuwildcat commented on #811
@OR13 signed key lists located in one's Identity Hub are a fine example of this, so I am personally suppressive of the general Issue.

[2021-12-19 09:50] kdenhartog commented on #811
I'm not a fan of supporting a set of keys in a single verification method and instead would expect that the best method to handle this would be to assign a separate verification method object to each key. By supporting this approach it requires additional code paths in order to uniquely identify keys when we currently only have one.

[2021-12-19 15:49] csuwildcat commented on #811
I think maybe the intent was identifying a remotely located key, which could be done via DID-relative URL, with the actual public key bytes residing in the indicated Hub location.

[2021-12-19 15:51] csuwildcat commented on #811
Doesn't mean it's not under the owner's control, especially if the paradigm is to have the remotely located key representations signed by a DID document key.

[2021-12-19 22:53] kdenhartog commented on #811
Yeah I understand it's possible I'm just advocating that we shouldn't do that since it's going to make it more complicated to process and reference these keys in an interoperable way.

[2021-12-20 19:47] csuwildcat commented on #811
@kdenhartog we'll have Hubs as a standardized DID-relative resource mechanism within the next 3-4 months, so we can make a specific reference URL format for it. Having these external references is important, as it makes architectures more perfomant and flexible.

[2021-12-20 22:23] peacekeeper commented on #811
My first reaction to this is the same as @kdenhartog 's.. Just use separate verification methods, and update the DID document frequently. Use a DID method that makes updates cheap & easy.

If you want to host a key list "outside" the DID document at some URL, then you could also encapsulate that key downloading logic inside your DID method, and let a DID resolver do that work, instead of higher le

[2021-12-20 22:25] peacekeeper commented on #811
Reminds me of a great discussion led by @csuwildcat at DIF ID WG a while ago: https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---12-july-2021---1400-et-recording

[2021-12-28 10:30] RieksJ opened #812 "Example 19 (delegation) uses the same did's everywhere"
In my attempt to come to grips with the details of capabilities and their delegation, I noticed that [example 19](https://www.w3.org/TR/did-core/#example-19-capability-delegation-property-containing-two-verification-methods) uses `did:example:123456789abcdefghi` as the DIDdoc subject, in the controller property, and as the DID-part of all DID-URLs.

I have trouble understanding how this could defi

[2021-12-28 14:53] jandrieu commented on #812
You are correct. The capabilityDelegation in that example does not delegate to another DID subject.

Rather, it defines a verification method for the delegation of capabilities issued to the subject.

In other words, if you have a zCap issued to `did:example:123456789abcdefghi`, that has been delegated to `did:example:abc` **by** `did:example:123456789abcdefghi`, then you can verify that delegatio

[2021-12-29 09:11] RieksJ commented on #812
Thanks @jandrieu for explaining.

As you may see from previous issues I raised over the last weeks, I'm having trouble understanding this specification. Some concepts are explained in detail, whereas (e.g. capabilities, controllers etc.) are not obvious to readers such as me. It seems to me that the standard has functionally 'progressed' (slipped) from what used to be a way to set up secure commun

[2021-12-29 13:15] jandrieu commented on #812
I hear your frustration. I think much of it is because of the layered approach that advocates of DIDs and VCs have adopted (and I eventually came to appreciate and, in turn, advocate). By deferring some aspects to other specifications, VCs and DIDs were able to get through a consensus process at the data model level. The unfortunate result is that there's no fully published version of the grand vi

[2022-01-04 07:55] RieksJ commented on #812
Thanks, @jandrieu, for hearing my frustration, and for clarifying and pondering.

I like the idea behind verification relationships. Having different keys for different purposes has been around for a long time (authentication, integrity signatures, will-expressions), and DID-core added a few others. It is from this history that I think we haven't seen the last of them, and therefor - and also to b

[2022-01-04 07:56] RieksJ commented on #806
I'm struggling with git (I just know the very basics); so how do I best contribute to the open PR?

[2022-01-04 08:14] iherman commented on #806
@RieksJ I am not sure how extensive your contribution would be. A very simple intro to github that I wrote some years ago:

https://iherman.github.io/misc-notes/docs/BasicGitHubContributionIntro

may help.

[2022-01-06 02:09] OR13 commented on #811
Here is a thought…

Your did method can define resolution in terms of service endpoints… so this is a legal way to resolve a did document:

[code]

The down side is your did method needs to understand how to use a “hub” or “service endpoint” to “get fresh keys”… the plus side is you don’t need to do anything to did core and your method works as expected out of the box.

If other methods are jealou

[2022-01-06 02:20] csuwildcat commented on #811
I strongly disagree with the last few comments. Verification Methods were purposefully created and articulated to include more than document-embedded public keys. There's no reason why we should force a Method to couple to other systems if users want to add Verification Methods that require some form of verification beyond reading public key bytes from the document itself.

[2022-01-06 17:31] OR13 commented on #811
https://www.w3.org/TR/did-core/#verification-methods

@csuwildcat you are correct, but implementing a verification method that is not a public key, will limit interoperability... we could have added ethereum or bitcoin addresses as verification methods, we chose to handle those as extensions after many hours of debate.

I am not sure I fully grok, what you are disagreeing with.

Are you in favor o

[2022-01-09 21:27] peacekeeper commented on #811
I agree with @OR13 that you could encapsulate the "key downloading" step inside the DID method, that's also what I suggested in https://github.com/w3c/did-core/issues/811#issuecomment-998315814.

I also agree with @csuwildcat that verification methods can be more than just public keys; I have been interested in examples of this for some time (there was an issue about this at https://github.com/w3c

[2022-01-09 21:42] csuwildcat commented on #811
I just want to reiterate that it's a bad idea to needlessly make things
Method-specific. We should avoid Method-specific document entries as much
as possible, and in this case it doesn't even make sense because the
suggestion can easily be implemented with a generic Verification Method
process that anyone reading a DID Document from any Method would be able to
resolve.

Ford example, you could hav

[2022-01-11 04:55] kdenhartog commented on #806
Yeah for me just a review of the text on github is a great way to provide specific requests that I can take action on so we can find a text that makes sense for the both of us. Here's another guide from github on how to conduct a pull request review.

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-changes-in-a-pull-re

[2022-01-11 05:06] kdenhartog commented on #811
Agree with not making things method specific and rather make it well defined in the verification method object. If you want to reference a set of JWKs all under the same URL (similar to how OIDC references JWKs for verifying tokens) using the described method I think it makes sense to do this in a way that defines itself as a verification method suite (which could define the `publicKeyJwks` proper

[2022-01-11 07:23] RieksJ commented on #806
Thank you both for trying to help out. I've spent quite some time trying to make my way through this pull request (learned a lot) but I find it too cumbersome and time consuming to actually contribute. As the clarifications, both in this issue and the additions by @kdenhartog work for me, I suggest we leave it as it is now.

[2022-01-11 15:04] peacekeeper commented on #803
@ekr sorry for the late reply..

Reading that section you referenced:

To me it seems sufficiently clear that given the same DID, the resulting didDocument or didDocumentStream are "semantically equivalent", the difference is that one is considered the "abstract data model", whereas the other one is a concrete representation of the DID document such as JSON-LD or JSON or CBOR. I think the diagram

[2022-01-11 17:24] jaroslavsaxa opened #814 "<not an issue, but request for help> - We should like to register new verification method type key/signature. Can you please navigate how this can be done in did-spec-registry?"

[2022-01-11 17:31] OR13 commented on #814
@jaroslavsaxa

1. write a spec that define the method type
2. open a pull request to the did spec registries to register it

Examples:

- https://github.com/w3c-ccg/lds-jws2020
- https://github.com/w3c-ccg/lds-ed25519-2020/
- https://github.com/OR13/lds-blockchain2021/
- https://github.com/decentralized-identity/EcdsaSecp256k1RecoverySignature2020
- https://github.com/OR13/lds-pgp2021

I also main

[2022-01-11 17:32] OR13 commented on #814
I edited your submission to make it more readable for future searchers.

[2022-01-11 17:54] jaroslavsaxa commented on #814
Hi Orie,

Thank you very much for this! There is clear description for new did method for  verification method type and or other changes (non editorial) no so clear for me so I rather asked.
Thank you and sorry to bother,

Yes, you can move this issue to the did spec registries
jaro

From: Orie Steele ***@***.***>
Reply to: w3c/did-core ***@***.***>
Date: Tuesday, 11 January 2022 at 18:31
To: w3c/

[2022-01-11 17:54] jaroslavsaxa commented on #814
Thank you a lot!

From: Orie Steele ***@***.***>
Reply to: w3c/did-core ***@***.***>
Date: Tuesday, 11 January 2022 at 18:32
To: w3c/did-core ***@***.***>
Cc: Jaroslav Saxa ***@***.***>, Mention ***@***.***>
Subject: [External] Re: [w3c/did-core] How to register new verification method type? (Issue #814)

This message is from an EXTERNAL SENDER - be CAUTIOUS, particularly with links and attachment

[2022-01-11 20:54] csuwildcat commented on #811
The assumption with such a Verification Method would be that the key set it points to is signed as a set (or individually) with a key that is present in the DID Document, allowing you to trust that the association was intended by the DID controller. This way a user can associate N keys with their DID through a mechanism that is scalable, performant, and better attuned for many scenarios.

[2022-01-11 22:29] kdenhartog commented on #811
Seems like a reasonable way to do it. I think we'd just need to define the verification method suite for it.

This does raise the question of if we're going to allow verification method suites to be an extension point then why did we define `publicKeyMultibase` and `publicKeyJwk` as the only properties to represent public keys? Practically speaking it does help reduce the number of code paths need

[2022-01-11 23:31] kdenhartog commented on #805
I'm wondering if it would make sense for us to define a terminology document like we did in the VC document to help with this. Would something like this for DID-Core be sufficient here? https://www.w3.org/2018/credentials/#credentialStatus

Note we don't define the semantics of specific verification methods here, but do define some of the base structure they must follow which means we may need to

[2022-01-12 04:29] peacekeeper commented on #811
The way I see it, just because we defined those in DID Core doesn't mean that others can't be used or invented in the future? The DID spec registries list several additional ones: https://w3c.github.io/did-spec-registries/#verification-method-properties

[2022-01-12 06:21] RieksJ commented on #805
It would certainly be an improvement to have something like this. Having said that, I would also say that it might just as well be an integral part of the DID-core spec. As I mentioned earlier, it might be a good habit for each entry to specify its syntax (or reference such a specification, e.g. as 'URI-syntax'), and distinct from that, specify, or hint to its purpose/semantics.

This way, we coul

[2022-01-12 06:45] kdenhartog commented on #811
Yeah I tend to agree, but I was recently looking back at the notes for what led us to select these two and it argued directly against the idea that others can be used or invented in the future since it would harm interoperability. That's what I meant by that.

[2022-01-12 13:57] csuwildcat commented on #811
Technically something that effectively just points at JWKs is still using JWKs, so the desire for representation normalization of actual key bytes that was the basis of that decision is a bit orthogonal, and still a relevant concern. This is more about the location of key sets than their format, and we need a DID-relative object discovery mechanism anyway, so using it for this just makes sense.

[2022-01-12 14:00] csuwildcat commented on #811
"I can do all things through Hubs who strengthen me" - Saul of Tarsus on Identity Hubs

[2022-02-03 12:28] JelleMillenaar commented on #798
This is what confuses me, the rest of the DID Core purely defined data formats and has little to no implementation requirements. With the only exception being the DID Resolution section, which defines an API.

Is this still the case now that the DID Core has extended? While it is not a big bother to me, we have decided to not support the API and design an API that fits our own style. Through futur

[2022-02-03 12:41] koalie opened #816 "typo: "point *of* failure""
First row under [https://www.w3.org/TR/2021/PR-did-core-20210803/#design-goals](1.2 Design Goals) is missing "of" in "single point failure"

[2022-02-03 14:10] msporny commented on #798
DID Core v1.0 is locked and done, that much is true.

However, the group will continue to exist until this summer 2022, and after that, there will be a DID maintenance Working Group of some form. A future DID WG can decide to make changes to the core specification, and often will. Remember, while HTML 1.0 was a specification, eventually HTML2, HTML4, and HTML5 came after it (and those specs change

[2022-02-03 16:19] TallTed commented on #816
@koalie -- Not important here & now, but for future reference... The GitHub markdown for a link is `[text](uri)`, not `[uri](text)` -- so `[https://www.w3.org/TR/2021/PR-did-core-20210803/#design-goals](1.2 Design Goals)` should be `[1.2 Design Goals](https://www.w3.org/TR/2021/PR-did-core-20210803/#design-goals)`, which then renders like this -- [1.2 Design Goals](https://www.w3.org/TR/2021/PR-di

[2022-02-03 18:40] brentzundel commented on #816
great catch, thanks for the close reading!

[2022-02-04 16:14] peacekeeper commented on #798
@JelleMillenaar Yes I would definitely be interested in talking and learning more about your DID method. We should probably keep implementation-specific discussions separate from the DID Core Github repo. Maybe reach out to me on LinkedIn or DIF Slack (not sure if you are a member)?

[2022-02-05 03:22] thehenrytsai commented on #811
I am in general in favor of a verification method that looks up a key set(s) stored in an external store (Identity Hub). Even though, it is less than perfect in practice:

The whole intent of an external key set is so that frequently used logical keys can be rotated cheaply, easily, and frequently to meet "best security practices". However if a "master" key is required to be present in the DID doc

[2022-02-28 23:56] mwherman2000 opened #819 "Controller confusion"
In https://www.w3.org/TR/did-core/#verification-method-properties, it says that `controller` is _required_. Clicking on `controller` in this table links to https://www.w3.org/TR/did-core/#did-controller ...which says _controller_ is _optional_.  These need to be differentiated or, at least, unlinked from one another.

[2022-03-01 01:39] kdenhartog commented on #819
The controller property defined in https://www.w3.org/TR/did-core/#did-controller is for establishing the controller of the DID Document. The `controller` property defined in https://www.w3.org/TR/did-core/#verification-method-properties is about the controller of the verification method. They're two separate properties which follow different semantics because they're located in different objects

[2022-03-01 15:49] TallTed commented on #819
The link from the `controller` in the [Verification Method Properties](https://www.w3.org/TR/did-core/#verification-method-properties) table does need to change, from https://www.w3.org/TR/did-core/#dfn-controller (not from https://www.w3.org/TR/did-core/#did-controller as @mwherman2000 said, though `did-controller` is the fragment ID of the section header for the section which contains the `dfn-c

[2022-03-11 21:19] cwarny commented on #386
Late to the party. Is there a summary of the consensus? I landed here because I was wondering how a verifier would verify a credential signed with keys that have since been rotated. Am I correct that this would require each DID document to persist its entire history of keys forever and that the verifier either knows which specific key to look for or to "crawl" through the history of those keys? Th

[2022-03-11 21:24] msporny commented on #386
This is a complex use case that probably doesn't have a consensus answer at this point, so the following are just my thoughts (as the Editor of the specification and an implementer):

DID Documents probably won't "persist its entire history of keys forever". Some DID Methods might choose to do this, but you probably won't be able to count on that feature.

DID Documents that are stored on DLTs wil

[2022-03-11 23:27] cwarny commented on #386
Thanks. I'm surprised that the default would be rotation=revocation, this seems less than ideal, but I guess I don't really see a way around that. Wouldn't this be a common situation? It feels like verifiers will routinely bump into rotated keys. I guess the holder of the VC, via an agent, could periodically hit the issuer's "refresh service" just in case the issuer happened to have rotated the si

[2022-03-12 01:33] dlongley commented on #386
@msporny,

-1 ... rotation doesn't mean removing the verification method from the DID document; that is revocation. See:

https://www.w3.org/TR/did-core/#verification-method-rotation

Rotation involves decommissioning or destroying the secret key material associated with a verification method so that it is no longer used. This does not mean that the public key material is removed from a DID docume

[2022-03-12 15:03] msporny commented on #386
+1 to the clarification that @dlongley made above.

You might want to read how a refresh service spec might work first:

https://w3c-ccg.github.io/vc-refresh-2021/#refresh-protocol

Again, just my personal opinion for now... I expect that, eventually, credential validity periods will be less than half of a key validity period (including rotation and then, eventually, revocation). If we have automa

[2022-04-21 17:09] OR13 opened #821 "Ambiguity regarding PATH and DID URLs"
This recent PR on the did web method highlights the challenges we introduced by reserving `PATH` in did URLs but not making any real use of it... in the core spec.

https://github.com/w3c-ccg/did-method-web/pull/51

^ This PR would be a breaking change for path based did webs (multi tenant did webs).

Transmute uses this feature today and is opposed to the proposed changes, but we can be convinced

[2022-04-21 17:27] OR13 commented on #162
This ship has sailed: https://www.w3.org/TR/did-core/#dfn-verifiable-data-registry

[2022-04-21 18:16] peacekeeper commented on #821
That PR seems to affect the method-specific-id in DID web. Can you explain what that has to do with a path in a DID URL?

[2022-04-21 19:07] gribneau commented on #821
The handling of both `path` and query` in the DID core specification is inconsistent with the handling of these elements in the underlying RFC that defines URIs generally.

Specifically, in a DID URL, the `path` and `query` elements are reserved for locating items within a given DID, which must be entirely addressed within the method-specific-id, whereas RFC 3986 uses both `path` and `query` to lo

[2022-04-21 20:27] clehner commented on #821
I think it might have been accidental that the referenced PR touched on DID path: https://github.com/w3c-ccg/did-method-web/pull/51/files#r855476705

Where do you see such a reservation? Do you mean locating items "within a resolved DID document", rather than "within a DID"?

DID Core says the following about the path component of a DID URL (https://www.w3.org/TR/2021/PR-did-core-20210803/#path):

[2022-04-21 20:57] peacekeeper commented on #821
This isn't true, also see https://github.com/w3c-ccg/did-method-web/pull/51#issuecomment-1105744334. The standard URI components path, query, and fragment are completely aligned with RFC 3986.

[2022-04-22 00:33] gribneau commented on #821
Right here:

https://www.w3.org/TR/did-core/#did-url-syntax

Every example provided there can be reasonably described as a "secondary resource" as described in RFC 3986.

https://www.rfc-editor.org/rfc/rfc3986#section-3.5

[2022-04-22 01:03] gribneau commented on #821
The history of the `did:web` revisions for handling URL paths can be viewed here:

https://github.com/w3c/did-core/issues/183

Initially, the DID path was treated as interchangeable with the URL path, consistently with RFC 3986.

A discussion regarding whether a full DID URL (including a path component) could be a DID subject was had, resulting in the situation we have today.

https://github.com/w

[2022-04-22 01:24] gribneau commented on #821
Perhaps a visual will help.
![image](https://user-images.githubusercontent.com/250138/164578373-0d219e1d-f167-465b-92ba-b4d17b07b647.png)

[2022-04-22 03:12] clehner commented on #821
https://github.com/w3c/did-core/issues/821#issuecomment-1105884534

Those listed things do look like secondary resources, and I've seen examples in discussion threads of such - except the last thing "or other resources" would seem to cover the needed case, i.e. a resource that is not required to be a secondary resource. Also, I only see RFC 3986 refer to primary and secondary resources in the cont

[2022-04-22 03:37] gribneau commented on #821
Is it possible to construct a valid DID document residing at a DID URL, including a path?

Is it possible to construct two valid and unique DID documents at different DID URLs in which only the path varies?

Note:

https://www.w3.org/TR/did-core/#did-subject

[2022-04-23 22:59] gribneau commented on #821
That is my understanding of the current Subject requirement. This has been discussed within the context of a DID method called "web", and it has been decided that we should keep this limit, which effectively means that mapping DID to HTTPS URIs means that the HTTPS URI authority (domain) identifies the primary resource, which yields exactly one identity per domain. A site with a million users stil

[2022-04-24 16:56] jandrieu commented on #821
I believe you are conflating the authority part with the resource.

In a traditional http URL, `http://example.com/index.html` the authority part, `example.com` is neither the resource nor the primary resource.

In the same vein in a DID-URL, the DID is the authority part, and NOT the resource. In the DID URL, `did:ex:abc/index.html` the DID `did:ex:abc` is not the resource. It takes dereferencing

[2022-04-24 17:27] msporny commented on #821
Let's take an example from a DID Method that's based on top of HTTPS:

RESOLVE `did:web:subject.example/people/jane`

Plug that into a resolver and you might get a DID Document that looks like this:

[code]

That's one subject... but try this and you might get nothing (`jane` is missing, it's just now a random directory on the Web):

RESOLVE `did:web:subject.example/people`

... but try this and y

[2022-04-24 19:43] gribneau commented on #821
Upon reflection, it is possible to interpret DID core differently.

[5.1.1](https://www.w3.org/TR/did-core/#did-subject) requires the DID Subject to conform with [3.1](https://www.w3.org/TR/did-core/#did-syntax), which in turn asserts that RFC3986 controls.

[RFC3986 3.3](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3) provides that:

It seems, then, that these are equivalent:
[code]

G

[2022-04-24 23:41] talltree commented on #821
Thank you @msporny for finally describing the issue in a way that I could understand what this discussion was all about.

I don't believe we made an error, however. There is a fundamental difference between DIDs as identifiers and URLs: **the DID namespace is not and was never intended to be hierarchical**. Each DID method is a flat global namespace.

That's what enables it to be decentralized.

T

[2022-04-25 00:53] gribneau commented on #821
Thank you for the clarification @talltree.

I do have one question:

Would supporting the existing HTTPS URL use of path as an element in identifying a DID subject in did:web interfere with any of the other methods that do use a flat namespace?

There are examples of flat namespaces that allow textual delimiters in the key names. Amazon S3 comes to mind. It appears as a hierarchical file system be

[2022-04-25 01:20] talltree commented on #821
@gribneau:

I don't see that it would create any problem for any other DID method. That use of the path in did:web could be defined in the did:web DID method specification. However consumers of DID URLs that use the did:web method would need to understand that the full DID subject identifier is not just the raw DID (the portion before the first forward slash), but includes the path. And that would

[2022-04-25 01:59] gribneau commented on #821
I agree.

Colons are used as internal delimiters in did:web today to encode the HTTPS URL path into the method specific identifier. It is still a draft and there are gaps, but a number of implementations have been rolled out using this scheme.

Reusing the HTTPS URL path as the DID URL path, and recognizing it as the DID subject would significantly streamline the method.

[2022-06-11 20:00] kaimeinke opened #823 "Newcomer: How to specify multiple keys (RSA, SECP256K1) in a DID document"
Dear did-core community,

as a newcomer to the DID specs I would like to learn how I can specify multiple keypairs in a DID document. In this example it should be RSA (incl. the certificate to validate the chain of trust) and SECP256K1 (for use in transactions in EVM-compatible DLT context).

If this is not the right place to ask, please excuse me for bringing it here. I would gladly take any reco

[2022-06-12 12:32] peacekeeper commented on #823
@kaimeinke No need to repeat the keys.. I think this is what you want:

[code]

[2022-06-12 12:35] peacekeeper commented on #823
Regarding the service endpoints, `did:web:exampledomain.com#6b8779c2a89143fa8969337aab1673ed#x509PublicKey` is not a good idea, since multiple `#` characters are invalid per the [DID URL syntax](https://www.w3.org/TR/did-core/#did-url-syntax) and [generic URI syntax](https://datatracker.ietf.org/doc/html/rfc3986#section-3.5).

[2022-06-12 13:54] OR13 commented on #823
You can look at the examples from did;key here: https://did.key.transmute.industries/

and find replace the `did:key:...`# part...

[2022-06-12 17:02] kaimeinke commented on #823
Dear @peacekeeper and @OR13 thank you very much, this was super helpful.

Will check the DID:KEY example right away.

I will remove the multiple # characters as they are not allowed. Then I would replace these IDs with URIs such as

[code]

[2022-06-12 17:16] kaimeinke commented on #823
I think we can close this one for now and I would go from here with the following DID Document. Thanks for your quick and great help, I'll come back when we did the next steps of our integration.

[code]

[2022-06-12 17:16] #823 closed

[2022-07-07 08:33] Michele971 opened #825 "[Question] Confusion about DID creation process"
I don't understand who will have the power to create a new identifier? Every user could create their own DID themselves?
What ensures us that these DIDs are unique globally?

Has DID already become a W3C standard?

[2022-07-07 17:17] talltree commented on #825
@Michele971 A core concept of DIDs as decentralized identifiers is that they are cryptographically generated (analogous to the way that [UUIDs](http://en.wikipedia.org/wiki/Uuid) are machine-generated), so they are inherently globally unique without needing a centralized registry. See [section 8.1](https://www.w3.org/TR/did-core/#method-syntax) of the DID 1.0 specification, which is in the final p

[2022-07-07 21:51] kdenhartog commented on #825
We should probably be careful stating that they are cryptographically generated these days. While that's true for almost all methods today, section 8.1 doesn't define it that way. Instead it states that they need to be globally unique, but not requiring cryptographic generation as the method which in turn means it's up to the method to define how that requirement is met.

For example @Michele971,

[2022-07-07 22:28] talltree commented on #825
@kdenhartog You are right; I updated my comment to reflect that they "can be" cryptographically generated, not that they have to be.

[2022-07-08 06:53] Michele971 commented on #825
@kdenhartog thank you guys. So if I am a Company, I can create my DIDs. The only things that I have to ensure is that DIDs have to unique. Right?

[2022-07-08 09:08] peacekeeper commented on #825
@Michele971 Yes if you are a company, then you can create a DID for the company itself. And individuals (your customers, employees, or anyone else in the world) can also create their own DIDs.

But I think it is not helpful to think that a company creates DIDs for others, or that a company ensures that DIDs are unique.

It is the DID technology itself (or to be precise, the DID methods) that ensur

[2022-07-08 09:28] Michele971 commented on #825
@peacekeeper Got it! Thank you, very helpful!!

[2022-07-08 09:28] #825 closed

[2022-07-27 09:58] herroxu opened #827 "How to apply new DID Method Specification?"
l already got the DID Method Specification,  but i don't what next to do.
Does anyone can help me?

[2022-07-27 10:03] peacekeeper commented on #827
Hello @kingdemoking , can you provide a few more details on what you are trying to do? Do you mean you designed your own DID method and wrote a specification for that? If so, then maybe you are interested in registering it in the DID Specification Registries, see here: https://w3c.github.io/did-spec-registries/#the-registration-process. Or maybe you are interested in implementations of DID methods

[2022-08-04 01:10] vdods commented on #337
I'm curious what the current status of this is.

And at risk of making things more complex, how would the "hl" query parameter (hashlink) be handled?  It's infeasible to include the hash of a document within the document, so that presents an obstacle to treating "hl" as a query param for inclusion in the DID document as described in this thread.

[2022-08-04 13:06] msporny commented on #337
IMHO, the current status is "unlikely to be resolved any time soon". The DID WG published the v1.0 REC and is expected to now go into maintenance mode. We will gather implementation feedback over the next year or two and then pick this item up in the v2.0 work (unless it's clear that this particular issue is causing significant interoperability problems).

Yep, good point, and I expect it would be

[2022-08-08 07:52] mabbamOG opened #828 "DID Spec PDF?"
is there a PDF version available such that people can print the reference?

[2022-08-11 17:07] gobengo opened #829 "did:web:example.com:@bengo should be a valid did - can we add '@' to the syntax for 'idchar'?"
Use Case
* I want my did to be `did:web:bensmastodon.social:@bengo` -> https://mastodon.social/@bengo

Questions
* is that a valid did?
  * I think not. The '@' doesn't match `idchar` in https://www.w3.org/TR/did-core/#did-syntax

Proposal
* Add '@' to idchar

Context
* [RFC3986](https://www.rfc-editor.org/rfc/rfc3986#section-3.3) paths explicitly include `"@"` in `pchar`

[2022-08-11 17:08] gobengo commented on #829
@OR13 wdyt?

[2022-08-11 17:11] dmitrizagidulin commented on #828
Hi @mabbamOG! The easiest way to get the PDF version of the spec is to go to https://www.w3.org/TR/did-core/ in your browser, use your browser's Print command (Ctrl-P on linux and windows, Cmd-P on mac) and select the 'Print to PDF' option -- it formats nicely for reading.

[2022-08-11 20:10] peacekeeper commented on #829
Hmm interesting.. In RFC3986, `@` is considered a delimiter and a reserved character. But it's only used as a delimiter in the "authority" component of a URI, and DID's don't have such an "authority" component. Therefore I think it would not violate RFC3986 if we allowed `@` in the `idchar` rule.

@talltree what do you think, can you remember a reason why that would be a bad idea?

In any case, it

[2022-08-11 20:19] talltree commented on #829
@peacekeeper The reason it is a bad idea is that DIDs were never intended to be human-readable identifiers— any identifier that carries semantic meaning becomes subject to all kinds of issues (semantic drift, intellectual property rights, phishing) that we avoid by encouraging DIDs to be identifiers with no semantic meaning.

That's the main reason we made the DID character set so restrictive. (We

[2022-08-11 22:04] gobengo commented on #829
Is this a valid workaround?

[code]

[2022-08-11 23:19] talltree commented on #829
@gobengo Yes. We explicitly added support for the `%` character in the DID ABNF so that any other character needed in a DID could be percent-encoded if needed.

[2022-08-12 04:03] gobengo commented on #829
ok. I think this issue is resolved. Thanks everyone. :) If anyone implements something like this, plz do share a link below.

[2022-08-13 06:20] #829 closed

[2022-08-13 17:10] gadoo12 opened #830 "ssggg2015@gmail.com"

[2022-08-13 17:11] #830 closed

[2022-08-15 15:14] vitorpamplona opened #831 "Fix assertion narrative to consider DID Key Controllers that are not the DID Subject"
The [assertion section](https://www.w3.org/TR/did-core/#assertion) refers to "claims made **by** the DID Subject". Since the DID Document can have keys from multiple DID Controllers, the liability of the claim should be linked to the DID Controller of each key. If the DID Controller of the key is the same as the DID Document Controller, then it is an assertion of the DID Subject. If not, then it i

[2022-08-15 15:56] talltree commented on #831
Vitor, you raise a good point. A number of considerations about the relationship of the **DID controller** (controller of the keys for updating the DID document) to the **DID subject** (the entity identified by the DID) are discussed generally in [Appendix B of the DID spec](https://www.w3.org/TR/did-core/#architectural-considerations).

We make it clear there that there are cases where DID contro

[2022-08-15 15:57] vitorpamplona commented on #831
I agree. It's just that it would conflict with the current narrative of the assertion, which forces it to be a DID Subject claim.

[2022-08-15 17:30] jandrieu commented on #831
The language in the spec is in error.

What I think is meant is that during **validation** the Verifiable Presentation (VP) proof creator **can be** checked against the subject identifier of one or more claims to establish that the current holder (and presenter) has access to the same private material as the subject (assuming the verifier performed a DID Auth before issuing to that subject DID).

[2022-08-15 18:55] jmandel commented on #831
(Thanks @vitorpamplona for pointing me to this thread -- very relevant to our discussion on verifiable credentials for clinical data!)

I'd like to introduce a concrete example (even if it's a silly one), because I'm not sure if everyone is talking about the same thing.

Let's look at a DID Document involving four distinct entities:

* as **DID Controller**: a self-proclaimed ruler ("[The King of

[2022-08-15 19:44] jandrieu commented on #831
@jmandel presents an example, above.

In that example, the literal controller of the DID, with the capability to modify the DID Document, has created two assertionMethod verification relationships which allow `did:example:the-hornblower` and `did:example:the-knight` to sign assertions on behalf of `did:example:all-the-kings-men`

From a pragmatic perspective, it will be obvious which of those two

[2022-08-15 20:27] vitorpamplona commented on #831
Ok, so is the spec wrong or not? I am confused. @jandrieu you seem to have described what the current text is saying. That it doesn't matter if the DID Controller of each key is different than the DID Document's controller, in the end, the king gave permission to issue credentials on behalf of the band and the band is fully liable for anything each member says. Am I understanding this right?

[2022-08-15 20:33] jmandel commented on #831
To keep discussion focused I might say "The Hornblower and The Knights, using the two specified keys, are allowed to issue statements on behalf of the band". Liability seems like another level of the governance stack, and it's not important or even explicit in the band's DID Document that these two entities are *members of the band*.

[2022-08-15 20:41] vitorpamplona commented on #831
Makes sense.

In this example, both The Hornblower and The Knight can issue VCs as band authorities (for lack of a better word) OR themselves. If The Knight signs the VC with `did:example:all-the-kings-men#key-for-the-knight`, it means he is signing on behalf of the band. If The Knight signs the VC with `did:example:the-knight#key1`, then The Knight is signing as himself.

[2022-08-15 20:52] vitorpamplona commented on #831
Is the issue in the spec simply the "created by the DID subject" language as opposed to "on behalf of the DID subject"? The DID Subject doesn't seem to be something that "creates a proof". The controllers are the ones "creating" proofs, right? For this discussion, is there any difference between the terms: "created by", "on behalf of", "provided by"?

[2022-08-15 20:53] jmandel commented on #831
I think so. When you say "signs the VC with," I'm reading this as "Creates a VC where the"issuer" property is `did:example:all-the-kings-men`, and where the signing key is one listed at in that issuer's DID Document", though I'm not sure how many of these details are precisely established.

[2022-08-15 20:59] vitorpamplona commented on #831
Correct. The `verificationMethod` of the VC could be either:

As a Band Authority:
[code]

As a Person:
[code]

[2022-08-15 21:04] jmandel commented on #831
In these examples I'm particularly interested in

1. How is the `issuer` populated?
2. Is there a distraction in meaning if `verificationMethod` points to one place where the key is published, versus another place? Assuming the key itself is in fact is discoverable from the issuers DID Document?

[2022-08-15 21:38] vitorpamplona commented on #831
The `issuer` field is somewhat irrelevant since there is no way to prove it's true. The Knight can say he is The Kight (if he is feeling lawful-good), the King, the Band, and even The Hornblower. There's nothing blocking The Knight from claiming to be somebody else in his credential issuance policy. And the verifier has no way to prove if is true unless that information also comes from the `verifi

[2022-08-15 22:05] vitorpamplona commented on #831
I just realized that you just implied that any verification relationship (including new ones) will have to be authoritative. We cannot create a `moderatorsOfTheBand` relationship because moderators are not issuing credentials **on behalf** of the band. But they would issue other credentials to help moderate the work of the Band. Is that how it is supposed to be?

[2022-08-15 22:10] dlongley commented on #831
@jandrieu,

I think the spec is talking about the DID subject as the *issuer* of the VC. It is not talking about the *credential subject*. Holders, presenters, VPs, etc. are not involved at all.

[2022-08-15 22:44] jmandel commented on #831
I would have expected `issuer` to convey the semantics of *who* is making an assertion (e.g., to disambiguate between The Knight speaking for himself vs on behalf of All The King's Men, for this example). Anyone can decide whether to trust this property the same way they'd evaluate other aspects of a VC (e.g., by looking at the signing key and deciding whether you trust it for assertions with the

[2022-08-16 06:12] kdenhartog commented on #831
The simple answer of how most code behaves is this although I've seen many different methods misuse these terms:

[code]

More importantly though, this thread is a pretty big red flag to me because these terms are determining authorization systems most commonly for VCs which are confusing enough that we are going to see authorization bypass vulnerabilities in VC verifiers because of this.

[2022-08-16 16:03] vitorpamplona commented on #831
Let's go back to the first principles.

Is it possible to have a non-authoritative verification relationship where keys are known by the controller/subject but are not authorized to make claims on behalf of the Subject?

As an example: The Hornblower and The Knight can make claims on behalf of the band, but not The Signer.

[code]

[2022-08-16 16:12] jmandel commented on #831
Sure -- on my reading, the following text:

... makes it clear that you can define new relationships as you see fit. You'd have to conceive of *can be used to verify assertions made by a member of the subject-organizations* as a kind of "relationship between the DID subject and the verification method", to go down this path. I guess you'd call it something like `assertionMethodForKnownGroupMember`

[2022-08-16 16:31] vitorpamplona commented on #831
I guess we can also keep non-authoritative keys in the verificationMethod without any verification relationship defined.

But that means that the DID Document is also, at the core, a credential. All verification relationships could have been separate VCs to define the authorization for authoritative and non-authoritative claims.

But they are not. I am trying to understand why. Or what's the line

[2022-08-17 20:34] kdenhartog commented on #831
Yes, this is the purpose of the `verificationMethod` verification relationship. If you add a key to this VM without referencing it in another VM that grants it further capabilities then it's effectively just a declaration of a key.

This however assumes that the `proofPurpose` used is never going to be `verificationMethod` like we see in the VC Data Model. However, it's never been explicitly state

[2022-08-29 07:33] veikkoeeva commented on #170
I would add that it seem confusing that in the examples here in `did-core` there is f.ex.

[code]
that is `kid` field is present. Whereas when one looks at https://w3c-ccg.github.io/lds-jws2020/ there is no `kid` field is present.

Further, as a second note, in the common scenario of `did:key`  the examples at https://w3c-ccg.github.io/did-method-key/ do have the id encoded as `multibase base58-bt

[2022-08-29 15:58] OR13 commented on #170
In general, JSON processors should ignore fields they don't understand.

`kid` is a string or URI, and it's optional in a JWK.

`id`, `type`  and `controller` are required in a verification method, id MUST be a DID URL.

If you are using a verification method with a key in a different format, you are pretty much responsible for explaining how the key and a related signature are supposed to be link

[2022-09-21 03:47] shujikamitsuna opened #832 "Broken links"
Thank you for the great specification.

I found two broken links from the author name Manu Sporny: http://manu.sporny.org/.

Best regards,
KAMITSUNA Shuji

[2022-09-28 05:18] Muthurajj opened #833 "Dock throws exception while verifying VC"
Hi below is the exception from dock https://certs.dock.io/credentials/verify

"A DID document lookup was successful, but the DID in question does not exist. This is different from a network error"

below is the VC

{
    "@context": [
        "https://www.w3.org/2018/credentials/v1",
        "https://www.w3.org/2018/credentials/examples/v1"
    ],
    "type": [
        "UniversityDegreeCredential"

[2022-09-28 06:30] kdenhartog commented on #833
I suggest reporting this to https://github.com/docknetwork

This isn't the correct repo for this issue to be filed.

[2022-09-28 06:30] #833 closed

[2022-09-28 06:36] Muthurajj opened #834 "Can we create DID in godiddy ?"
The did create in godiddy site can we access globally?

[2022-09-28 06:48] peacekeeper commented on #834
@Muthurajj This is the repository for the DID Core specification. As you already saw in your other issue https://github.com/w3c/did-core/issues/833, this is not the right place for asking questions about specific products. Please ask your questions at those other websites/companies.

[2022-09-28 06:48] #834 closed

[2022-09-28 06:51] Muthurajj commented on #834
Sorry @peacekeeper

[2022-10-03 13:59] Muthurajj opened #835 "What is revocation?"
What is the purpose of revocation in Verifiable credentials?

How it's created?

[2022-10-03 14:05] peacekeeper commented on #835
Hello @Muthurajj , I'm sorry, but you are once again creating an issue that is very broad, not clear, and completely unrelated to this repository.

When creating issues on Github, you should take some time to explain the issue clearly, and the issue should address some topic about the work in the repository itself. This repository here is about the DID Core specification. If your issue is not abou

[2022-11-22 15:25] RieksJ opened #837 "How to actually identify the DID subject?"
According to the spec, the party that controls a DID gets to determine the entity that this DID identifies (i.e.: the DID subject). However, that would only be useful if others could find out (under appropriate conditions) what the entity is that a DID identifies. Currently, there is no guidance for parties that want to do this. One thing is certain: the entity that is identified by the DID does n

[2022-11-22 15:31] OR13 commented on #837
https://v.jsld.org/2sbs58oPvQc1ED2bp5sxUpAmC3UZ3HH445jZkVX9V8UzDo1zVyccs9CQC46aa4umzk2ghYK8t9xVvW4jJdo6Ac2hj48yyrk2gbRvY2tg7FFagji7DzL5kdj68KQE7kJ3QJzekm7sXmnwncGHuuK3heZWPwZhLEkSSMgYeYAxKZccQv3BS1Vs9waJJoB83QmYud93REbhxyM53X8T9cY2uuHfvtr3ZDVfhZyp3jbD2gE6pUGSiEY2HPTXMnF7AEn582gS6GJ5GbZQuqYWSx36Ay5zEdQ9J3uguSFzTHN1JixiZbduUT53BGjvragcE3JL52dRoTuRRUJNsqLW1Z57B9KrpiwWkuhTT

[code]

[2022-11-22 16:31] dlongley commented on #837
I would think the kind of guidance we could offer would be like: "Alice can include one or more Verifiable Credentials that express information (such as location, etc.) about the subject (the front door camera) using its DID as the `credentialSubject` identifier of the VCs".

She could also simply, in the same message where she says "the DID is `did:example:frontdoorcamera`", say that it's the fro

[2022-11-22 16:42] TallTed commented on #837
I would think there would be a description document somewhere, of the entities identified as `did:example:frontdoorcamera` and  `did:example:cam2`, which might include `serialNumber`, `vendor`, `model`, and any number of other attributes which would enable Bob to differentiate between `did:example:cam2` and `did:example:frontdoorcamera` when trying to figure out which is the one in need of repair.

[2022-11-23 07:26] RieksJ commented on #837
@OR13 wrote:

Where's your image copied from? The link you provide doesn't have that picture - just some text. Also, I cannot find a definition for **subject** in the DID spec. I can find the definition of **DID subject** (at https://www.w3.org/TR/did-core/#dfn-did-subjects):

![image](https://user-images.githubusercontent.com/8522589/203490863-843a6cf3-0aa0-4ea0-957b-ec626120e50c.png)

[2022-11-23 07:50] RieksJ commented on #837
@dlongley @TallTed So if we focus on a VC (and a description document could very well take that form), then the DID would be the subject identifier of one (or more) claims in a VC, and documenting the serial number, brand etc., would enable Bob to identify the cameras. While this is true for this specific case, there is currently no general way in which to identify the DID subject if the DID is us

[2022-11-23 17:28] dlongley commented on #837
@RieksJ,

I do think that's a useful construct, but also use-case dependent. I don't think this group should define it (I don't think that's what you meant though?) ... and *maybe* there's something common to be defined in the VCWG, but really, it seems like it's something that would be defined by a particular VC vocabulary. For example, I'd expect some camera / IoT / gadgets vocab to define somet

[2022-11-24 07:14] RieksJ commented on #837
Sounds reasonable. For the DID spec, would it then be useful to add a paragraph stating that
- a DID controller needs to think about what means verifiers would need to identify/authenticate the DID subject,
- provision for (a selection of) such means (which is outside the scope of the DID spec), and
- warn that this is likely not going to be the same as proving control of the DID)?

[2022-11-24 21:51] talltree commented on #837
Rieks, I agree that these points would be useful. I could see including in the next version of the spec a section called something like “Verifying the Real-World Subject Identified by a DID”.

We’ll put this on the “to-do” list.

Best,

=Drummond

From: Rieks ***@***.***>
Date: Wednesday, November 23, 2022 at 11:14 PM
To: w3c/did-core ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [w3c/did-