[2021-01-07 16:29] OR13 commented on #337
@dlongley thanks for your detailed response, I hope everyone reads and understands it.

I have a couple assertions I want to make directly to you, and then I would love to try and address why they are problematic, and how we might fix them.

1. `did:method:1234?version=100#keys-1` will be seen as the verificationMethod for some proofs attached to VCs.

I believe hyperledger, ethereum and maybe eve

[2021-01-07 17:03] agropper commented on #337
+1 Orie.

I would go further and say that we need to explicitly address anything that
dereferences the content of a DID document AND that we need to explicitly
consider the role of audit in the application of VCs and DIDs.

On Thu, Jan 7, 2021 at 11:30 AM Orie Steele <notifications@github.com>
wrote:

[2021-01-07 21:51] peacekeeper commented on #337
@dlongley I don't think we can require this.

Example 1 (based on your statement):

`did:example:123?service=github&relative-ref=%2Fsomepath%3Fsomequery%23somefrag` <-- encoded fragment

Example 2:

`did:example:123?service=github&relative-ref=%2Fsomepath%3Fsomequery#somefrag` <-- "real" fragment

I think both should be considered valid. If we prohibit Example 2, I think we would be violating stan

[2021-01-07 21:57] peacekeeper commented on #337
@dlongley says:

@OR13 says:

I guess the resolved DID document could contain both, using alsoKnownAs/sameAs/equivalentId/etc., e.g.:

[code]

But this probably comes with its own set of problems, including that "off the shelf software will fail to verify it".

[2021-01-07 22:59] brentzundel commented on #390
No comments since marked pending close, closing.

[2021-01-07 22:59] #390 closed

[2021-01-08 00:22] OR13 commented on #337
Its an interesting thought, but I don't think `alsoKnownAs` helps here, it just makes things more complex.

I agree that fragment and encoded fragment are both valid for DID URLs.

[2021-01-08 13:36] shigeya commented on #453
Looks like I have confused you.

As I originally wrote in this issue,

Depending on a method implementation, DID document, at least partially, written on VDR. This relationship has not shown in the diagram yet.

[2021-01-08 14:55] TallTed commented on #337
A DID client resolves a DID according to the DID method, to get a DID URL which (minus fragment segment) is then dereferenced by the DID client to get a representation of the DID Document from the DID server, within which the DID client may dereference the fragment segment (if any) from the DID URL.

-----

In the so-called "encoded fragment" example from @peacekeeper, _there is actually no fragme

[2021-01-10 18:56] rhiaro commented on #208
@TallTed yes, but I'm not getting any of the confirmation emails from the IETF system. Trying to figure out how to debug..

[2021-01-10 20:03] msporny commented on #463
We avoided using the word "key" because it also contains public keys :) -- when we had this language before, multiple people noted how confusing it was... so I doubt we can go back to something people didn't want. I know I would probably object.... "Well, you see... there are /keys/ and then there are *\*keys\**".

[2021-01-10 20:04] msporny commented on #463
+1, I'm supportive of representation-specific property and representation-agnostic property.

[2021-01-11 10:20] iherman commented on #518
@brentzundel #522 has been merged. O.k. for me to close this?

[2021-01-11 11:54] rhiaro opened #537 "extra whitespace after internal references"
Many of the links to internal sections have extra whitespace around them, which looks terrible if the link is followed by a closing brace or period etc.
![Screenshot at 2021-01-10 17-34-58](https://user-images.githubusercontent.com/466229/104179373-a84a2a80-5403-11eb-93fb-e530229b2e41.png)

This is caused by any of our section headings that are on new lines inside their `<hx>` elements, which we d

[2021-01-11 11:59] rhiaro commented on #527
Thanks for noticing the comment and tracking the issue, @TallTed. This specific missing link will be caught by https://github.com/w3c/did-core/issues/163 which is open to track reviewing all such internal refs and definitions.

[2021-01-11 12:01] rhiaro commented on #530
It does seem like the CCG would be the place to incubate such proposals, but I'm not sure if any additional process would be required on that end specifically for DIDs, or if the existing task force structure would suffice.

[2021-01-11 13:03] rhiaro commented on #495
@shigeya were you thinking something like (addition in bold):

[2021-01-11 15:35] msporny commented on #529
Agree.

[2021-01-11 15:46] iherman commented on #529
ok. This is not the issue on which I would lie down on the road :-) @msporny, is the protocol such that I can simply close this issue?

[2021-01-11 15:48] msporny commented on #530
Improvements are typically done via our existing DID Spec Registries process (which we have a preliminary process for at the top of the spec). That is:

1. Raise an issue wherever you think it's most useful to do so, discuss, propose some sort of solution, discuss until there seems to be consensus.
2. Write a spec/PR of some kind in whatever community in which you want to operate. Defaulting to W3

[2021-01-11 15:52] msporny commented on #529
Yes, the person that opens the issue can always decide to close the issue IF there doesn't seem like there is someone else that wants to keep fighting for any particular position. That is, as long as @peacekeeper feels it's ok to close, we can close the issue.

[2021-01-11 16:10] TallTed commented on #208
@rhiaro - Ah! Bugs do bite everywhere...

Something seems to have changed, as the `-01` version (now dated today) is now live on [the status page](https://datatracker.ietf.org/doc/draft-w3cdidwg-media-types-with-multiple-suffixes/?include_text=1).

@jonnycrunch - You may want to take a look at the above.

[2021-01-11 16:59] msporny commented on #208
PR #524 has been merged addressing the original issue and sub-issues. Closing.

[2021-01-11 16:59] #208 closed

[2021-01-11 17:48] jandrieu opened #538 "Replace "herd immunity" with "herd privacy""
In section 10.6, the term "herd immunity" is used when it should be "herd privacy".

https://w3c.github.io/did-core/#service-privacy

[2021-01-11 23:10] shigeya commented on #495
@rhiaro Thanks for writing up the sample text. That's almost what I want to express. I think we need to add a clarification possibly as a note.

 I believe I can use my time later today -- I'm unexpectedly busy at this moment. I may able to use enough time starting later this week.

[2021-01-11 23:41] jandrieu opened #539 "Clean up herd privacy issues"
Continuing a conversation from PR #480

Section 10.5 Herd Privacy https://w3c.github.io/did-core/#herd-privacy says

However, there is some debate about what herd privacy means and how to apply it to DIDs.

This issue is for developing a consensus definition, after which one or more PRs are expected to be proposed to provide corrections to the DID specifications.

Herd privacy works exactly to the

[2021-01-12 02:30] agropper commented on #539
I agree with @jandrieu analysis and suggestions but there's an even bigger risk than herd privacy if DID Core allows things that could be done in DID methods.

Governments, employers, and manufacturers have the power to decide which DID methods they will accept. They are the sovereigns by virtue of their asymmetric power in most cases. We are familiar with US services that ask for your social secu

[2021-01-12 15:31] msporny commented on #363
PR #525 has been merged, closing.

[2021-01-12 15:31] #363 closed

[2021-01-12 15:32] msporny commented on #382
PR #515 has been merged, closing.

[2021-01-12 15:32] #382 closed

[2021-01-12 15:32] msporny commented on #384
PR #526 has been merged, closing.

[2021-01-12 15:32] #384 closed

[2021-01-12 15:32] msporny commented on #518
PR #522 has been merged, closing.

[2021-01-12 15:33] #518 closed

[2021-01-12 15:37] msporny commented on #523
Except that the did+cbor encoding doesn't realize the issue that the current text is attempting to point out.

While I hesitate to deal w/ the CBOR-LD reference in this issue, I've marked that this issue is ready for a PR.

[2021-01-12 15:37] iherman commented on #404
@msporny I do not think this needs a special call any more. Should we remove the label?

[2021-01-12 15:50] TallTed commented on #170
Teeny tiny language (verb tense) tweak (tl;dr: `kid values are set` -> `kid values be set`)...

`It is RECOMMENDED that JWK kid values are set to the public key fingerprint [RFC7638].`

-- (which talks about the present state of the values) should be changed to --

`It is RECOMMENDED that JWK kid values be set to the public key fingerprint [RFC7638].`

--  (which talks about the recommended future

[2021-01-12 16:16] msporny commented on #529
@peacekeeper is fine with closing this issue. Closing.

[2021-01-12 16:17] #529 closed

[2021-01-12 16:35] OR13 commented on #340
Propose closing this and not adding support for CWK this round.

[2021-01-12 16:36] msporny commented on #340
The group discussed this issue on 2021-01-12 and suggested that the added complexity may not be worth it and has also suggested that the issue should be closed.

This issue will be closed in 7 days unless there are objections.

[2021-01-12 16:38] OR13 commented on #380
its been renamed https://w3c.github.io/did-core/#did-resolution

"resolveRepresentation"

[2021-01-12 16:39] msporny commented on #380
The DID WG discussed this during the 2021-01-12 teleconference, the language has been renamed to "resolveRepresentation" (as @OR13 notes above).

The group does not think that there is further action that needs to be performed for this issue. This issue will be closed in 7 days unless there are objections.

[2021-01-12 16:42] OR13 commented on #452
by compound key, we mean: "did:example:123#kid` per https://tools.ietf.org/html/rfc7638

[2021-01-12 16:44] OR13 commented on #370
@selfissued if you have a chance to review, I recall you had opinions on GDPR / privacy guidance.

[2021-01-12 16:45] msporny commented on #370
@agropper has contacted EFF twice to clarify their objections, this may be resolved by one of the other PRs around Herd Privacy.

[2021-01-12 16:48] msporny commented on #504
This issue will be closed once PR #457 is merged.

[2021-01-12 16:50] msporny commented on #72
This issue will be closed once PR #460 is merged.

[2021-01-12 16:50] peacekeeper commented on #380
I agree with closing this.

[2021-01-12 16:50] msporny commented on #373
This issue will be closed once PR #460 is merged.

[2021-01-12 16:53] jonnycrunch commented on #452
@OR13, yes In general that is what belong on the right-hand side of the `#`, but the concept of string concatenation of `did:example:123` with '#` and the fingerprint with what need to be normatively capture for the abstract data model.

here is what I think would be the best `rule`:

https://tools.ietf.org/html/rfc5234#section-3.1

and for representation specific implementations in CDDL:

https:/

[2021-01-12 16:53] OR13 commented on #386
I will try to address this with non normative language that accounts for https://github.com/w3c/did-core/issues/337

[2021-01-12 16:54] OR13 commented on #337
related to https://github.com/w3c/did-core/issues/386, I propose we answer this with examples, and explain how they are related.

[2021-01-12 16:56] rhiaro commented on #527
pending close as covered by #163

[2021-01-12 17:00] OR13 commented on #532
@zhanb does my reply address your question? If so I would like to close this issue, if not, I am happy to provide additional details.

[2021-01-12 20:22] peacekeeper commented on #337
@TallTed I fully agree with this, thanks for clarifying! I also agree with you on your statements about stripping away the fragment during the dereferencing process, and that the fragment is dereferenced in a separate step after the primary resource has been dereferenced.

But I also want to point out that when talking DID URL dereferencing, we typically avoid the terms "client" and "server", sinc

[2021-01-12 20:44] kdenhartog commented on #337
After reading through this with a fresh set of eyes to the problem, I tend to prefer the direction that Dave suggested in this https://github.com/w3c/did-core/issues/337#issuecomment-755452327

However, I want to clarify that I'm understanding it properly.

@OR13 said:

I understand the intent of this to be that we don't want the resolver to be modifying the did document to accommodate for a varie

[2021-01-12 20:56] TallTed commented on #337
@peacekeeper --

Sure, we can avoid using "client" and "server", but *something* must be used to label the entities serving similar roles, even if these labels are not generic enough.  (They're not HTTP-specific, even if that's often the easiest frame to use as an example.)

You didn't provide any alternative terms; do you have suggestions?  "DID Resolver" would seem to be the agent that delivers

[2021-01-13 01:21] peacekeeper commented on #337
@TallTed

In my mind it's like this:

- ["DID resolver"](https://w3c.github.io/did-core/#dfn-did-resolvers) = The (set of) component(s) that perform the DID resolution function
- ["DID URL dereferencer"](https://w3c.github.io/did-core/#dfn-did-url-dereferencers) = The (set of) component(s) that perform the DID URL dereferencing function

Both could be quite simple or quite complex. Both could cons

[2021-01-13 01:28] peacekeeper opened #545 "DID URL dereferencing term definition is inconsistent with its section"
The "DID URL dereferencing" [definition in the Terminology](https://w3c.github.io/did-core/#dfn-did-url-dereferencing) says:

But the [DID URL Dereferencing section](https://w3c.github.io/did-core/#did-url-dereferencing) doesn't mention that the input can be a DID document. Therefore, "DID document" as an input should be removed from the Terminology definition.

[2021-01-13 03:41] #532 closed

[2021-01-13 03:42] zhanb commented on #532
Thanks a lot

[2021-01-13 03:51] ChristopherA commented on #539
# Speaking up on Herd Privacy

I've been meaning for some months to speak up and express my serious concerns with the approaching CR (Candidate Recommendation) version of the DID specification due to issues of lack of focus on some privacy security fundamentals, of which this issue of herd privacy is only part of the story.

I believe supporting herd privacy is critical for DIDs. Unfortunately, it

[2021-01-13 08:10] iherman commented on #539
Looking at the three comments above (from @jandrieu, @ChristopherA, and @agropper) and I find all these arguments compelling.

But I am not a privacy expert, so I am looking for something more tangible.  What are the features that should _not_ be in the specification? Can we have some list of features that we should remove either from the normative part of the specification or from the specificati

[2021-01-13 09:57] agropper commented on #539
@iherman, the privacy issue is not DID dereferencing. It's the expectation that a DID document has added stuff that I cannot remove because the verifiers expect it to be there as a convenience to them.

The "papers please" problem arises when we combine the features that enable control and verification of a DID Document with features that enable linkage of the identifier with attributes of a subje

[2021-01-13 10:16] iherman commented on #539
@agropper, forgive me, but I try to be very much down-to-Earth here, with an eye on our plan to publish a CR soon…

You use conditionals here. Is there any specific DID core term that is allowed on a DID Document that violates this? Do we have to add some specific extra constraints to the specification to avoid these issues? Because if the answer to both of these questions is 'no', then I am not s

[2021-01-13 15:45] TallTed commented on #337
My https://github.com/w3c/did-core/pull/544#issuecomment-759532512 may be more relevant here than there...

[2021-01-13 18:33] jandrieu commented on #539
@iherman This issue, and the special topic call, are for clarifying the scope and intention of the group with regard to herd privacy. "Privacy" has been mentioned in 41 different issues, including this one. Arguments in many of those are based, essentially on herd privacy. Seven issues explicitly mention herd privacy and in the most recent discussion, both on voice calls and on github @talltree ha

[2021-01-13 20:43] talltree commented on #539
@jandrieu, I know this is an emotional issue for you and others on this thread, but do you honestly believe it is fair to characterize me as "dismissing privacy concerns" when I have been the #1 advocate for Privacy by Design with DIDs since the very first line of this spec was ever written?

I have never "dismissed privacy concerns" with regard to DIDs of any kinds.

What I disagree with is the t

[2021-01-13 21:09] ChristopherA commented on #539
I am extremely uncomfortable with this image. It entirely out of proportion. Deployments in the near future these public DID ovals will fill the almost the entire box, and with just a little white space for the "all other DIDs". But these are the ones that need protection by being indistinguishable and non-correlatable.

This would be like saying in SSL/TLS "we'll only secure payments", which mean

[2021-01-13 22:41] jandrieu commented on #539
@talltree I think it is completely fair to say that you dismissed privacy issues. In multiple threads, including the latest with "resource" and definitely in the debate on "type", you dismissed my concerns over herd privacy, claiming it doesn't apply to all DIDs.

Hence, this issue and tomorrow's special topic call.

[2021-01-14 04:49] talltree commented on #539
@jandrieu Saying that "herd privacy does not apply to all DIDs"—which I am—and "dismissing privacy concerns" are two different things. But I guess we'll just have to agree to disagree about that.

However, since this topic is about privacy concerns, what I find most concerning is this statement from @ChristopherA:

There is a specific reason the diagram shows peer DIDs taking up so much room. To m

[2021-01-14 14:40] OR13 commented on #452
Really, we are saying that `id` is an IRI that can contain a fragment, where the fragment is determined according to another RFC, I welcome any PRs that better express this.

[2021-01-14 14:58] OR13 commented on #463
The spec no longer defines `publicKey`, and uses the term `verificationMethod`... making this less of a concern, and if folks really want to use infra, we should be using it consistently, and not smudging terms like "map key" with words like "did document property"....

The group should use terms like "property" or "attribute" consistently... if folks don't want to use the term "property" for a ke

[2021-01-14 16:20] jandrieu commented on #539
@talltree Your fundamental argument, as illustrated in your diagram, dismisses the privacy concerns of DIDs for individuals because, to you, Peer DIDs and "public" DIDs matter more.

A more collaborative engagement would be to say "I recognize your concerns. Let's find a way to address them."

[2021-01-14 16:20] TallTed commented on #539
@jandrieu -- In your initial post, creating this issue, you said --

I'm pretty sure you meant, "...a party who controls **_an_** identifier of the Subject..." because there's no such thing as **_the_** identifier of a Subject, because anyone can create a new identifier of any Subject at any time for their own purposes -- especially in the universe of DIDs -- and this is vitally important for any

[2021-01-14 16:34] jandrieu commented on #539
@TallTed I agree with your nuanced critique of the notion of "the" identifier, although I would clarify by saying the VP only provides proof for the identifier that is *in* the subject (assuming a single-subject VP and that the VIP is signed with cryptographic material provably linked to the VC Subject). That the "the" I was referring to.

However, your second point misses the best practice of usi

[2021-01-14 21:06] peacekeeper commented on #463
I agree with @OR13 on re-using INFRA terms and not changing them. I'd prefer something like this:

_A DID document consists of a **map** of **entries**, where each entry consists of a **key/value pair**. The data model contains at least two different classes of entries. The first class of entries are representation-independent **properties**, and are specified in section § 5. Core Properties. The

[2021-01-15 09:00] iherman commented on #539
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-14-did-topic#section1) on 2021-01-14

List of resolutions:

- ***[Resolution No. 1](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-14-did-topic#resolution1):  Move `resource=true` from DID Core to the DID Spec Registries (as an extension).***

<details><summary><i>View the transcript</i></summar

[2021-01-15 14:11] brentzundel commented on #170
No objections raised since marked pending close. Closing.

[2021-01-15 14:38] msporny commented on #170
Apologies @brentzundel -- on a call, @selfissued objected to closing this until he writes a PR. It seems like we didn't record that in the issue. I've re-opened the issue because closing it would most likely lead to an objection from @selfissued. The issue will be deferred or closed if a PR isn't written by a yet-to-be determined deadline before CR... but until then, we're waiting for a PR from @s

[2021-01-16 20:58] OR13 commented on #337
I wrote some tests trying to make sense of `didDocument.id` and `verificationMethod.id` as they relate to path and query params in verifiable credentials...

I am very concerned by the results, most the working examples are **illegal** according to did core spec today, and I could not produce a single "working legal example" of `path` and `query` params in a did document that worked with verifiabl

[2021-01-16 23:49] OR13 commented on #386
I took a stab at this in https://github.com/w3c/did-core/pull/548

I took a pretty strong stance on the "revocation is forever" side of this debate....

While solutions that require a blockchain / special kinds of VDR might exist might allow for relative confidence that a revoked key was used by the controller and not the attacker, I find no evidence that this is sufficiently described in did core

[2021-01-17 16:49] msporny commented on #337
Oof, yeah... this is a problem. It's further exacerbated by the fact that a DID Resolver may not be able to change the DID Document that's returned (because it would break a signature over the document, for instance).

So, the linked data proof libs might need to be changed so they take an argument for a DID Document id mutator that can be aware of the query param mechanism. If we do that, DID Cor

[2021-01-17 17:56] dlongley commented on #337
I have more thoughts here but too little time at the moment. My main concern is that people may be trying to do things that they think are secure, but are not; that the trust they are putting in certain proofs just isn't there. We need to more fully explore a clear use case to determine if there's even a solution that makes sense here. By definition, a system where the verifier will blindly accept

[2021-01-17 18:10] OR13 commented on #337
thats correct, and but just so everyone is clear... ***there are currently no normatively legal examples of VCs that support path or query***.... we should be putting that in big bold red letters at the top of the verification method section...

[2021-01-17 18:36] SmithSamuelM commented on #386
Instead of copying and pasting and reformatting. Section 4 of the following white paper provides my view on this issue.

https://github.com/SmithSamuelM/Papers/blob/master/whitepapers/IdentifierTheory_web.pdf

[2021-01-17 18:41] SmithSamuelM commented on #386
My approach is to separate key management (rotation =revoke and replace keys = recovery) from statement management (issue and revoke). IMHO we want to have standards that allow loose coupling between the two. Its ok for an application to use a tightly coupled model (as the white paper above indicates when it looks at the 4 models) but not for the standard to force tight coupling. Thus the only way

[2021-01-17 18:46] SmithSamuelM commented on #386
Related to this issue is authorization models.  Keys are used to authoritatively authorize statements. So statement authorization verification models also play a role.  The following white paper characterizes the most common authorization models for statements which might also bring some additional rigor to the discussion.

https://github.com/SmithSamuelM/Papers/blob/master/whitepapers/ACDC.web.pd

[2021-01-17 19:42] msporny commented on #495
PR #540 has been raised to address this issue. This issue will be closed once PR #540 is merged.

[2021-01-17 19:43] msporny commented on #538
PR #541 has been raised to address this issue. This issue will be closed once that PR has been merged.

[2021-01-17 19:43] msporny commented on #545
PR #546 has been raised. This issue will be closed once that PR has been merged.

[2021-01-17 20:16] jandrieu commented on #539
@talltree Your argument continues to dismiss the concerns of what you see as a minority of usage. We can speculate all we want about which DIDs are going to be used more; that's a distraction. The DID Core specification MUST be seen through the light of all DIDs. To do anything less is to dismiss the concerns of those public DID Methods that are used for referring to individuals.

Just because you

[2021-01-17 20:34] msporny opened #549 "Concerns regarding testability of DID Resolution and Dereferencing"
A few items of concern:

* We currently have 153 normative MUST statements in the specification. That's a lot of tests that the group will have to write over the next month or two.
* 43 of those tests (or roughly 1/3rd of the normative statements in the specification) come from the Resolution and Dereferencing section.
* We have no conformance class for DID resolution.
* We say the following in th

[2021-01-17 20:39] msporny commented on #549
On behalf of Digital Bazaar:

We are not planning to implement software that will pass the normative statements related to Resolution and Dereferencing at this time. We prefer that such work is done in a future DID Resolution WG. We do have DID Resolution software that we have authored called [did-io](https://github.com/digitalbazaar/did-io).

We are not committing to writing any Resolution or Der

[2021-01-17 21:43] msporny opened #551 "application/did+dag+cbor not implementable?"
I finally found some time to analyze the canonicalization algorithm in the DagCBOR section. That section currently states:

There are currently no rules for how arrays must/should be sorted, which would lead to non-deterministic output. This non-deterministic output would result in digital signatures that would fail to validate (as some implementation languages that use sets do not impose a determ

[2021-01-17 22:00] msporny commented on #551
On behalf of Digital Bazaar:

No.

No.

No, we would not object.

[2021-01-17 22:27] jandrieu commented on #549
I've never understood the link between normative statements and testability, as terms like SHOULD, IMO, adequately express obligations that may be untestable, but nevertheless are defined with enough clarity for those obligations to be fulfilled, potentially by human-mediate processes that are fundamentally untestable.

This is especially clear when we have already agreed that DID Core will define

[2021-01-17 23:01] rhiaro commented on #539
I disagree with the notion that "herd privacy doesn't need to apply to all DIDs". The very definition of herd privacy is that it applies to everything in the herd. The moment *anything* in the herd is excluded, privacy diminishes for everything in the herd.

Responding to @ChristopherA:

and @jandrieu:

What we *could* potentially do is to add normative language to [Methods > Privacy Requirements]

[2021-01-17 23:53] dhh1128 commented on #337
If we can't reference `?version-id=X` as a normatively legal feature of the DID spec, I will formally object to the standard. It is a glaring omission that subverts entire families of use cases.

Orie's statement emphasizes that he's worried about VCs not supporting this feature. I don't care about that, since the credentials I work with don't bind to credential holders with DIDs and therefore don

[2021-01-18 00:19] dhh1128 commented on #386
@OR13 and @dlongley : Please tell me if I have understood your concern accurately.

I think you're worried that an issuer could use key A from Jan 1 to June 1, and then revoke key A. Then, on July 15, a malicious party could get key A and use it to sign a credential, claiming that the issuance date was months before, when key A had not yet been revoked. Essentially, possession of the revoked key a

[2021-01-18 00:50] dhh1128 commented on #337
I left some suggested alternate wording as a comment on Orie's PR: https://github.com/w3c/did-core/pull/548#discussion_r559266781

[2021-01-18 08:29] iherman commented on #549
I agree with @jandrieu (and that is also a comment on #550). The 'at risk' flag refers to the possibility of putting the whole of §8 in a note, which would make the core document fairly difficult to understand and, I am afraid, would harm acceptance. I would think that, in case we have difficulties to get implementations, the alternative is to mark this section as non-normative, but keep it in the

[2021-01-18 08:34] iherman commented on #404
Admin comment in the issue status.

With the merge of #536 (and closure of #528) I would think there is no reason to keep the `pre-cr-2` flag; we should remove it.

However, I would prefer _not_ to close this issue, because https://github.com/w3c/did-spec-registries/pull/182 and https://github.com/w3c/did-spec-registries/pull/183 are also related to it; in other words, we should close the current

[2021-01-18 09:53] iherman commented on #549
B.t.w. _if_ there are (min 2) implementations that declare that they _do_ the implementations as described in some way or other (the language API is not defined, the whole definition is abstract anyway) then we may accept that as an CR exit criteria per se. There is no _obligation_ to back up everything with explicit, externally executable tests.

The goal of the CR is not to test implementations.

[2021-01-18 15:40] msporny commented on #549
Let me try and highlight why machine-testability of statements are an important consideration below.

Over the past decade or so, many of the WGs that I have participated in try to make sure that at least the MUST statements have tests in the test suite and the SHOULD/MAY statements are written in a way that is testable by a machine.

Humans make terrible spec enforcers for at least the following

[2021-01-18 15:56] msporny commented on #549
@iherman wrote:

I disagree, I don't expect it would harm acceptance any more than marking the entire section as non-normative would. I will also note that having a section that is non-normative that has 40+ normative statements in it is confusing to implementers -- if we're going to do that, we should downgrade all language to be non-normative (which would be worse than publishing a NOTE that con

[2021-01-18 15:58] dlongley commented on #337
@dhh1128,

I don't think this issue is about whether or not `?version-id=X` is supported (I think we all support it). Rather, it's about what you get when you dereference a DID URL that contains it. I think you should get something that looks the same as what you would have gotten if you had performed resolution when the referenced version was "current". That's what I believe is being referenced b

[2021-01-18 16:26] brentzundel opened #556 "Question about colons from TAG"
From a comment on the TAG issue requesting a horizontal review:
https://github.com/w3ctag/design-reviews/issues/556#issuecomment-760954357

[code]

[2021-01-18 16:41] dlongley commented on #386
@dhh1128,

I agree with your entire post and that has been my position from the beginning :). +1 to consensus!

[2021-01-18 16:51] dlongley commented on #386
@dhh1128,

My main points (which I think you also agree with):

1. We must not allow the future to rewrite the past.
2. The DID spec's responsibility in this matter is to define common representations/interfaces that DID methods may implement to enable checking the current and past status of verification methods.
3. Other software higher up on the stack must make use of these mechanisms (and other

[2021-01-18 17:02] iherman commented on #549
Just for the sake of arguments:-)

We have, in our specification, five different verification relationships defined normatively as properties. We can (and will) have tests for all of those, in the sense of having tests that check their values, constraints, etc., etc. However, I believe we will also have to show that all those terms are “meaningful”, i.e., that they are used in real implementations

[2021-01-18 18:09] msporny commented on #404
I'd rather not remove the flag as that's how we're keeping track of all open issues for this spec... we could downgrade to p3, or more preferably, get 182 and 183 merged so we can close this issue.

[2021-01-18 18:45] TallTed commented on #337
I have come to think this is generally correct about the DID Document; whatever you would have gotten _within that DID Document_ today, when `?version-id={CURRENT}` was omitted, is what you should get _within that DID Document_ when you request `?version-id=X` in the future, when `X` != `{CURRENT}`.

But I think there must be some difference in the surrounding metadata or other encapsulation — whi

[2021-01-18 18:54] msporny commented on #549
I believe we can do this for all core properties EXCEPT FOR `alsoKnownAs`. The same for DID parameters, except perhaps `hl` and `versionId` -- that is, there are implementations we can point to today that use those terms. I don't think we can do the same for many of the resolution metadata properties.

I wish this were true -- everyone has a pet feature that they want in the specification. Some of

[2021-01-18 19:08] dhh1128 commented on #337
I am aligned with @dlongley 's comment.

I also agree with @TallTed . Regarding the final question, "how to know to request version-id=X if it's never mentioned anywhere" -- the peer DID method that I wrote would use the hash of the DID doc as the value of X, and the Indy DID method would use the ledger transaction identifier, I think.

[2021-01-18 19:35] TallTed commented on #337
@dhh1128 -- You provide what might be used as values for X in two DID methods, but it seems to me they are just as opaque and undiscoverable (if not more so) as simple version numbers... e.g., how would I know the hash of a DID doc _I_ haven't yet retrieved/requested (but someone else has used or relied on), in order to use that hash sometime in the future?  At least with an `as-of` datetime, I ca

[2021-01-18 20:02] dhh1128 commented on #337
I am not opposed to `as-of` dates. Those are also useful. The did:indy method will support both. The did:peer method will only support version-id, because there is no authority in its ecosystem, recording the dates.

Regarding the question, "How would I know...", I would say that if another party is using a DID doc, they provide the hash to you so you can reference it.

[2021-01-19 08:04] iherman commented on #404
- Using p3 is also an alternative
- Merging the two PR-s on the spec registries is o.k. with me. We do have some open issues on those (mostly choosing the right URIs), and there will be refinements on the vocabularies and/or schemas (I already have some minor changes on my machine, and I also plan to work on a shex version of the JSON-LD constraints, as an alternative to SHACL) but those improveme

[2021-01-19 08:08] iherman commented on #549
.... then they loose. It is up to us to set the bar even higher: we can require not two, but three or four implementations to use a feature when it comes for human response.

But that is irrelevant as far as this issue is concerned. My only reservation is that the "at risk" note is formulated in a way that, if requirements are not fulfilled, then the whole of chapter §8 is removed from the spec. I

[2021-01-19 11:23] shigeya opened #559 "There is no description of the difference between resolve and resolveRepresentation functions"
In Sec. 8.1 DID Resolution, there is no description of the difference between `resolve` and `resolveRepresentation` functions. It is not understandable. Adding description in the first paragraph helps understand the differences.

While it was `resolveStream`, I could guess the difference, but now it's almost impossible to guess the difference.

In Issue #380, @peacekeeper wrote:

I'm going to send

[2021-01-19 11:53] shigeya commented on #453
I'm preparing one or two sample drawings to propose.

Question: All of the texts are represented in bezier shape. Is this a requirement?

[2021-01-19 14:51] OR13 commented on #549
I plan on writing tests for "resolveRepresentation". I consider it a huge failure to have a spec that recognizes 3+ representation formats and then fails to explain (with tests) how they actually function.... Sure "complex" resolution topics can be punted to a future wg, but not the basics associated with the why created an abstract data model.... if we don't test those, we should not have an abst

[2021-01-19 15:06] msporny commented on #549
Agreed -- we need a volunteer to write those tests and take it through the CR process. I hesitate to say that you will volunteer given everything else that's on your plate. If this is not done and we don't have at least two interoperable implementations (and we don't have the warning), we will have to go through CR again.

[2021-01-19 15:15] rhiaro commented on #119
TAG is meeting today (right after WG meeting) specifically about this, so you should hear more soon.

[2021-01-19 15:44] jonnycrunch commented on #551
While I appreciate any potential `security flaws`, these aren't about limitations of dagCBOR, but limitation of the abstract date model and a [recent PR](https://github.com/w3c/did-core/pull/522) with implications that haven't been discussed with the group.    BTW, this section was supposed to be in the CBOR, not dagCBOR.    I now take issue with your `editorial license` and believe you have made

[2021-01-19 16:14] jonnycrunch commented on #530
I have a template ready that I've used for other projects, but would love feedback from the group that this is a good direction.  Personally, I like to have a formal process of proposing new additions / improvements to the spec and would certainly help wrangling all data in the spec.

[2021-01-19 16:17] jonnycrunch commented on #523
from my understanding we are using xml string date time and not epoch time.  So not sure this is an issue for the spec.

[2021-01-19 16:20] agropper commented on #370
Have not heard back from EFF. Pending contact, this will be closed after #324 is resolved.

[2021-01-19 16:26] jonnycrunch commented on #399
I think this also impacts: https://github.com/w3c/did-core/issues/452

[2021-01-19 17:04] msporny commented on #523
The full text that we're discussing is this:

The text is there to clarify why the lexical representation is a SHOULD and not a MUST using a concrete example of a representation that does this today. There have been objections to reference CBOR-LD, which is fine, we can replace it with "some CBOR-based representations", but then the clarification becomes more meta.

[2021-01-19 17:07] talltree commented on #556
As the commenter notes, the design of DID URL syntax was patterned after URN syntax, given in section 2 of [RFC 8141](https://tools.ietf.org/html/rfc8141#page-9):

[code]
The following is noted in section 2.2 of the spec:

[code]

So our intent was to be consistent with this syntax. From the standpoint of the ABNF in Appendix A of [RFC 3986](https://www.ietf.org/rfc/rfc3986.txt), this means the st

[2021-01-19 17:54] jonnycrunch commented on #551
[here](https://github.com/w3c/did-core/issues/361#issuecomment-688977664) is another issue that I brought when we started down using Infra Ordered Set and raised potential issues with the precision of numbers.  Again this is a limitation of the ADM, not dagCBOR.

While the ordering of an ordered set ( or CBOR array) matters for deterministic output and digital signatures, we have to decide if it m

[2021-01-19 20:20] jonnycrunch commented on #551
and [here](https://github.com/w3c/did-core/issues/361#issuecomment-733303395) is the conclusion from the group when this was discussed on our WG call and the group agreed that bigNum and Int float would NOT be needed for our spec with multiple thumbs up including your CTO.

[2021-01-19 22:04] msporny commented on #551
No, the ADM doesn't specify a deterministic ordering because it doesn't define a lexical space (by design). The specification currently states (per group consensus):

It is the job of a canonicalization algorithm to do deterministic ordering and that ordering must be performed on a specific byte representation (aka a lexical space). It is the job of representations in DID Core to define byte repre

[2021-01-19 22:07] msporny commented on #551
Your DagCBOR PR included the following issue marker, which remains in the specification today:

Would you like to submit a PR that removes that issue marker? I'm happy to remove the text if you're done wrt. float/double canonicalization.

[2021-01-19 22:11] msporny commented on #551
You cannot assume that this is true for all things that can exist in a DID Document (or a DAG) -- there will be DID Spec Registry extensions where objects don't have IDs and that breaks the DagCBOR canonicalization algorithm.

[2021-01-19 22:22] msporny commented on #551
WebAuthn's relevance is that it defines a canonicalization algorithm and it does a few things differently than yours does. I was including it so you could take a look at it and see if you missed anything extra. For example, their c14n algorithm states: "The representations of any floating-point values are not changed." ... but the DagCBOR algorithm is silent on what to do with non-double floating

[2021-01-19 23:18] shigeya commented on #453
This is a current early draft drawing I mentioned in the special topic call on Jan 20th, 2021:
https://github.com/shigeya/did-core/blob/shigeya-453-diagrams-work/diagrams/did_architecture_overview-work1.png

[2021-01-19 23:25] mikeal commented on #551
What?

There is not sort rule for arrays because the sorting of the values is part of the value and changing the sort changes the value. Arrays with different sorts are different values. If you’re using an array to represent a Set or some other data-structure which needs to represent itself as being unsorted then you need to apply a consistent sort to the array before you serialize it.

Just pick

[2021-01-19 23:30] mikeal commented on #551
We’ve spent a considerable amount of time discussing the pitfalls of indeterministic float representations. The CBOR spec points to IEEE 754 with a few notes. We restrict that considerably more since IEEE 754 has many representations for special values.

From [the spec](https://github.com/ipld/specs/blob/master/block-layer/codecs/dag-cbor.md):

[2021-01-20 01:16] msporny commented on #551
Yes, that's exactly the issue. The DagCBOR canonicalization algorithm defined in the DID Core specification does not apply a consistent sort before serialization for anything that is a set (most value ranges in the specification).

Hmm, interesting -- first time I'm seeing that document. @jonnycrunch -- why didn't you link to the DagCBOR specification in your PR? Is there a reason you don't refere

[2021-01-20 01:30] #538 closed

[2021-01-20 03:26] rvagg commented on #551
We're getting there. We released the newest JavaScript version that holds to all the strictness requirements (inasmuch as it can given JavaScript's difficulty with float/int differentiation), the main outstanding item in the Go implementation(s) is that it will still deal in `NaN`, `Infinity` and `-Infinity`, but that addition to the strictness criteria was only a recent so it'll get there soon. R

[2021-01-20 03:44] mikeal commented on #551
We use a [“Permissive License Stack”](https://protocol.ai/blog/announcing-the-permissive-license-stack/) which is just Apache-2+MIT for licensing and a patent pledge from us you can read about in that post. If there’s any additional concerns you have I can get you in touch with our counsel.

[2021-01-20 09:00] peacekeeper opened #563 "Replace undefined term "resolving party" in equivalence properties"
The sections on equivalence properties "equivalentId" and "canonicalId" use the term "resolving party". We decided previously that we would use the term "requesting party" for this role. See https://github.com/w3c/did-core/pull/350 and https://github.com/w3c/did-core/pull/393.

@csuwildcat maybe you want to make that change, otherwise I can do it too.

[2021-01-20 11:05] peacekeeper commented on #337
Just a quick update to my own earlier comment: `relative-ref`, which was previously known as `relativeRef`, is now proposed to change back again to `relativeRef` (see https://github.com/w3c/did-core/pull/553). Sorry for the confusion.

[2021-01-20 11:22] iherman commented on #556
Admin: why closing this issue? It is referred to from https://github.com/w3ctag/design-reviews/issues/556, and does not look good if it is close while the discussion is still ongoing on tag land...

[2021-01-20 11:53] iherman commented on #453
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-19-did-topic#section1) on 2021-01-19

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 1. Diagram in issue 453

_See github issue [#453](https://github.com/w3c/did-core/issues/453)._

**Shigeya Suzuki:** I have a drawing, need feedback
… original concern I had was

[2021-01-20 16:01] peacekeeper commented on #556
Maybe @talltree closed this by accident? I agree it should remain open while the other one is open.

[2021-01-20 16:08] talltree commented on #556
@iherman Sorry, I misunderstood my action item to respond to this issue. I have re-opened.

[2021-01-20 16:16] agropper commented on #370
I've heard back form EFF. They continue to be troubled by our work and have shared concerns with Brent (who they see as representing DID Core) as they relate to "service endpoints and DID communications or "DIDCOM". EFF hopes that accountability and privacy be "the lead of this and not just a recommendation" [in DID Core].

Importantly, EFF's concern about our work is that DIDs are unique IDs comm

[2021-01-20 16:31] msporny commented on #370
Does EFF agree with this position? Does writing up the item stated above in the DID Core specification address their concern?

Ideally, EFF would weigh in on this issue directly. Are they able to do that?

[2021-01-20 17:42] mikeal commented on #551
Keep in mind that we’ve been making steady progress on this spec for a while, as you can see in the commit history, so some of what I may be mentioning now weren’t there the last time @jonnycrunch had a look.

That is not to say the format is not stable. A lot of what has been going into the spec has been strictness we’ve already done in implementations.

It’s also worth noting that, in our primar

[2021-01-20 18:00] agropper commented on #370
They don't want to engage directly, as I explicitly requested, so I seem to
be the yenta in this situation.

The ball is in our court. We can reach out to them with a potential
consensus proposition or not.

On Wed, Jan 20, 2021 at 11:32 AM Manu Sporny <notifications@github.com>
wrote:

[2021-01-20 21:04] brentzundel commented on #119
TAG has indicated their review is complete.

[2021-01-20 21:05] brentzundel commented on #556
TAG has indicated their review is complete: https://github.com/w3ctag/design-reviews/issues/556#issuecomment-763900128

[2021-01-20 21:05] #556 closed

[2021-01-22 14:06] brentzundel commented on #340
No objections raised, closing issue

[2021-01-22 14:06] #340 closed

[2021-01-22 14:07] brentzundel commented on #380
No objections raised, closing issue

[2021-01-22 14:07] #380 closed

[2021-01-22 14:09] brentzundel commented on #527
Covered by #163, no objections raised, closing.

[2021-01-22 14:09] #527 closed

[2021-01-22 17:34] jonnycrunch commented on #551
The deterministic ordering rules that I proposed is supposed to be under the more general CBOR section and not dagCBOR.

see my original commit [e39d48e](https://github.com/w3c/did-core/pull/420/files#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051R2840-R2852) as part of PR #420.

I believe that given we are working on a security document, determinism needs addressing in gene

[2021-01-23 15:58] OR13 commented on #337
I think I have managed to cut this issue free from the other PR on "rotation/recovery", in changes to that PR, I opted to reimplement the PR because it was faster than slogging through rebase.... https://github.com/w3c/did-core/pull/569

But I believe I have addressed the spirit of all proposed changed in that PR ^

Regarding this issue I want to make a couple of points.

I know Indy Credentials d

[2021-01-23 18:31] dhh1128 commented on #337
I am frustrated by this incorrect characterization. Go read section 4.8 of the VC spec carefully (where the proof section is formally and normatively defined) and section 7.4, where it is discussed again. I believe you will see that `verificationMethod` is NOT normatively required, and that the spec includes this explicit note: "As discussed in Section § 1.4 Conformance, there are multiple viable

[2021-01-23 21:05] OR13 commented on #337
The following indy credential schemas are both valid `did+json` and `did+ld+json`

Assuming that someone in hyperledger indy ecosystem can provide a context for indy credential schemas, hosted at:

https://w3id.org/indy/v1 or similar (happy to help set that up, just give me a list of terms and their definitions.).

### Example 1

[code]

### Example 2

[code]

The following examples are illegal ac

[2021-01-24 17:37] msporny commented on #551
@rvagg wrote:

To provide some background to @rvagg and @mikeal on where the W3C DID Working Group is with respect to it's charter and lifetime. The specification entered feature-freeze in July 2020. We are getting ready to enter the W3C Candidate Recommendation stage in the next week or so. The W3C Candidate Recommendation stage requires us to be "code complete" -- that is, we are asserting that

[2021-01-24 17:46] msporny commented on #551
@mikeal wrote:

I'm a fan of the goals behind the PLS, but unfortunately, due to the non-standard nature of that license stack lawyers will almost certainly have to be involved because it's non standard. The fact is that PL could have patents and owns the copyright on DagCBOR, it's not a W3C Member or a member of the DID WG, so there is no easy path that I know of to reconcile this other than gett

[2021-01-24 17:56] msporny commented on #551
@jonnycrunch wrote:

It is a flaw.

The ordered sets that we use for many map entry values in the specification do not allow duplication... implementers are expected to use Set primitives in implementation languages instead of Arrays. Not all language Set primitives guarantee the preservation of insertion order and/or iteration over the Map. That, coupled with the canonicalization language for Dag

[2021-01-24 18:06] msporny commented on #551
@jonnycrunch wrote:

To be clear, that would mean that these rules would apply to every CBOR representation of DID Documents:

* Property names MUST be represented as text string (major type 3) and contain only UTF-8 strings.
* Undefined Values of Required Properties as defined in the Data Model that are absent from the CBOR representation SHOULD be labeled with Primitive type (major type 7) with

[2021-01-24 18:13] #537 closed

[2021-01-24 18:50] msporny commented on #549
PR #550 has been merged, which addresses this issue. Closing.

[2021-01-24 19:03] msporny commented on #523
Removed mention of CBOR-LD from the specification in 5b7ede42312c03d364b5b99cbf4439bfaf6216a9.

The original issue was resolved via 10744a0c4e098d7241cf20d26ceea15d22716ee4.

Closing.

[2021-01-24 19:03] #523 closed

[2021-01-24 19:55] msporny commented on #425
PR https://github.com/w3c/did-spec-registries/pull/240 has been raised to address this issue. This issue will be closed when https://github.com/w3c/did-spec-registries/pull/240 is merged.

[2021-01-24 19:59] msporny commented on #386
PR #569 has been submitted to resolve this issue. This issue will be closed once PR #569 is merged.

[2021-01-24 20:00] msporny commented on #399
PR #544 addressed this issue and has been merged. Closing.

[2021-01-24 20:00] #399 closed

[2021-01-24 20:04] msporny commented on #447
PR #562 addresses this issue. This issue will be closed once PR #562 has been merged.

[2021-01-24 20:06] msporny commented on #452
PR #571 addresses this issue, which will be closed when that PR is merged.

[2021-01-24 20:06] msporny commented on #468
PR #543 addresses this issue, which will be closed once that PR is merged.

[2021-01-24 20:07] msporny commented on #545
PR #546 has been merged, closing.

[2021-01-24 20:07] #545 closed

[2021-01-24 20:07] msporny commented on #563
PR #567 has been created to address this issue, which will be closed once the PR has been merged.

[2021-01-25 07:18] talltree commented on #504
Per @shigeya's suggestion, as well as the feedback in the last DID WG special topic call, I revised #457 to move it to the Security Considerations section.

[2021-01-25 09:51] shigeya opened #575 "Global uniqueness of method-specific-id is not necessary, also hard to achieve"
In 7.1 Method Schemes,

Global uniqueness of DID is necessary. But:

- The definition of global uniqueness of method-specific-id is unclear.
- There is no easy way to guarantee the uniqueness of method-specific-id among methods.

Thus, the word `globally` should be removed, and also need to say it's unique within a method, thus I propose:

or just eliminating the first sentence seems fine:

[2021-01-25 10:13] iherman commented on #551
Only reacting on the administrative steps: if the text which was put into the spec was indeed not the text of @jonnycrunch (with the attached IPR licensing of his company) but a text of @mikeal, then, I presume, @mikeal  (or whoever holds the rights) will have to sign a licensing agreement, similarly to what is done when a substantive PR is submitted to the specification by a non-Working Group par

[2021-01-25 13:20] peacekeeper commented on #391
https://github.com/w3c/did-core/pull/568 addresses this.

[2021-01-25 14:30] jbenet commented on #551
@msporny

The licenses are not "non-standard". It's simply Apache2 + MIT Dual License. This is common. Use whichever license you prefer (guessing Apache2). Any potential patents are covered by the Apache2 patent clause. (we do not have any patents and do not plan on getting any -- if you need us to do so and assign it, we can look into it).

We are also happy to provide other licenses as you reque

[2021-01-25 14:33] jonnycrunch commented on #551
Again, to be clear: the deterministic canonical ordering language I added to CBOR comes from [IETF 7049](https://tools.ietf.org/html/rfc7049#section-3.9) which give spec authors some guidance, but it is up to spec to protocols to define what they mean by a canonical format.  The fact that the [IPLD spec](https://github.com/ipld/specs/blob/master/block-layer/codecs/dag-cbor.md) also uses similar la

[2021-01-25 19:01] jandrieu opened #577 "Move "resource=true" parameter from DID Core to the DID Spec Registries"
Per discussion on the special topic call.

@msporny Offered to make a PR for this.

[2021-01-25 21:00] msporny commented on #577
@rhiaro beat both of us to it -- PR #572 moves the resource parameter out of the spec.

I believe that either @brentzundel or @talltree volunteered to write the PR for it.

[2021-01-25 21:01] msporny commented on #577
This issue will be closed once PR #572 is merged.

[2021-01-25 23:15] brentzundel commented on #577
This issue should not be closed until 'resource=true' is in DID Spec Registries.
I know that I did not volunteer to put it there.

[2021-01-25 23:28] msporny commented on #551
@jonnycrunch wrote:

Here is the actual text you added:

https://github.com/w3c/did-core/pull/282/files#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051R2442-R2445

Then you modified it to this text (which added things):

https://github.com/w3c/did-core/pull/420/files#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051R2845-R2850

Copy-pasted your final addit

[2021-01-25 23:45] jonnycrunch commented on #551
Yep, glad you finally read and understand what I wrote!   This is NOT dagCBOR, it is a deterministic canonical constraints (not necessarily algorithm) for our specification that belongs in the CBOR section and I welcome improvements to make it complete and compatible with other CBOR sub-representations like CBOR-LD and dagCBOR.

[2021-01-26 03:23] shigeya commented on #575
Applied 1st option. Also, changed to use MUST to align with the following sentence.

[2021-01-26 14:30] msporny commented on #551
@jonnycrunch wrote:

Let me try and summarize my understanding of your position wrt. application/did+cbor and application/did+dag+cbor based on this thread of discussion:

1. You would like a deterministic canonical constraints in the application/did+cbor section that is different from RFC7049 and different from DagCBOR?
2. For the application/did+cbor section, the new constraints are provided sol

[2021-01-26 15:04] #447 closed

[2021-01-26 15:28] shigeya opened #580 "Is it acceptable to implicitly suggest implementing version control for a VDR?"
While the draft states the implementation details of the methods is out of scope, some DID  document metadata property, namely, `nextUpdate`, `nextVersionId`, and possibly `versionId` suggest implementing version management in VDR.
(These are SHOULD properties)

Since these properties are added relatively recently, I want to check the above slight inconsistency is acceptable among members of DID W

[2021-01-26 17:31] peacekeeper commented on #580
The original idea of this was that it would be completely up to the DID method. There are many DID methods that can't or don't want to support this.

Considering this, I think personally I would prefer MAY over SHOULD for these metadata properties, in my opinion that would be closer to the original intention.

The related DID parameters `versionId` and `versionTime` say that support for them is OP

[2021-01-26 17:33] peacekeeper commented on #580
@oed what do you think?

[2021-01-26 17:50] csuwildcat commented on #468
Being handled in PR https://github.com/w3c/did-core/pull/581

[2021-01-26 19:59] brentzundel commented on #337
@OR13 please correct me if I don't understand (sincerely), but I think dropping DID Parameters for schemas or other resources stored on a ledger may only be a problem if the schema or other resources are delivered via a DID Document.

My understanding of the consensus the group came to (which resulted in `resource=true` being moved to the DID Registries) was that a DID Document should never be the

[2021-01-27 00:05] shigeya commented on #580
+1. Personal opinion too.

[2021-01-27 09:18] oed commented on #580
Using MAY is probably fine. Might be worth noting that methods that doesn't implement this are much less secure.

[2021-01-27 10:05] shigeya commented on #580
Good, thank you.

Before I submit this issue, I've briefly read #483. I understand your concern and the merged proposal.

We need some text for a note if we want to include that warning. Just mentioning `much less secure` does not provide enough information to an implementer. Any suggestions?

[2021-01-27 10:18] oed commented on #580
Thanks @shigeya,

How about something like this for `nextUpdate`, and maybe `nextVersionId`.

[2021-01-27 11:21] peacekeeper commented on #575
I believe the background of this sentence is that in the early days of DIDs, there were some ideas that a DID could be created independently of a specific DID method, and that the same identifier could exist within different DID methods and must therefore be globally unique. This kind of thinking is now coming back in some form in KERI.

But today's design of DIDs leaves the use of the method-spec

[2021-01-27 12:48] shigeya commented on #580
@oed Thank you. Looks good for me. I prefer to add the following text:

@peacekeeper Do we want to include the above texts as a note?

[2021-01-27 13:10] oed commented on #551
Yes

Sure, though I think there should be sufficient tests suites within the IPLD stack.

Yes

[2021-01-27 13:12] shigeya commented on #559
As PR #560 merged, we can close this issue.

[2021-01-27 15:07] jonnycrunch commented on #551
For TranSendX:

Yes

Yes, and it will be `beautiful`, nobody will have seen a more `beautiful` suite of tests!

Yes

First and foremost, we don't have a clear path to implementing the extension specification and/or governance of the DID-spec registries.  Second,  I am committed to making dagCBOR a first class citizen in the specification and towards that end making a deterministic canonical CBOR r

[2021-01-27 15:37] peacekeeper commented on #580
@oed and @shigeya I think it makes sense to add such language, but perhaps you would also consider creating two separate PRs:

- One PR that only changes SHOULD to MAY in the actual sections where those metadata properties are defined.
- Another PR that adds a new section under "Security Considerations" to describe why and how these properties can improve security.

I would do this because as @shi

[2021-01-27 16:02] oed commented on #580
@peacekeeper Agree that it's a complex topic and should probably be addressed mostly in another section. Would be good to have something next to the params though about why they are beneficial and recommended.

[2021-01-27 18:52] shigeya commented on #580
@peacekeeper Agreed. I'm going to create the first PR.

[2021-01-28 00:45] csuwildcat commented on #551
With IPFS being such a critical component for so much of the decentralized app world, I would love to see harmony between DID Core and IPFS structures/protocols. I think we're missing an opportunity if we don't make that happen, if at all feasible. I also don't understand the licensing issues brought up - if it's dual MIT/Apache 2, there should not be a legal issue, and let me tell you, we have so

[2021-01-28 01:01] OR13 commented on #551
having `did+dag+cbor` be "the example" of this would really help...

dag cbor will never be "the canonical" representation for the ADM... because the ADM was designed specifically to allow representation in `did+cbor`, `did+dag+cbor` and `did+ld+cbor`, `did+json`, `did+ld+json`, `did+indy+json`.... they are all the same level of citizen... and they each might have a canonical representations....

[2021-01-28 07:59] shigeya commented on #580
@oed Forgot to mention about current schedule towards Candidate Recommendation. The deadline for sending PR is February 9th. So, please kindly send the PR soon.

[2021-01-28 08:39] peacekeeper commented on #580
@oed I think that's totally fine on a high level. Sorry, I wasn't really against adding your text suggestion, but I was worried that it could trigger a lot of discussion like in one of the other threads I linked, if you talk about how to verify signatures.

For comparison, the sections about metadata properties [equivalentId](https://w3c.github.io/did-core/#equivalentid) and [canonicalId](https://

[2021-01-28 14:43] rhiaro opened #583 "Proving Control sections are wrong"
The [proving control of DID docs](https://w3c.github.io/did-core/#proving-control-of-a-did-and-did-document) and [of public keys](https://w3c.github.io/did-core/#proving-control-of-a-public-key) subsections in Security Considerations are inaccurate.

We need to fix these ASAP, but this can probably be done during CR as they are not normative.

[2021-01-28 14:46] rhiaro opened #584 "alsoKnownAs at risk?"
Given the (appropriate) trend of removing as much as possible from the Core Properties, I question whether `alsoKnownAs` belongs there. It seems high risk of inviting PII, especially as it is not restricted to DIDs (but any URIs). I'd like to know about who is planning to implement this and what for? Should we mark it as at risk (of being moved to the Registries)?

[2021-01-28 14:53] msporny commented on #391
PR #568 has been merged, closing.

[2021-01-28 14:54] #391 closed

[2021-01-28 14:55] msporny commented on #563
PR #567 has been merged, closing.

[2021-01-28 14:55] #563 closed

[2021-01-28 14:58] msporny commented on #577
My bad... reassigning to @talltree -- this issue will be closed when PR #572 has been merged AND `resource=true` is moved to the DID Specification Registries OR when the group decides to enter CR.

@talltree, please write the DID Specification Registries extension for `resource=true` and get it into the DID Spec Registries.

[2021-01-28 15:41] msporny commented on #583
Yes, correct. These sections were written long ago and are now misleading at best and catastrophically wrong at worst.

[2021-01-28 15:43] msporny commented on #584
I agree, given the current trajectory of consensus in the WG wrt. moving away from placing anything that could be PII in the DID Document (as a part of DID Core). I expect that @jandrieu will scrutinize this particular feature. @csuwildcat and @talltree may also want to weigh in here.

[2021-01-28 16:05] msporny opened #585 "Deterministic canonical form for CBOR/DagCBOR not implementable, prevents other representations"
At present, the deterministic canonical form for CBOR is meant to apply to all CBOR-based formats. The rules in the specification today are as follows:

<ul>
<li>Property names MUST be represented as text string (major type 3) and contain only UTF-8 strings.</li>
<li>Undefined Values of Required Properties as defined in <a href="#data-model">the Data Model</a> that are absent from the CBOR represe

[2021-01-28 18:24] jonnycrunch commented on #551
@jbenet  I'd like to think that I am not alone in wanting to see DID documents represented as dagCBOR.

@OR13 Absent any additional help, I'm willing to work with you to make this work in the did-spec-registries

[2021-01-28 18:30] #463 closed

[2021-01-28 19:20] ChristopherA commented on #551
As an FYI, Blockchain Commons is making more and more use of CBOR for cryptographic data formats (see https://github.com/BlockchainCommons/Research/blob/master/papers/bcr-2020-005-ur.md and other UR research in that repo), and maybe we will eventually including DID and VCs in that CBOR research. However, we are uncomfortable with DagCBOR — feels like an encoding standard inside an encoding standar

[2021-01-28 19:26] jonnycrunch commented on #551
@ChristopherA thanks for sharing, interesting work!  Do you see the value for the deterministically encoded CBOR in your work and in the DID spec in general ?

[2021-01-28 19:46] ChristopherA commented on #551
@jonnycrunch, Our requirements are mostly driven by the need to negotiate security between devices through use of AirGap QRs (and high latency low bandwidth TorGap).

[2021-01-28 20:21] jonnycrunch commented on #585
@cabo, I'd value your input.

My thoughts are that it is important in our spec to have a deterministically encoded representation to get consistent encoders/decoders.  The group seems to think this is a daunting task and not worth the effort.  I'm thinking given our spec isn't that complex and we aren't dealing with numbers, with a little bit more work we can do it and will pay off in spades down

[2021-01-28 20:26] jonnycrunch commented on #551
I'd like to point out that there is an updated CBOR namely [#rfc8949](https://tools.ietf.org/html/rfc8949)
and perhaps the compromise is to normatively point to the [Core Deterministic Encoding Requirements](https://tools.ietf.org/html/rfc8949#section-4.2.1), which seems to satisfy everything that I was attempting to cover.

Realize of course that my original contribution to this section is now >3

[2021-01-28 20:41] jonnycrunch commented on #585
@msporny, btw, this also leave to door open for CBOR-LD and dagCBOR to co-exist.

[2021-01-28 22:56] mikeal commented on #551
we would very much like to see this happen :)

many things are not useful to us in decentralized systems because they aren’t fully represented by content addressed data structures. these become significantly more useful once this representation exists, there’s a big limit on what we can do with DID’s beyond treating them like strings if we don’t have it.

it’s not that there won’t be any integrati

[2021-01-28 23:03] dlongley commented on #551
I'm also in favor of seeing DID Documents represented in dagCBOR/bringing DIDs to the IPFS ecosystem. However, we need to be careful that don't fail to get a DID core spec (!) finished because the timelines aren't compatible. I think we should decouple these things to allow DID Docs in dagCBOR to reach the maturity required without compromising both efforts.

[2021-01-28 23:16] cabo commented on #585
Most definitely, we wrote Section 4.2 of RFC 8949 based on what we had learned in seven years of using CBOR in a wide variety of environments.  You want to point to that (Section 4.2.1 specifically), not try to rephrase it.

Re the additional rules: You can't really have a SHOULD in deterministic encoding.  I don't understand what that rule is trying to do -- why not say you MUST leave out entries

[2021-01-28 23:26] jbenet commented on #551
@OR13

@jonnycrunch

- **(preamble: please forgive my context gaps, i'm coming in and out of this thread while juggling many other things)**
- Yeah, we also want this, :100: , and many applications we work with mixing DIDs, IPLD, and IPFS need this.
- What do you need specifically from _another_ group? Do you need support maintaining the one impl, or do you need another?
- PL _can_ commit to fund

[2021-01-28 23:29] jonnycrunch commented on #585
@cabo, many thanks for your input, much appreciated and fine work on the RFC 8949!

yes, that makes sense, at the time we were having a debate about `Unknown properties` and how to handle them, this was a placeholder for us to finish that discussion and update it for the CBOR section.

[2021-01-28 23:31] mikeal commented on #551
BTW, I should mention that we’re working W3C membership right now.

So we should be able to clear up any IPR concerns you have w/ DagCBOR.

[2021-01-28 23:32] mikeal commented on #551
Speaking of Textile, I’m sure @carsonfarmer would like to see this happen as well :)

[2021-01-28 23:33] jbenet commented on #551
@OR13 @jonnycrunch

- i also think this can be a good solution IFF it works.
-  beware because tons of specs start with the intention to take in upgrades/evolve later, and most of those fall short of intention. protocol stacks tend to ossify painfully fast 🙄

[2021-01-28 23:53] carsonfarmer commented on #551
Thanks for pulling me in here @mikeal, yes @textileio and @carsonfarmer are indeed interested in seeing this happen as well. In particular, we are interested in working with @oed and @michaelsena re: our joint dag-jose work/grant. This proposal, coupled with some of the JOSE work our teams have been collaborating on open up to door to MUCH broader use of these standards in the ETH, IPFS, and other

[2021-01-29 00:13] OR13 commented on #551
I propose we do the following:

1. remove `did+dag+cbor` from did core.
2. add `did+dag+cbor` to did spec registries and point it to a "representation spec"
3. create the `did+dag+cbor` "representation spec" in some neutral territory and assign code owners (I propose DIF).

We can then continue to define how `did+dag+cbor` will function without holding up the did core wg, or trying to rush normati

[2021-01-29 10:13] iherman commented on #551
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-28-did-topic#section2) on 2021-01-28

List of resolutions:

- ***[Resolution No. 1](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-28-did-topic#resolution1):  The DID Working Group will not define a canonical form for the Abstract Data Model.***

<details><summary><i>View the transcript</i></sum

[2021-01-29 10:13] iherman commented on #585
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-28-did-topic#section2) on 2021-01-28

List of resolutions:

- ***[Resolution No. 1](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-28-did-topic#resolution1):  The DID Working Group will not define a canonical form for the Abstract Data Model.***

<details><summary><i>View the transcript</i></sum

[2021-01-29 10:43] iherman commented on #551
@OR13

that can be done, but we can also decide to publish a Working Group Note on this representation spec. A note can be published at any time by this WG before its charter expires.

[2021-01-29 14:44] brentzundel commented on #495
#540 has been merged, closing this issue.

[2021-01-29 14:44] #495 closed

[2021-01-29 15:41] dlongley commented on #551
@jbenet,

We'll be entering CR in a week or two which is how unrealistically tight the timeline is here. See @msporny's [comment](https://github.com/w3c/did-core/issues/551#issuecomment-766400184). I don't think there's any need to try and squeeze things in before then as using the DID spec registries gets us same desirable outcome, in my view, with a much lower risk of mistakes. More focus should

[2021-01-29 16:30] msporny commented on #551
@jbenet wrote:

Everything needs to be done by February 9th... which is a completely unworkable timeline for everyone. To be clear - the DID specification has been ongoing for 4+ years, we've been feature-frozen since July 2020, the Working Group has had repeated warnings about the deadline in two weeks... so it's not like this date is a surprise to anyone in the Working Group. Everyone was expect

[2021-01-29 17:13] jonnycrunch commented on #551
That isn't very nice.    As a member of W3C I am participating in the process of developing
a standard.  Sometime we have conflicts and differing opinions. That is expected.   So,  I respectfully disagree with your defaming characterization.

[2021-01-29 17:40] dlongley commented on #551
@jonnycrunch,

a standard. Sometime we have conflicts and differing opinions. That is expected. So, I respectfully disagree with your defaming characterization.

I don't think there was any ill intent in your objections. I think there are frustrations in the WG that the realities of the WG timeline aren't resulting in us clearly and quickly moving forward in a direction that won't jeopardize *all*

[2021-01-29 18:24] msporny commented on #551
@jonnycrunch wrote:

+1, similarly, I don't think you're acting in bad faith, @jonnycrunch. To be clear, my entire statement was: "these actions come across as an anti-social attack on Working Group consensus." -- [repeatedly being the only dissenting vote](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-01-28-did-topic#section2) while providing no alternate path that achieves a higher level

[2021-01-29 20:11] brentzundel commented on #551
The chairs have decided to lock this conversation.

We will address this issue during our working group call next Tuesday. Please do not add any additional comments here.

[2021-01-31 08:57] shigeya commented on #504
As PR #457 and follow-up PR  #574 discussing persistence and close-to-be-approved PR #574 relocate the text to the security section, this issue can be closed once PR #574 merges.

[2021-01-31 21:51] msporny commented on #425
PR https://github.com/w3c/did-spec-registries/pull/240 has been merged, closing.

[2021-01-31 21:51] #425 closed

[2021-01-31 21:52] msporny commented on #452
PR #571 has been merged, closing.

[2021-01-31 21:52] #452 closed

[2021-01-31 21:53] msporny commented on #468
PR #581 addresses this issue, which will be closed once that PR is merged.

[2021-01-31 21:55] msporny commented on #580
PR #582 addresses this issue, which will be closed once that PR is merged.

[2021-01-31 22:48] #163 closed

[2021-02-01 07:35] shigeya commented on #575
@peacekeeper I made a change to PR #579. Would you please review it? I've resurrected the definition with the word 'globally', change the line to use `might`.

[2021-02-01 08:13] peacekeeper commented on #575
@shigeya looks great, thanks!

[2021-02-01 14:30] msporny commented on #584
Reassigning to @rhiaro who volunteered to add a speculative PR wrt. this issue.

[2021-02-01 14:31] msporny commented on #577
resource=true is now in the registries but with a dangling link to the specification that defines it.

@brentzundel can we close this issue since it's in the registries now?

[2021-02-01 14:46] rhiaro commented on #577
I added a [corresponding issue on the DID Spec Registries](https://github.com/w3c/did-spec-registries/issues/244)

[2021-02-01 15:07] OR13 commented on #337
@brentzundel yes, although i am not sure dereferencing is defined well enough.... I guess my point is that did core makes a number of json based document formats illegal, (by preventing IRIs like `didDocument.id` from containing things otherwise legal in an IRI, for example `query` and `path`).... depending on how. dereferencing is defined... that might cause problems in the resulting document...

[2021-02-01 16:33] msporny commented on #199
PR #460 has been merged, closing.

[2021-02-01 16:33] #199 closed

[2021-02-01 20:29] msporny commented on #386
PR #569 has been merged, closing.

[2021-02-01 20:29] #386 closed

[2021-02-01 20:30] msporny commented on #584
PR #589 has been raised to address this issue. This issue will be closed when that PR is merged.

[2021-02-01 20:34] msporny commented on #549
PR #587 has been raised to address this issue. This issue will be closed once that PR is merged.

[2021-02-01 22:52] shigeya commented on #453
I've not realized #460 introduced some good figures until now. I will incorporate the idea (now merged) into figure 1.

[2021-02-02 10:01] talltree commented on #72
@msporny I just did a complete read-through of the current text in the [Privacy Considerations section](https://w3c.github.io/did-core/#privacy-considerations) and I was gratified to see that every point I planned to make about GDPR and other privacy and data protection regulations had already been made.

At this point I don't see that we need to add anything else—IMHO we can close this issue unle

[2021-02-02 13:53] peacekeeper opened #590 ""Personal data" or "PII""
In some sections we use the term "personal data", in others we use "personally-identifiable information".

There have been various PRs that changed one to the other and back (e.g. https://github.com/w3c/did-core/pull/232 or https://github.com/w3c/did-core/pull/535). We should pick one of the terms and use it consistently.

I hereby propose that "personal data" is the more modern one of the two ter

[2021-02-02 13:56] peacekeeper commented on #72
I agree this issue has been addressed and can probably be closed.

I think the spec should use the term "personal data" consistently everywhere, and I created a new issue for this: https://github.com/w3c/did-core/issues/590.

[2021-02-02 14:15] msporny commented on #72
PR #460 has been merged and @talltree has performed a review of privacy considerations that address the remaining GDPR concerns. @peacekeeper is tracking some minor editorial clean ups in #590. This issue is done, closing.

[2021-02-02 14:15] #72 closed

[2021-02-02 14:17] msporny commented on #504
PR #574 has been merged, closing.

[2021-02-02 14:17] #504 closed

[2021-02-02 15:32] agropper commented on #590
I agree with "personal data". The two terms are not interchangeable. For example, correlation and potential re-identification of two health records from different hospitals that have a pair of blood test results reported as 5.36 and 467 might suffice even though all PII has been removed from both files.

[2021-02-02 16:04] jandrieu commented on #324
I'll get some text proposed shortly.

[2021-02-02 22:31] peacekeeper commented on #575
@shigeya can we close this now that https://github.com/w3c/did-core/pull/579 has been merged?

[2021-02-02 22:35] shigeya commented on #575
@peacekeeper I was thinking of asking a question in the Special Topic Call. I was not sure somebody other than the editors may close the issue. Closing now.

[2021-02-02 22:35] #575 closed

[2021-02-03 12:30] iherman opened #598 "IANA consideration should be its own section"
At present the IANA consideration is section B.10, part of Appendix B "Frequently Asked Questions". It should be the separate Appendix "C".

(Actually, but that is a matter of taste, I would reverse the order and place the IANA section as Appendix B.)

[2021-02-03 21:04] dhh1128 opened #599 "de-conflated verification method?"
I have a use case where I want to list a key in a DID doc that is used to *decrypt* for the DID, but that cannot be used to *encrypt*. This would be a key used by an auditor. The auditor doesn't have control of the DID, but has *oversight* of the DID. The auditor should never be able to emit outbound communications as if coming from the DID, but should be able to decrypt inbound communications. Th

[2021-02-03 21:14] OR13 commented on #599
I would expect that you would not need a new verification method type....

we are also past the feature freeze date.... and headed into CR.

To me it sounds like you want to identify that a specific `keyAgreement` key is used for some specific purpose... You can do this a few ways...

1. use the fragment

[code]

1. use a query

[code]

Another option might be using the `controller` property to di

[2021-02-03 21:36] kdenhartog commented on #599
Hmm I think the controller property may work best for that if we don't want to add a new verificationMethod. However, in my mind this actually isn't anything related to the semantics of a verification since it's ingress only usage, where as "verification" implies egress usage.

The other option we have with the usage of publicKeyJwk is that we can include the `use` property where only keys which c

[2021-02-03 21:40] dhh1128 commented on #599
I don't understand how a fragment or a query allows me to express the semantics I want. They allow me to get a particular piece of data associated with a DID document, but they don't let me declare the meaning of that piece of info (which is what I need). The meaning does not vary by the caller/client/use case; it needs to be intentionally locked to that meaning *by the DID controller*.

Your `con

[2021-02-03 21:59] dlongley commented on #599
@dhh1128, this sounds like it could be an optional property of a `keyAgreement` verification method. It would signal that applications, when using `keyAgreement` verification method X as a recipient, should also include Y as a recipient. For example:

[code]

Would this solve your use case?

[2021-02-04 02:04] dhh1128 commented on #599
@dlongley : yes, that would probably work. However, it makes the `additionalRecipient` a subproperty of an individual key, whereas we would need it as a subproperty of *all* keyAgreement entries, collectively. That is, if Alice declares a key for her mobile phone, her laptop, and her tablet, there would be 3 keys in the `keyAgreement` array, but the oversight keys I was postulating would apply acr

[2021-02-04 15:01] csuwildcat commented on #584
This one is less an issue for me, because yes, it's more likely to be a PII vector, and your AKA assertions can be done via something like a personal datastore that exposes AKA statements. This is in contrast to the deterministic equivalence properties, which are PII vectors and can't be done by anything but a Method's secure resolution process. For this reason, I'm indifferent about AKA.

[2021-02-04 16:59] dlongley commented on #599
@dhh1128,

I would think that someone may want to have more optionality/granularity. You may want to have some keys that, when used, should include other recipients, and other keys where that isn't the case. You may also want (or need) different auditor keys for different cases.

I don't know that we need to announce this sort of thing in a DID Document. If you don't want to send outbound comms, j

[2021-02-04 17:34] dhh1128 commented on #599
Okay, I can buy that.

What registration process would you recommend for this additional property?

Okay. Let's lay that corner case to rest.

[2021-02-04 19:09] shigeya commented on #453
I think PR#600 is good enough to get feedback. I tried to express it in a single figure this time.
I don't like the small texts, but to have enough spacing between icons and arrows, I need to shrink the text to be smaller.

I want to have feedback from @msporny @talltree @jricher who gave me some suggestions during the special call (see the transcript above). thanks!

[2021-02-04 20:00] dlongley commented on #599
@dhh1128,

The CCG is where specs for this sort of thing are usually incubated and registration of the spec that defines the property/verification method types it is used with would end up in the DID spec registries. I'd expect anyone interested/already working on verification methods used with key agreement would be interested in this.

[2021-02-05 14:50] marek5050 commented on #5
Hello all,  curious where is "https://www.w3.org/2018/credentials/v1" now? It resolves to a Github 404 page, so our builds and tests are failing. Should we use another URL? Might be good to update all the documentation and give a warning prior to removing a page like that.

[2021-02-05 16:08] iherman commented on #5
This was a temporary glitch with github. It should be all right now.

[2021-02-08 14:00] shigeya commented on #559
No objection, merged, thus closing this issue.

[2021-02-08 14:00] #559 closed

[2021-02-08 14:47] iherman commented on #404
With the merge of https://github.com/w3c/did-spec-registries/pull/183 I believe this issue can be closed. @msporny ?

[2021-02-08 16:00] praveensankar commented on #453
If DID document or it's related data is going to be recorded in the Verifiable Data Registry then should it be encrypted ?

[2021-02-08 16:19] msporny commented on #404
Agreed, closing.

[2021-02-08 16:20] #404 closed

[2021-02-08 16:46] msporny commented on #453
This question sounds like you're asking if you should put private information on a blockchain. You should /never/ do that. Ever.

Encryption has a shelf life. It is only a matter of time before it is broken. Do not put it into the public where just anyone can access it, even if it is encrypted. If data is sensitive, as a general rule, never put it on an external system that you don't control... es

[2021-02-08 17:58] dhh1128 commented on #599
I'm content to close this issue. I had the helpful discussion I was hoping for. Thanks.

[2021-02-08 17:58] #599 closed

[2021-02-09 15:46] msporny commented on #468
PR #581 has been merged, closing.

[2021-02-09 15:46] #468 closed

[2021-02-09 15:46] msporny commented on #580
PR #582 has been merged, closing.

[2021-02-09 15:46] #580 closed

[2021-02-09 15:47] msporny commented on #584
PR #589 has been merged, which marks alsoKnownAs as at risk... closing.

[2021-02-09 15:47] #584 closed

[2021-02-09 15:47] msporny commented on #598
PR #603 has been opened to address this issue. This issue will be closed once that PR is merged.

[2021-02-09 15:50] msporny commented on #373
PR #460 was merged a while ago, closing.

[2021-02-09 15:51] #373 closed

[2021-02-09 15:53] msporny commented on #585
PR #593 addresses this issue. This issue will be closed once that PR is merged.

[2021-02-10 03:35] jandrieu commented on #539
Two specific PRs have been merged for this issue (including #616 created just now). Please mark the issue as deferred.

FWIW, there is still some confusion by implementers about how to best handle herd privacy. It may be appropriate to add some language to an implementation guide. For now, I understand we won't have an opportunity to get additional PRs in for the immanent Candidate Recommendation,

[2021-02-10 04:34] shigeya commented on #453
I believe I'm done with this issue.

PR #612 is to replace the figure in sec. 1.3 with a brief version of the diagram
PR #600 places the detailed version into the appendix.

[2021-02-10 13:26] peacekeeper commented on #585
PR https://github.com/w3c/did-core/pull/606 also addresses aspects of this issue.

[2021-02-11 00:24] msporny commented on #549
PR #601 has been merged, closing.

[2021-02-11 00:24] #549 closed

[2021-02-11 00:28] msporny commented on #551
The DID WG made the following resolution last week:

Resolution #1: The DagCBOR representation will be moved into its own specification and registered in the DID Spec Registries.

https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-02-02-did#resolution1

PR #593 implemented the Working Group resolution. The DagCBOR specification has been decoupled from the DID Core specification and is free to pr

[2021-02-11 00:30] msporny commented on #577
@brentzundel confirmed that we can close this issue since the issue has been added to the DID Specification Registries.

[2021-02-11 00:31] #577 closed

[2021-02-11 00:32] msporny commented on #585
PR #593 has been merged, PR #606 addresses the remaining parts of this issue. This issue will be closed once PR #606 is merged.

[2021-02-11 00:33] #551 closed

[2021-02-11 01:31] shigeya opened #618 "Minor editorial fixes for Architecture Diagrams"
I found some text that needs editorial fixes:

- [x] `DID dereferencer` -> `DID URL dereferencer`
- [x] `DID Document` -> `DID document`

Since we will apply editorial fixes to the text, which may require editorial fixies to diagrams, I will fix the diagrams after editorial fixes are settled.

[2021-02-11 21:49] peacekeeper commented on #618
@shigeya regarding your first item, I created PR https://github.com/w3c/did-core/pull/624, does this fix that first item?

Regarding your second item, I think fixing capitalization of terms will probably happen as one of the last steps in the spec finalization process. Lower-case "DID document" is correct. I think you could fix your diagram without necessarily waiting for the spec text to be fixed

[2021-02-11 21:56] peacekeeper opened #625 "Diagrams need SVG and detailed description"
As noted in some PRs (e.g. https://github.com/w3c/did-core/pull/595, https://github.com/w3c/did-core/pull/596, https://github.com/w3c/did-core/pull/597), diagrams should be in SVG format (preferably without converting characters into geometry), and have a detailed description (using "longdesc" or other appropriate feature). This issue is to make sure we go over all diagrams and check this.

Also s

[2021-02-12 00:12] shigeya commented on #618
@peacekeeper on the first item,  I've not realized the difference in the spec text. I meant *in the diagram* ,  So please merge PR#624.

For the second item, it's only about diagrams too. I will create a PR for it, after thinking about how I will work on extra figures.

In general, we will see some changes in the main spec text. From my point of view, don't know the editors' decisions yet, thus, I

[2021-02-12 14:28] #598 closed

[2021-02-13 06:23] shigeya commented on #618
Fixed with PR #634.

[2021-02-13 22:09] msporny commented on #453
PR #600 and PR #612 have been merged, closing.

[2021-02-13 22:09] #453 closed

[2021-02-13 22:09] msporny commented on #585
PR #606 has been merged, closing.

[2021-02-13 22:10] #585 closed

[2021-02-13 22:10] msporny commented on #324
PR #616 has been raised to address this issue. This issue will be closed once PR #616 has been merged.

[2021-02-14 13:46] #590 closed

[2021-02-14 14:09] agropper commented on #370
This might be EFF's answer to our question: https://www.eff.org/wp/interoperability-and-privacy

I urge everyone working on SSI to read it.

[2021-02-14 16:07] wyc commented on #370
Here's the TLDR version of EFF's proposals to smash monopolies but keep user privacy, but the whole thing is certainly worth reading:
- Competitive compatibility (ComCom) is the degree to which upstarts can interoperate with incumbents' systems without their permission, and EFF favors increasing this.
- Data portability gives users the abilities to port their data, and the EFF favors increasing th

[2021-02-14 16:11] msporny commented on #370
I'll also note that DIDs (ownership over identifiers), VCs (customer consent), zcaps (delegation), and EDVs (always on encryption, data portability) go a long way towards addressing EFF's architectural needs. I think we're aligned, it's just that no one knows that yet.

[2021-02-14 17:56] agropper commented on #370
We are aligned but we also need to realize that EDVs are not enough. We need GNAP as an authorization protocol to provide the API neutrality across service providers that is at the core of their design. The IETF folks are willing to work with us to ensure GNAP doesn't preclude transport other than HTTP.

The biggest issue I see right now is the connection between the cloud agent (delegation in the

[2021-02-15 09:49] shigeya opened #646 "Needed a help on improving diagrams (reducing complexity, relocation, and addition)"
Since PR #612 which Ivan posted the part of [minutes of a meeting on 2021-02-11](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-02-11-did-topic#section3) is already closed, let me open an issue.

@msporny After reviewing possibilities of reducing the complexity, I found that I need to have a tip:

The idea of Figure 1 is to capture the relationships of all of the elements that appear in sect

[2021-02-15 11:09] iherman opened #647 "Is this a bug in the spec?"
The spec says, in [§3.2](https://w3c.github.io/did-core/#did-url-syntax)

Without wanting to open a can of worms on identification, is it correct to say that DID URL-s can be used to identify a DID subject? I though that DID subjects are identified by _DIDs_ not _DID URLs_.

(If this is indeed a bug, I am happy to submit a PR to remove this, but I wanted to be sure.)

[2021-02-15 11:12] peacekeeper commented on #647
I don't think it's a bug, since a DID URL can consist of only a DID itself (without path, query, fragment), in which case I think it's correct to say that the DID URL can identify a DID subject.

[2021-02-15 11:15] iherman commented on #647
Sigh... in another universe I would have preferred to use a different syntax and not mix these two concepts as it is in the current document. I do believe that the current syntax and formulation is confusing...

But I will not lie down the road on this. Happy to close this if the current text reflects WG consensus.

[2021-02-15 16:35] jandrieu commented on #647
I think Ivan is right on this one.

The DID identifies the DID subject.

A DID URL provides a means to interact with a resource associated with that subject.

The language cited should be changed.

Perhaps to something like

[2021-02-16 05:32] iherman commented on #647
Created #655 with the proposed change of @jandrieu. Better continue the discussion there.

[2021-02-16 15:19] TallTed opened #656 "Declare that order is unimportant in all "ordered sets""
I do not think the single note `<p class="note" title="Ordering of values">` about this is sufficient.

I think adding such an inline declaration every time is important, because the [INFRA doc](https://infra.spec.whatwg.org/#ordered-set) to which every instance of "ordered set" links includes notes of --

-- and --

-- which both loudly hint that order is important for interop.

Could be as simpl

[2021-02-16 15:33] iherman commented on #656
I would certainly prefer this than adding that extra note everywhere in the document (which would make reading fairly difficult).

I am not convinced it is necessary, though.

[2021-02-16 18:59] msporny commented on #656
Hmm, depends on the sort of interop you're talking about... and that text is really speaking to "code running on different browsers when iterating over an Object over the years have tried to make sure they preserve insertion order"... which is very different than "ordering of the information model" (e.g., RDF Dataset Canonicalization).

I don't think we need to loudly declare this in the specifica

[2021-02-16 22:59] peacekeeper commented on #647
I also agree with @jandrieu 's change.

[2021-02-17 00:30] OR13 opened #662 "Solution for production of representation specific properties"
instead of thinking about production as a function of the ADM, let us think of it as a function of the ADM and the representation....

So for example:

[code]

the production rules can then apply normative requirements to both the adm and the representation, and their combination....

consumption remains the same, no need for "special buckets" or dangerous complexity.... if you consume JSON-LD and

[2021-02-17 15:14] iherman commented on #647
Related #655 has been merged. This issue can be closed, @brentzundel @msporny

[2021-02-17 15:21] #647 closed

[2021-02-17 15:22] msporny opened #664 "DID Document, Representation, and Representation-Entries data model?"
At present, the DID Core specification only has one data model -- the one that's used to express DID Documents and their sub data structures (verification methods, services, identifiers, etc.)

This has always given a subset of the group heartburn -- @peacekeeper has wanted to separate representation-specific entries from the DID Document entries. There is a valid argument to do so, in order to no

[2021-02-17 15:25] msporny commented on #662
Doh, didn't see this before creating https://github.com/w3c/did-core/issues/664 -- the issues are related, don't know if you agree that overlap is 100%... you make the call -- do you want to merge, or keep these separate?

[2021-02-17 15:34] OR13 commented on #662
Also related: https://github.com/w3c/did-core/pull/654#issuecomment-780635390

[2021-02-17 15:34] OR13 commented on #664
See also : https://github.com/w3c/did-core/pull/654#issuecomment-780635390

[2021-02-17 15:43] OR13 commented on #664
1. is probably DOA... I think we will not be able to agree to 1 (some of us think JSON-LD and JSON Schema are JSON, others don't).... I think we have beaten this topic to death, multiple special topic calls, many resolutions, including preserving unregistered properties, etc... I really don't want to re-litigate this issue... especially at the last minute.

2. I can get behind 2 but only as long a

[2021-02-17 15:44] #662 closed

[2021-02-17 16:24] OR13 commented on #656
https://github.com/w3c/did-core/pull/665

[2021-02-17 20:19] TallTed commented on #656
I want to make a small to the text within that box ... but it's further away from the single-word change you made than github will allow me to make a suggestion on.

I'd change --
[code]
-- to --
[code]
To be clear, I've added `(All list-like value structures in [[INFRA]] are ordered, whether or not that order is significant.)`

And I still think that all the [links to `"INFRA#ordered-set"` within

[2021-02-17 22:00] TallTed commented on #664
@OR13 - The very long inline comments on Option 3 are hard to digest in this form. Would you please break those comments into multiple shorter lines?

[2021-02-18 12:35] oed opened #667 "At risk: nextUpdate, nextVersionId"
I just noticed that `nextUpdate`and  `nextVersionId` was marked as "at risk" in https://github.com/w3c/did-core/pull/601

@msporny Can you please clarify why this was done? Imo this renders the DID spec completely unusable in hash linked data structures where you need to be able to verify when a particular key was revoked. The full issue is described here: https://github.com/w3c/did-core/issues/48

[2021-02-18 13:54] msporny commented on #667
This is an EDITORIAL warning. It's basically saying -- "These features were added late in the game (which they were), the WG is unsure if we'll have enough implementations of the feature (which is true), and if we don't, we'll take it out of the specification (which is standard practice). That doesn't mean the features will never exist... the fallback position is that you'll have to define it and

[2021-02-18 14:23] iherman opened #669 "(Editorial) acknowledgement at the right place"
(I deliberately have not made a PR of this yet, checking whether there is any agreement on this): it is customary for specifications to have a separate 'Acknowledgement' section towards the end of the document, usually as an appendix. It is also customary to list either the full list of WG members or the active members of the WG. This section does not exist yet.

If such section exists, I would pr

[2021-02-18 14:39] msporny commented on #669
Yes, agreed, and we will create this section right before we go into PR. I also agree that we should move acknowledgements in SoTD to that section.

I would like to wait because I typically have scripts that I run to create the acknowlegements sections. The scripts download and scan every issue, every PR, every mailing list conversation across did-wg and ccg, contributors to papers at RWoT, etc. I

[2021-02-18 15:03] iherman commented on #669
That is fine with me.

[2021-02-18 15:18] iherman opened #672 "(editorial) Erroneous causality in the terminology item on DID?"
The [terminology section](https://w3c.github.io/did-core/#terminology) section says:

I do not think there is, strictly speaking a causality between "does not require a centralized registration authority" and "generated and/or registered cryptographically". My ORCID ID (https://orcid.org/0000-0003-0782-2704) is probably generated by some crypto method (looking at the ID URL above), but the ORCID I

[2021-02-18 15:35] oed commented on #667
That makes sense. Thanks for clarifying @msporny!

I'll happily volunteer to write tests for this feature. Where do these usually reside and what format do they take?

I will also commit to provide one of the independent implementations 👍

[2021-02-18 15:52] msporny commented on #667
That is exactly the right way to respond to a feature at risk! :)

The tests will be in the DID Test Suite: https://github.com/w3c/did-test-suite/

Instructions on contributing are here: https://github.com/w3c/did-test-suite/#getting-started

@OR13 is in charge of the DID Test Suite and might be able to help you out wrt. getting started. We are currently doing the final pass on the machine-testabl

[2021-02-18 16:01] oed commented on #667
Fair enough. Before that I just would like to know if there is some sort of deadline that shouldn't be missed if this feature is not to be removed?

[2021-02-18 16:15] msporny commented on #667
The deadline is "the end of the W3C Candidate Recommendation Phase". The first round of CR is expected to end at the end of April -- there should be tests and two independent implementations at that point... so you have ~2.5 months to get it done.

[2021-02-18 16:15] msporny commented on #667
Initial question asked by @oed has been answered with a clear path forward. Closing.

[2021-02-18 16:15] #667 closed

[2021-02-18 16:21] msporny commented on #672
It doesn't need to be generated cryptographically if the registry is centralized. How about:

[2021-02-18 16:27] iherman commented on #672
That works for me. Should I do a PR or do we want others to chime in?

[2021-02-18 16:34] iherman opened #674 "How exactly is ';' reserved?"
In [§3.2](http://localhost:8001/LocalData/github/DID/did-core/#did-url-syntax) there is a note that says:

But this is a note, i.e., it is non-normative. On the other hand, if one follows the specification chain in RFC 3986:

path-abempty -> segment -> pchar -> sub-delims, the last element on the chain does allow ';'.  In other words, the normative text in our text _does_ allow for the usage ';',

[2021-02-18 16:59] iherman commented on #672
I went ahead and made a PR (#676) for this. Let us move the discussion (if any) there.

[2021-02-18 19:15] TallTed commented on #672
I just know that someone's going to question what "often" means, and how we know it...

[2021-02-18 23:33] peacekeeper commented on #664
From my perspective, Option 3.1 and Option 3.3 would both work. In my mind it has always been like that anyway. There is an abstract data model that contains services, verification methods, etc. And then there are representation-specific things such as CBOR tags or `@context` that should not be mixed with the abstract (representation-independent) things.

Both Options would also allow @OR13 and @m

[2021-02-18 23:52] peacekeeper commented on #674
So per the current DID URL syntax, the following example would be valid:

`did:example:123;service=agent/mypath?myquery#frag`

In our [DID URL ABNF](https://w3c.github.io/did-core/#did-url-syntax), the part `;service=agent/mypath` would correspond to the `path-abempty` rule.

Right now, in DID Core, we're not saying at all on how the part that's parsed as `path-abempty` is used when dereferencing

[2021-02-19 01:38] msporny commented on #674
Agree. @iherman -- we're just being nice and letting developers know that if they use `;` anywhere, that they should't be surprised in the future when we define it in a way that breaks their implementations. :)

[2021-02-19 04:21] msporny commented on #664
PR #679 has been opened to address this issue. This issue will be closed once PR #679 is merged.

[2021-02-19 04:45] shigeya opened #680 "The definition of dereference output in Sec. 1.3 is not in sync with the definition of contentStream in Sec. 8.2"
Related to PR #634, I found the following discrepancy:

In [Sec.1.3](https://w3c.github.io/did-core/#architecture-overview):
*DID URL dereferencers and DID URL dereferencing*

In [Sec 8.2 URL Dereferencing](https://w3c.github.io/did-core/#did-url-dereferencing):
*contentStream*

Do we need to adjust the text in Sec 1.3?

If we don't need adjustment, the diagram in Sec 1.3 can be simpler :)

[2021-02-19 07:58] iherman commented on #674
Wouldn't it be better to make the note a little bit more explicit to avoid such misunderstandings? Something like:

What really bothers me is the formulation "This specification reserves". This specification, in the current formulation, does not do anything with the ';' character...

WDYT?

[2021-02-19 08:54] peacekeeper commented on #674
I like your improved language for this note, feel free to do a PR.

[2021-02-19 10:16] iherman commented on #674
Done in #682 (with a slightly different wording at the end to avoid the duplicate usage of 'avoid').

[2021-02-19 15:13] TallTed commented on #656
@msporny [noted in #665](https://github.com/w3c/did-core/pull/665#issuecomment-781751261) --

This (#656) remains that issue.

[2021-02-19 15:20] iherman opened #684 "This may be a minor bug: media type file extensions"
At present all file extensions for the media types in the [IANA considerations section](https://w3c.github.io/did-core/#iana-considerations) are identical: `.did`. I would think this is a copy/paste bug...

[2021-02-19 15:53] reschke opened #685 "references to RFC 7159"
https://www.w3.org/TR/did-core/#data-model has still references to the obsoleted JSON spec.

[2021-02-19 16:09] OR13 commented on #685
@reschke can you point us to the "non obsoleted JSON" spec.

[2021-02-19 16:27] reschke commented on #685
That's RFC 8259, also cited in this document.

[2021-02-20 19:00] OR13 opened #687 "Deactivated is not an errror"
The spec incorrectly lists "deactivated" as an error for resolution... however, deactivated
 is a valid state for a DID Document, and resolving a deactivated DID MUST NOT produce an error.

<img width="928" alt="Screen Shot 2021-02-20 at 12 59 00 PM" src="https://user-images.githubusercontent.com/8295856/108605710-943b0680-737b-11eb-94eb-9a7162bfecb0.png">

[2021-02-20 19:05] OR13 commented on #687
@jricher @peacekeeper would either of you resolution experts care to fix this? :)

completing a valid DID Operation should not produce permanent errors during resolution.

[2021-02-20 19:11] OR13 opened #688 "typo: This property is OPTIONAL for the resolveResolution"
<img width="841" alt="Screen Shot 2021-02-20 at 1 10 36 PM" src="https://user-images.githubusercontent.com/8295856/108606012-1a0b8180-737d-11eb-8ab3-782bb8aa71f3.png">

Should be resolveRepresentation

[2021-02-20 19:12] OR13 commented on #688
also terrible normative requirement "and MUST NOT be used with the resolve function."

[2021-02-20 19:16] OR13 commented on #688
@jricher @peacekeeper

[2021-02-20 21:57] OR13 opened #689 "What is the non empty value didResolutionMetadata when `resolve` is called"
<img width="841" alt="Screen Shot 2021-02-20 at 3 55 51 PM" src="https://user-images.githubusercontent.com/8295856/108609532-1f27fb00-7394-11eb-9ef9-f2bcdf6d2827.png">

This seems like a mistake... its not like you know the contentType of an Abstract Data Model did document....

[2021-02-20 21:57] OR13 commented on #689
@peacekeeper @jricher @msporny

[2021-02-21 20:42] msporny commented on #689
Nice catch, I agree; that's a bug. I believe this is a hold over from the original write up from @peacekeeper and @jricher -- defer to them to note what's going on in that text.

[2021-02-21 20:59] msporny commented on #685
Fixed in fb8f6f5232b7749e5cac9d971381fcd79c4d82a6.

Thank you @reschke!

Also, "Hi!" -- it's been a while... out of curiosity, why are you looking at this spec? :)

[2021-02-21 21:03] reschke commented on #685
some mail to an IETF mailing list (media type? URI?) dragged me here :-)

[2021-02-21 21:20] msporny commented on #685
Ah, right... been watching that thread with great interest. We do need "application/did+ld+json" -- all other alternatives we've looked at have fairly terrible downsides. I've been waiting for enough people to get their concerns registered on the mailing list, and for the Decentralized Identifiers specification to go into Candidate Recommendation (expected early March 2021), to do a final push for

[2021-02-21 21:25] msporny commented on #324
PR #616 has been merged, closing.

[2021-02-21 21:25] #324 closed

[2021-02-21 21:25] msporny commented on #672
PR #676 has been merged, closing.

[2021-02-21 21:25] #672 closed

[2021-02-21 21:25] msporny commented on #674
PR #682 has been merged, closing.

[2021-02-21 21:25] #674 closed

[2021-02-21 21:33] msporny commented on #688
Fixed in 9b7cc174624f866fd217bd251e0122461c8f76df. Closing.

[2021-02-21 21:33] #688 closed

[2021-02-22 10:40] peacekeeper commented on #687
Hmm we fixed this already in https://github.com/w3c/did-core/pull/581, but then it looks like it got unfixed in https://github.com/w3c/did-core/pull/601 :)

[2021-02-23 12:06] gimly-jack opened #693 "Support for threshold multi-sig verificationMethod"
**Problem**
DID core Currently does not support a threshold based multi-party signature authorisation scheme.

This is where a verification method is excepted if a quorum of signatures from a predefined set are found.
Example 1: if signatures for 2 out of 3 specified public keys are required to create a valid the tx/event.
Example 2: If a threshold of 3 is met from the signatures of three specifie

[2021-02-23 12:31] gimly-jack opened #694 "Support for delegated verificationMethods"
**Problem**
DID core Currently does not support delegated authorizations.

This is where a verification Method delegates to a different DID's verification Method.
Example:
The "did:eosio:telos:example#owner" verification is accepted as valid if the event/tx passes validation according to "did:eosio:telos:example2#active"

**Use case example - EOSIO account**
One use case for this is support for th

[2021-02-23 12:42] gimly-jack opened #695 "Support for combination of threshold multi-sig and delegated verificationMethod"
**Backgroud**
See issue #693 goes through the multi-sig support of DID core with an EOSIO use case.
See issue #694 goes through the delegated authority of DID core with an EOSIO use case.

**Problem**
DID core Currently does not support combinations of
- threshold based multi-party signature authorisation scheme
- delegated authorizations

**Use case example - EOSIO account**
One use case for this

[2021-02-23 14:10] msporny commented on #693
The place to define this is NOT the DID Core specification because:

* We are feature frozen as of July 2020
* This Working Group is not chartered to create new cryptosuites
* There is already an extension mechanism defined for this and you should use that

What you'd need to do is create a new Verification Method cryptosuite -- e.g., https://w3c-ccg.github.io/lds-ed25519-2020/

You can do this by

[2021-02-23 14:30] msporny commented on #694
@gimly-jack wrote:

DID Core currently supports two mechanisms for delegating authorizations:

1. Specifying a `controller` for the DID Document; all verification methods for the controller are then applied to the current DID Document (although, a DID Method can choose to not allow this or restrict this in certain ways).
2. The controller of the DID Document places the delegate's verification meth

[2021-02-23 14:35] msporny commented on #695
As outlined in https://github.com/w3c/did-core/issues/693#issuecomment-784229293 and https://github.com/w3c/did-core/issues/694#issuecomment-784242660, the Working Group has been feature frozen since July 2020 and won't be adding new features to the specification at this point in time. The good news for you, though, is that the spec already supports extension points for new Verification Methods su

[2021-02-23 14:38] msporny commented on #680
We don't need to adjust. The language in Section 1.3 is meant to just provide a simple overview, not be an exhaustive normative description (which is what Sec 8.2 is for).

[2021-02-23 14:42] shigeya commented on #680
As far as the whole text in the section and the diagram are in sync, I'm okay.
(assuming you're going to adjust the diagram in Sec. 1.3.)

[2021-02-23 16:28] peacekeeper commented on #687
Fixed by https://github.com/w3c/did-core/pull/691. Closing.

[2021-02-23 16:28] #687 closed

[2021-02-23 16:32] peacekeeper commented on #693
I agree with @msporny that this doesn't belong into DID Core, and that instead we can discuss this in other places such as DIF or CCG, and if needed, define and register extensions that can do this.

[2021-02-23 16:43] peacekeeper commented on #689
I agree this feels like a bug. Looks like this was introduced in https://github.com/w3c/did-core/commit/6cb86a38.

I suspect this was meant to say _"... in the case of an error in the resolution process, this MUST NOT be empty."_

(This would be parallel to the language about **dereferencingMetadata** in https://w3c.github.io/did-core/#did-url-dereferencing).

@jricher do you agree?

[2021-02-23 17:00] peacekeeper opened #697 "Potential problems with requiring "controller" for "verificationMethod""
Right now, verification methods MUST include a `controller` property. However, I believe this could be problematic for two reasons:

1. As we know, the DID subject is not necessarily the same as the DID controller (see [C.8.2](https://w3c.github.io/did-core/#set-2-the-did-subject-is-not-the-did-controller)). My understanding has furthermore always been that the controller doesn't necessarily need

[2021-02-23 17:01] peacekeeper commented on #697
Also pinging @talltree

[2021-02-23 17:19] msporny commented on #697
A single DID can have multiple controllers. A DID Document can have verification methods that support threshold signatures, see issue #693. This is supported in the spec today.

[2021-02-23 17:53] TallTed commented on #697
It appears to me that your question hinges on "the controller doesn't necessarily need to have their own DID".

That's correct; they don't need to have a _DID_.

But as @msporny said, it's necessary to identify the controller, so the controller *does* need to be identifiable by *some* URI, and that URI — DID, CID, or otherwise — should be (one of) the value(s) of the `controller` property.

Is a n

[2021-02-23 18:44] dmitrizagidulin opened #698 "Path semantics (general vs method-specific)"
One thing that's unclear about the current DID Core spec is the semantics of the Path portion of DID URIs. So, the syntax is clear (same ABNF as RFC3254 URI paths). But what DID paths mean or what they're used for is not mentioned.

I'd like to add PR with a sentence to the [path section](https://w3c.github.io/did-core/#path) of DID URI Syntax, that states "path semantics are specified by DID Meth

[2021-02-23 19:15] dmitrizagidulin opened #699 "Adding % (percent) character to the 'idchar' ABNF rule of DID URIs"
Although the current `idchar` DID URI ABNF rule is inspired by [RFC3986 URI Syntax](https://tools.ietf.org/html/rfc3986), it is more tightly constrained, and prevents the implementation of a couple of crucial encoding use cases.

This came up in the development and implementation of the `did:web` DID Method spec with @awoie and others, although I expect this issue to affect other DID methods as we

[2021-02-23 19:21] OR13 commented on #699
Specifically: https://tools.ietf.org/html/rfc3986#section-2.1

https://tools.ietf.org/html/rfc3986#section-2.3

[2021-02-23 20:20] gimly-jack commented on #694
Thanks @msporny. As mentioned, I have an upcoming call next week to dive into this incl. with @peacekeeper. I think it would be good to keep these open till after then, and I will look into the resources you have linked.

[2021-02-24 04:13] shigeya commented on #680
Closing this issue since I agreed.

[2021-02-24 04:13] #680 closed

[2021-02-24 08:12] peacekeeper commented on #698
I think I disagree slightly that path semantics are exclusively determined by DID methods. I think they may also be determined by DID controllers. Some DID methods may specify exactly what the path means and how it is used; others may allow the DID controller to do whatever they want with the path.

How about adding a sentence that says "path semantics are specified by DID methods and DID controll

[2021-02-24 08:34] peacekeeper commented on #697
I guess I don't really understand what this means, since the verification method is included in the DID document, which is controlled by the DID controller. It's not intuitive to me that a DID controller must have their own DID.

With this requirement, it's also not clear to me how one would implement [Group Control](https://w3c.github.io/did-core/#option-2-group-control).

Right now, every `verif

[2021-02-24 08:39] peacekeeper commented on #693
Quick note that Proposal 2 is invalid with today's spec language, since the value of `controller` under `verificationMethod` must be a DID (not a relative URI like `#owner` as shown in the proposal).

[2021-02-24 13:35] peacekeeper commented on #699
I think this makes sense, but should we perhaps do:

[code]

... in order to only allow `%` encoding in a URI-compatible way, not for arbitrary use?

[2021-02-24 13:36] peacekeeper commented on #699
@talltree also needs to review this.

[2021-02-24 14:36] TallTed commented on #697
Ah, I see. I think *that* may have been an error.

I believe the first is already true (unless the error is larger than it first seems), and the second should be (again, with appropriate security and privacy flags).

[2021-02-24 15:09] TallTed commented on #698
I think that in the latter case, those DID methods have specified that they are delegating (*cough*) control of the path semantics to the DID controllers.  Without such specific delegation, the DID controllers do not have control of the path semantics.

It's a little hand-wavy, but I think that "path semantics are specified by DID methods and DID controllers" will lead readers to think that DID co

[2021-02-24 21:37] peacekeeper commented on #697
Simple use case from [C.8.2](https://w3c.github.io/did-core/#set-2-the-did-subject-is-not-the-did-controller): A parent creates a DID for their child. The parent holds the private key that was used to create the child's DID. Parent = DID controller. Child = DID subject.

In such a case, in my opinion, there should be no need for the parent to have their own DID, or any other URI, and there is no n

[2021-02-24 22:55] burnburn commented on #291
PING response of "no blocking issues":  https://lists.w3.org/Archives/Public/public-privacy/2021JanMar/0021.html

[2021-02-25 02:25] agropper commented on #291
I'm reminded of the compiler message: "None of the errors detected."

Adrian

On Wed, Feb 24, 2021 at 5:56 PM Daniel Burnett <notifications@github.com>
wrote:

[2021-02-25 10:05] awoie commented on #699
IMO, `%` is a very useful addition, so +1.

[2021-02-25 15:54] TallTed commented on #697
The parents subsequently divorce with hostility, remarry, step-parent starts adoption procedures, and there's a complicated custody order.

Now there's a need for the child's DID to have a `controller` (probably identifying multiple parents, but possibly just identifying the judge in the case), and for all parents (birth, custodial, adoptive, etc.) to be identifiable by DID (or other URI).

Withou

[2021-02-25 16:54] peacekeeper commented on #689
I believe this has been fixed by https://github.com/w3c/did-core/pull/696 and can be closed. @OR13 do you agree?

[2021-02-25 22:09] peacekeeper commented on #664
Can this be closed now that https://github.com/w3c/did-core/pull/679 has been merged?

[2021-02-25 22:18] OR13 commented on #698
+1

[2021-02-25 22:20] msporny commented on #698
Suggestion by the Editors (could wordsmith further): Path semantics, as with URIs, can be specified by DID Methods, which in turn might enable DID controllers to further specialize those semantics.

[2021-02-25 23:41] kdenhartog commented on #693
Additionally cross registering the verificationMethod published elsewhere to the [did-specification-registries](https://github.com/w3c/did-spec-registries/) would be a good step to let other did methods know of it's usage.

[2021-02-26 05:52] talltree commented on #697
@peacekeeper Based on my understanding of the discussion on the Editor's call today, if the value of this `controller` property within a `verificationMethod` is set to the same DID as the DID document in which the `verificationMethod` appears, then whomever is the controller of that DID document is the controller for that specific `verificationMethod`.

If that DID document itself contains a top-l

[2021-02-26 13:43] msporny commented on #693
@gimly-jack, the Chairs and Editors discussed this on our weekly call. @peacekeeper will provide feedback through the DIF group you're in on Monday. We will most likely close this issue on the Tuesday call (for the reasons cited above), but welcome you to join the weekly call next Tuesday at 11am ET so we can provide the rationale above to you in person. We have an absolutely packed Agenda, and yo

[2021-02-26 13:43] msporny commented on #694
@gimly-jack, the Chairs and Editors discussed this on our weekly call. @peacekeeper will provide feedback through the DIF group you're in on Monday. We will most likely close this issue on the Tuesday call (for the reasons cited above), but welcome you to join the weekly call next Tuesday at 11am ET so we can provide the rationale above to you in person. We have an absolutely packed Agenda, and yo

[2021-02-26 13:46] msporny commented on #695
@gimly-jack, the Chairs and Editors discussed this on our weekly call. @peacekeeper will provide feedback through the DIF group you're in on Monday. We will most likely close this issue on the Tuesday call (for the reasons cited above), but welcome you to join the weekly call next Tuesday at 11am ET so we can provide the rationale above to you in person. We have an absolutely packed Agenda, and yo

[2021-02-26 13:47] msporny commented on #664
Yes. :)

PR #679 has been merged. Closing.

[2021-02-26 13:47] #664 closed

[2021-02-26 14:27] msporny commented on #656
This was added to the spec a bit ago... forget which PR, but it's in there now along with more changes, to drive your point home @TallTed, in 218f6ffd8fe3e09fd5ba698552c629165a4e31d8. I also changed "ordered set" -> "set" to not convey that order is important for sets and cross-checked the entire specification to make sure we don't depend on set ordering anywhere (we don't).

I'm hesitant to belab

[2021-02-26 14:49] msporny commented on #684
PR #701 has been raised to fix this bug. This issue will be closed once that PR is merged.

[2021-02-26 14:55] msporny commented on #685
This issue has been addressed in the spec, closing.

[2021-02-26 14:55] #685 closed

[2021-02-26 15:38] msporny commented on #697
Often, but not always. I wouldn't focus on the edge cases, where someone would choose to put someone else's verification method in their DID Document. It's possible, but it'll just confuse readers to have that explained to them w/o a concrete use case... and the concrete use cases we have for that are a bit shaky -- like multi-sig "break in case of emergency" use cases (that might be better solved

[2021-02-26 15:39] brentzundel commented on #291
Link to invitation for Security review of Decentralized Identifier Specification v1.0: https://lists.w3.org/Archives/Public/public-web-security/2020Dec/0003.html

No response was received and no issues were raised.

[2021-02-26 15:41] msporny commented on #697
Based on the discussion we had yesterday, where the conclusion was "No, controller is required and removing it opens up new security attacks that we're deeply concerned about.", I'd like to close this issue. Making controller not required would lead to a number of formal objections because it would destroy the security characteristics of verification methods -- and that would put us into a positio

[2021-02-26 15:42] TallTed commented on #656
I'll hope the sum of changes to date is sufficient. We'll find out!

I'm OK with closing this one.

[2021-02-26 15:47] msporny commented on #698
PR #702 has been opened to address this issue. This issue will be closed once PR #702 is merged.

[2021-02-26 16:26] msporny commented on #699
PR #703 has been raised to address this issue. This issue will be closed once PR #703 is merged.

[2021-02-26 16:50] iherman commented on #669
There is now a PR for this (#704). This issue can be closed if and when #704 is merged.

[2021-02-26 18:16] jandrieu commented on #697
I support closing this without changes. But I think it is important to note that the "controller" property does NOT make a DID the controller of that verification method. The *actual* controller is whoever can change the DID Document per the DID method. When we set the controller property of a verification method to the DID of that DID Document, we are NOT saying that the subject of the DID is the

[2021-02-26 20:43] agropper commented on #697
Apologies for not following this issue until now. I'm curious for the
Notarization use-case, where, for example, a controller can make arbitrary
changes but they need to be witnessed and audited by an independent entity.

Adrian

On Fri, Feb 26, 2021 at 1:17 PM Joe Andrieu <notifications@github.com>
wrote:

[2021-03-01 02:20] msporny commented on #669
PR #704 has been merged, closing.

[2021-03-01 02:20] #669 closed

[2021-03-01 02:20] msporny commented on #684
PR #701 has been merged, closing.

[2021-03-01 02:20] #684 closed

[2021-03-01 02:21] msporny commented on #689
PR #696 has been merged, waiting on confirmation from @OR13 to close.

[2021-03-01 02:21] msporny commented on #698
PR #702 has been merged, closing.

[2021-03-01 02:21] #698 closed

[2021-03-01 02:21] msporny commented on #699
PR #703 has been merged, closing.

[2021-03-01 02:21] #699 closed

[2021-03-01 02:22] msporny commented on #618
PR #634 has been merged, closing.

[2021-03-01 02:23] #618 closed

[2021-03-01 02:25] msporny commented on #646
There have been a number of PRs that have been merged related to diagrams in the specification - PRs #681, #692, #690, and #700. I believe this issue has been addressed, so am marking this as pending close.

@shigeya, can you please confirm -- can we close this issue?

[2021-03-01 02:39] msporny commented on #118
I have done an WCAG2 analysis on the document. The readability scores are borderline... requiring ~11 years of education (or 7th grade US level) to understand.

That said, we pass all checks. Closing.

[2021-03-01 02:39] #118 closed

[2021-03-01 02:40] #656 closed

[2021-03-01 04:03] shigeya commented on #646
@msporny I think we can close.

The initial reason for this issue is to ask you what kind of diagrams we want.
I think merging #700 (alongside with prior PR) resolves this issue.

For clarification:
- PR #690 addresses the ECHIDNA issue related to the previously merged diagram (Figure 1 replacement).
- While the improvements on PR #681 #692 look good, they are on models, and not directly related t

[2021-03-01 12:04] peacekeeper commented on #697
@jandrieu thanks. Furthermore, as I understand it now based on some conversations from last week, the subject identified by the "controller" property is not necessarily the holder of the private key(s) corresponding to the verification method.

I think I agree, this is probably what confused me too. It requires pretty deep understanding of JSON-LD.

@msporny based on the conversations above, I am

[2021-03-01 13:54] #646 closed

[2021-03-01 14:51] OR13 commented on #689
yes, this can be closed.

[2021-03-01 15:33] #689 closed

[2021-03-01 20:16] peacekeeper commented on #697
We discussed this on the DIF call today, and we agreed we can close this.

@gimly-jack I think you agreed to that as well.

[2021-03-01 20:17] gimly-jack commented on #697
Yes, please close the 3 issues.

[2021-03-01 20:18] peacekeeper commented on #693
@gimly-jack based on [today's DIF call](https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---01-mar-2021---1400-et), are you okay with closing this, and working on a new crypto suite / verification method that implements this functionality instead?

[2021-03-01 20:18] peacekeeper commented on #694
@gimly-jack based on [today's DIF call](https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---01-mar-2021---1400-et), are you okay with closing this, and working on a new crypto suite / verification method that implements this functionality instead?

[2021-03-01 20:18] peacekeeper commented on #695
@gimly-jack based on [today's DIF call](https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---01-mar-2021---1400-et), are you okay with closing this, and working on a new crypto suite / verification method that implements this functionality instead?

[2021-03-02 16:19] peacekeeper commented on #697
Closing per consensus after discussion on [yesterday's DIF I&D WG call](https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---01-mar-2021---1400-et-recording).

[2021-03-02 16:19] #697 closed

[2021-03-02 16:19] peacekeeper commented on #693
Closing per consensus after discussion on [yesterday's DIF I&D WG call](https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---01-mar-2021---1400-et-recording). Also see https://github.com/w3c/did-core/issues/697.

[2021-03-02 16:19] #693 closed

[2021-03-02 16:19] peacekeeper commented on #694
Closing per consensus after discussion on [yesterday's DIF I&D WG call](https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---01-mar-2021---1400-et-recording). Also see https://github.com/w3c/did-core/issues/697.

[2021-03-02 16:19] #694 closed

[2021-03-02 16:20] peacekeeper commented on #695
Closing per consensus after discussion on [yesterday's DIF I&D WG call](https://github.com/decentralized-identity/identifiers-discovery/blob/main/agenda.md#meeting---01-mar-2021---1400-et-recording). Also see https://github.com/w3c/did-core/issues/697.

[2021-03-02 16:20] #695 closed

[2021-03-02 16:44] iherman commented on #693
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-02-did#section4-1) on 2021-03-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Resolve Issues 693,694, 695, and 697

_See github issue [#693](https://github.com/w3c/did-core/issues/693), [#694](https://github.com/w3c/did-core/issues/694), [#695](https://g

[2021-03-02 16:44] iherman commented on #694
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-02-did#section4-1) on 2021-03-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Resolve Issues 693,694, 695, and 697

_See github issue [#693](https://github.com/w3c/did-core/issues/693), [#694](https://github.com/w3c/did-core/issues/694), [#695](https://g

[2021-03-02 16:44] iherman commented on #695
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-02-did#section4-1) on 2021-03-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Resolve Issues 693,694, 695, and 697

_See github issue [#693](https://github.com/w3c/did-core/issues/693), [#694](https://github.com/w3c/did-core/issues/694), [#695](https://g

[2021-03-02 16:44] iherman commented on #697
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-02-did#section4-1) on 2021-03-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. Resolve Issues 693,694, 695, and 697

_See github issue [#693](https://github.com/w3c/did-core/issues/693), [#694](https://github.com/w3c/did-core/issues/694), [#695](https://g

[2021-03-03 20:34] carsonfarmer opened #707 "CR Feedback: Support of `publicKeyMultibase`"
According to https://w3c.github.io/did-core/#verification-material, the "DID Working Group is seeking implementer feedback on the preference of the ecosystem with respect to using `publicKeyBase58` or `publicKeyMultibase`. I would like to *strongly signal preference for inclusion of `publicKeyMultibase` in the spec*.

As stated in the did-core document, `publicKeyMultibase` supports more base-repr

[2021-03-03 20:39] OR13 commented on #707
@msporny and I have also worked on publicKeyMultibase.... https://w3c-ccg.github.io/lds-ed25519-2020/

However, we fought for a very long time about this, and settled on `publicKeyJwk` and `publicKeyBase58`.... I would be happy replacing `publicKeyBase58` with `publicKeyMultibase`... but adding yet another verification method material type to the core seems like a bad idea...

IMO the best thing w

[2021-03-03 20:40] carsonfarmer commented on #707
100% in agreement on this!

[2021-03-03 23:06] msporny commented on #707
With my Editor hat off -- Digital Bazaar is also strongly in favor of replacing `publicKeyBase58` with `publicKeyMultibase` in the specification. We might argue to still include `publicKeyBase58` in the DID Core context (but not in DID Core) as a number of implementations already use that out in the wild. I also agree with @OR13 that it would be bad to add yet another verification method material

[2021-03-03 23:42] kdenhartog commented on #707
An alternative consideration: Leave this up to the LDP suites to define (since that's where this should be handled anyways - the LDP work made a good architectural split let's use it) and then leave things as they are defined by the LDP suites which should ultimately should be making this decision about which encoding term is used.

Then in DID Core we can place additional constraints to maintain

[2021-03-04 08:38] oed commented on #707
3Box Labs team also strongly favors `publicKeyMultibase`. We are comited to implementing support to https://github.com/decentralized-identity/did-resolver and any method specific resolvers for this library!

[2021-03-04 09:54] peacekeeper commented on #707
I don't really have a strong opinion either way, but want to mention that during a number of Special Topic Calls we settled on `publicKeyBase58`, because we said that we wanted to use whatever was the most common/popular format for certain key types in the communities that use them.

At one point in time, the idea was to support `publicKeyBase58` for ed25519, `publicKeyHex` for secp256k1, `publicK

[2021-03-04 09:58] peacekeeper commented on #583
I agree the sections could be improved. They talk too much about signed DID documents.

But there is also some useful content in there that shouldn't be removed. E.g. to state that 1. a signed DID document doesn't prove control of a DID, and 2. proving control of a DID requires DID resolution, those are two important points to mention.

[2021-03-04 10:32] iherman commented on #707
Note that, editorially, that example should be "annotated" like, for example, [Example 13](https://w3c.github.io/did-core/#example-various-verification-method-types) making it clear that `publicKeyMultibase` is an externally defined property...

cc @rhiaro

[2021-03-04 11:17] peacekeeper commented on #707
I think the [Simple Example](https://w3c.github.io/did-core/#a-simple-example) should use `publicKeyBase58`, since that's what the spec defines today, even if we decide later to change it.

[2021-03-04 14:03] msporny commented on #707
The change was intended primarily to telegraph that (at least my hope is) that we're going to upgrade to `Ed25519Signature2020` (which does use `publicKeyMultibase`) before we exit CR. There's a very strong argument that no future cryptosuite should use `publicKeyBase58` and all future cryptosuites should use `publicKeyMultibase`. If we had done this to start with, we never would've had the whole

[2021-03-04 17:31] brentzundel commented on #292
Horizontal review is complete, closing

[2021-03-04 17:31] #292 closed

[2021-03-04 17:32] brentzundel commented on #291
Horizontal review is complete, closing

[2021-03-04 17:32] #291 closed

[2021-03-04 17:32] brentzundel commented on #119
Horizontal review is complete, closing

[2021-03-04 17:32] #119 closed

[2021-03-04 17:33] brentzundel commented on #105
Horizontal review is complete, closing

[2021-03-04 17:33] #105 closed

[2021-03-04 17:33] brentzundel commented on #104
Horizontal review is complete, closing

[2021-03-04 17:33] #104 closed

[2021-03-05 16:34] llorllale opened #708 "verification method IDs MUST contain a fragment"
[Current text](https://w3c.github.io/did-core/#dfn-verificationmethod):

    The value of the id property for a verification method MUST be a string that conforms to the rules in Section § 3.2 DID URL Syntax.

[DID URL Syntax](https://w3c.github.io/did-core/#did-url-syntax):

Fragment is optional. Clearly the intent here is for verification  method IDs to have fragments - I think this is just a si

[2021-03-05 22:27] msporny commented on #708
Verification method IDs don't have to have fragments... they're optional, which is what the spec says. For example, this is valid:

[code]

I think the spec text is fine as is... what am I missing?

[2021-03-07 04:10] OR13 commented on #707
Seems like more private key entries will be necessary for equivalent representation support to JWK... the only multibase private key code is for ed25519... https://github.com/multiformats/multicodec/blob/master/table.csv#L128

[2021-03-08 10:32] peacekeeper commented on #707
@OR13 You're now talking about multicodec, but we are not proposing to adopt that, are we? This issue is only about adopting multibase, not multicodec?

[2021-03-08 14:38] OR13 commented on #707
sorry, I was not paying attention when I wrote that.

multibase is all we need to update publicKeyBase58 and privateKeyBase58 to

publicKeyMultibase and privateKeyMultibase... both would start with `z`.

The multicodec stuff is not relevant to this discussion, I have just been dealing with it recently and got confused by that entry...

Its worth noting that when you use a key representation like m

[2021-03-11 08:55] peacekeeper commented on #708
I agree verification method IDs don't necessarily need to have a fragment.

Does this make sense @llorllale ? Or do you see some problem that would require introducing such a restriction?

[2021-03-11 18:20] iherman commented on #260
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-11-did-topic#section2) on 2021-03-11

List of resolutions:

- ***[Resolution No. 1](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-11-did-topic#resolution1):  Allow [did:3](did:3) to be registered in the DID Spec Registries -- pull in PR 260.***

<details><summary><i>View the transcript</i></sum

[2021-03-11 23:20] llorllale commented on #708
I guess it is _I_ who is missing _something_.

I've been operating under the understanding that a verification method's identifier is anchored by the enclosing DID.

I'd like to check my understanding...

Keeping with this example:

[code]

I assume the full DID URL to dereference that verification method is just `did:example:123456789abcdefghi/keys/1`. Is that correct? Therefore, to verify a VC w

[2021-03-11 23:21] llorllale commented on #708
I also note no text anchoring the verification method ID to the enclosing DID.

So for example - this appears to be legal:

[code]

[2021-03-11 23:26] llorllale commented on #708
Combining the above two is tricky. If the answer to this question:

... is "Yes", then the example with the differing DIDs does not work.

If instead the answer is "No" - then please show what the full URL looks like - the one that needs to be handed out to Verifiers.

[2021-03-11 23:34] dlongley commented on #708
@llorllale to verify an LD signature proof for purpose P (e.g., `assertionMethod`) that references verification method, VM:

1. Dereference VM to get its public crypto material and its `controller`, C.
2. Verify the signature (verify the crypto).
3. Dereference C (e.g., to get a DID Document).
4. Verify VM is referenced under C's verification relationship that matches P.

[2021-03-11 23:35] llorllale commented on #708
Looking at the section on DID URL Dereferencing:

![image](https://w3c.github.io/did-core/diagrams/did_url_dereference_overview.svg)

It seems the full DID URL to be handed out for the examples so far looks like: `did:example:123456789abcdefghi#did:example:123456789abcdefghi/keys/1`. Looks legal... but what if the verification method's ID has a fragment of its own?

[2021-03-11 23:42] llorllale commented on #708
@dlongley thanks for offering some of the nuances around the steps for verification.

This issue started with my [mis]understanding that verification method IDs MUST have fragments... but now it's turned into _how does dereferencing DID URLs work?_, ie. how to perform step 1 in your list.

[2021-03-12 14:49] jricher commented on #708
Various properties that are defined as "Strings in the DID URL syntax" really should be defined as "DID URLs" which would branch to either an absolute DID URL or a relative DID URL. This goes beyond just the verification method property, anything that is allowed to be a DID URL should be allowed to be either.

[2021-03-12 14:53] llorllale commented on #708
Here's something else from the section of relative URLs:

[code]

How can the `authentication` section include a relative URL referencing the verification method if the verification method's ID did not include a fragment?

[2021-03-12 16:16] llorllale commented on #708
@jricher

Agreed. I would additionally think it makes sense to constrain the `did` portion of the DID URL to a value equal to the enclosing DID.

[2021-03-13 04:22] clehner commented on #708
@llorllale
Building on @msporny's [example](https://github.com/w3c/did-core/issues/708#issuecomment-791753326), I think the verification method could be referenced with a relative DID URL starting with a slash (`/`):
[code]
Whether or not this example actually works I think depends on DID Resolution. I do not see it said in DID Core that a DID URL with a path must be dereferenced by searching for

[2021-03-15 12:18] awoie opened #712 "Explain verification suite definition and explain reuse of verification method type/material"
From section [5.2.1 Verification Material](https://www.w3.org/TR/did-core/#verification-material):

- The spec does not define the term Verification Suite and Verification Suite Definition. IMO, this should be at least added to the Terminology section.

- Further, and this is where I got confused, the DID Spec registry contains for example an entry for `Ed25519VerificationKey2018`. This is great b

[2021-03-15 12:26] awoie commented on #712
Another example: I want to use `EcdsaSecp256k1VerificationKey2019` for JWTs (`alg=ES256K`), for LD-Proofs (`EcdsaSecp256k1Signature2019`) and `EthereumEip712Signature2021`(not defined yet). I know that people are using this today but is this use case officially supported by the spec?

[2021-03-15 13:57] OR13 commented on #712
@awoie feel free to pull from:

https://or13.github.io/best-linked-data-suites-2020/
https://w3c-ccg.github.io/lds-ed25519-2020/

While DID Core does not define the VM Type of Signature Type, it certainly could explain more about them no normatively.

[2021-03-19 18:09] ktobich commented on #583
Paragraph 9.2.2 Proving Control of a Public Key might need to reviewed by getting inspirited by the Static Data Authentication (SDA) and the Dynamic Data Authentication (DDA) used in the payment industry and highlight maybe the differences with static and dynamic method used by the DID and described in the section. The ICAO (passport) scheme might be a good one too.

[2021-03-21 13:16] TimDaub opened #715 "Can DID methods be semantically versioned?"
Say I have a protocol that issues it's own IDs for strings.

`did:strings:<md5 hash>`

I initially define the "strings" DID method as: Take the DDO, which for simplification purposes is just an arbitrary string, input it in the md5 hash function and use its digest as the did method-specific identifier.

Now a few years go by and md5 gets broken. I'd now like to replace it with another function. Bu

[2021-03-21 14:06] csuwildcat commented on #715
You can now do this thanks to the equivalence properties defined in the specification, which allow DID Methods to determine there are multiple representations of the same logical DID:

- https://www.w3.org/TR/did-core/#dfn-canonicalid
- https://www.w3.org/TR/did-core/#dfn-equivalentid

Without these properties, there would have been no way for an ID itself to ever securely be upgraded/morphed to a

[2021-03-26 12:35] peacekeeper opened #717 "equivalentId and canonicalId should be optional"
The spec currently says:

I think this means that those metadata properties are currently required. I am pretty sure the intention of the Working Group was to make them optional and say something like the following instead:

[2021-03-26 16:38] csuwildcat commented on #717
@peacekeeper I think the wording is a bit confusing, but it is just saying that the values MUST be those type values IF the Method sets these properties. I do think your language is clearer on this point.

[2021-03-27 03:50] TallTed commented on #717
Yeah, I think we had this wording a while back (for certain, on some properties, in some spec I was working on recently).  I would just change the two `The value of ...` to `If present, the value of ...` or maybe `If present, the value of optional property ...`

[2021-03-29 08:57] peacekeeper commented on #717
My problem here is that all other metadata properties say very clearly if they SHOULD or MAY be included, whereas equivalentId and canonicalId only talk about their values, but are silent on whether they MUST/SHOULD/MAY be included in the metadata at all. So I think this needs to be clarified.

[2021-03-29 09:17] mwherman2000 opened #718 "FAQ Question: Can the DID Subject of a DID Document be updated/changed after the DID Document has been registered?"
New FAQ Question for the https://w3c.github.io/did-core/#frequently-asked-questions-about-did-identification section:

Can the DID Subject of a DID Document be updated/changed after the DID Document has been registered?

I presume no?

[2021-03-29 09:18] mwherman2000 opened #719 "FAQ Question: Can the DID Controller of a DID Document be updated/changed after the DID Document has been registered?"
New FAQ Question for the https://w3c.github.io/did-core/#frequently-asked-questions-about-did-identification section:

Can the DID Controller of a DID Document be updated/changed after the DID Document has been registered?

I presume yes?

[2021-03-29 13:30] TallTed commented on #717
@peacekeeper - Can you please add a link to the specific problem points in the doc, either in the source or the preview?  I think we're in agreement, that these two should be presented as optional in the same way as their neighbors are presented.  I (and, I believe, others) would prefer that the language used for these two match that already used for the others, whatever that has been, whether it'

[2021-03-29 14:21] peacekeeper commented on #717
@TallTed for example, the section on `nextUpdate` says ([source here](https://github.com/w3c/did-core/blob/main/index.html#L3647) and [spec text here](https://www.w3.org/TR/2021/CR-did-core-20210318/#dfn-nextupdate)):

On the other hand, the section on `equivalentId` says ([source here](https://github.com/w3c/did-core/blob/main/index.html#L3685) and [spec text here](https://www.w3.org/TR/2021/CR-d

[2021-03-29 14:52] TallTed commented on #717
@peacekeeper -- OK, I think I see your point. There's a lot more text about what `equivalentId` is for, both before and after the paragraph that describes what its expression MUST be, than there is about, for example, `nextUpdate`, and its optionality is more implied than explicitly stated within that extra text. It seems like a significant rewrite and restructure of those paragraphs on `equivalen

[2021-03-29 15:33] csuwildcat commented on #717
The MUSTs should be:

1) if you are a Method that supports these properties, you MUST include any relevant canonical/equivalent values, per your Method
2) As a consumer, you MUST treat the canonical/equivalent values as defined and directed via the operative language of the definitions

[2021-03-30 11:45] peacekeeper commented on #717
I created https://github.com/w3c/did-core/pull/720 to simply clarify that they are optional. Specific DID methods can add further instructions on how the two properties are used in those methods.

[2021-03-30 14:32] csuwildcat commented on #717
They are optional for Methods to leverage, but required to be adhered to by
consumers of the DID Documents.

On Tue, Mar 30, 2021, 4:46 AM Markus Sabadello ***@***.***>
wrote:

[2021-03-30 15:47] TallTed commented on #717
[@csuwildcat]

I do not understand what you are trying to say, that is not said by the existing text (after #720 is applied).  Perhaps you could make a rewording suggestion on #720?  Or make your own PR, if the relevant text isn't editable within #720?

[2021-03-30 22:30] OR13 commented on #707
Worth considering the intersection of this with https://github.com/w3c/did-spec-registries/issues/264

[2021-03-30 22:33] OR13 commented on #712
Also related:

- https://github.com/w3c/did-core/issues/707
- https://github.com/w3c/did-spec-registries/issues/264

Essentially, DID Core DOES NOT describe verificationMethod suites... but it does define their general shape, and verification relationships... I think this is a happy compromise.

[2021-03-30 22:34] msporny commented on #719
Yes, it can.

[2021-03-30 22:36] OR13 commented on #719
We describe wallet caching for offline use cases here: https://w3c-ccg.github.io/universal-wallet-interop-spec/#DIDResolutionResponse

I think generally there should be some warnings about caching and trusting network enabled resolvers.

[2021-03-30 22:37] msporny commented on #718
While not explicitly mentioned (this is a DID Method decision)... I have heard of no DID Method that would allow this.

[2021-03-30 22:39] OR13 commented on #718
example would be DID Subject is the owner of house at this address....

[2021-03-30 22:42] kdenhartog commented on #715
This is something that has been done in at least one did method already. I'd suggest taking a look at the [did:peer Method Specific Identifier](https://identity.foundation/peer-did-method-spec/index.html#method-specific-identifier) for an example of how this can be done. In particular, the numalgo field is being used to indicate a version of the method.

So the best way to answer this question is

[2021-03-30 22:42] OR13 commented on #718
certainly the did controller can decide to change what the did identifies. +1 to @talltree comments on the wg call.

[2021-03-30 22:53] kdenhartog commented on #707
Something to note about publicKeyMultibase is that while the multicodec and multibase aspects are well defined there's a lack of definition around how the public key material should be serialized. As an example, when using publicKeyMultibase with a P-256 key are we expecting that the key MUST be compressed, or is it possible for the key to be uncompressed X and Y coordinate points. If it is X and

[2021-03-30 23:01] OR13 commented on #707
https://github.com/multiformats/multicodec/pull/190

Doesn't actually define how x, and y are handled... but we are all esssentially assuming [x,y]

[2021-03-30 23:58] kdenhartog commented on #707
Yeah we should go and define that because it could be assumed they need to be compressed as well.

I hope Schnorr finally put the nail in that coffin and only included it for the complexity it would bring.

[2021-03-31 00:04] peacekeeper commented on #707
Reading this thread again... I don't have a strong opinion here, and I do find `publicKeyMultibase` quite sexy, but I have to say I don't REALLY understand:

- why using `publicKeyMultibase` is preferable over using `publicKeyBase58` and `publicKeyBase64` and `publicKeyHex` and (whatever else a specific cryptosuite prefers for itself).
- how using `publicKeyMultibase` helps with compression in a C

[2021-03-31 01:00] csuwildcat commented on #715
@kdenhartog  he's talking about fundamentally changing part of the ID string segment, which, without the canonical/equivalent properties, is simply not possible, because any change of that type would be regarded as two different DIDs. Only canonical/equivalent properties, which are defined in DID core, allow you to do things like switch out the hash algo for a DID string segment and still be able

[2021-03-31 01:08] csuwildcat commented on #715
@TimDaub I just want to be clear that if you create/use a DID Method that is leveraging the canonical/equivalent properties that are specified in DID Core, you can absolutely do what you are saying. Here are those properties again, for reference:

- https://www.w3.org/TR/did-core/#dfn-canonicalid
- https://www.w3.org/TR/did-core/#dfn-equivalentid

^ using these properties you can create a DID Meth

[2021-03-31 04:40] iherman commented on #583
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-5) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.5. Proving Control sections are wrong

_See github issue [#583](https://github.com/w3c/did-core/issues/583)._

**Brent Zundel:** Assigned to Amy, but I don't see her. manu or mark

[2021-03-31 04:40] iherman commented on #625
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-1) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. Diagrams need SVG and detailed description

_See github issue [#625](https://github.com/w3c/did-core/issues/625)._

**Markus Sabadello:** I created this issue when I was workin

[2021-03-31 04:40] iherman commented on #707
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-2) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.2. CR Feedback: Support of publicKeyMultibase

_See github issue [#707](https://github.com/w3c/did-core/issues/707)._

**Brent Zundel:** if you identify some other ones, please me

[2021-03-31 04:40] iherman commented on #708
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-3) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.3. verification method IDs MUST contain a fragment

_See github issue [#708](https://github.com/w3c/did-core/issues/708)._

**Brent Zundel:** manu you are assigned; do you have an

[2021-03-31 04:40] iherman commented on #712
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-4) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.4. Explain verification suite definition and explain reuse of verification method type/material

_See github issue [#712](https://github.com/w3c/did-core/issues/712)._

**Brent Zu

[2021-03-31 04:40] iherman commented on #715
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-6) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.6. Can DID methods be semantically versioned?

_See github issue [#715](https://github.com/w3c/did-core/issues/715)._

**Manu Sporny:** The answer is yes; we don't really need to

[2021-03-31 04:40] iherman commented on #717
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-9) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.9. equivalentId and canonicalId should be optional

_See github issue [#717](https://github.com/w3c/did-core/issues/717)._

**Brent Zundel:** Final issue. Assigned to Markus.

**M

[2021-03-31 04:40] iherman commented on #718
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-8) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.8. FAQ Question: Can the DID Subject of a DID Document be updated/changed after the DID Document has been registered?

_See github issue [#718](https://github.com/w3c/did-core/iss

[2021-03-31 04:40] iherman commented on #719
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-03-30-did#section5-7) on 2021-03-30

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.7. FAQ Question: Can the DID Controller of a DID Document be updated/changed after the DID Document has been registered?

_See github issue [#719](https://github.com/w3c/did-core/

[2021-03-31 09:57] TimDaub commented on #715
Correct.

However, I'm confused about how

- https://www.w3.org/TR/did-core/#dfn-canonicalid
- https://www.w3.org/TR/did-core/#dfn-equivalentid

are supposed to work. An example both in the spec and here would be quite helpful. Also:

- Why are there two ways of doing this? I don't understand the difference between a canonicalId and a equivalentId. There's a section in the spec but it's quite tech

[2021-03-31 13:55] OR13 commented on #707
@cihanss can you comment on your opinion of publicKeyJwk?

[2021-03-31 13:58] OR13 commented on #707
@peacekeeper

because the base encoding is handled in the value not in the property.

easier to write a codec or use off the shelf software that already understands the base encoding.

Imo, these are good questions, but they essentially boil down too: why do we need a base encoded key representation? short answer is we don't if everyone agreed to support JWK.... the next question that arises is do

[2021-03-31 15:21] cihanss commented on #707
@OR13

The ability to express all of the key formats in a JSON-based structure is convenient. Having the properties in representation makes some use cases more straightforward to implement, such as filtering out different public-keys via their shared specs from document-oriented databases (not the best example, I know). It has no serialization issues, too, as far as I know.

I've spent many hours

[2021-04-01 15:26] csuwildcat commented on #715
@TimDaub @kdenhartog I think there is a fundamental misunderstanding here. I believe the OP is not really asking about versioning the Method, given their example asks about how **one DID URI string** can be made synonymous with **another DID URI string representation**. Look at what they actually said: "If I have a DID of `did:example:HASH_ALGO_1`, how can I shift that DID to `did:example:HASH_ALG

[2021-04-01 15:30] csuwildcat commented on #715
The result of this issue should be: the feature/capability in question exists, and is supported via the `canoncicalId` and `equivalentId` DID Document metadata properties.

[2021-04-01 15:43] msporny commented on #715
Perhaps some don't, or perhaps some do understand... but in a different way: They're concerned that the equivalentId/canonicalId approach is concerning.

I always feel like I have to provide the warning: "canonicalId" and "equivalentId" increase the complexity of solutions in ways that might be unacceptable to some developers. For example, if a DID Method supports "canonicalId" and "equivalentId",

[2021-04-01 16:06] csuwildcat commented on #715
@msporny I want to make this absolutely clear: no one on this tread is saying what you just projected on them --> "They're concerned that the equivalentId/canonicalId approach is concerning.". No, they simply didn't understand them and were trying to suggest things that fundamentally do not do what their example/question alluded to. There is no other way to automatically, deterministically, progra

[2021-04-01 16:12] csuwildcat commented on #715
@msporny you will certainly have Methods that end up telling their users: "Sorry, we have no way of sanely transitioning ID forms, so you'll have to either ditch those DIDs you were using, or engage in a hilarious game where you try to contact everyone you ever used those DIDs with in an attempt to have them swap everything over to a new DID through a series of Rube Goldbergian one-off communicati

[2021-04-01 16:14] TimDaub commented on #715
Hey @csuwildcat, that was a great explanation and now I understand what is meant by "set" (equivalentId) and "string "canonicalId".

Still, I don't understand how any of these could be used for semantical versioning of my DID. Let me state my case once again:

I'm starting to issue did:example: HASH_DIGEST_1 in a project and when you look up the DID method "example" you'll find that to create HASH

[2021-04-01 16:24] csuwildcat commented on #715
@TimDaub I don't think you would want "version" IDs, given your example. Instead I would suggest the following:

1. At initial Time 1, the ID did:example:abcd, which uses HASH_ALGO_1 as part of its DID URI string, resolves and all is well with the world
2. At future Time 2, the ID did:example:abcd's value segment `abcd`, which was initially generated via HASH_ALGO_1, is now broken, so you want to

[2021-04-01 20:54] csuwildcat commented on #715
Also consider that going the route of `did:example-v1:123`, `did:example-v2:456`, `did:example-vN:789`, implies the following:

1. You would basically have to fork your _entire DID Method_ just to transition phenotypical representations of DIDs and other Method-internal changes to how a Method's IDs are resolved.
2. Results in a condition where you are still creating completely separate DIDs, then

[2021-04-01 21:16] OR13 commented on #707
well, good news is that at least there is tooling for handling JWKs... I suppose the same is true for multibase now, thanks for IPFS... its less true for base58.

[2021-04-02 03:52] mwherman2000 commented on #718
The DID Subject of the house at 123 Example Street is not the owner of the house.  It is the house.  The DID (and hence the Subject or DID Subject) of the dwelling at 125 Example Street is the house and will always be that particular house ...even after the house is demolished to create a new convenience store, gas station, fire hall, etc.

POP QUIZ: What is the DID (DID Subject) of the following

[2021-04-03 13:28] mwherman2000 commented on #718
The answer is here: https://hyperonomy.com/2021/03/29/tdw-glossary-self-sovereign-identity-ssi-user-scenarios-erin-buys-a-car-in-sovronia-3-user-scenarios/

[2021-04-03 22:50] sondreb commented on #707
Been looking around and reading the specs, trying to decide upon which encoding to use for the public key. I wanted to drop supporting multiple and just go with one, I already was doing Hex and Jwk, but figured I would migrate to only do base58. Then I found this thread (I was thinking of submitting an issue) and lots of good content here.

From what I understand of multibase, it's simply a flexib

[2021-04-05 15:53] clehner commented on #707
I see the need for smaller strings, but also the concern of added complexity of `publicKeyMultibase`. Would it help if only some specific multibase types were allowed? Like how `did:key` only uses `z` (base58).

As an implementer I have preferred `publicKeyJwk` to either `publicKeyBase58` or `publicKeyMultibase` (which I have not yet encountered "in the wild"), because JWK is more well-specified,

[2021-04-06 01:37] msporny commented on #707
It's not said often enough, but this *is* the operating assumption. Just because we're supporting publicKeyMultibase doesn't mean we want to support ALL base-encodings (that would be a bit insane). What we're trying to do is future-proof all key expressions so that we can switch base-encoding formats in the future w/o having to invent publicKeyBase72 (for example).

At present, it seems like MOST

[2021-04-06 16:24] iherman commented on #717
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-04-06-did#section8-2) on 2021-04-06

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 8.2. equivalentId and canonicalId should be optional

_See github issue [#717](https://github.com/w3c/did-core/issues/717)._

_See github pull request [#720](https://github.com/w3c/

[2021-04-13 00:59] clehner opened #721 "What is storage amplification?"
[Security requirements](https://www.w3.org/TR/did-core/#security-requirements) requires that DID method specifications document forms of attack:

[RFC 3552](https://tools.ietf.org/html/rfc3552) mentions all these forms of attack, except for "storage or network amplification". I have heard of network amplification, and find it has occurred with many UDP-based protocols, but what is a storage amplif

[2021-04-13 01:19] kdenhartog commented on #721
A zip bomb is the first example that comes to mind for me on a storage amplification attack. Another viable one I could see is based on implementation design where a method chooses that referenced keys must keep a local cache of the keys available for the particular did rather than performing a lookup by reference on resolution. This would lead to the node storing large amounts of repetitive data

[2021-04-13 14:23] csuwildcat commented on #721
Yep, zip bombs are a good example - we have mitigations for this entire class of attack in Sidetree

[2021-04-23 11:36] ssstolk opened #723 "Example 1 in spec is perhaps not "minimal", as its caption suggests"
Currently, the caption of example 1 is "A minimal DID document".
Given the only core property that is mandatory is "id", the example in 1 is small but perhaps not minimal.
In order to avoid suggesting the "authentication" property is mandatory in the example, I would suggest rephrasing the caption to smth along the lines of "A concise DID document"?
(Of course, this is from the point of me, as non

[2021-04-23 13:22] ssstolk opened #724 "Clarification of DID URL vs (base) DID in Figure 2"
After reading the entire specification, it was clear to me that:
(1) DIDs resolve to DID Documents
(2) DID URLs are base DIDs plus, optionally, additional segments (path, query, etc).

However, Figure 2 of the spec first led me to believe that DID URLs would be the locators of the DID document.
(Thus, using the "github" DID method specification as example, I mistakenly thought that
"https://raw.gi

[2021-04-25 18:54] msporny commented on #721
@clehner -- do you have enough here to write an editorial PR to answer your question at this point?

[2021-04-25 19:13] msporny commented on #723
PR #725 has been raised to address your concern, @ssstolk.

Do the changes in that PR address your concern?

[2021-04-25 19:22] msporny commented on #724
@shigeya, since you created the diagram, would you mind making this modification to the diagram if you feel like it would clarify things? I tried modifying the diagram using inkscape, but it says the SVG is corrupted for me.

[2021-04-25 19:33] msporny commented on #708
@llorllale I'm trying to figure out if I need to write a PR for your issue. I note that your understanding is now different, and your request for a change was responded to by @clehner above (with whom I agree).

Would you like to see a concrete change to the specification that has a good chance of achieving consensus? Or do you think the spec is ok as is? Or something else?

[2021-04-25 19:51] msporny commented on #712
Ok, that sounds like a good change to make, would you mind raising a PR to do that? If you don't get around to it in the next couple of weeks, I can do it.

@awoie there is a LD Cryptosuite Registry here: https://w3c-ccg.github.io/ld-cryptosuite-registry/

I expect that's where the mapping will happen.

That all depends on the type of Signature... for LD Signatures, let's say `EthereumEip712Signat

[2021-04-25 19:53] msporny commented on #715
@TimDaub has your question been answered at this point? Can we close this issue?

[2021-04-25 19:56] TimDaub commented on #715
Yes, thanks all.

[2021-04-25 19:56] #715 closed

[2021-04-25 20:10] msporny commented on #707
Alright, looks like we have a decent bit of support for moving to `publicKeyMultibase`, and I'm not seeing any arguments against it yet, so let me try to outline a plan of action to see if folks would be okay with it:

1. We update all examples using `publicKeyBase58` in the specification to use `publicKeyMultibase`, that will effectively have us updating to `Ed25519VerificationKey2020` values.
1.

[2021-04-25 22:58] shigeya commented on #724
@ssstolk Thanks for the feedback. As an experiment, I added examples of DID and DID URL in the box. How do you think?
![did_brief_architecture_overview](https://user-images.githubusercontent.com/69672/116012393-29e95f80-a665-11eb-985f-13ad47006703.png)

[2021-04-26 05:19] iherman commented on #707
Although the conclusion is the same, the premise is not really: I believe that `publicKeyBase58` _is_ normative but, indeed, it is "at risk" (and that is what count). The change also means that 'publicKeyMultibase` becomes normative instead.

(Oh, and just to be picky: we do not need another Candidate Recommendation _Snapshot_ in the process newspeak.)

One more point to add:

5. The JSON schema,

[2021-04-26 13:04] msporny commented on #724
Perhaps remove the "(example)" text? Adding these examples does clutter the image a bit, which is concerning. This is going to be a trade off -- a more complex image, or addressing @ssstolk's concern.

[2021-04-26 13:17] msporny commented on #707
From the spec [5.2.1 Verification Material](https://w3c.github.io/did-core/#verification-material):

We can't define `publicKeyBase58` or `publicKeyMultibase` because they don't have final RFCs (I am the author of both I-Ds at IETF). We were going to say nothing about them at all in the specification, but certain individuals insisted that we speak normatively about JWKs, so here we are... speaking

[2021-04-26 13:55] ssstolk commented on #724
The addition of these examples indeed make the difference to me in clarifying the architecture. Thank you for picking this up. I agree with @msporny that the text "(example)" may not be necessary: Both the example for DID and DID URL contain "example" as part of their path, which would suffice for human readability. It could be left out (or, alternatively, replaced by the shorter "e.g.,"). If the

[2021-04-26 15:39] carsonfarmer commented on #707
Very exciting @msporny, FWIW your plan of action above looks great to me!

[2021-04-26 15:48] iherman commented on #707
You are right, I missed that. Which also means that, technically, it is a mistake to list this property in, e.g.: https://github.com/w3c/did-spec-registries/blob/main/vocabs/v1/vocab.ttl, which is supposed to define the normative vocabulary, and the normative vocabulary only...

Which is one more reason, if there was a need for one, to review the vocabulary files if and when we go for `plublicKeyM

[2021-04-26 20:37] OR13 commented on #712
https://w3c-ccg.github.io/lds-jws2020/
https://w3c-ccg.github.io/lds-jws2020/browser-test/

Here is the spec that tells you how to use JWTs:

https://tools.ietf.org/html/rfc7519
https://tools.ietf.org/html/rfc8812
https://www.w3.org/TR/vc-data-model/

Essentially DID Core allows you to use things other than JOSE... but you can still use JOSE...

[2021-04-27 00:01] shigeya commented on #724
Thanks. Then, how about this?

![did_brief_architecture_overview](https://user-images.githubusercontent.com/69672/116165559-1c9ca580-a737-11eb-985d-8adba214a73e.png)

[2021-04-27 01:53] DurandA opened #726 "Use-case for generating DIDs for one-to-one relationships"
I fail to understand the use case for one DID per service/usage (e.g. [pseudonymous DIDs](https://www.w3.org/TR/did-core/#did-correlation-risks-and-pseudonymous-dids) or [online shopper](https://www.w3.org/TR/did-use-cases/#onlineShopper) with direct relationship between customer and seller). This looks like an example of direct trust where there is no need for a consistent global storage like a b

[2021-04-27 14:15] TallTed commented on #726
One answer:  There is always *some* correlation risk when an individual entity uses the same identifier for themselves, for interactions with multiple other entities, or even for multiple interactions with one other entity.  Multiple strategies are used to minimize that risk in the universe of DIDs, but it still exists.  It increases when some of the other entities merge, as in the business world,

[2021-04-27 15:06] awoie commented on #712
@msporny thanks for clarification. That works for me. I can create the PR to update the terminology section.

[2021-04-27 15:43] DurandA commented on #726
Thanks @TallTed for your answer. I do understand the benefits of minting new DIDs for privacy. However I still fail to understand why (D)IDs needs to be decentralized/stored on a blockchain for one-to-one relationships.

[2021-04-27 15:52] dlongley commented on #726
@DurandA,

DIDs needn't necessarily have a backing verifiable data registry (e.g., blockchain, decentralized ledger). So that isn't a requirement -- and the use case you highlight may be a good case where one is not necessary. However, also consider that even in one-to-one relationships, the relying/verifying party may trust a verifiable data registry's view of changes to the DID Document more tha

[2021-04-27 19:18] DurandA commented on #726
@dlongley Thanks, that was the answer I was looking for.

I will close the issue as it is more of a discussion than an issue with the specs. Feel free to post your answer on [Stack Exchange](https://security.stackexchange.com/q/248592/187234) if you want to grab the bounty.

[2021-04-27 19:18] #726 closed

[2021-04-27 19:24] agropper commented on #726
We can consider this issue in terms of “Who bears how much of the cost?”

When a subject first approaches a service provider, the subject is
exercising control based on choice. If the service provider demands a
higher level of “trust” then the subject can factor-in the cost of using a
VDR as part of a same-domain credential.

- If the subject does not have a choice, then the relying party can pass

[2021-04-27 22:26] bumblefudge commented on #721
@chunningham @wyc either of you have language handy to help with this?

[2021-04-27 22:29] csuwildcat commented on #721
Suggestion: Change the related text section to include the broader class of "malicious resource consumption"(?) attack, wherein an attacker constructs a file, operation, or code payload that is parsed or executed by a remote node in a distributed/decentralized system that causes those operators to consume resources in a manner that is beyond what is intended by the protocol/implementation. This co

[2021-04-27 22:51] agropper commented on #721
Does this thread include spam mitigation tactics?
Who bears the cost of processing an unsolicited message?

On Tue, Apr 27, 2021 at 5:29 PM Daniel Buchner ***@***.***>
wrote:

[2021-04-30 20:16] msporny commented on #723
Note that @ssstolk has confirmed that this change works for them. Closing.

[2021-04-30 20:16] #723 closed

[2021-04-30 20:18] msporny commented on #717
PR #720 has been merged. Since both the issue and the PR were authored by the same individual, this issue is resolved assuming explicit confirmation that the PR addressed the author's concerns.

[2021-04-30 20:22] msporny commented on #718
@talltree ping on this issue, can you write a PR to address it?

[2021-04-30 20:22] msporny commented on #719
@talltree ping on this issue, can you write a PR to address it?

[2021-04-30 20:23] msporny commented on #708
@llorllale second ping. I'm going to mark this issue as pending close, which means it'll be closed in 7 days if you don't object before then. I don't think there is anything here for us to do (given the original issue you raised). Please let us know what you'd prefer to happen here.

[2021-04-30 20:25] msporny opened #728 "All appendix sections needs to be cleaned up."
The appendices in the document need one last Editorial clean up pass before we exit CR. This issue is just here to track that task.

[2021-05-03 03:58] Kalanamith opened #729 "When is the DID URI getting constructed"
It is unclear at which point the DID URI is created. Is after persisting the DID document?

[2021-05-03 14:18] llorllale commented on #708
@msporny

I still think there is a gap and I'm not sure how to proceed.

This is what I see:

* the comments on dereferencing provided in this thread do not seem to address all scenarios. I am thinking of cases when the VM ID is just a DID - whether it's the same as the enclosing DID or not. However, this may be a topic to bring up in the did-resolution spec. Is that so?
* the other side of the co

[2021-05-04 16:19] iherman commented on #583
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#section7-1) on 2021-05-04

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.1. Proving Control sections are wrong

_See github issue [#583](https://github.com/w3c/did-core/issues/583)._

**Brent Zundel:** There has been a bit of conversation. Need a PR to

[2021-05-04 16:19] iherman commented on #625
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#section7-2) on 2021-05-04

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.2. Diagrams need SVG and detailed description

_See github issue [#625](https://github.com/w3c/did-core/issues/625)._

**Brent Zundel:** I believe some work has gone into changing

[2021-05-04 16:19] iherman commented on #707
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#section7-3) on 2021-05-04

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.3. Support of `publicKeyMultibase`

_See github issue [#707](https://github.com/w3c/did-core/issues/707)._

**Brent Zundel:** I know that some changes have come in as a result of

[2021-05-04 16:19] iherman commented on #712
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#section7-4) on 2021-05-04

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.4. Explain verification suite definition and explain reuse of verification method type/material

_See github issue [#712](https://github.com/w3c/did-core/issues/712)._

**Manu Spo

[2021-05-04 16:19] iherman commented on #721
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#section7-5) on 2021-05-04

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.5. What is storage amplification?

_See github issue [#721](https://github.com/w3c/did-core/issues/721)._

**Manu Sporny:** There is enough there to write something. dbuchner want

[2021-05-04 16:19] iherman commented on #724
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-04-did#section7-6) on 2021-05-04

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 7.6. Clarification of DID URL vs (base) DID in Figure 2

_See github issue [#724](https://github.com/w3c/did-core/issues/724)._

**Shigeya Suzuki:** I think it is resolved in the la

[2021-05-05 10:05] peacekeeper commented on #707
@msporny

I don't have a strong opinion on this topic, but I do want to point out that there were some arguments against publicKeyMultibase e.g. in https://github.com/w3c/did-core/issues/707#issuecomment-811073119.

And I have to say I haven't really heard a good explanation why people want publicKeyMultibase either:

- CBOR-LD compression was mentioned, but I don't see how that is an argument for

[2021-05-05 14:01] OR13 commented on #707
This IMO is the primary value of `publicKeyMultibase` over `publicKeyBase58`.

The same is true for `publicKeyJwk`, we don't need to maintain a registry for it, IANA already does: https://www.iana.org/assignments/jose/jose.xhtml#web-key-elliptic-curve

Sure, you can make up your own values and never register them, but most folks who you interoperate with will eventually ccomplain / help you regist

[2021-05-07 20:47] msporny commented on #729
It depends on the DID Method. For DID Methods that are derived from a public-private keypair, you could argue that the DID URI is created the moment the keypair is generated. For DID Methods where the identifier has no relation to the keypair, it's probably when the DID is registered on the Verifiable Data Registry (e.g., database, distributed ledger, etc.).

So, the answer is "it depends on the D

[2021-05-07 21:08] msporny commented on #721
PR #730 has been raised to address this issue. This issue will be closed once PR #730 has been merged.

[2021-05-08 16:14] msporny commented on #707
PRs https://github.com/w3c-ccg/security-vocab/pull/103, https://github.com/w3c/did-spec-registries/pull/299, and PR #731 have been raised to address this issue based on the plan put forth in https://github.com/w3c/did-core/issues/707#issuecomment-826382717 and given that there were no strong objections to that plan. This issue will be closed once each of the aforementioned PRs have been merged.

[2021-05-08 21:09] msporny commented on #708
Hmm, /what/ you're doing when you deference matters here (in order to answer your question)... and I expect many of those scenarios are going to be in the domain of the Linked Data Proof/Integrity/Signatures (or other more specific verification method) specifications.

For example, are you a software library that is dereferencing "the VM ID that is just a (bare) DID (URL)" in order to verify a dig

[2021-05-08 21:30] msporny commented on #712
Hmm, thinking about this a little more ... sometimes the best thing to do is remove new terminology and reuse existing terminology. In this case:

"Verification Suite" -> "Cryptographic Suite"
"Verification Suite Definition" -> "Cryptographic Suite Specification"

Then the only term we need to define is "cryptographic suite", which is something that defines "verification methods" and "verification

[2021-05-08 21:50] msporny commented on #712
PR #732 has been raised to address this issue. This issue will be closed once that PR has been merged.

[2021-05-08 21:50] msporny commented on #712
@awoie can you please confirm that PR #732 addresses the issue you raised?

[2021-05-09 20:55] Kalanamith commented on #729
HI @msporny Yes It will be super helpful to add this clarification in the specification.
It will enable the readers to
* Understand the DIID creation process
* Helps to developers to propose system designers operates on top of DID principles with verifiable credentials
Thanks

[2021-05-10 08:10] peacekeeper commented on #729
@Kalanamith I always found it most helpful to assume that the DID comes into existence after the "create" [DID operation](https://www.w3.org/TR/did-core/#method-operations) has been executed. This "create" operation abstracts away all the method-specific details.

It is true that sometimes the DID is already known once keys are generated, and before the DID document has been "persistent" or "regis

[2021-05-10 13:16] awoie commented on #712
@msporny thanks, the PR LGTM.

[2021-05-10 13:56] msporny commented on #729
@Kalanamith wrote:

Ok, I will add a note to the specification explaining when a DID URI gets constructed and referring to the DID Method Create operation (as @peacekeeper mentioned).

[2021-05-10 23:12] llorllale commented on #708
@msporny

Where can we find that information?

What is the thought process here?

Combining both of your points, it sounds like the proof and the Verifier are coupled not only by `@type`, but also by the format of the DID URL on the verification method.

Can you please point to a concrete spec(s) where implementers can see how to priperly construct verificationMethod strings?

[2021-05-12 20:04] mavarley commented on #708
I believe the challenge may be more around the construction of a verificationMethod DID-URL so it can be consumed/resolved reliably. And I see a few options to handle this in the spec:
1. verificationMethod DID-URLs are constructed according to the relevant DID Method spec. (end statement)
2. (same as 1. plus) It is RECOMMENDED verificationMethod DID-URLs include a # fragment, as this provides a m

[2021-05-15 14:48] msporny commented on #707
PRs https://github.com/w3c-ccg/security-vocab/pull/103, https://github.com/w3c/did-spec-registries/pull/299, and #731 have been merged. This addresses the current issue.

@carsonfarmer please confirm that these changes address the concerns you raised in this issue. You have 7 days to respond until we mark the issue as resolved.

[2021-05-15 14:51] msporny commented on #712
PR #732 has been merged, @awoie has confirmed that the change addresses his concern, closing.

[2021-05-15 14:51] #712 closed

[2021-05-15 14:53] msporny commented on #721
PR #730 has been merged, @clehner has explicitly confirmed that the PR addresses his concern, closing.

[2021-05-15 14:53] #721 closed

[2021-05-15 15:02] msporny opened #734 "Examples might be out of date"
The following section might be out of date (and contains no prose explaining the examples):

https://w3c.github.io/did-core/#examples

We need to:

1. Make sure the examples are correct.
2. Write some prose to explain each example.
3. Consider moving the examples to the implementation guide so that they can be updated more frequently (and then point to the implementation guide for those interested

[2021-05-16 17:47] msporny commented on #583
PR #738 has been created to address this issue. This issue will be closed once that PR has been merged.

[2021-05-16 17:55] msporny commented on #724
The updates to these examples have been merged into the specification. @ssstolk can you please confirm that you are happy with the changes? If we don't hear from you in 7 days, we are going to close this issue assuming that you are ok with the changes.

[2021-05-16 23:38] talltree commented on #719
Yes, working on it.

[2021-05-16 23:39] talltree commented on #718
Yes, working on it.

[2021-05-17 11:13] ssstolk commented on #724
Thumbs up from me! Thank you for addressing it.

[2021-05-17 11:13] #724 closed

[2021-05-17 14:30] OR13 commented on #734
yes, examples are certainly out of date, we probably need w3id.org/security/suite/.... everywhere.

[2021-05-17 16:04] carsonfarmer commented on #707
I have taken a look at all linked PRs/discussions, and honestly I couldn't be happier! This is great, and I really think it is going to bump up interoperability across the ecosystem in a really positive way. Thanks to the core maintainers and developers for a swift, balanced discussion and implementation.

This was one of the most effective open source discussions I've seen in a while... kudos to

[2021-05-17 18:13] carsonfarmer commented on #707
What is the protocol here? Shall I close this issue myself, or should I leave that up to maintainers? Happy to close, as I consider this issue "resolved".

[2021-05-17 19:34] msporny commented on #707
That's all we needed, thanks @carsonfarmer. Closing with explicit confirmation from issue submitter that their concern has been addressed.

[2021-05-17 19:34] #707 closed

[2021-05-22 16:00] OR13 commented on #734
@msporny looks like you got to many if not all of these.

[2021-05-22 16:02] msporny commented on #734
I think the only ones I touched were the multibase ones... didn't touch many of the others. I wouldn't assume I got them, I was purely focusing on publicKeyMultibase when I did my pass (which I'm not sure was correct). At the very least, need a second set of eyes on the examples.

[2021-05-22 16:05] OR13 commented on #734
cool, I can see a few missing from this example:

https://w3c.github.io/did-core/#example-31-did-document-with-many-different-verification-methods

which IMO is really an anti pattern example...

I will open a PR to clean it up.

[2021-05-22 17:36] OR13 commented on #734
PR is up for this: https://github.com/w3c/did-core/pull/748

[2021-05-25 00:50] talltree commented on #729
@msporny Have you added that note? Can this issue be closed?

[2021-05-25 01:00] msporny commented on #583
PR #738 has been merged.

@rhiaro please confirm that the PR addressed your concern; if so, mark the issue as cr-comment-resolved-explicit, and then close the issue.

[2021-05-25 22:53] msporny commented on #718
PR #755 has been raised to address this issue. This issue will be closed once that PR is merged.

[2021-05-25 22:55] msporny commented on #719
PR #754 has been raised to address this issue. This issue will be closed once that PR has been merged.

[2021-05-25 22:57] msporny commented on #734
PR #748 has been raised to address this issue. This issue will be closed once that PR has been merged.

[2021-05-25 23:10] peacekeeper commented on #625
Here are my source files, I have been struggling with converting them to SVG. They are used in sections [6.1](https://www.w3.org/TR/did-core/#production-and-consumption) and [7.1](https://www.w3.org/TR/did-core/#did-resolution) of the spec.

[For DID Core.odp](https://github.com/w3c/did-core/files/6542825/For.DID.Core.odp)

Can anyone help to convert them to SVG? I think @shigeya may have ideas on

[2021-05-25 23:58] shigeya commented on #625
After tried several options with applications on my Mac, I found that OpenOffice can export to SVG directly:)

<img width="428" alt="ScreenShot 2021-05-26 8 46 56" src="https://user-images.githubusercontent.com/69672/119582185-1e718b80-bdff-11eb-88ac-f44c5f4b2571.png">

I tested, and it works. At least, I can open the output with Safari.
[For.DID.Core.svg.zip](https://github.com/w3c/did-core/files

[2021-05-26 08:21] iherman commented on #583
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-25-did#section3-7) on 2021-05-25

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.7. Proving Control sections are wrong

_See github issue [#583](https://github.com/w3c/did-core/issues/583)._

**Manu Sporny:** The PR is in and has been merged, and I am waiting

[2021-05-26 08:21] iherman commented on #625
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-25-did#section3-2) on 2021-05-25

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.2. Diagrams need SVG and detailed description

_See github issue [#625](https://github.com/w3c/did-core/issues/625)._

**Manu Sporny:** using the GitHub change tool would help the

[2021-05-26 08:21] iherman commented on #708
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-25-did#section3-3) on 2021-05-25

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.3. verification method IDs MUST contain a fragment

_See github issue [#708](https://github.com/w3c/did-core/issues/708)._

**Markus Sabadello:** Thanks, Shigeya, I will share my

[2021-05-26 08:21] iherman commented on #719
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-25-did#section3-4) on 2021-05-25

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.4. FAQ Question: Can the DID Controller of a DID Document be updated/changed after the DID Document has been registered? (issue did-core#719)

_See github issue [#719](https://git

[2021-05-26 08:21] iherman commented on #729
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-25-did#section3-6) on 2021-05-25

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.6. When is the DID URI getting constructed

_See github issue [#729](https://github.com/w3c/did-core/issues/729)._

**Manu Sporny:** this just requires me to write some text
… if

[2021-05-26 08:21] iherman commented on #734
The issue was discussed in a [meeting](https://www.w3.org/2019/did-wg/Meetings/Minutes/2021-05-25-did#section3-5) on 2021-05-25

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 3.5. Examples might be out of date

_See github issue [#734](https://github.com/w3c/did-core/issues/734)._

_See github pull request [#748](https://github.com/w3c/did-core/pull/748)

[2021-05-26 16:07] #583 closed

[2021-05-26 16:11] msporny commented on #708
@llorllale, I'm trying to get you on the DID WG Agenda so we can hear your concerns here and do what we can to address them. Would you be available at 11am ET next Tuesday, 2021-06-01?

[2021-05-26 19:23] llorllale commented on #708
Hi @msporny

@mavarley will handle this one.

[2021-05-29 19:46] msporny commented on #734
PR #748 has been merged and addressed my concerns.

[2021-05-29 19:47] #734 closed

[2021-06-03 01:01] kdenhartog commented on #708
I've been working on our deference logic and I can say this would be a healthy constraint for service id dereferencing.

Currently these are the code paths I think I need to check for:

`did:example:123#fragment`
`#fragment`
`did:example:123?query`
`?fragment`
`did:example:123/path`
`did:example:123?service=fragment` => `did:example:123#fragment`
`did:example:123?service=query` => `did:example:123

[2021-06-03 12:43] msporny commented on #708
Just to be clear, adding that constraint would be a normative change to the specificationa nd would kick us into a 3rd Candidate Recommendation, which would cause the WG to almost certainly fail to get any specification to the Recommendation phase before our charter expires. Even if this is a good idea, I expect the WG to reject a normative change of that nature at this point in the process.

Now,

[2021-06-04 00:22] kdenhartog commented on #708
Fair enough, no point throwing the baby out with the bath water.

In all of the implementations I've read through or played around with none of us are treating DID URLs like URLs in the classic sense nor the more modern WHATWG sense. Sure, they are by all means compliant and normatively defined as such, but the implementations I've seen to date don't treat them that way.

Yup looks like you're cor

[2021-06-04 01:54] jandrieu commented on #708
This is partially a style issue, but I would recommend not using paths to identify services. Rather, I would use fragments.
[code]
Then, I believe did:example:123?service=path is what I would expect to use for syntax.

That is, the identifier identifies a node in the DID Document using fragment identifiers, effectively pointing to itself.

Then the DID-URL specifies a service parameter whose value

[2021-06-04 02:24] kdenhartog commented on #708
Yup I think we're on the same page. This is where I was going with tribal knowledge. We could have constrained here further to make writing an implementation easier, but by leaving more things unstated we leave room for lots of different optional paths which have to be considered in order to produce robust code. Right now by intentionally choosing to support only a limited subset of paths we're li

[2021-06-04 02:44] msporny commented on #708
Right, and this isn't a good place to be (the tribal knowledge bit). What we can do is write some non-normative text stating "It is expected that DID URL Dereferencers will interpret the `service` DID Parameter value as a fragment identifier in the DID Document that identifies a service description." ... there is plenty we can do here to nudge implementations towards doing the right thing w/o blow

[2021-06-05 01:13] kdenhartog commented on #708
non-normative language seems like a good way to go for this. It's achieving the same thing as a draft report out of the CCG but allows us to keep the two parameters within a commonly found document. To address @llorllale original concern as well I think it would be useful to add some additional non-normative language about some commonly found patterns used for DID URLs when I'm back to work on my

[2021-06-07 14:44] mavarley commented on #708
For the record, I feel @kdenhartog accurately captured and described the issue, and I feel it has been adequately discussed here. I am fully aligned with providing non-normative language that can describe/capture some of the tribal knowledge around current implementations w/o disrupting the progress of the spec. Thank-you.

[2021-06-08 06:03] kdenhartog commented on #708
Got some initial text in for this. @mavarley or @llorllale can you make sure to review #764? I wasn't able to add either of you to the reviewers for that PR.

[2021-06-08 12:32] peacekeeper commented on #708
At some point we decided that for resolution and dereferencing, DID Core would define the "contract", i.e. the interfaces with their inputs and outputs, but that their concrete implementations were out of scope.

In other words, we would define the syntax of DID URLs and some parameters as well as their meanings, but we would not define the concrete dereferencing logic. This also felt in line with

[2021-06-08 13:42] msporny commented on #708
@kdenhartog, can you please address @peacekeeper's concern in your PR?

[2021-06-08 15:26] msporny commented on #719
PR #754 has been merged.

@mwherman2000 can you please confirm that the PR addressed your issue?